* {
    margin: 0;
    padding: 0;
    font-size: 12px
}

li {
    list-style: none
}

#main {
    width: 1000px;
    margin: 10px auto;
}

/*用户登陆*/
#login {
    width: 350px;
    border: 1px solid #CCC;
    background: #F7F7F7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

#login h1 {
    padding-left: 10px;
    line-height: 25px;
}

#login .box {
    margin: 5px;
    background: #FFF;
    padding: 20px
}

#login .in {
    height: 25px;
    border: 1px solid #CCC;
    line-height: 25px;
    width: 200px
}

#login .go {
    height: 25px;
    border: 1px solid #CCC;
    width: 80px;
    line-height: 25px
}

/*背景*/
#dlgBg {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/*大厅*/
.room_all {
    background: #5480AD;
    display: inline-block
}

.tag {
    height: 30px;
}

.tag a {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 110px;
    background: #F7F7F7
}

.tag a.on {
    background: #CCC
}

.room_left {
    width: 720px;
    float: left;
}

.room_right {
    width: 280px;
    float: left
}

.room_list {
    height: 600px;
    margin: 5px 0 5px 5px;
    overflow-y: scroll;
}

.room_item {
    width: 135px;
    height: 135px;
    background: url('/images/room.gif') center center no-repeat;
    float: left;
}

.room_item_start {
    background: url('/images/room_start.gif') center center no-repeat
}

.room_item .player2 {
    height: 25px;
    line-height: 25px;
    text-align: right;
    margin-top: 20px
}

.room_item .players {
    height: 50px
}

.room_item .players .icon1 {
    margin-top:5px;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    float: left;
    cursor: pointer;
    border-radius: 50%;

}

.room_item .players .icon2 {
    margin-top:5px;
    width: 35px;
    height: 35px;
    float: left;
    margin-left: 55px;
    cursor: pointer;
    border-radius: 50%;
}

.room_item .players .no {
    background: url('/images/player_no.gif') center center no-repeat;
    border-radius: 50%;
    background-size: 35px 35px;
}

.room_item .players .imgSize {
    background-size: 35px 35px;
}

/*.room_item .players .yes {*/
    /*background: url('/images/player_yes.gif') center center no-repeat*/
/*}*/

.room_item .player1 {
    height: 25px;
    line-height: 25px;
    text-align: left
}

.room_item .roomnum {
    text-align: center
}

/*房间界面*/
.room {
    background: #5480AD;
    display: inline-block
}

.room_user {
    margin: 5px;
    width: 190px;
    height: 535px;
    float: left;
    background: #DCC09C;
    text-align: center
}

.room_user p {
    line-height: 22px
}

.room_user .u1 {
    margin-top: 60px;
}

.room_user .u2 {
    margin-top: 60px
}

.room_chess {
    margin-top: 5px;
    width: 535px;
    height: 535px;
    float: left;
    background: url('/images/bg.jpg');
    position: relative;
    cursor: no-drop
}

.room_chess .black {
    background: url('/images/b.png') center center no-repeat;
    width: 35px;
    height: 33px;
    position: absolute;
    z-index: 88
}

.room_chess .white {
    background: url('/images/w.png') center center no-repeat;
    width: 35px;
    height: 33px;
    position: absolute;
    z-index: 88
}

.room_chess .cur {
    background: url('/images/cur.png') center center no-repeat;
    width: 35px;
    height: 33px;
    position: absolute;
    z-index: 99
}

.room_message {
    margin: 5px;
    width: 255px;
    float: left;
}

.room_message .room_button {
    height: 50px;
    background: #FFF;
    text-align: center;
    line-height: 50px
}

.room_message .room_button .btn {
    width: 98px;
    height: 36px;
    background: url('/images/btn.gif');
    border: 0;
    color: #FFF
}

.room_message .content {
    background: #FFF;
    height: 450px;
    overflow-y: scroll;
    margin-top: 5px
}

.room_message .content p {
    padding: 5px
}

.room_message .input {
    height: 30px;
    background: #FFF;
}

/*用户列表*/
.list {
    height: 300px;
    overflow-y: scroll;
    background: #FFF;
    margin: 5px;
    overflow-x: hidden
}

.list li {
    padding: 5px
}

.list li span {
    float: right;
}

/*消息*/
.message {
    height: 295px;
    background: #FFF;
    margin: 5px
}

.message .content {
    height: 265px;
    overflow-y: scroll
}

.message .content p {
    padding: 5px
}

.message .input {
    height: 30px;
}

#showTime1 {
    padding: 10px;
    font-size: larger;
    margin-left: 70px;
}

#showTime2 {
    padding: 10px;
    font-size: larger;
    margin-left: 70px;
}

#room-msg-content {
    overflow-y: scroll;
    word-wrap: break-word;
}

#msg-content {
    overflow-y: scroll;
    word-wrap: break-word;
}
