<div >
    <!--<div class="preview-block center-block">-->
        <!--<span class="preview-file-name" ng-bind="vm.fileName"></span>-->
        <!--<a targer="_blank" class="preview-file-download" ng-href="{{'resource/download?file_id=' + vm.fileId }}">下载</a>-->
        <!--<ng-pdf template-url="static/preview/viewer.html" canvasid="pdf"></ng-pdf>-->
    <!--</div>-->

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="PreviewController as vm">
        <div class="modal-dialog preview-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel" ng-bind="vm.fileName"> </h4>


                </div>
                <div class="modal-body preview-modal-body">

                    <ng-pdf template-url="/static/preview/viewer.html" canvasid="pdf" scale="page-fit" page="1"></ng-pdf>
                </div>

                <div class="modal-footer">
                    <div class="page-change" ng-show="!isLoading">
                        <i class="glyphicon glyphicon-zoom-in" ng-click="zoomIn()"></i>&nbsp;&nbsp;
                        <i class="glyphicon glyphicon-zoom-out" ng-click="zoomOut()"></i>&nbsp;&nbsp;
                        <i class="glyphicon glyphicon-arrow-left" ng-click="goPrevious()"></i>
                        <input type="text" min=1 ng-model="pageNum">
                        <label type="text" min=1 ng-model="pageNum">
                            <span> / {{pageCount}}</span>
                        </label>
                        <i class="glyphicon glyphicon-arrow-right" ng-click="goNext()"></i>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



</div>
