/*.preview-block {*/
    /*!*width:750px;*!*/
    /*text-align: center;*/
    /*background-color: #eee;*/
/*}*/

/*.preview-file-name {*/
    /*color: #9d9e9f;*/
    /*font-size: 28px;*/
/*}*/

/*.preview-file-download {*/
    /*float: right;*/
    /*font-size: 20px;*/
    /*margin: 4px 20px auto;*/
    /*background: none;*/
/*}*/

.preview-modal{
    width:900px;
}
.preview-modal-body{
    min-height: 300px;
    max-height: 600px;
    overflow-y:auto;
}
.viewer {
    text-align: center;
}

.page-change {
    text-align: center;
}

.page-change .glyphicon {
    color: gray;
    font-weight: bolder;
    cursor: pointer;
}

.page-change input {
    width: 50px;

}
 canvas {
    border:1px solid dimgray;
}
 .preview-loading {
     width: 33%;
     position: absolute;
     top: 70px;
     left: 33%;

 }
