<!--********************************************************************************
*     File Name           :     ask-question.html
*     Created By          :     DQ - D.Q.Zhang.chn@gmail.com
*     Creation Date       :     [2015-10-28 20:14]
*     Last Modified       :     [2015-12-13 16:27]
*     Description         :     问问题的页面 
*********************************************************************************-->

<style>
    .selector {
        color: #666;
        font-size: 12px;
        background: white !important;
        border: 1px solid #eee;
    }
    .selector:hover {
        background: white !important;
        color: #35a0ed;
        border: 1px solid #eee;
    }
    .title {
        padding: 6px;
        vertical-align: top;
        border: 1px solid #ccc;
        width: 600px;
    }
    .btnmark {
        font-size: 12px;
        color: #666;
        border:1px solid #eee;
        margin-right: 10px;
    }
    .btnmark:hover {
        font-size: 12px;
        background: #eee;
        border:1px solid #eee;
        color: #666;
    }
    #askQuestion .dropdown-menu {
        background: white;
        border: 1px solid #eee;
    }
    #askQuestion .dropdown-menu li a {
        color: #666;
        cursor: pointer;
    }
    #askQuestion .dropdown-menu li a:hover {
        background: #eee;
        color: #35a0ed;
    }
    .invite, .invite:hover {
        background: white;
        color: #666;
        font-size:12px;
        border: none;
        box-shadow: none;
        text-decoration: underline;
    }
    .invite:hover {
        color: #35a0ed;
    }
    .input-group * {
        font-size: 12px;
    }
    .input-group button {
        background: white;
    }
    .ask-border {
        display: inline;
        padding: 5px 20px 5px 20px;
        margin: 50px 0 0 50px;
        height:30px;
        border: 1px lightgrey solid;
        border-radius: 5px;
        text-align: center;
        line-height: 2.5;
        cursor:pointer;
    }
    .invitemarks{
        border: 1px solid #eee;
        width: 20%;
        margin-left: 13px;
        margin-right: 10px;
        margin-top: 15px;
        border-radius: 5px;
        text-align: center;
        padding: 5px 0px;
    }
    .invitemarks:hover{
        background: #ccc;
        cursor: pointer;
    }
    .celected{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
   .invite-border {
       color: #35a0ed;
       border: 1px solid #35a0ed;
       width: 30%;
       margin-left: 15px;
       margin-right: -5px;
       border-radius: 5px;
       text-align: center;
       padding: 7px 10px;
   }
    .invite-border:hover{
        cursor: pointer;
        color: white;
        background: #35a0ed;
    }
    .atleastone{
        display: inline-block;
        margin-left: 10px;
    }
    .hidname {
        display: inline-block;
        margin-right: 10px;
    }
</style>
<div>
  <div ng-controller="AskQuestionController" ng-init="init();" id="askQuestion">
    <div class="container">
      <form role="form" name="AskQuestionForm">
        <div class="row row-margin" style="margin-top: 10px;">
          <div class="col-md-8">
            <div class="input-group">
              <input type="hidden" name="classSelect" ng-pattern="/^(?!选择分类)/" ng-model="formdata.class2" />
              <!-- /input 用来验证是否选择了分类 -->
              <div class="input-group-btn ">
                <button type="button" class="btn btn-default dropdown-toggle radius class selector" data-toggle="dropdown" ng-disabled="edit">
                  {{formdata.class2}}
                  <span class="caret"></span>
                </button>
                <input class="title" type="text" name="title" class="col-md-offset-1 form-control radius" ng-model="formdata.title" placeholder="标题" ng-maxlength="120"  ng-disabled="edit"/>
                <ul class="dropdown-menu">
                  <li class="class" ng-repeat="c in classes track by $index">
                    <a ng-click="selectClass(c)" ng-bind="c">
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /btn-group -->

            </div>
            <!-- /input-group -->

          </div>
          <!-- /col-md-8 -->

          <div class="col-md-4">
            <button class="btn btn-default radius invite" data-toggle="modal" data-target="#inviteReplyModal" ng-disabled="edit">@邀请小伙伴回答</button>
          </div>
          <!-- /col-md-4 -->

        </div>
        <!-- /row -->

        <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
          <button class="btn btn-default btnmark" ng-repeat="tag in formdata.tags track by $index"ng-bind="tag" ng-click="removeTag($index)" title="点击删除" ng-disabled="edit">计算机</button>
          <!--<button class="btn btn-default btnmark">英语</button>-->
          <button class="btn btn-default btnmark" ng-click="showTagModal('edit');" ng-disabled="edit">添加标签</button>
          <span class="atleastone" ng-show="formdata.tags.length === 0">至少选择一个标签哦~</span>
          <button class="btn btn-default btnmark" ng-repeat="iu in invitedUsers track by $index" ng-bind="'@' + iu.real_name" ng-click="removeInvitedUser($index)" title="取消邀请" ng-disabled="edit">@Sunny</button>
          <input type="hidden" name="tagsLength" ng-model="formdata.tags.length" ng-pattern="/[1-3]/"  />
          <!-- /input 用来验证tag数 -->

        </div>
    </div>

        <!--<div class="row row-margin tags">-->
          <!--<span class="glyphicon glyphicon-tags"></span>-->
          <!--<span ng-repeat="tag in formdata.tags track by $index" ng-bind="tag" ng-click="removeTag($index)" title="点击删除"></span>-->
        <!--</div>-->
        <!-- /row -->

        <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
          <rte mode="simple"></rte>
          <input type="hidden" name="contentLength" />
        </div>
        </div>

        <div class="container" style="margin: 15px 0; text-align: right;">
          <div class="hidname">
            <input type="checkbox" id="anonymous" name="anonymous" ng-model="formdata.need_anonymous" ng-true-value="1" ng-false-value="0" />
            <label for="anonymous">匿名发布</label>
          </div>
          <button class="btn" ng-click="cancel();" style="margin-right: 10px;">取消</button>
          <button class="btn primary post" ng-disabled="AskQuestionForm.$invalid" ng-click="postQuestion();">发布</button>
        </div>
      </form>

    </div>
    <!-- /container -->

  </div>
  <!-- /rteController -->

  <div ng-controller="InviteReplyController" class="modal fade" id="inviteReplyModal" tabindex="-1" role="dialog" aria-labelledby="inviteReplyModalLable" aria-hidden="true" ng-init="init();">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="inviteReplyModalLabel"> @小伙伴回答</h4>
        </div>
        <!-- /modal-header -->
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="搜索关注的人" ng-model="filter" />
          <!--@小伙伴回答原样式
            <div class="row">
              <div type="button" class=" ask-border" ng-repeat="f in filteredFollowing " ng-click="addInvitedUser(f)" ng-bind="f.nick_name"></div>
          </div>
          -->
          <div class="col-md-3 invitemarks ng-scope" ng-repeat="f in filteredFollowing " ng-click="addInvitedUser(f)" title="{{f.university}}">
                <span ng-bind="(f.real_name || f.nick_name)" class="ng-binding"></span>
                <span class="edit-icon" style="position: absolute;top:-5px;left:80px;color: #FFFFFF;border-radius: 50%; width: 20px;
                    height: 25px;color: #666; padding: 10px 0 0 0;">+</span>
                <!-- 判断标签分类是否为空，如果为空返回默认字符串-->
            </div>
          <!-- /row -->
          <br>

          <div class="row">
              <div class="col-md-12 celected">已选择的小伙伴</div>
          </div>

          <div class="row container" ng-click="removeInvitedUser($index)">
            <span class="invite-border col-xm-1" type="button" ng-repeat="f in invitedUsers track by $index"  ng-bind=" '@' + (f.real_name || f.nick_name) + ' ' + ' ×' " ></span>
          </div>

          <!-- /row -->
          <br>

        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
          <form name="inviteForm" style="width:350px; display:inline-block;float: left;vertical-align: top;">
            <input name="fb" type="text" ng-model="tempFB" class="form-control" placeholder="奖励每个小伙伴多少F币捏（每人至少10F,必填）" ng-pattern="/^[1-9]\d$/" required/>
          <input type="hidden" name="invitedUserLength" ng-model="invitedUsers.length" ng-pattern="/[0-5]/"  />
          <!-- /input 用来验证邀请人数 -->
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancleInvite();">取消</button>
          <button type="button" class="btn primary" data-dismiss="modal" ng-disabled="inviteForm.$invalid" ng-click="confirmInvite()">确认</button>
        </div>
        <!-- /modal-footer -->

      </div>
      <!-- /modal-content-->



    </div>
    <!-- /modal-dialog -->

  </div>
  <!-- /modal fade -->

</div>
