<div class="col-md-12 experience-one" ng-repeat="q in questions">
    <div class="row" id="{{q.reply_num?q.best_answer.id:q.id}}">
        <div class="col-md-1" style="width: 11%;">
          <ul class="ulli">
            <li>
              <div ng-if="!q.reply_num" ng-mouseover="setQuestion(q)">
                <img ng-if="!q.need_anonymous" class="user-icon"  ng-src="{{q.publisher_img + '!60x60'}}">
                <img ng-if="q.need_anonymous"  class="user-icon"  ng-src="//7xjkhy.dl1.z0.glb.clouddn.com/22.jpg!60x60">
              </div>
              <div ng-if="q.reply_num" ng-mouseover="setQuestion(q.best_answer)">
                <img ng-if="!q.best_answer.need_anonymous" class="user-icon"  ng-src="{{q.best_answer.publisher_img + '!60x60' }}">
                <img ng-if="q.best_answer.need_anonymous"  class="user-icon"  ng-src="//7xjkhy.dl1.z0.glb.clouddn.com/22.jpg!60x60">
                <!--提问者头像-->
              </div>
            </li>
            <li class="praise" ng-show="!q.reply_num && q.thumb_up_num" ng-bind="q.thumb_up_num + '赞'"></li>
            <li class="praise" ng-show="!q.reply_num && q.thanks_coin" ng-bind="q.thanks_coin + '奖'"></li>
            <li class="praise" ng-show="q.reply_num && q.best_answer.thumb_up_num" ng-bind="q.best_answer.thumb_up_num + '赞'"></li>
            <li class="praise" ng-show="q.reply_num && q.best_answer.thanks_coin" ng-bind="q.best_answer.thanks_coin + '奖'"></li>
          </ul>
        </div>
        <div class="col-md-11" style="width: 89%;padding-left: 20px">
            <div class="row" style="margin: 5px 0;">
              <div class="col-md-9" style="color: rgba(100,100,100,.8);padding-left: 0px;">
                <span ng-show="!q.reply_num && !q.need_anonymous" ng-bind="q.publisher_real_name"> Sunny</span>
                <span ng-show="!q.reply_num && q.need_anonymous"  ng-bind="'匿名用户'">匿名用户</span>
                <span ng-show="q.reply_num && !q.best_answer.need_anonymous" ng-bind="q.best_answer.publisher_real_name"> Sunny</span>
                <span ng-show="q.reply_num && q.best_answer.need_anonymous" ng-bind="'匿名用户'">匿名用户</span>
                <span ng-show="q.reply_num" style="margin-left:10px;padding:0;" class="span-ellipsis" ng-bind="q.best_answer.university" title="{{q.best_answer.university}}">
                  清华大学</span>
                <span ng-show="!q.reply_num" style="margin-left:10px;padding:0;" class="span-ellipsis" ng-bind="q.university" title="{{q.university}}">
                  清华大学</span>
                <!-- 提问者的星认证-->
                <i ng-show="!q.reply_num" ng-repeat="c in q.publisher_star_info" cert-icon="c"></i>
                <!-- 回答者的星认证-->
                <i ng-show="q.reply_num" ng-repeat="c in q.best_answer.publisher_star_info" cert-icon="c"></i>
              </div>
              <div ng-show="!q.reply_num" class="col-md-3 time" ng-bind="q.ctime">
                7分钟前
              </div>
              <div ng-show="q.reply_num" class="col-md-3 time" ng-bind="q.best_answer.ctime">
                7分钟前
              </div>
            </div>
            <div>
                <span class="user_desc" ng-show="!q.need_anonymous && !q.reply_num" ng-bind="q.user_description" title="{{q.user_description}}">ACM国际一等奖</span>
                <span class="user_desc" ng-show="q.reply_num && !q.best_answer.need_anonymous  " ng-bind="q.best_answer.user_description" title="{{q.best_answer.user_description}}">ACM国际一等奖</span>
            </div>
            <div>
              <span style="font-weight: bolder;line-height: 1;display:block;font-size: 20px;" ng-show="q.reply_num">
                <span class="answer-answer">答</span>
                <a ng-hide="isDetail" class="question-title" ng-bind="q.title" ng-href="/#/qadetail/{{q.id}}" target="_blank"></a>
                <a ng-show="isDetail" class="question-title" ng-bind="q.title"></a>
              </span>
              <span style="font-weight: bolder;line-height: 1;display:block;font-size: 20px;" ng-show="!q.reply_num">
                <span class="ask-ask">问</span>
                <a ng-hide="isDetail" class="question-title" ng-bind="q.title" ng-href="/#/qadetail/{{q.id}}" target="_blank"></a>
                <a ng-show="isDetail" class="question-title" ng-bind="q.title"></a>
              </span>
            </div>
            <div ng-if="q.reply_num">
              <article ng-hide='isDetail' style="line-height: 1.5; margin-bottom: 10px;" content="q.best_answer.content |removeHtmlTag"  clamp="3">
                这里是答案
              </article>
              <article id="{{q.best_answer.id + '-content'}}" ng-show='isDetail' style="line-height: 1.5; margin-bottom: 10px;" ng-bind-html="(isDetail? q.best_answer.content: '') | trustHtml">
                这里是答案
              </article>
              <a class="link col-md-2 row" target="_blank" style="display:none;float:right;text-decoration: underline;  font-size:14px;color:black;" ng-href="/#/qadetail/{{q.id}}#{{q.best_answer.id}}">阅读全部</a>
            </div>
            <div ng-if="!q.reply_num">
              <article ng-hide='isDetail' style="line-height: 1.5; margin-bottom: 10px;" content="q.content | removeHtmlTag"  clamp="3">
                这里是问题
              </article>
              <article id="{{q.id + '-content'}}" ng-show='isDetail' style="line-height: 1.5; margin-bottom: 10px;" ng-bind-html="(isDetail? q.content: '') | trustHtml">
                这里是问题
              </article>
            </div>
            <div ng-show="q.editMode || q.best_answer.editMode" style="margin-top:10px;">
                <button class="btn primary pull-right" ng-click="editSave();" style="margin-bottom:10px;">保存</button>
                <button class="btn pull-right"  ng-click="editCancel();" style="margin-right:10px">取消</button>
            </div>
        </div>
    </div>
    <div class="row border-bottom" style="text-align: center;color: rgba(100,100,100,.8)">
        <div class="col-md-2 ask-tags" ng-bind="q.class2" title="{{ q.class2 }}">
          计算机 物理 数学
        </div>
        <div ng-class="{true: 'col-md-10', false: 'col-md-8'}[{{isDetail && $index != 0 && !q.best_answer.is_me}}]">
            <div class="row">
                <div class="col-md-2 ask-tags">{{ q.tags.join(' / ') }}</div>
                <div ng-click="questionThumbUp(q)" ng-show="!q.reply_num && !q.is_me && !q.has_thumb_up" class="col-md-2 border-top active"><span class="glyphicon glyphicon-thumbs-up"></span>赞</div>
                <div ng-show="!q.reply_num && (!!q.is_me || !!q.has_thumb_up)" class="col-md-2 border-top inactive">赞过啦</div>
                <div ng-show="q.reply_num && (!q.best_answer.is_me && !q.best_answer.has_thumb_up)" ng-click="answerThumbUp(q.best_answer)" class="col-md-2 border-top active" ><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞</div>
                <div ng-show="q.reply_num && (  !!q.best_answer.is_me || !!q.best_answer.has_thumb_up)" class="col-md-2 border-top inactive">&nbsp;赞过啦</div>
                <div ng-hide="q.reply_num" class="col-md-2 border-top" inactive-change="!!q.is_me" click="showQuestionThanksModal(q);">
                  <span class="glyphicon glyphicon-jpy"></span>奖</div>
                <div ng-show="q.reply_num" class="col-md-2 border-top" inactive-change="!!q.best_answer.is_me" click="showAnswerThanksModal(q.best_answer);">
                  <span class="glyphicon glyphicon-jpy"></span>奖</div>
                <div ng-click="share(q)" class="col-md-2 border-top active"><span class="glyphicon glyphicon-share"></span>分享</div>
                <div inactive-change="!!q.is_me || !!q.has_collect" click="questionCollect(q.id)" class="col-md-2 border-top"><span class="glyphicon glyphicon-bookmark"></span>收藏</div>
                <!--问答评论功能--><!--需要在首页个人主页隐藏评论功能-->
                <div class="col-md-2 border-top active" ng-hide="q.comment_num || show_comment" ng-click="show_comment=true;">
                  <span class="glyphicon glyphicon-comment"></span>评论</div>
                <div class="col-md-2 border-top active" ng-show="q.comment_num && !show_comment" ng-click="show_comment=true;">
                  <span class="glyphicon glyphicon-comment"></span>{{ q.comment_num }}条评论</div>
                <div class="col-md-2 border-top active" ng-show="show_comment" ng-click="show_comment=false;">
                  <span class="glyphicon glyphicon-comment"></span>收起评论</div>
            </div>
        </div>
        
        <div class="col-md-2 border-top answer" ng-hide="(isMe && (isMyQuestion || isMyAnswer)) || (isDetail && ($index != 0 || q.is_me))" ng-click="goAnswer(q.id)">
          我来回答
        </div>
        <div class="col-md-2 border-top answer" ng-show="isMe && isMyQuestion" ng-click="editQuestion(q)">
          编辑问题
        </div>
        <div class="col-md-2 border-top answer" ng-show="!isMe && q.is_me" ng-click="editQuestionHere(q)">
          编辑问题
        </div>
        <div class="col-md-2 border-top answer" ng-show="isMe && isMyAnswer " ng-click="editAnswer(q.id, q.best_answer.id)">
          编辑答案
        </div>
        <div class="col-md-2 border-top answer" ng-show="!isMe && q.best_answer.is_me" ng-click="editAnswerHere(q.best_answer)">
          编辑答案
        </div>
    </div>
    <!--新回复问答功能-->
    <div ng-show="show_comment">
        <div class="row comment" ng-repeat="c in q.comment_list">
            <div class="col-md-1" style="width: 11%;">
                <ul class="ulli">
                    <div ng-mouseover="setQuestion(q)">
                      <img ng-if="!c.need_anonymous" class="user-icon-reply" ng-src="{{ c.from.user_icon + '!60x60' }}">
                    </div>
                </ul>
            </div>
            <div class="col-md-11" style="width: 89%;">
                <div class="row" style="margin: 10px 0;">
                    <div style="color: rgba(100,100,100,.8);padding-left: 0;">
                        <span ng-hide="is_author(q, c.from.real_name)">
                          <span ng-hide="c.from.need_anonymous">{{ c.from.real_name }}</span>
                          <span ng-show="c.from.need_anonymous">匿名用户</span>
                          <span ng-hide="c.from.need_anonymous" class="span-ellipsis" title="{{c.from.university}}">({{ c.from.university }})</span>
                        </span>
                        <span ng-show="is_author(q, c.from.real_name)">作者</span>
                        回复
                        <span ng-hide="is_author(q, c.to.real_name)">
                          <span ng-hide="c.to.need_anonymous">{{ c.to.real_name }}</span>
                          <span ng-show="c.to.need_anonymous">匿名用户</span>
                          <span ng-hide="c.to.need_anonymous" class="span-ellipsis" title="{{c.to.university}}">({{ c.to.university }})</span>
                        </span>
                        <span ng-show="is_author(q, c.to.real_name)">作者</span>
                        <!-- 提问者的星认证-->
                        <!-- ngRepeat: c in q.publisher_star_info -->
                        <!-- 回答者的星认证-->
                        <!-- ngRepeat: c in q.best_answer.publisher_star_info -->
                        <div style="color: #333;">{{ c.content }}</div>
                        <span>{{ c.ctime }}</span>
                        <span class="reply" ng-click="q.comment_to_user = c.from;comment_focus(q);">回复</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="answer-reply input-group row" style="display: table;">
            <span ng-show="q.comment_to_user" ng-click="q.comment_to_user=null;" class="input-group-addon">To: {{ q.comment_to_user.real_name }}</span>
            <input type="text" class="form-control" placeholder="写下你的评论" ng-model="q.comment_content" id="{{(q.reply_num? q.best_answer.id: q.id) + '-comment'}}">
            <span class="input-group-addon btn primary" ng-click="comment(q)">发布</span>
<!--             <div ng-show="q.comment_to_user" class="col-md-2">
              <span class="label label-info">To: {{ q.comment_to_user.real_name }}</span>
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <input ng-class="{true: 'col-md-9', false: 'col-md-11'}[!!q.comment_to_user]" class="input-reply" placeholder="写下你的评论" ng-model="q.comment_content">
            <button type="button" class="btn primary col-md-1" ng-click="comment(q)">发布</button> -->
        </div>
    </div>


</div>
<user-card user-question="user_question"></user-card>
