<!--********************************************************************************
*     File Name           :     ask-question-new.html
*     Created By          :     DQ - D.Q.Zhang.chn@gmail.com
*     Creation Date       :     [2016-01-05 20:05]
*     Last Modified       :     [2016-01-13 23:11]
*     Description         :     更改邀请等后的提问问题界面 
*********************************************************************************-->
<div class="ask-container center-block">
    <div class="ask-left pull-left">
        <!--<p>-->
        <!--为了提高您的用户体验，请先阅读【提问须知】-->
        <!--</p>-->
        <br/>
        <p>
            【提问须知】
        </p>
        <br/>
        <p>
        <ol class="ask-tips">

            <li>
                <b>•避免重复:</b>
                &nbsp; 请在提问前搜索校园星空上是否已经有相似的问题
                <!--1.为了减少重复提问，请在提问前搜索校园星空上是否已经有相似的问题;-->
            </li>
            <br>


            <li>
                <b>•问题分类:</b>
                &nbsp; 请选择您的问题分类,方便更专业的人士来回答
            </li>
        <br>
            <li>
                <b>•问题标题:</b>
                &nbsp; 请用准确的语言描述您发布的问题思想,并避免以单词或者简单短语作为标题
            </li>
            <br/>
            <li>
                <b>•问题描述:</b>
                &nbsp; 详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想
            </li>
            <br/>
            <li>
                <b>•选择标签:</b>
                &nbsp; 选择一个或者多个合适的标签, 让您发布的问题得到更多有相同兴趣的人参与
                <!--. 所有人可以在您发布问题之后添加和编辑该问题所属的话题-->
            </li>
            <br/>
        </ol>
        </p>

    </div>

    <div class="ask-right pull-left" ng-controller="AskQuestionController" ng-init="init();">

        <form role="form" name="AskQuestionForm">
            <input type="hidden" name="classSelect" ng-pattern="/^(?!请选择分类)/" ng-model="formdata.class2"/>
            <!-- /input 用来验证是否选择了分类 -->
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{formdata.class2}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="c in classes  track by $index">
                            <a ng-click="selectClass(c)" ng-bind="c">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /btn-group -->
                <input type="text" name="title" class="form-control" ng-model="formdata.title" placeholder="请写下你的问题">
            </div>
            <!-- /input-group -->

            <div class="ask-row-interval"></div>
            <div>
                <rte mode="simple"></rte>
                <input type="hidden" name="contentLength"/>
            </div>
            <div class="ask-row-interval"></div>

            <div>
                <span>请输入标签*(&le;5个)</span>
                <!--<span ng-show="formdata.tags.length === 0">至少选择一个标签哦~</span>-->
                <input type="hidden" name="tagsLength" ng-model="formdata.tags.length" ng-pattern="/[1-5]/"/>
        <span class="pull-right">
            <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="viewVar.isAutoTagLoadingShow"></i>
            <a class="click-link" ng-click="autoExtractTags();">根据问题自动提取标签</a></span>
            </div>
            <div class="ask-row-interval"></div>

            <div class="panel panel-default tag-inviter">
        <span ng-repeat="tag in formdata.tags track by $index" class="badge added-tags">
            <span ng-bind="tag" class="tag-text"></span>
        <i class="glyphicon glyphicon-remove tag-remove" ng-click="removeTag($index)" title="点击删除"></i>
        </span>
                <div class="tag-input-group input-prepend">
                    <span class="add-on"><i class="glyphicon glyphicon-search pull-left"></i></span>
                    <input class="tag-input" type="text" ng-disabled="formdata.tags.length >= 5"
                           ng-focus="afterFocusOnTagInput();" placeholder="手动添加标签(回车结束)" ng-model="tagInput"
                           typeahead="tag as tag.tag for tag in allTagsInClass | filter:{tag:$viewValue} | addInputTag:$viewValue | limitTo:8"
                           typeahead-on-select="tagSelect($item,$model,$label);"
                           ng-keypress="tagInputKeyPress($event);">
                </div>
            </div>

            <div>
                <span>（可选）邀请<a class="click-link" data-target="#inviteReplyModal" ng-click="showInviteModal();">同学</a>回答</span>
            </div>

            <div class="ask-row-interval"></div>
            <div class="panel panel-default tag-inviter">
                <span ng-show="!invitedUsers.length">还没有邀请任何人哦！</span>
        <span ng-repeat="iu in invitedUsers track by $index" class="badge added-tags">
            <span ng-bind="iu.real_name" class="tag-text"></span>
        <i class="glyphicon glyphicon-remove tag-remove" ng-click="removeInvitedUser($index)" title="取消邀请"></i>
        </span>
                <div class="clearfix"></div>
            </div>

            <div class="pull-right">
        <span>
          <input type="checkbox" id="anonymous" name="anonymous" ng-model="formdata.need_anonymous" ng-true-value="1"
                 ng-false-value="0"/>
          <label for="anonymous">匿名发布</label>
        </span>
                <button class="btn ask-cancel" ng-click="cancel();">取消</button>
                <button class="btn primary" ng-disabled="AskQuestionForm.$invalid" ng-click="postQuestion();">发布
                </button>
            </div>
        </form>

        <div class="clearfix"></div>
        <div class="ask-row-interval"></div>
    </div>
    <!-- /ask-right-->


    <div ng-controller="InviteReplyController" class="modal fade" id="inviteReplyModal" tabindex="-1" role="dialog"
         aria-labelledby="inviteReplyModalLable" aria-hidden="true" ng-init="init();">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="inviteReplyModalLabel">@小伙伴回答</h4>
                </div>
                <!-- /modal-header -->
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a id="arecommend" href="#recommend" data-toggle="tab" ng-click="showTabPage($event)">推荐</a>
                        </li>
                        <li>
                            <a id="acaring" href="#caring" data-toggle="tab" ng-click="showTabPage($event)">关注的人</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="recommend">
                            <ul class="nav nav-pills">
                                <li ng-repeat="(tag,users) in recommendedUsers track by $index">
                                    <a ng-href="{{'#'+tag}}" data-toggle="tab" ng-bind="tag"
                                       ng-click="showTabPage($event)" ng-class="{'active':$index ==0,'in':$index == 0}"
                                       aria-expanded="{{$index == 0}}"></a>
                                </li>
                            </ul>
                            <div class="tab-content users-panel">
                                <div ng-repeat="(tag,users) in recommendedUsers track by $index"
                                     ng-class="{'tab-pane':true,'fade':true,'in':$index == 0,'active':$index == 0}"
                                     id="{{tag}}">
                                    <div ng-if="!users.length" class="center-block users-empty-tip">
                                        暂无该标签下的推荐人呢！
                                    </div>
                                    <div ng-if="users.length">
                                        <div class="invite-user-info" ng-repeat="user in users track by $index">
                                            &nbsp; &nbsp;
                                            <input type="checkbox" ng-disabled="invitedUsers.length>=5 && !user.checked"
                                                   ng-change="inviteUserSwitch(user)" ng-model="user.checked">&nbsp;
                                            <img class="img-circle img-thumbnail invite-user-img"
                                                 ng-src="{{user.icon + '!30x30' }}"/>&nbsp;&nbsp;
                                            <div class="invite-user-desc">
                                                <div>
                                                    <span ng-bind="user.real_name"></span>&nbsp;<span
                                                        ng-bind="user.university"></span>&nbsp;
                                                    <i ng-repeat="honor in user.honors" cert-icon="honor"></i>
                                                </div>
                                                <div>
                                                    在&nbsp;<span ng-bind="tag"></span>&nbsp;问题下有<span
                                                        ng-bind="user.wanted.posted_num"></span>个回答，<span
                                                        ng-bind="user.wanted.thumb_num_of_tag"></span>个赞
                                                </div>
                                            </div>
                                            <!-- /.invite-user-desc -->
                                        </div>
                                        <!-- /.invite-user-info -->
                                    </div>
                                    <!-- /ng-if="users.length" -->
                                </div>
                                <!-- /ng-repeat -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /#recommed -->
                        <div class="tab-pane fade users-panel" id="caring">
                            <div ng-if="!myFollowing.length" class="center-block users-empty-tip">
                                暂无关注人呢，赶紧去关注些大牛吧！
                            </div>
                            <div ng-if="myFollowing.length">
                                <div class="invite-user-info" ng-repeat="user in myFollowing">
                                    &nbsp; &nbsp;
                                    <input type="checkbox" ng-disabled="invitedUsers.length >=5 && !user.checked"
                                           ng-change="inviteUserSwitch(user)" ng-model="user.checked">&nbsp;
                                    <img class="img-circle img-thumbnail invite-user-img"
                                         ng-src="{{user.icon + '!30x30' }}"/>&nbsp;&nbsp;
                                    <div class="invite-user-desc">
                                        <div>
                                            <span ng-bind="user.real_name"></span>&nbsp;<span
                                                ng-bind="user.university"></span>&nbsp;
                                            <i ng-repeat="honor in user.honors" cert-icon="honor"></i>
                                        </div>
                                        <div>
                                            擅长回答<span
                                                ng-repeat="g in user.tags | filter:{tagClass:formdata.class2} | limitTo:3">[{{g.tagClass.split(':')[1]}}]</span>
                                        </div>
                                    </div>
                                    <!-- /.invite-user-desc -->
                                </div>
                                <!-- /.invite-user-info -->
                            </div>
                            <!-- /ng-if="myFollowing.length" -->
                        </div>
                        <!-- /#caring-->
                    </div>
                    <!-- /.tab-content -->

                    <div class="ask-row-interval"></div>
                    <div class="ask-row-interval"></div>
                    <div>已经选择<span ng-bind="invitedUsers.length"></span>位(最多邀请5位):</div>
                    <div class="ask-row-interval"></div>
                    <div class="panel panel-default tag-inviter">
                        <span ng-show="!invitedUsers.length">还没有邀请任何人哦！</span>
            <span ng-repeat="iu in invitedUsers track by $index" class="badge added-tags">
            <span ng-bind="iu.real_name" class="tag-text"></span>
            <i class="glyphicon glyphicon-remove tag-remove" ng-click="removeInvitedUser($index)" title="取消邀请"></i>
            </span>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.panel .panel-default -->

                </div>
                <!-- /modal-body -->

                <div class="modal-footer">
                    <div class="pull-left">
                        <form name="inviteForm" class="form-inline">
                            &nbsp;
                            <label for="fb">*奖励每人</label>&nbsp;
                            <input name="fb" type="text" ng-model="inviteFB" class="form-control"
                                   placeholder="奖励每个小伙伴多少F币捏（每人至少10F,必填）" ng-pattern="/^[1-9]\d+$/" required/>&nbsp;
                            <span>(&gt;=10)F币</span>
                            <input type="hidden" name="invitedUserLength" ng-model="invitedUsers.length"
                                   ng-pattern="/[0-5]/"/>
                            <!-- /input 用来验证邀请人数 -->
                        </form>
                    </div>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancleInvite();">取消</button>-->
                    <button type="button" class="btn primary" data-dismiss="modal" ng-disabled="inviteForm.$invalid"
                            ng-click="confirmInvite()">确认
                    </button>
                </div>
                <!-- /modal-footer -->

            </div>
            <!-- /modal-content-->

        </div>
        <!-- /modal-dialog -->

    </div>
    <!-- /modal fade -->

</div>
