<style>
    .red-star {
        color: red;
    }
    .col-sm-8, .col-sm-3, .col-sm-1 {
        padding-left: 13px;
        padding-right: 0px;
    }
</style>
<div class="modal-header">
    <div class="row">
        <button class="close" data-ng-click="close()">&times;</button>
        <div class="col-xs-9">
            <h4 class="modal-title">
                完善资料
            </h4>
        </div>
    </div>
</div>
<div class="modal-body uploadModal" id="upload-form-group">
    <form name="changeUniversityCollege" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-sm-3 control-label">真实姓名</label>

            <div class="col-sm-8">
                <input type="text" ng-model="formdata.name" name="formdata.name" class="form-control"
                       placeholder="输入您的真实姓名，方便好友查找" required/>
            </div>
            <label class="col-sm-1 control-label red-star" style="text-align: left">*</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">性别</label>
            <label class="col-sm-3 control-label" style="text-align: left">
                <input type="radio" name="formdata.gender"  ng-init="formdata.gender=='男'" ng-model='formdata.gender' value="男">我是男生
            </label>
            <label class="col-sm-3 control-label" style="text-align: left">
                <input type="radio" name="formdata.gender" ng-init="formdata.gender=='女'" ng-model='formdata.gender' value="女"> 我是女生
            </label>
            <label class="col-sm-1 col-sm-offset-2 red-star" style="text-align: left">*</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学校名称</label>

            <div class="col-sm-8">
                <input type="text" ng-click="universityClickHandler()" ng-model="formdata.university"
                       class="form-control" readOnly="true" placeholder="请选择您的学校" required/>
            </div>
            <label class="col-sm-1 control-label red-star" style="text-align: left">*</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">院系名称</label>

            <div class="col-sm-8">
                <input type="text" ng-click="collegeClickHandler()" ng-model="formdata.college"
                       class="form-control" readOnly="true" placeholder="请选择您的学院" required/>
            </div>
            <label class="col-sm-1 control-label red-star" style="text-align: left">*</label>
        </div>

        <!--第二个row结束-->
        <div class="row modal-body" ng-show="isCurrentOrder(1)">
            <div class="title">请选择新学校所在地区<span ng-click="show_order=0;">收起</span></div>
            <div class="groups">
                <span ng-repeat="p in prov_list" ng-click="chooseProvince(p)">{{ p }}</span>
            </div>
        </div>
        <div class="row modal-body" ng-show="isCurrentOrder(2)">
            <div class="title">请选择新学校<span ng-click="show_order=0;">收起</span></div>
            <div class="form-group">
                <input type="text" ng-model="uf" placeholder="快速名称过滤"/>
            </div>
            <div class="entities">
                <span ng-repeat="i in universities | filter: uf" ng-click="chooseUniversity(i)"
                      title="{{i}}">{{ i }}</span>
            </div>
        </div>
        <div class="row modal-body" ng-show="isCurrentOrder(3)">
            <div class="title">请选择新院系名<span ng-click="show_order=0;">收起</span></div>
            <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
                <input type="text" ng-model="cf" placeholder="快速名称过滤"/>
            </div>
            <div class="entities">
                <span ng-repeat="i in colleges | filter: cf" ng-click="chooseCollege(i)"
                      title="{{i}}">{{ i }}</span>
            </div>
        </div>
        <div class="errtip" style="text-align: center;color: red">
            <span data-ng-bind="errtip"></span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button data-ng-disabled="unmodified()" data-ng-click="saveChange()" class="btn default primary">确认</button>
</div>