<style type="text/css">
  .resource-more .row {
    margin-bottom: 20px;
  }
  .resource-more > .col-md-2 {
    padding-left: 0;
  }
  .resource-more .course-type > span {
    text-align: center;
    display: block;
    padding: 8px;
    border: 1px solid lightgrey;
    border-top-width: 0;
  }
  .resource-more .course-type > span:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .resource-more .course-type >:first-child {
    border-top-width: 1px;
  }
  .resource-more .course-type > span.selected {
    border-left: 3px solid #35a0ed;
  }
  .resource-more .course-type > span > button {
    width: 100%;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .resource-more {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .resource-more .pagination_div {
    margin-left: -120px;
  }
  .inform-title {
    clear: both;
    font: bold 18px/60px"Microsoft YaHei", "黑体";
    text-align: left;
    color: #35a0ed;
  }
  .content-inline .subtitle {
    clear: both;
    font: bold 14px/25px"Microsoft YaHei", "黑体";
    text-align: left;
    color: #35a0ed;
  }
  .content-inline {
    text-align: left;
    font: 14px/25px"Microsoft YaHei", "黑体";
  }
  .p-content {
    text-indent: 24px;
    font-size: 16px;
    padding-left: 12px;
  }
</style>
<div class="container resource-college2">
  <!--div class="row"-->
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs"></div>
  </div>
  <div>
    <div class="col-md-3 left" style="height: 560px;z-index: 2;">
      <div class="title" title="{{ page.university }}">
        {{ page.university }}
        <br>
        <span>共{{ page.university_resource_num }}门课程</span>
      </div>
      <img class="logo" ng-src="{{ currentUniversityIconUrl }}" />
      <div class="form-group">
        <input ng-model="query" type="text" placeholder="搜索院系" />
      </div>
      <div style="height: 80%; overflow-y: auto;" id="scroll_area" scroll-to="scroll_area_top">
        <!--<div class="school" ng-repeat="college_resource in college_resource_num | filter:query" ng-class="{current_active:isCurrentCollege(college_resource.college)}" ng-click="selectCollege(college_resource.college)">{{ college_resource.college }} ( {{ college_resource.resource_num }} )</div>-->
        <div class="school" ng-repeat="college_resource in college_resource_num | filter:collegeFilter" ng-class="{current_active:isCurrentCollege(college_resource.college)}" ng-click="selectCollege(college_resource.college)">{{ college_resource.college }} ( {{ college_resource.resource_num }} )</div>
      </div>
    </div>
    <div class="col-md-9 right">
      <div class="row">
        <!--div ng-show="!current_college_course_list.length" style="margin-top: 30px;font-size: 24px;text-align: center;">抱歉，暂无资源。赶快去上传资源，领取F币奖励吧！</div-->
        <div ng-show="!current_college_course_list.length">
          <div class="inform-title">【实习院长招聘】</div>
          <p class="p-content">校园星空招募各个学校院系课程资源建设的负责人（实习院长)，以院系为单位，实习院长专注本人所在院系的课程资源建设。报名即奖励1000F。2016年1月20日左右，根据各个院系实习院长的参与情况，从实习院长中升级一名正式院长，奖励10000F，1~3名院长助理，奖励3000F。任职期间按本院系所有同学上传所得总F币的10%~20%给额外F币奖励（院长20%，院长助理10%）。实习院长有机会获得以下礼品哦！欢迎加入校园星空实习院长群，群号码：491589986</p>
          <div class="content-inline col-md-4" style="margin-bottom: 16px">
            <div class="subtitle">金满福H2带麦线控入耳式金属耳机</div>
            <p>2600F</p>
            <p>
              <img src="http://friendsbt.com/static/img/fmall-4.jpg" style="height: 180px; border-radius: 5px;" />
            </p>
          </div>
          <div class="content-inline col-md-4" style="margin-bottom: 16px">
            <div class="subtitle">大盘双机芯腕表</div>
            <p>12000F</p>
            <p>
              <img src="http://friendsbt.com/static/img/fmall-5.jpg" style="height: 180px; border-radius: 5px;" />
            </p>
          </div>
          <div class="content-inline col-md-4" style="margin-bottom: 16px">
            <div class="subtitle">创意水能钟</div>
            <p>2400F</p>
            <p>
              <img src="http://friendsbt.com/static/img/fmall-6.jpg" style="height: 180px; border-radius: 5px;" />
            </p>
          </div>
          <div class="content-inline col-md-4" style="margin-bottom: 16px">
            <div class="subtitle">创意LED腕表</div>
            <p>14000F</p>
            <p>
              <img src="http://friendsbt.com/static/img/fmall-7.jpg" style="height: 180px; border-radius: 5px;" />
            </p>
          </div>
          <div class="content-inline col-md-4" style="margin-bottom: 16px">
            <div class="subtitle">YKI命运罗盘腕表</div>
            <p>14000F</p>
            <p>
              <img src="http://friendsbt.com/static/img/fmall-8.jpg" style="height: 180px; border-radius: 5px;" />
            </p>
          </div>
          <div class="content-inline col-md-4" style="margin-bottom: 16px">
            <div class="subtitle">品能PN-913移动电源1万mAh</div>
            <p>12000F</p>
            <p>
              <img src="http://friendsbt.com/static/img/fmall-9.jpg" style="height: 180px; border-radius: 5px;" />
            </p>
          </div>
        </div>
        <div ng-mouseenter="showDownload=true" ng-mouseleave="showDownload=false" class="col-md-4 item" ng-repeat="c in current_college_course_list">
          <img class="poster" ng-src="{{ c.img }}" ng-click="viewCollegeResourceDetailsClickHandler(c.course, c.course_id)">
          <div class="info" title="{{ c.course }} - {{ c.university }} : {{ c.college }}">
            <!-- <label class="point"> -->
            <!--label><a href="/#/course_resource?university={{c.university}}&college={{c.college}}&course={{c.course}}">{{ c.course | twoLinePoint}}</a></label-->
            <label ng-click="viewCollegeResourceDetailsClickHandler(c.course, c.course_id)">{{ c.course | twoLinePoint}}</label>
            <div ng-show="showDownload" class="download">
              <button ng-click="viewCollegeResourceDetailsClickHandler(c.course, c.course_id)" class="btn primary">资源</button>
              <a href="/#/schools/{{c.university}}/{{c.college}}/{{c.course}}/details?course_id={{c.course_id}}" class="btn default ng-blind" ng-click="viewCollegeResourceDetailsClickHandler(c.course, c.course_id)">讨论</a>
              <button ng-click="upLoad(c.university, c.college, c.course)" class="btn primary btn-uploadresource">上传资源</button>
            </div>
            <div ng-show="!showDownload" class="details ">
              <!--span class="ellipsis">学校 : {{ c.university }}</span-->
              <!--span class="ellipsis">学院 : {{ c.college }}</span-->
              <span>教师 : {{ c.teacher  | showList : 8 }}</span>
              <span>资源数目 : {{ c.resource_num }}</span>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="page.noPagination" class="pagination_div" style="z-index: 1;position:relative;">
        <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true"
        rotate="false">
        </pagination>
      </div>
    </div>

  </div>
</div>
