<!-- vim: set sw=2 ts=2 : -->
<!-- <div class="banner">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      悬赏啊悬赏，悬赏啊悬赏。
      悬赏啊悬赏，悬赏啊悬赏。
    </div>
    <div class="col-md-5">
      <a class="btn" href="#/myreward">A</a>
      <a class="btn" ng-click="publishRewardClickHandler()">B</a>
    </div>
    <div class="col-md-1"></div>
  </div>
</div> -->
<div class="container resource-college2">
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs"></div>
  </div>
  <!--div class="row"-->
  <div>
    <div class="col-md-3 left" style="height: 560px;z-index:2;">
      <div class="title" title="{{ page.university }}">
        {{ page.university }}
        <br>
        <span>共{{ page_in_collegesSrv.university_resource_num }}个资源</span>
      </div>
      <img class="logo" ng-src="{{ currentUniversityIconUrl }}" />
      <div class="form-group">
        <input ng-model="query" type="text" placeholder="搜索院系"/>
      </div>
    <div style="height: 80%; overflow-y: auto;" id="scroll_area" scroll-to="scroll_area_top">
      <div class="school" ng-repeat="college_resource in college_resource_num | filter:query" ng-class="{current_active:isCurrentCollege(college_resource.college)}" ng-click="selectCollege(college_resource.college)">{{ college_resource.college }} ( {{ college_resource.resource_num }} )
        

      </div>
      </div>
    </div>
    <div class="col-md-9 right" style="height: 560px;">
      <div ng-include src="'static/partials/resource-table.html'"></div>
    </div>
  </div>
</div>
<!--div ng-show="page.noPagination" class="pagination_div" style="z-index: 1;">
  <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
  </pagination>
</div-->