  <div class="container extern details">
    <div class="quick-nav" ng-controller="QuickNavController">
      <div ng-bind-html="navs"></div>
    </div>
    <div class="details-resource">
      <div class="row">
        <div class="col-md-2">
          <img class="details-poster" ng-src="{{details_info.img}}">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <label  ng-bind="details_info.course">课程名称</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><label>学校：</label>
              <span ng-bind="details_info.university"></span>
            </div>

            <div class="col-md-4"><label>学院：</label>
              <span ng-bind="details_info.college"></span>
            </div>

            <div class="col-md-4">
              <label >资源数量：</label>
              <span ng-bind="details_info.resource_num"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label  >上传时间：</label>
              <span ng-bind="details_info.ctime"></span>
            </div>

            <div class="col-md-8"><label>教师：</label>
              <span>{{details_info.teacher.join('、')}}</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div>
           <div>
        <ul class="nav nav-tabs">
          <li class="active"><a  data-toggle="tab">全部评论&nbsp;({{details_info.comment_num}})</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="comments">
            <div class="no-comments" ng-show="isCommentEmpty">暂无评论</div>
            <div class="details-comments" ng-repeat="comment in comments">
              <img class="details-logo" ng-src="{{comment.user_icon}}">
              <div class="info">
                <span ng-bind="comment.nick_name">校园星空</span>
                <span ng-bind="comment.ctime">2012-12-12 22:22</span>
                <div ng-bind="comment.content">好资源,大家抓紧时间下载</div>
              </div>
            </div>
            <div class="pages-nav" ng-show="isPaginationVisible">
              <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
              </pagination>
            </div>
          </div>
        </div>

      </div>
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a  data-toggle="tab">参与评论</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="comment">
            <div class="form-group">
              <form name="comment_form">
                <textarea name="comment_new"  ng-model="comment_new" placeholder="说点啥吧..."  style="resize: none"></textarea>
                <button class="btn primary" ng-disabled="comment_form.$invalid" ng-click="post_comment(comment_new)">发布</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
