<style type="text/css">
  .resource-more {
    margin-left: 135px;
  }
  #typeLine .input-group-addon:hover{
    cursor: pointer;
    background-color: lightgray;
  }
  #typeLine {
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 5px;
  }

  #typeLine {
    font-size: 12px;
    padding: 10px 0;
  }
  #typeLine .title {
    margin-left: 135px;
    margin-right: 30px;
  }

  #typeLine span {
    padding: 6px 10px;
  }

  #typeLine span:hover {
    cursor: pointer;
  }

  /*.resource-more .row {*/
    /*padding-bottom: 20px;*/
  /*}*/

  .resource-more > .col-md-2 {
    padding-left: 0;
  }

  .resource-more .course-type > span {
    text-align: center;
    display: block;
    padding: 8px;
    border: 1px solid #eee;
    border-top-width: 0;
  }

  .resource-more .course-type > span:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  .resource-more .course-type > :first-child {
    border-top-width: 1px;
  }

  .resource-more .course-type > span.selected {
    border-left: 3px solid #35a0ed;
  }

  .resource-more .course-type > span > button {
    width: 100%;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .resource-more {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .resource-more .hotsearch {
    border: #eee 1px solid;
    padding: 10px;
    margin-bottom: 20px;
  }

  .resource-more .item {
    margin-bottom: 30px;
  }

  .resource-more .item .info>label{
    text-overflow:ellipsis;white-space: nowrap
  }
</style>
<div class="container" id="find">
  <div class="nav">
    <div class="row">
      <div class="col-md-3 col-md-offset-5 right">
        <ul class="list-inline">
          <li ng-click="searchVal(c)" ng-repeat="c in searchClasses" ng-bind="c" ng-class="{active:isCurrentTab(c)}"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container resource-more"  ng-class="{'main-view-top': res.noPagination}">
  <div class="row">
    <div class="col-md-8">
      <div ng-show="page.noResult" style="margin-top: 10px;text-align: center;font-size: 12px;" class="a_link">抱歉，未能搜索到符合条件的结果。赶紧去<a ng-href="{{'/#/reward'}}" >发布悬赏</a>让小伙伴们帮你搜罗想要的课程吧！</div>
      <div ng-mouseenter="showDownload=true" ng-mouseleave="showDownload=false" class="col-md-4 item" ng-repeat="c in moreRes">
        <img class="poster" ng-src="{{ c.img }}">
        <div class="info" title="{{ c.course }} - {{ c.university }} : {{ c.college }}">
          <!-- <label class="point"> -->
          <label><a ng-click="courseResource(c.university, c.college, c.course, c.course_id)">{{ c.course | twoLinePoint}}</a></label>
          <div ng-show="showDownload" class="download">
            <button ng-click="courseResource(c.university, c.college, c.course, c.course_id)" class="btn btn-success">资源</button>
            <a href="/#/schools/{{c.university}}/{{c.college}}/{{c.course}}/details?course_id={{c.course_id}}" class="btn default">讨论</a>
          </div>
          <div ng-show="!showDownload" class="details">
            <span class="ellipsis">学校 : {{ c.university }}</span>
            <span class="ellipsis">学院 : {{ c.college }}</span>
            <span class="ellipsis">教师 : {{ c.teacher  | showList : 8 }}</span>
            <span>资源数目 : {{ c.resource_num }}</span>
          </div>
        </div>
      </div>
      <div ng-show="page.noPagination" class="pagination_div" style="position: static;clear: both">
        <pagination total-items="page.total_items" ng-change="getMoreRes()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
        </pagination>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hotsearch">
        <span style="line-height: 3;font-weight: bold;">热门搜索</span>
        <div style="line-height: 2;text-decoration: underline">
          <p ng-repeat="h in hotKeyWords"><a href="" ng-bind="h[0]" ng-click="hotWordHandler(h[0])">搜素的字段</a><span ng-bind="h[1]" style="float: right"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
