<style type="text/css">
    #typeLine .input-group-addon:hover {
        cursor: pointer;
        background-color: lightgray;
    }

    #typeLine {
        border-bottom: 1px solid #ECECEC;
        margin-bottom: 5px;
    }

    #typeLine {
        font-size: 18px;
        padding: 10px 0;
    }

    #typeLine .title {
        margin-left: 135px;
        margin-right: 30px;
    }

    #typeLine span {
        padding: 6px 10px;
    }

    #typeLine span:hover {
        cursor: pointer;
    }

    .resource-college2 .hotsearch {
        border: #eee 1px solid;
        padding: 10px;
        margin-bottom: 20px;
    }
    .resource-college2 {
        margin-left: 135px;
    }
</style>
<div class="container" id="find">
    <div class="nav">
        <div class="row">
            <div class="col-md-3 col-md-offset-5 right">
                <ul class="list-inline">
                    <li ng-click="searchVal(c)" ng-repeat="c in searchClasses" ng-bind="c" ng-class="{active:isCurrentTab(c)}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-show="hideSearch">
    <div class="row">
        <div class="col-md-offset-1 col-md-1">
            <span type="button" class="btn btn-default" onclick="history.go(-1);">返回课程</span>
        </div>
    </div>
</div>
<div class="container resource-college2">
    <div class="row">
        <div class="col-md-1" ng-hide="!hideSearch"></div>
        <div class="col-md-8" style="height: 560px;padding-left: 0px;padding-right: 0px;margin-bottom: 20px;">
            <table ts-wrapper id="courses_table" ng-show="!page.noResult">
                <thead>
                <tr>
                    <th></th>
                    <th ts-criteria="resource_name|lowercase" ts-default>文件名</th>
                    <th ng-show="showUnivColl" ts-criteria="university">学校</th>
                    <th ng-show="showUnivColl" ts-criteria="college">学院</th>
                    <th ts-criteria="teacher">教师</th>
                    <th ts-criteria="tag">资源标签</th>
                    <th ts-criteria="file_size|parseInt">大小</th>
                    <th ts-criteria="rate|parseInt">评分/人数</th>
                    <!--th ts-criteria="rating_num|parseInt" width=10%;>评分人数</th-->
                    <th ts-criteria="download_num|parseInt">下载数目</th>
                    <th></th>
                    <!--th ts-criteria="description">描述</th-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ccr in moreRes" ng-mouseenter="showDownload=true" ng-mouseleave="showDownload=false"
                    ts-repeat>
                    <td><img class="type_icon" ng-src="./statics/images/file_icon/{{ ccr.resource_name | type_icon }}">
                    </td>
                    <td width="120px">
                        <div style='width:120px' title="{{ ccr.resource_name }}"><span class="ellipsis">{{ ccr.resource_name }}</span>
                        </div>
                    </td>
                    <td ng-show="showUnivColl">
                        <div style='width:70px' title="{{ ccr.university }}"><span class="ellipsis">{{ ccr.university }}</span>
                        </div>
                    </td>
                    <td ng-show="showUnivColl">
                        <div style='width:70px' title="{{ ccr.college }}"><span
                                class="ellipsis">{{ ccr.college }}</span></div>
                    </td>
                    <td>
                        <div style='width:50px' title="{{ ccr.teacher }}"><span
                                class="ellipsis">{{ ccr.teacher }}</span></div>
                    </td>
                    <td>
                        <div style='width:80px' title="{{ ccr.tag }}"><span class="ellipsis">{{ ccr.tag }}</span></div>
                    </td>
                    <!--td>{{ ccr.ctime }}</td-->
                    <td width=7%>{{ ccr.file_size | normalize_size }}</td>
                    <td width=15% align="center">{{ ccr.rate }}/{{ ccr.rating_num }}</td>
                    <!--td width=10%;>{{ ccr.rating_num }}</td-->
                    <td width=15% align="center">{{ ccr.download_num }}</td>
                    <td width=15%>
                        <div ng-show="showDownload" class="download">
                            <!--<button ng-click="downloadHandler(ccr.file_id, ccr.download_link)" class="btn btn-success" popover-placement="top" popover-trigger="mouseenter" popover="下载"><span class="glyphicon glyphicon-download-alt"></span></button>-->
                            <a ng-href="{{'/resource/download?file_id=' +   ccr.file_id}}"
                               class="btn btn-success" popover-placement="top" popover-trigger="mouseenter"
                               popover="下载"><span class="glyphicon glyphicon-download-alt"></span></a>
                            <!--<a ng-href="#/question-detail" class="btn default" popover-placement="top" popover-trigger="mouseenter" popover="详情"><span class="glyphicon glyphicon-link"></span></a>-->
                            <a href="#/details?file_id={{ccr.file_id}}" target="_bland" class="btn default"
                               popover-placement="top" popover-trigger="mouseenter" popover="详情"><span
                                    class="glyphicon glyphicon-link"></span></a>
                            <a ng-show="{{((ccr | isPreviewAble) && (ccr | isImg))}}" target="_blank"
                               ng-href="{{'/resource/preview?file_id=' + ccr.file_id}}"
                               class="btn btn-success" popover-placement="top" popover-trigger="mouseenter"
                               popover="预览"><span class="glyphicon glyphicon-open-file"></span></a>
                            <button ng-show="{{ (ccr | isPreviewAble) && !(ccr | isImg)}}"
                               ng-click="showPreviewModal(ccr.file_id,ccr.resource_name)"
                               class="btn btn-success" popover-placement="top" popover-trigger="mouseenter"
                               popover="预览"><span class="glyphicon glyphicon-open-file"></span></button>
                        </div>
                    </td>
                    <!--td>{{ ccr.description }}</td-->
                </tr>
                </tbody>
            </table>
            <div ng-show="page.noResult" style="margin-top: 10px;text-align: center;font-size: 12px;" class="a_link">
                抱歉，未能搜索到符合条件的结果。赶紧去<a href="/#/reward" >发布悬赏</a>让小伙伴们帮你搜罗想要的资源吧！
            </div>
            <div ng-show="page.noPagination" class="pagination_div" style="position: static">
                <pagination total-items="page.total_items" ng-change="getMoreRes()" items-per-page="page.items_per_page"
                            first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size"
                            ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
                </pagination>
            </div>
        </div>
        <div class="col-md-3" ng-hide="hideSearch">
            <div class="hotsearch">
                <span style="line-height: 3;font-weight: bold;">热门搜索</span>

                <div style="line-height: 2;text-decoration: underline">
                    <p ng-repeat="h in hotKeyWords"><a href="" ng-bind="h[0]" ng-click="hotWordHandler(h[0])">搜素的字段</a><span ng-bind="h[1]" style="float: right"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
