<style>
    #rank .header {
        background: none;
        height: 40px;
        position: fixed;
        top: 40%;
        left: 95%;
        width: 100%;
        z-index: 0;
    }

    #rank .main {
        position: relative;
        top: 10px;
        z-index: 0;
        margin-right: 250px;
    }

    #rank .nav li {
        font-size: 16px;
        cursor: pointer;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 10px;
        text-align: center;
    }

    #rank .nav li:hover {
        color: #ffffff;
    }

    #rank .nav ul {
        margin: auto;
    }

    #rank .nav .active {
        background-color: #35a0ed;
        color: #ffffff;
    }

    #rank .main thead td {
        font-size: 16px;
        text-align: center;
    }

    #rank .main tbody td {
        font-size: 14px;
        text-align: center;
        cursor: pointer;
    }

    #rank .main tbody tr:hover {
        color: #35a0ed;
    }

    #rank footer{
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 0;
        background-color:#35A0ED;
        border:1px solid #eee;
        color: white;
    }

    #rank footer span {
        padding: 10px;
    }

    #rank footer .move-top{
        cursor:pointer;
    }

    #rank footer .move-top:hover{
        color:rgba(53,107,237,1);
    }

    #rank h3 {
        text-align: center;
    }

    #rank_tabShow {
        text-align: center;
        margin-top: 50px;
    }

    #rank img{
        width: 25px;
        height: 25px;
        border-radius:50%;
    }

</style>
<div ng-controller="rankController">
    <div ng-if="showUpdate" id="rank_tabShow"><h3>抱歉，榜单正在更新中......</h3></div>
    <div id="rank">
        <!--主体部分-->
        <div class="main">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <table class="table table-hover" id="sumList" ng-show="showTab(2)">
                        <thead ng-hide="showUpdate">
                        <tr>
                            <td>排名</td>
                            <td>用户名</td>
                            <td>学校</td>
                            <td>学习F币</td>
                            <td>可兑换金额（元）</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in FListDate" ng-style="{color:$index<10? 'red':'default'}" ng-click="goToUser(x.user)" title="访问用户主页">
                            <td><span><img ng-src="{{x.icon}}"
                                           onerror="this.src='/statics/images/user_icon/34.jpg'"></span><span
                                    ng-bind="$index+1"></span></td>
                            <td ng-bind="x.real_name? x.real_name:x.nick_name"></td>
                            <td ng-bind="x.university? x.university:'未知'"></td>
                            <td ng-bind="x.delta"></td>
                            <td ng-bind="x.delta|rankFilter"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <to-top></to-top>
    </div>
</div>
