  <div class="container extern details">
      <div class="quick-nav" ng-controller="QuickNavController">
        <div ng-bind-html="navs"></div>
      </div>
    <!--style type="text/css">
    .container{
      width: 100%;
    }
    .extern{
      padding: 10px 120px 0px;
      width:100%;
    }
    </style-->
    <style type="text/css">
      .thumb-button {
          display: inline-block;
          border: 1px solid #D3D3D3;
          font-size: 18px;
          width: 80px;
          line-height: 33px;
          float: right;
          border-radius: 4px;
          margin-right: 5px;
          margin-bottom: 5px;
          cursor: pointer;
      }

      .thumb-button img {
        margin-left: 3px;
        margin-right: 6px;
      }

      .thumbed {
        background: #D3D3D3;
        cursor: inherit;
      }
    </style>
    <div class="details-resource">
      <div class="row">
        <div class="col-md-2">
          <img class="details-poster" ng-src="{{details_info.img}}">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <label  ng-bind="details_info.resource_name">资源名</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><label>资源描述：</label>

              <span ng-bind="details_info.description"></span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="details-info">
        
        <div class ="row">
          <div class="col-md-4"><label>文件名：</label><span title="{{details_info.filename}}" ng-bind="details_info.filename"></span></div>
          <div class="col-md-4"><label>大小：</label><span ng-bind="normalizeFileSize(details_info.file_size)"></span></div>
          <div class="col-md-4"><label>上传者：</label><span ng-bind="details_info.uploader_nick"></span></div>
        </div>
        <div class="row">
          <div class="col-md-4"><label>学校：</label><span ng-bind="details_info.university"></span></div>
          <div class="col-md-4"><label>院系：</label><span ng-bind="details_info.college"></span></div>
          <div class="col-md-4"><label>授课教师：</label><span ng-bind="details_info.teacher">30</span></div>
        </div>
        <div class="row">
          <div class="col-md-4"><label>课程名：</label><span ng-bind="details_info.course"></span></div>
          <div class="col-md-4"><label>资源标签：</label><span ng-bind="details_info.tag"></span></div>
          <div class="col-md-4"><label>下载次数：</label><span ng-bind="details_info.download_num"></span></div>
        </div>
        <div class="row">
          <div class="col-md-4"><label>上传时间：</label><span ng-bind="details_info.ctime"></span></div>
          <div class="col-md-4"><label>评分：</label><span ng-bind="details_info.rate.toFixed(2)+'(共有'+details_info.rating_num+'人评分)'"></span></div>
              <!--<div class="col-md-4"><label>评分人数：</label><span ng-bind="details_info.rating_num"></span></div>-->
              <div class="col-md-4"><label>资源年份：</label><span ng-bind="(details_info.year == '' || details_info.year == undefined)?'未提供':details_info.year + '年'"></span></div>
        </div>
        <div class="row">
         <div class="col-md-4"><label>我来评分：</label><input id="input-rating" style="display:inline-block;"></div>
         <div class="col-md-1">
             <a type="button"  target="_blank" ng-href="{{'/resource/preview?file_id=' + details_info.file_id}}" ng-show="(details_info | isPreviewAble )&& (details_info | isImg)" class="btn primary download ng-cloak">预览</a>
             <a type="button"   ng-click="showPreviewModal(details_info.file_id,details_info.filename)" ng-show="(details_info | isPreviewAble) && !(details_info | isImg)" class="btn primary download ng-cloak">预览</a>
         </div>
         <!--<div class="col-md-1"><button type="button" ng-click="downloadHandler()" class="btn primary download">下载</button></div>-->
         <div class="col-md-1"><a type="button" ng-href="{{'/resource/download?file_id=' + details_info.file_id}}"  target="_blank" class="btn primary download">下载</a></div>
         <div class="col-md-1"></div>
         <div class="col-md-5">
          <div class="bdsharebuttonbox" data-tag="share_1">
            <a class="bds_mshare" data-cmd="mshare"></a>
            <a class="bds_qzone" data-cmd="qzone" href="#"></a>
            <a class="bds_tsina" data-cmd="tsina"></a>
            <a class="bds_baidu" data-cmd="baidu"></a>
            <a class="bds_renren" data-cmd="renren"></a>
            <a class="bds_tqq" data-cmd="tqq"></a>
            <a class="bds_more" data-cmd="more">更多</a>
            <a class="bds_count" data-cmd="count"></a>
          </div>
        </div>
      </div>

      

    </div>


  </div>
  <div>

    <ul class="nav nav-tabs">
      <li class="active"><a  data-toggle="tab">参与评论</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="comment">
        <div class="form-group">
          <form name="comment_form">
            <textarea name="comment_new"  ng-model="comment_new" placeholder="说点啥吧..."  style="resize: none"></textarea>
            <button class="btn primary" ng-disabled="comment_form.$invalid" ng-click="post_comment(comment_new)">发布</button>
            <div class="thumb-button" ng-click="thumbDown()" ng-class="{thumbed:thumbDowned()}"><img src="//test.friendsbt.com/statics/img/thumbdown.gif" />{{ thumb_down_num }}</div>
            <div class="thumb-button" ng-click="thumbUp()"  ng-class="{thumbed:thumbUped()}"><img src="//test.friendsbt.com/statics/img/thumbup.gif" />{{ thumb_up_num }}</div>
          </form>
        </div>
      </div>
    </div>

    <div>

      <ul class="nav nav-tabs">
        <li class="active"><a  data-toggle="tab">全部评论&nbsp;({{details_info.comment_num}})</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="comments">
          <div class="no-comments" ng-show="isCommentEmpty">暂无评论</div>
          <div class="details-comments" ng-repeat="comment in comments">
            <img class="details-logo" ng-src="{{comment.user_icon}}">
            <div class="info">
              <span ng-bind="comment.nick_name">校园星空</span>
              <span ng-bind="comment.ctime">2012-12-12 22:22</span>
              <div ng-bind="comment.content">好资源,大家抓紧时间下载</div>
            </div>
          </div>
          <div class="pages-nav" ng-show="isPaginationVisible">
            <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
            </pagination>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="bottom"></div>
</div>
