<div id="experienceEdit">
  <div ng-controller="experienceEditController" ng-init="init();">
    <div class="container">
      <form role="form" name="ExpForm">
        <div class="row row-margin">
          <div class="col-md-8">
            <div class="input-group">

              <!--<div class="input-group-btn">-->
              <!--  <select name="tag" ng-options="c for c in classes" required>-->
              <!--    <option value="">选择分类</option>-->
              <!--  </select>-->
              <!--</div>-->
              <input type="hidden" name="classSelect"  ng-pattern="/^(?!选择分类)/" ng-model="formdata.c"/>
              <!-- /input 用来验证是否选择了分类 -->
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                    {{formdata.class2}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="class" ng-repeat="c in classes track by $index">
                    <a ng-click="selectClass(c)" ng-bind="c">
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /btn-group -->

              <input type="text" name="title" class="form-control" ng-model="formdata.title" placeholder="标题"  ng-maxlength="120" required/>
            </div>
            <!-- /input-group -->

          </div>
          <!-- /col-md-8 -->

          <div class="col-md-4">
            <button class="btn btn-default" ng-click="addTag();">添加标签</button>
          </div>
          <!-- /col-md-4 -->

        </div>
        <!-- /row -->

        <div class="row row-margin tags">
          <span class="glyphicon glyphicon-tags"></span>
          <span ng-repeat="tag in formdata.tags track by $index" ng-bind="tag" ng-click="removeTag(tag)" title="点击删除"></span>

          <input type="hidden" name="tagsLength" ng-model="formdata.tags.length" ng-pattern="/[1-9]\d?/" />
          <!-- /input 用来验证至少有一个tag -->
          
        </div>
        <!-- /row -->

        <div class="row row-margin">
          <rte></rte>
          <input type="hidden" name="contentLength" />
        </div>

        <div class="row row-margin ">
          <button class="btn  col-md-1 col-md-offset-8" ng-click="cancel();">取消</button>
          <button class="btn primary col-md-1 col-md-offset-1" ng-disabled="ExpForm.$invalid" ng-click="deploy();">发布</button>
        </div>

      </form>

    </div>
    <!-- /container -->

  </div>
  <!-- /rteController -->

</div>
