<style type="text/css">
    #fmall {
        font-size: 16px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #fmall span {
        display: block;
        line-height: 24px;
    }

    #fmall .ident {
        text-indent:50px;
    }

    #fmall .title {
        clear: both;
        font: bold 18px/60px "Microsoft YaHei","黑体";
        text-align: left;
        color: #35A0ED;
    }
    #fmall .title:before {
        content: "| ";
    }
    #fmall .content-inline .subtitle {
        clear: both;
        font: bold 14px/25px "Microsoft YaHei","黑体";
        text-align: left;
        color: #35A0ED;
    }
    #fmall .content-inline {
        text-align: left;
        font: 14px/25px "Microsoft YaHei","黑体";
        text-align: center;
    }

    #fmall .content-inline img {
        height: 180px;
        border-radius: 5px;
        border: 1px solid #35A0ED;
    }

     #fmall .indicators {
        position: fixed;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
        background-color: lightgray;
      }
      #fmall .indicators li {
        line-height: 30px;
      }
      #fmall .indicators a {
        display: block;
        text-align: center;
        text-decoration: none;
      }
      #fmall .indicators span {
        padding: 5px 10px;
        color: black;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
      #fmall .indicators .active {
        background: #35A0ED;
        color: white;
      }
      @media screen and (min-width: 768px) {
        #fmall .indicators {
          right: 11px;
        }
        #fmall .indicators li {
          line-height: 22px;
        }
      }
      @media screen and (min-width: 1152px) {
        #fmall .indicators {
          right: 25px;
        }
      }

      #fmall .page_container {
        margin: 0 15px;
        padding-left: 70px;
        padding-right: 70px;
      }

#fmall .carousel-control.left {
    background-image: linear-gradient(to right, rgba(49, 204, 230, 0.35) 0px, rgba(224, 207, 22, 0) 100%);
    cursor: pointer;
}

#fmall .carousel-control.right {
    background-image: linear-gradient(to right, rgba(224, 207, 22, 0) 0px, rgba(49, 204, 230, 0.35) 100%);
    cursor: pointer;
}

#fmall .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 15%;
}

#fmall .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 15%;
}

</style>
<div class="container" id="fmall" ng-controller="NestedSnapscrollController" keyboard-keys>
    <div class="nested" snapscroll snap-index="nestedSnapIndex" ng-swipe-up="swipeUp($event)" ng-swipe-down="swipeDown($event)" ng-style="{'height': workspaceHeight}">

        <div class="page_container">

    <div class="row">
        <div class="title">兑换奖品 <span style="display: inline;color:#666;font-size: 16px;font-weight: normal"> 上传学习资源到校园星空，奖励您大额F币。奖励详情请点击右侧中间“规则”。</span></div>
        <div>
            <carousel interval="1500">
              <slide>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">U盘腕带8G版</div>
                <p>4000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-1.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">富德V189无线鼠标</div>
                <p>5000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-2.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">东芝超薄1T移动硬盘</div>
                <p>70000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-3.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">金满福H2带麦线控入耳式金属耳机</div>
                <p>2600F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-4.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">大盘双机芯腕表</div>
                <p>12000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-5.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">创意水能钟</div>
                <p>2400F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-6.jpg" /></p>
                </div>
              </slide>
              <slide>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">创意LED腕表</div>
                <p>14000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-7.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">YKI命运罗盘腕表</div>
                <p>14000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-8.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">品能PN-913移动电源1万mAh</div>
                <p>12000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-9.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">入耳式运动耳机</div>
                <p>2000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-10.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">无线蓝牙音箱插卡迷你音响低音炮小收音机</div>
                <p>12000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-11.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">小米移动电源10000毫安</div>
                <p>14000F</p>
                <p><img src="http://test.friendsbt.com/static/img/fmall-12.jpg" /></p>
                </div>
              </slide>
             <slide>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">三体全集</div>
                <p>10000F</p>
                <p><img src="http://test.friendsbt.com/static/img/3t.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">金属超小巧20000毫安充电宝</div>
                <p>18000F</p>
                <p><img src="http://test.friendsbt.com/static/img/cdb.jpg" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">FBT蝙蝠侠</div>
                <p>7000F</p>
                <p><img src="http://test.friendsbt.com/static/img/FBT蝙蝠侠.png" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">FBT法拉利</div>
                <p>7000F</p>
                <p><img src="http://test.friendsbt.com/static/img/FBT法拉利.png" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">FBT海贼王</div>
                <p>7000F</p>
                <p><img src="http://test.friendsbt.com/static/img/FBT海贼王.png" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">FBT花花公子</div>
                <p>7000F</p>
                <p><img src="http://test.friendsbt.com/static/img/FBT花花公子.png" /></p>
                </div>
              </slide>
             <slide>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">男款FBT卡通兔</div>
                <p>10000F</p>
                <p><img src="http://test.friendsbt.com/static/img/男款FBT卡通兔.png" /></p>
                </div>
                <div class="content-inline col-md-4" style="margin-bottom: 16px">
                <div class="subtitle">女款FBT卡通兔</div>
                <p>10000F</p>
                <p><img src="http://test.friendsbt.com/static/img/女款FBT卡通兔.png" /></p>
                </div>
              </slide>
            </carousel>
          </div>
    </div>
</div>

    <div class="page_container">
        <div class="row">
            <div class="title">兑换现金</div>
            <span>2000F 可兑换现金 10元</span>
            <span>3900F 可兑换现金 20元</span>
            <span>9700F 可兑换现金 50元</span>
            <span>19000F 可兑换现金 100元</span>
        </div>
        <div class="row">
        <div class="title">兑换规则</div>
        <p><span style="color:red;display: inline;font-weight:bold;">所有用户学习F币大于2000F的部分，可以兑换相应礼品。</span>兑换前校园星空会审查兑换者账户，存在恶意刷分行为，将取消其兑换资格并对其账户立即封号。本次活动所有解释权归校园星空所有。</p>
        </div>
        <!--
        <div class="row">
        <div class="title">近期兑换用户(15年7月1日更新)</div>
            <div class="col-md-4">divgycgsyn@163.com</div><div class="col-md-2">兑170元</div>
            <div class="col-md-4">gobelievego@163.com</div><div class="col-md-2">兑20元</div>
            <div class="col-md-4">yin_ranyu@qq.com</div><div class="col-md-2">兑100元</div>
            <div class="col-md-4">1179630264@qq.com</div><div class="col-md-2">兑70元 </div>
            <div class="col-md-4">chenjinlei12345678@163.com</div><div class="col-md-2">兑换8G手环一个</div>
            <div class="col-md-4">lxdivcindy@163.com</div><div class="col-md-2">兑换100元 </div>
            <div class="col-md-4">cecilia.liang05@gmail.com</div><div class="col-md-2">兑换50元</div>
            <div class="col-md-4">254083906@qq.com</div><div class="col-md-2">兑换8G手环两个</div>
            <div class="col-md-4">2963485468@qq.com</div><div class="col-md-2">兑换无线鼠标一个 </div>
            <div class="col-md-4">869542059@qq.com</div><div class="col-md-2">兑换50元</div>
            <div class="col-md-4">chenzh01@163.com</div><div class="col-md-2">兑换100元</div>
            <div class="col-md-4">ustb2013shuxue@163.com</div><div class="col-md-2">兑换8G手环一个</div>
            <div class="col-md-4">2289817456@qq.com</div><div class="col-md-2">兑换210元</div>
        </div>
        -->
    </div>

        <div class="page_container">
            <div class="row">
                <div class="title" id="rule" name="rule">学习F币奖励规则</div>
                <span>1、首发以下任意类别资源，审核通过后每个资源奖励100F（中）200F（良）,500F(优)；后续上传者奖励按100F/个。往届考题和期末大作业，内容较完整者，直接奖励1000F。</span>
                    <span class="ident">A、课后作业及答案</span>
                    <span class="ident">B、课堂笔记</span>
                    <span class="ident">C、学习心得</span>
                    <span class="ident">D、往届考题</span>
                <span>2、首发某课程内以下任意类别资源，审核通过后每个奖励5F（中）,20F（良）,50F(优)；后续上传者奖励按照5F/个。</span>
                    <span class="ident">A、电子书或文献</span>
                    <span class="ident">B、课程课件</span>
                    <span class="ident">C、TED</span>
                    <span class="ident">D、软件教学</span>
                <span>3、下载次数超过100的资源，奖励200F。超过500的奖励1000F。</span>
                <span>4、举报不符合上传规则的劣质资源，核实后奖励第一个举报者100F/个。</span>
            </div>
            <div class="row">
                <div class="title">学习F币惩罚规则</div>
                <span>上传前请查看上传规则，不符合上传规则的资源被审核发现或被举报，扣除上传者500-10000F.严重者封号！</span>
            </div>
            <div class="row">
                <div class="title">资源优劣评价标准</div>
                <span>中：无时间限制；资源较完整；描述较详细；容易在其他平台找到</span>
                <span>良：最近两年；资源很完整；描述较详细；不容易在其他平台找到</span>
                <span>优：最近一年；资源很完整；描述很详细；在其他平台找不到</span>
            </div>
        </div>

        <div class="page_container">
    <div class="row">
    <div class="title">兑换事宜请联系校园星空客服</div>
    <p><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3124201561&amp;site=qq&amp;Menu=yes" target="_blank"><img src="http://test.friendsbt.com/static/img/qq-logo.png" style="width: 30px;"/></a></p>
    <p>如果以上QQ图标无法点击，请手动加QQ号：3124201561</p>
    </div>
    <div class="row">
        <div class="title">【实习院长招聘】</div>
	<p>校园星空招募各个学校院系课程资源建设的负责人（实习院长)，以院系为单位，实习院长专注本人所在院系的课程资源建设。报名即奖励1000F。2016年1月20日左右，根据各个院系实习院长的参与情况，从实习院长中升级一名正式院长，奖励10000F，1~3名院长助理，奖励3000F。任职期间按本院系所有同学上传所得总F币的10%~20%给额外F币奖励（院长20%，院长助理10%）。欢迎加入校园星空实习院长群，群号码：491589986</p>
    </div>
</div>

</div>

    <ul class="indicators">
      <li><a ng-click="nestedSnapIndex=0"><span ng-class="{active: nestedSnapIndex == 0}">奖品</span></a></li>
      <li><a ng-click="nestedSnapIndex=1"><span ng-class="{active: nestedSnapIndex == 1}">兑换</span></a></li>
      <li><a ng-click="nestedSnapIndex=2"><span ng-class="{active: nestedSnapIndex == 2}">规则</span></a></li>
      <li><a ng-click="nestedSnapIndex=3"><span ng-class="{active: nestedSnapIndex == 3}">联系</span></a></li>
    </ul>
</div>
