<!-- vim: set sw=2 ts=2 : -->
<!-- <div class="banner">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      悬赏啊悬赏，悬赏啊悬赏。
      悬赏啊悬赏，悬赏啊悬赏。
    </div>
    <div class="col-md-5">
      <a class="btn" href="#/myreward">A</a>
      <a class="btn" ng-click="publishRewardClickHandler()">B</a>
    </div>
    <div class="col-md-1"></div>
  </div>
</div> -->

<style>

    #label {
        font-size: 16px;
    }
    #label article{
        line-height: 1.5em;
        height: 4.5em;
        overflow: hidden;
        padding-bottom: 20px;
        text-align: justify;
        margin-left: 30px;
        display: block;
    }
    #label .more{
        display: block;
        margin:5px 0 auto 20px;
        font-weight: bold;
        text-align: right;
    }
    #label .right {
        text-align: center;
    }
    #label .nav {
        margin-top: 20px;
    }
    #label .link {
        display: block;
        color: orange;
        text-decoration: underline;
        text-align: right;
        padding: 15px 0 auto 3px;
        margin-top: 10px;
    }
    #label .link:hover {
        text-decoration: none;
        cursor: pointer;
        color: #CCCCCC;
    }
    #label .border {
        border-bottom: 2px solid #ccc;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
        border-top: 2px solid lightgrey;
        font-size: 16px;
        width: 23%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
    #label .col-md-6 {
        border-top: 1px solid #ccc;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #label .hover {
        background-color: #ffffff;
    }
    #label .hover:hover {
        background-color: #CCCCCC;
        color: #FFFFFF;
        cursor: pointer;
    }
    #label img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    #label .nav .border {
        width: 11%;
        border: 1px solid #ccc;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        cursor: pointer;
    }
    #label .switch-list ul {
        border-bottom: 1px solid #CCCCCC;
    }
    #label .switch-list li {
        padding-bottom: 10px;
        margin-left: 30px;
        margin-right: 30px;
        cursor: pointer;
    }
    #label .switch-list li:hover,
    #label .switch-list .active {
        border-bottom: 2px solid #35a0ed;
    }
    #label .right div {
        border: 1px solid #CCCCCC;
        cursor: pointer;
        padding: 5px 5px;
    }
    #label .right div:hover {
        background-color: #CCCCCC;
        color: #FFFFFF;
    }
    #label .right ul {
        left: 25px;
        background-color: #FFFFFF;
        padding: 0px 0px;
        border-radius: 0%;
        font-size: 16px;
        text-align: center;
    }
    #label .right li {
        width:153px;
        line-height: 3;
        cursor: pointer;
        border: solid lightgrey 1px;
    }
    #label .right li:hover {
        background-color: #CCCCCC;
        color: #FFFFFF;
    }
    #label .down .content ul:hover {
        cursor: pointer;
    }
    #label .down .content .border {
        border: 1px solid #ccc;
    }
    #label .down .content .border-top span {
        top: 2px;
    }
    /*模态框的样式*/
    #label .down .content p {
        padding: 15px 0px;
    }
    #label .down .content .border-top {
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid lightgrey;
        padding: 10px 0px;
    }
    #label .border-right{
        border-right: solid 1px lightgrey;
    }
    #label .down .content .border-top:hover {
        cursor: pointer;
        background-color: #eeeeee;
    }
    #label #labelModal .modal-dialog {
        width: 600px;
    }
    #label #labelModal ul {
        margin-top: 20px;
        border-bottom: 1px solid #cccccc;
        text-align: center;
    }
    #label #labelModal li {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    #find #findModal .marks {
        border: 1px solid #CCCCCC;
        width: 20%;
        margin-left: 13px;
        margin-right: 10px;
        margin-top: 15px;
        border-radius: 5px;
        text-align: center;
        padding: 5px 0px;
    }
    #label #labelModal li:hover {
        border-bottom: 2px solid #35a0ed;
        cursor: pointer;
    }
    #label #labelModal ul .active {
        border-bottom: 2px solid #35a0ed;
    }
    #label #labelModal .marks {
        border: 1px solid #CCCCCC;
        width: 20%;
        margin-left: 13px;
        margin-right: 10px;
    }
    #label #labelModal .marks:hover {
        background-color: #CCCCCC;
        cursor: pointer;
    }
    #label #labelModal .marks-select {
        color: #35a0ed;
        border: 1px solid #35a0ed;
        width: 20%;
        margin-left: 13px;
        margin-right: 10px;
        border-radius: 5px;
        text-align: center;
        padding: 5px 0px;
    }
    #label #labelModal .marks-select:hover {
        background-color: #35a0ed;
        color: #FFFFFF;
        cursor: pointer;
    }
    #label .modal-border {
        border: 1px solid #CCCCCC;
    }
    #label .modal-border:hover {
        background-color: #CCCCCC;
    }
    #label #labelModal .modal-footer button {
        padding: 10px 30px;
    }
    /*标签样式*/
    #label .list-inline li{
        border: 1px lightgrey solid;
        text-align: center;
        line-height: 3;
    }
    #label .postquestion{
        display: block;
        background-color: #35a0ed;
        color: white;
        line-height: 3;
        text-align: center;
        font-weight: bold;
        margin-right: 10px;
        width:370px;
    }
    #label .concerned{
        display: block;
        border: lightgrey 1px solid;
        width: 70px;
        padding: 5px 0px 5px 0px;
        margin-top: 10px;
    }
    #label .information{
        display: block;
        border-top: 1px solid lightgrey;
        padding: 10px 0 10px 0;
        text-align: center;
        clear:both;
    }
    #label .schools{
        margin-left: 10px;
        line-height: 2;
        display: block;
        text-align: center;
    }
    #label .ulli{
        text-align: center;
        padding:10px 0px;
    }
    #label .image{
        height:40px;
        width: 40px;
    }
    #label .time{
        display: block;
        padding-top: 20px;
    }
    #label .answer{
        color: #35a0ed;
        font-weight: bolder;
        margin-left: 0px;
    }
    #label .hot,#label .new{
        text-align: left;
        font-weight: bold;
    }
    #label .change{
        text-align: right;
        text-decoration: underline;
    }
    #label .change:hover{
        color: #999999;
        cursor: pointer;
        text-decoration: none;
    }
    #label .img45{
        height: 45px;
        width: 45px;
    }
    #label .homeask{
        line-height: 1;
        display:block;
        margin-top: -10px
    }
    #label .askpraise{
        display: block;
        font-size: .9rem;
        line-height: 2;
        padding: 0;margin: 0;
    }
    #label #userinfor{
        display: none;
        margin-left: 0;
        margin-top: 0;
        z-index: 9999;
    }
</style>
<div class="container" id="label" ng-controller="homeController" ng-init="init();">
    
    <div ng-show="page.noPagination" class="pagination_div">
      <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true"
      rotate="false">
      </pagination>
      !--div ng-show="page.noPagination" class="pagination_div">
      <pagination total-items="page.total_items" on-select-page="page.pageChanged(page)" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" page="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
      </pagination--
    </div>
</div>
    
