<!--==============================================================
  Login Modal
  ===============================================================-->
<div class="modal fade" id="login-modal" role="dialog" aria-hidden="true" ng-controller="LoginController"
     ng-init="switch2View(1)">
    <!-- switchView: 1 for login, 2 for resetPassword, 3 for register -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title title-style">
                    <h4 ng-show="switchView==1">登&nbsp;录&nbsp;<span
                            class="title-link-size title-link-position">没有账号?</span><a
                            href="" ng-click="goToHome()"><span class="title-link-color">点击注册</span></a>
                    </h4>
                    <h4 ng-show="switchView==2">重置密码<a href="" ng-click="switch2View(1)"><span
                            class="title-link-position title-link-color">返回登录</span></a></h4>
                    <h4 ng-show="switchView==3">注&nbsp;册&nbsp;<span
                            class="title-link-size title-link-position">已有账号？</span><a
                            href="" ng-click="switch2View(1)" target="_blank"><span
                            class="title-link-color">去登录</span></a>
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <form ng-show="switchView==3" class="form-horizontal" name="myForm" novalidate>
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>

                                <div class="col-sm-6">
                                    <input class="form-control" type="email" name="username" ng-model="username"
                                           placeholder="作为登录账户" required>
                                </div>
                                <label class="col-sm-3 control-label" style="color:red;text-align: left">*
                             <span ng-show="myForm.user.$dirty && myForm.user.$invalid">
                                 <span ng-show="myForm.user.$error.required">注册邮箱为空</span>
                                 <span ng-show="myForm.user.$error.email">邮箱不合法</span>
                             </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>

                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="nick" ng-model="nick" ng-maxlength=10
                                           placeholder="最多为10个字符" required>
                                </div>
                                <label class="col-sm-3 control-label" style="color:red;text-align: left">*
                            <span ng-show="myForm.nick.$dirty && myForm.nick.$invalid">
                                <span ng-show="myForm.nick.$error.required">昵称为空</span>
                                <span ng-show="myForm.nick.$error.maxlength">最多为10个字符</span>
                            </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>

                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="passwd" ng-model="passwd"
                                           ng-minlength=6
                                           placeholder="不少于6位" required>
                                </div>
                                <label class="col-sm-3 control-label" style="color: red; text-align: left">*
                            <span ng-show="myForm.passwd.$dirty && myForm.passwd.$invalid">
                                <span ng-show="myForm.passwd.$error.required">密码不能为空</span>
                                <span ng-show="myForm.passwd.$error.minlength">密码少于6位</span>
                            </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">确认密码</label>

                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="passwd2" placeholder="请再次输入密码"
                                           ng-model="passwd2" required>
                                </div>
                                <label class="col-sm-3 control-label" style="color: red; text-align: left">*
                                    <span ng-show="(myForm.passwd.$dirty || myForm.passwd2.$dirty) && (passwd != passwd2)">两次密码应该相同</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">验&nbsp;&nbsp;证&nbsp;&nbsp;码</label>

                                <div class="col-sm-3">
                                    <input class="form-control" type="text" name="captcha" ng-model="captcha"
                                           ng-pattern="/^\w{4}$/" required>
                                </div>
                                <div class="col-sm-6" style="text-align: left; color: red">*
                                    <img ng-src="{{ captchaSrc }}" ng-click="captchaChange()" title="点击更换验证码"
                                         style="cursor: pointer;">
                                </div>
                            </div>
                            <!-- 邀请人-->
                            <div class="row">
                                <label class="col-sm-3 control-label">邀&nbsp;&nbsp;请&nbsp;&nbsp;人</label>

                                <div class="col-sm-4">
                                    <input class="form-control" type="text" name="referee" ng-model="referee"
                                           placeholder="填写邀请人邮箱或真实姓名">
                                </div>
                                <div class="col-sm-2"
                                     style="padding-top: 15px;font-size:12px;color: #35a0ed;cursor: pointer;text-decoration: underline">
                            <span title="你和你的邀请人均可获得500F币奖励，你的5%F币将赠与您的邀请人！邀请越多，F币越多!" ng-click="rewardMessage()">
                                邀请奖励
                            </span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="showMessage">
                                <div class="col-sm-8 col-sm-offset-3">
                                    你和你的邀请人均可获得500F币奖励，你的5%F币将赠与你的邀请人！<a href="http://friendsbt.com/fmall.html"
                                                                         target="_blank" class="title-link-color"
                                                                         title="F币规则">(F币规则)</a>邀请越多，F币越多!
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label"></label>

                                <div class="col-sm-8">
                                    <input type="checkbox" ng-init="agreement=1" name="agreement" ng-model='agreement'
                                           ng-true-value=1
                                           ng-false-value=0>
                                    <a href="http://friendsbt.com/agreement.htm" target="_blank">我已阅读并接受注册协议</a>
                                </div>
                            </div>
                            <div class="col-sm-offset-3 col-sm-6">
                                <span style=" color: red;" ng-bind="register_info"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <form ng-show="switchView!=3" novalidate name="login">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="row">
                                <label ng-show="switchView==2" class="margin-left;">通过邮箱来重置密码。</label>

                                <div class="input-group col-sm-8 col-sm-offset-2">
                                    <div class="input-group-addon"><i class="fa fa-lg fa-user fa-fw"></i></div>
                                    <input class="form-control" type="email" name="username" ng-model="username"
                                           placeholder="请输入登录邮箱" required style="border:1px solid #bbb"/>
                                </div>
                            </div>
                            <div class="row" ng-show="switchView==1">
                                <div class="input-group col-sm-8 col-sm-offset-2">
                                    <div class="input-group-addon"><i class="fa fa-lg fa-lock fa-fw"></i></div>
                                    <input class="form-control" type="password" name="password" ng-model="password"
                                           ng-keyup="keyupHandler($event)" placeholder="请输入密码" required/>
                                </div>
                            </div>

                            <div class="login-option">
                                <!--<label ng-show="switchView==2">通过邮箱来重置密码。</label>-->
                                <label class="remember margin-left" ng-show="switchView==1"><input type="checkbox"
                                                                                                   ng-model="savepwd"/><span>记住我</span></label>
                                <label class="login-errtip">
                            <span ng-hide="login.username.$invalid || (switchView==1 && login.password.$invalid)"
                                  ng-bind="errtip"></span>
                                    <span ng-show="login.username.$dirty && login.username.$error.required">*邮箱不能为空</span>
                                    <span ng-show="login.username.$dirty && login.username.$error.email">*邮箱格式不正确</span>
                                    <span ng-show="switchView==1 && login.password.$dirty && login.password.$error.required">*密码不能为空</span>
                                </label>
                                <a ng-show="switchView==1" ng-click="switch2View(2)" class="margin-right">忘记密码?</a>
                                <!--<a ng-show="switchView==2" ng-click="switch2View(1)">返回登录</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal">取消</button>
                <button class="btn default primary" ng-show="switchView==1"
                        ng-disabled="(login.username.$dirty && login.username.$invalid)
                || (login.password.$dirty && login.password.$invalid)"
                        ng-click="loginHandler()">登录
                </button>
                <button class="btn default primary" ng-show="switchView==2"
                        ng-disabled="(login.username.$dirty && login.username.$invalid)" ng-click="resetPwdHandler()">重置
                </button>
                <button class="btn default primary" ng-show="switchView==3" ng-click="registerSubmit()"
                        ng-disabled="myForm.user.$invalid || myForm.nick.$invalid || myForm.passwd.$invalid|| (passwd != passwd2) || !agreement">注册
                </button>
            </div>
        </div>
    </div>
</div>
</div> <!-- Login Modal end.-->

<!-- 登出模态框（Modal） -->
<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LoginController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    主人&nbsp&nbsp&nbsp&nbsp您真的要退出登录吗？
                </h4>
            </div>
            <div style="text-align:center">
                <img src="//test.friendsbt.com/statics/img/dontleave.jpg" style="width:268px;height:155px;">
            </div>
            <div class="errtip" ng-bind="logouterr"></div>
            <div class="modal-footer">
                <button type="button" class="btn default"
                        data-dismiss="modal">再陪你一会儿
                </button>
                <a type="button" class="btn primary" ng-click="logoutHandler()">
                    是的
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->

    <script type="text/ng-template" id="changePassword.html">
        <div class="modal-header">
            <div class="row">
                <button class="close" data-ng-click="close()">&times;</button>
                <div class="col-xs-9">
                    <h4 class="modal-title">
                        更改密码
                    </h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form name="changePwd" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">原始密码</label>

                    <div class="col-sm-8">
                        <input class="form-control" name="originPwd" data-ng-model="originPwd" type="password"
                               placeholder="原始密码" required/>
                    </div>
                    <label class="col-sm-1 control-label" style="text-align: left; color: red">*</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">新密码</label>

                    <div class="col-sm-8">
                        <input class="form-control" name="newPwd" data-ng-model="newPwd" type="password"
                               placeholder="新密码" required/>
                    </div>
                    <label class="col-sm-1 control-label" style="text-align: left;color: red">*</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">确认密码</label>

                    <div class="col-sm-8">
                        <input class="form-control" name="confirmPwd" data-ng-model="confirmPwd" type="password"
                               placeholder="确认密码" required/>
                    </div>
                    <label class="col-sm-1 control-label" style="text-align: left;color: red">*</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">验证码</label>

                    <div class="col-sm-3">
                        <input class="form-control" type="text" name="captcha" ng-model="captcha"
                               ng-pattern="/^\w{4}$/" required>
                    </div>
                    <div class="col-sm-5" style="text-align: left; color: red">*
                        <img ng-src="{{ captchaSrc }}" ng-click="captchaChange()" title="点击更换验证码"
                             style="cursor: pointer;">
                    </div>
                </div>
                <div class="errtip" style="color:red; text-align: center">
                    <span data-ng-show="changePwd.originPwd.$dirty && changePwd.originPwd.$invalid">*原始密码不能为空</span>
                    <span data-ng-show="changePwd.newPwd.$dirty && changePwd.newPwd.$invalid">*新密码不能为空</span>
                    <span data-ng-show="changePwd.confirmPwd.$dirty && changePwd.confirmPwd.$invalid">*确认密码不能为空</span>
                    <span data-ng-show="changePwd.captcha.$dirty && changePwd.captcha.$invalid">*验证码不能为空或格式不对</span>
                    <span data-ng-bind="errtip"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button data-ng-disabled="changePwd.originPwd.$invalid || changePwd.newPwd.$invalid || changePwd.confirmPwd.$invalid"
                    data-ng-click="savePwd(originPwd, newPwd, confirmPwd)" class="btn default primary">确认
            </button>
        </div>
    </script>
</div>
