<!--
<style>

    .home {
        color:#000000;
        letter-spacing: 1px;
    }

    .home .top {
        height: 250px;
        background-color: #35a0ed;
        color:#FFFFFF;
        letter-spacing: 3px;
    }

    .home .top a {
        color: #FFFFFF;
        text-decoration: underline;
    }

    .home .top a:hover {
        text-decoration: none;
        color: #000000;
    }

    .home .back-color {
        background-color: #35a0ed;
        text-align: center;
        color: #FFFFFF;
    }

    .home .left {
        text-shadow: 2px 2px 2px #000000;
        padding-top: 50px;
    }

    .home .back-color-grey p {
        background-color: #f4f6f6;
        text-align: left;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .home .top .middle {
       margin-top: 220px;
        margin-left: 20px;
    }

    .home .top .right {
        margin-top: 10px;
        margin-left: 20px;
    }

    .home .top .right li {
        text-align: center;
    }


    .home .top  .right .img img {
        padding: 15px 15px;
        width:70px;
        height: 70px;
    }

    .home .body .to-left {
        top: 3px;
        left: 10px;
    }

    .home .body .to-right {
        top:3px;
        right: 10px;
    }

    .home .body {
        margin-top: 15px;
    }

    .home .body a {
        color:#000000;
        text-decoration: underline;
    }

    .home .body a:hover {
        text-decoration: none;
        color:#35a0ed;
    }

    .home .footer {
        margin-top: 40px;
        padding-bottom: 30px;
    }

    .home .footer li {
        text-align: center;
        color:#666;
    }

    .home .footer li a:hover {
        color: #35a0ed;
    }

</style>
<div class="home">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 left">
                    <span class="glyphicon glyphicon-star btn-lg" style="left: 300px;top:60px"></span>
                    <span class="glyphicon glyphicon-star btn-sm" style="left: -180px;top:10px"></span>
                    <span class="glyphicon glyphicon-star btn-sm" style="left: 30px;top:-40px"></span>
                    <span class="glyphicon glyphicon-star" style="left: 300px;top:0px"></span>
                    <h1>校园星空</h1>
                    <br>
                    <h4>中国最大的学习资源分享社区</h4>
                </div>
                <div class="col-md-2 middle">
                    <a href="/#schools">直接进入校园星空</a>
                </div>
                <div class="col-md-4 right" >
                    <ul>
                        <li>
                            <img src="statics/images/logo.jpg">
                        </li>
                    </ul>
                    <ul style="background-color: #08846B" class="img">
                        <li>
                            <img src="statics/images/university/1001.jpg">
                            <img src="statics/images/university/1002.jpg">
                            <img src="statics/images/university/1022.jpg">
                            <img src="statics/images/university/1006.jpg">
                        </li>
                        <li>
                            <img src="statics/images/university/6001.jpg">
                            <img src="statics/images/university/1003.jpg">
                            <img src="statics/images/university/1004.jpg">
                            <img src="statics/images/university/3001.jpg">
                        </li>
                        <li style="padding-bottom: 10px"><a href="/#schools">已有256所高校加入 共33160门课程</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 back-color-grey" style="margin-top: 70px;left: 80px">
                    <p style="text-align: right">参与所在高校的课程<b><a href="/#schools">[讨论]</a></b><span class="glyphicon glyphicon-comment btn-lg to-right"></span></p>
                    <p style="text-align: right" ><b><a href="/#schools">[上传]</a></b>珍稀资源，学霸进阶<span class="glyphicon glyphicon-upload btn-lg to-right"></span></p>
                </div>
                <div class="col-md-2 ">
                   <div class=" back-color" style=" padding: 8px 10px;">
                       学霸养成之路
                   </div>
                    <p style="text-align: center">
                        <canvas id="line" height="250"  width="10"></canvas>
                        <span style="margin-left: -20px">
                            <canvas id="line-to" height="10" width="20"></canvas>
                        </span>
                    </p>
                </div>
                <div class="col-md-4 back-color-grey" style="margin-top: 30px;margin-left: -82px">
                    <p><b><span class="glyphicon glyphicon-download-alt btn-lg to-left"></span><a href="/#schools">[下载]</a></b>所学课程的学霸资源</p>
                    <p><span class="glyphicon glyphicon-question-sign btn-lg to-left"></span>知之为知之不知为不知，参与<b><a href="/#schools">[问答]</a></b></p>
                    <p><span class="glyphicon glyphicon-jpy btn-lg to-left"></span>参与<b><a href="/#schools">[悬赏]</a></b>，做校园星空的建设者</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 back-color" style="margin-top: -17px">
                    <span class="glyphicon glyphicon-education btn-lg to-left"></span>出没各大高校，答疑疑惑，上传资源，神一样的存在
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
            <li>​京ICP备15035152号-1</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var c=document.getElementById("line");
    var cxt=c.getContext("2d");
    cxt.strokeStyle = 'rgba(26,188,156,1)';
    cxt.lineWidth = 2;
    cxt.moveTo(5,0);
    cxt.lineTo(5,250);
    cxt.stroke();

    var c=document.getElementById("line-to");
    var cxt=c.getContext("2d");
    cxt.strokeStyle = 'rgba(26,188,156,1)';
    cxt.lineWidth = 2;
    cxt.lineJoin="round";
    cxt.moveTo(0,0);
    cxt.lineTo(10,10);
    cxt.lineTo(20,0);
    cxt.stroke();

    $('#myModal').modal(options)
</script>
-->
<style>
    .home {
        color:#000000;
        letter-spacing: 1px;
        font-family: "Microsoft YaHei light", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        font-size: 14pt;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .home .alipic{
        display: none;;
        width: 553px;
        height: 314px;
        background: url('//test.friendsbt.com/statics/images/ali.jpg')no-repeat;
        cursor:pointer;
        z-index: 9998;
        position: absolute;
        margin-top:0px;
        margin-left: 0px;
    }
    .home .closebtn{
        display: block;
        position: absolute;
        margin-top: -550px;
        margin-left: 940px;
        height: 20px;
        width: 20px;
        z-index: 9999;
    }
    .home .background1{
        color: white;
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        background: url('//test.friendsbt.com/statics/images/home.png')repeat-x;
        padding: 80px 120px 0 40px;
    }
    .home .font,.home .login{
        display: block;
    }
    .home .font>p{
        margin-top: 20px;
        text-align: center;
        font-size: 3rem;
    }
    .home p:first-child{
        font-size: 5rem;
    }
    .home .login input{
        display: block;
        margin-bottom: 10px;
        border: 1px white solid;
        text-align: left;
        background-color: rgba(0,0,0,0);
    }
    .home .btn-lg{
        border-radius: 0;
        background-color: rgba(0,0,0,0);
        border: 1px white solid;
    }
    .home .btn-lg:hover{
        background: rgba(110,110,110,0.5);
    }
    .home .register button{
        border: none;
        padding: 10px 0 10px 0;
        background-color: rgba(0,0,0,0);
    }
    .home .register button:hover{
        color:lightgrey;
        text-decoration: underline;
    }
    .home .register button:first-child{
        text-align: left;
    }
    .home .register button:last-child{
        text-align: right;
    }
    .home .background2{
        background-color: green;
        display: block;
        height: 10px;
        width: 10px;
        z-index: 9999;
        float: left;
    }
</style>
<div class="home">

    <div class="background1 ">
        <div class="col-md-6 font">
            <p>校园星空 </p>
            <p> 让每个大学生都理所应当的发光</p>
        </div>
        <div class="col-md-3 col-md-offset-3 login">

            <div class="input-group input-group-lg">
                <input type="text" class="form-control col-md-12" placeholder="邮箱 或 FBT账号">
            </div>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control col-md-12" placeholder="密码">
            </div>
            <div><button class="btn-lg col-md-12">登录</button></div>
            <div class="register"><button class="col-md-2">注册</button><button class="col-md-4 col-md-offset-6">忘记密码</button></div>
        </div>
    </div>

    <div class="background2" style="background-color: green;
        display: block;
        height: 10px;
        width: 10px;
        z-index: 9999;
        clear:both;">
    </div>

    <!--ali modal-->
    <div id="ali" role="dialog" aria-hidden="true">
        <div >
            <div class="modal-content">
                <div class="alipic"  onclick="window.open('http://peixun.alibaba.com/?from=studyfriendsbt.com?','_blank');">
                </div>
                <div class="closebtn">
                    <button onclick=" document.getElementById('ali').style.display='none'" type="button" class="close"
                            data-dismiss="modal" >
                        &times;&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

