<div id="message-center">
    <div class="container" ng-init="init()">
        <div class="row">
            <div class="col-md-2 to-left to-top" only-bottom>
                <div style="line-height: 2.6;color: #333;font-weight: bold" class="nav-pad-left message-title">
                    消息中心
                </div>
                <div class="nav-list nav-pad-left">
                    <div class="title">系统消息</div>
                    <div class="head">
                        <ul>
                            <li ng-class="{true:'active',false:'inactive'}[currentNav == listType[2].type]" ng-click="changeNav(listType[2].type)">问答{{questionBeAnsweredL>0? '(' + questionBeAnsweredL + ')':''}}</li>
                            <li ng-class="{true:'active',false:'inactive'}[currentNav == listType[1].type]" ng-click="changeNav(listType[1].type)">课程{{judgeArraysL>0? '('+judgeArraysL+')':''}}</li>
                            <li ng-class="{true:'active',false:'inactive'}[currentNav == listType[0].type]" ng-click="changeNav(listType[0].type)">社交{{thumbUpArraysL>0?  '('+thumbUpArraysL+')':''}}</li>
                            <!--<li ng-class="{true:'active',false:'inactive'}[currentNav == listType[3].type]" ng-click="changeNav(listType[3].type)">关注问题</li>-->
                            <li ng-class="{true:'active',false:'inactive'}[currentNav == listType[4].type]" ng-click="changeNav(listType[4].type)">通知{{rewardArraysL>0? '('+ rewardArraysL +')': ''}}</li>
                        </ul>
                    </div>
                    <div class="title">私信</div>
                    <div class="head">
                        <ul>
                            <li ng-class="{true:'active',false:'inactive'}[currentNav == listType[6].type]" ng-click="changeNav(listType[6].type)">关注的人</li>
                            <!--<li ng-class="{true:'active',false:'inactive'}[currentNav == listType[5].type]" ng-click="changeNav(listType[5].type)">最近私信</li>-->
                            <li ng-click="changeNav(listType[5].type)"><span class="blue-circle" ng-show="hasNewMsg"></span>最近私信{{privateLetterUsers.length>0? '('+privateLetterUsers.length + ')' :''}}</li>
                        </ul>
                        <!-- 这里显示私信的具体用户,循环显示-->
                        <div style="padding-left: 3em;"ng-hide="privateListHide">
                            <div class="nav-list-padding" ng-repeat="p in privateLetterUsersL">
                                <span ng-click="chatMessage(p,'1')" ng-bind="p.real_name + (p.newMsgLength>0? '('+ p.newMsgLength+ ')':'')" ng-class="{true:'active',false:'inactive'}[sendMsgTo.uid==p.uid]">张三</span>
                            </div>
                            <div class="nav-list-padding user-load-more" ng-click="loadMore()" ng-show="moreUserShow == true">
                                更多...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 main to-left" style="padding-bottom: 50px" id="main">
                <!-- 这是消息头部-->
                <div class="row" style="padding-top: 0.3em">
                    <div ng-show="message.type!=3">
                        <div class="col-sm-9 message-title" style="padding-left: 1em;line-height:2; color: #35a0ed;"ng-bind="message.title">
                        </div>
                        <div class="col-sm-3" style="padding-left: 5em;">
                            <span class="btn primary" type="button"  ng-click="markAsReadAll()" ng-show="message.type==1" title="该类别下消息全部标为已读">全部标为已读</span>
                        </div>
                    </div>
                    <div ng-show="message.type == 3">
                        <div class="col-sm-12 content-padding">发送消息给<span ng-bind="sendMsgTo.real_name">姓名</span>：</div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea placeholder="输入消息（可使用Ctrl+Enter快捷键发送）"  rows="5" class="form-control" ng-model="userMessage" name="userMessage" ng-keydown="enter($event)"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-10" style="text-align: right">
                            <span class="btn primary" type="button" ng-click="sendMessage(sendMsgTo)">发送私信</span>
                        </div>
                    </div>
                    <div class="col-sm-12 head-line"></div>
                </div>
                <!-- 这是系统消息信息列表-->
                <div class="content row" ng-show="message.type == 1" ng-repeat=" mes in currentArrays">
                    <div class="col-sm-9 content-padding" >
                        <span class="white-circle" ng-show="mes.is_read == 1"></span>
                        <span class="blue-circle" ng-show="mes.is_read == 0"></span>
                        <span ng-bind-html="mes.content"></span>
                    </div>
                    <div class="col-sm-3 content-padding" style="text-align: center">
                        <ul class="list-inline time-style">
                            <li ng-show="mes.is_read == 1" style="cursor: auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已读</li>
                            <li ng-click="markAsRead(mes)" ng-show="mes.is_read == 0">标为已读</li>|
                            <li ng-click="deleteMsg(mes)">删除</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 content-padding time-style" >
                        <span class="white-circle"></span>
                        <span ng-bind="mes.ctime"></span>
                    </div>
                    <div class="col-sm-12 bottom-line"></div>
                </div>
                <!-- 加载更多的系统消息-->
                <div ng-show="message.type == 1">
                    <div class="col-sm-12 load-more" ng-click="divCareUsers()"  ng-show="loadCareUsers"  title="点击加载更多">查看更多</div>
                    <div class="col-sm-12 no-more" ng-show="!loadCareUsers && currentArrays.length > 0">已经没有更多了</div>
                </div>
                <!-- 如果问答消息为空时，这里显示-->
                <div ng-show="currentArrays.length < 1 && message.title!= listType[7].value && message.type == 1" class="no-message">暂时没有新消息</div>
                <div ng-show="currentArrays.length < 1 && message.title==listType[7].value" class="no-result">搜索结果为空</div>
                <div ng-show="privateLetterUsersL == 0 && message.type == 0" class="no-message">最近私信为空，赶快给关注的小伙伴发私信吧</div>
                <!-- 这是关注的人/私信功能-->
                <div class="care-user row" ng-show="message.type == 2" ng-repeat="user in currentArrays">
                    <div class="col-sm-2" style="width: 11%">
                        <img ng-src="{{user.icon}}" ng-click="goToUser(user.user)" title="访问主页" class="cursor" >
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-xs-12 content-padding" ng-bind="user.real_name + ' ' + user.college">姓名+学校</div>
                            <div class="col-xs-12 content-padding ellipsis" title="{{(user.desc)? ('简介：'+ user.desc):'暂无说明'}}" ng-bind="(user.desc)? ('简介：'+ user.desc):'暂无说明'">发现自己总是有巴拉巴拉，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</div>
                            <div class="col-xs-8 content-padding ellipsis">标签：
                                <!-- 这里是标签列表-->
                                <span ng-hide="user.tags">暂无</span>
                                <span ng-init="usertags=[]">
                                    <span ng-repeat="(k,v) in user.tags" ng-init="usertags.push(k.split(':')[1])"></span>
                                    <span ng-bind="usertags.join('/')" title="{{usertags.join('/')}}"></span>
                                </span>
                            </div>
                            <div class="col-xs-2 col-xs-offset-2 content-padding" style="text-align: right">
                                <ul class="list-inline">
                                    <li ng-click="chatMessage(user)" title="给该用户发送私信">发私信</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 bottom-line"></div>
                </div>
                <!-- 加载更多用户-->
                <div ng-show="message.type==2">
                    <div class="col-sm-12 load-more" title="点击加载更多关注的人" ng-show="loadCareUsers" ng-click="divCareUsers()">更多关注的人</div>
                    <div class="col-sm-12 no-more" ng-show="!loadCareUsers &&currentArrays.length > 0">没有更多的关注用户了</div>
                    <div class="col-sm-12 no-more" ng-show="currentArrays.length == 0">暂时没有关注的用户，赶紧去关注吧！</div>
                </div>
                <!-- 这是聊天记录-->
                <div class="care-user row" ng-show="message.type == 3" ng-repeat="s in userChatMsgL">
                    <div class="col-sm-2" style="width:11%">
                        <img ng-src="{{s.more_info_of_user_from.icon}}" title="访问主页" ng-click="goToUser(s.user_from)" class="cursor">
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-xs-12 content-padding time-style" ng-bind="(s.user_from!=username)? (s.more_info_of_user_from.real_name + ' ' + s.more_info_of_user_from.university):'我:'">用户名+学校</div>
                            <div class="col-xs-12 content-padding" ng-bind="s.content">这里是对话内容，巴拉巴拉</div>
                            <div class="col-xs-4 content-padding time-style" ng-bind="s.ctime">这里是时间2015-12--31</div>
                        </div>
                    </div>
                    <div class="col-sm-12 bottom-line"></div>
                </div>
                <div ng-show="message.type == 3">
                    <div class="col-sm-12 load-more" ng-click="moreMsg()" title="点击加载更多" ng-show="loadMoreMsg">加载更多</div>
                    <div class="col-sm-12 no-more" ng-show="!loadMoreMsg &&userChatMsgL.length > 0">没有更多了</div>
                </div>
            </div>
        </div>
    </div>
</div>