<style type="text/css">
  #msglist > div:nth-child(2) {
    text-align: center;
    font-size: 18px;
    padding: 25px;
  }
  #msglist .msg {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(205,205,205);
    margin-top: 10px;
    word-wrap: break-word;
  }

  #msglist .msg span, #msglist .msg a {
      font-size: 14px;
  }
  .msg a {
    color: #07c;
  }
  #msglist .pagination_div {
/*    bottom: -65px;*/
    left: 0px;
  }
  #msglist {
    padding-bottom: 100px;
  }
</style>

<div id="msglist" class="container">
  <!-- nav bar -->
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs"></div>
  </div> <!-- nav bar end -->

  <!--div data-ng-show="messages.length > 0">共<span data-ng-bind="message_list.length"></span>条消息：</div-->
  <div data-ng-show="messages.length == 0">暂无新消息哦</div>

  <div data-ng-repeat="msg in messages" class="col-md-12 msg">
    <div class="col-md-7"><span data-ng-bind-html="msg.content"></span></div>
    <div class="col-md-4" style="text-align: center;"><span data-ng-bind="msg.ctime"></span></div>
    <div class="col-md-1"><a href="javascript:void(0)" data-ng-click="delete(msg)">删除</a></div>
  </div> <!-- end of messages -->

  <div ng-show="message_list.length > items_per_page" class="pagination_div">
    <pagination total-items="message_list.length" ng-change="changePage()" items-per-page="items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="max_size" ng-model="current_page" class="pagination-md" boundary-links="true" rotate="false">
    </pagination>
  </div>
</div>