<div class="extern myquestion">
    <div class="container">
        <div class="row user">
            <div class="col-md-2" style="text-align: center"><img src="statics/images/user_icon/18.jpg"></div>
            <div class="col-md-3 back-color">
                <article>中国科学院</article>
                <article>计算机控制学院</article>
                <article>性别：女</article>
            </div>
            <div class="col-md-2 back-color"><p>赞同：122</p></div>
            <div class="col-md-2 back-color"><p>感谢：222</p></div>
            <div class="col-md-2 back-color"><p>F币：224</p></div>
        </div>
        <div class="row">
            <div class="col-md-12 back-color title">
                <span ng-class="{true:'active',false:'inactive'}[tabVal==1]" ng-click="tabTo(1)">我的问题</span>
                <span ng-class="{true:'active',false:'inactive'}[tabVal==2]" ng-click="tabTo(2)">我的回答</span>
                <span ng-class="{true:'active',false:'inactive'}[tabVal==3]" ng-click="tabTo(3)">我的关注</span>
                <span ng-class="{true:'active',false:'inactive'}[tabVal==4]" ng-click="tabTo(4)">我的收藏</span>
                <span data-toggle="modal" data-target="#showBox" ng-click="tab2To(1)">发布新问题</span>
            </div>
        </div>
        <div class="content">
            <!-- 我的问题部分-->
            <div class="row" ng-show="tabVal==1">
                <div class="col-md-1">
                    <img src="statics/images/user_icon/10.jpg">
                    <span style="padding: 0px 10px;" class="back-color">123</span>
                </div>
                <div class="col-md-11 back-color">
                    <header>1+1?</header>
                    <article>这是问题内容；这是问题内容这是问题内容这是问题内容这是问题内容这是问题内容；这是问题内容这是问题内容这是问题内容；这是问题内容；这是问题内容；</article>
                    <footer>
                        <span style="margin-left: -20px">关注</span>·
                        <span>讨论</span>·
                        <span>感谢</span>·
                        <span>分享</span>·
                        <span>赞</span>·
                        <span>踩</span>·
                        <span>30分钟前</span>
                        <span style="margin-left: 80px; cursor: pointer" data-toggle="modal" data-target="#showBox" ng-click="tab2To(2)">回答该问题</span>
                    </footer>
                </div>
            </div>
            <!-- 我的回答部分-->
            <div class="row" ng-show="tabVal==2">
                我的回答部分
            </div>
            <!-- 我的关注部分-->
            <div class="row" ng-show="tabVal==3">
                我的关注部分
            </div>
            <!-- 我的收藏部分-->
            <div class="row" ng-show="tabVal==4">
                我的收藏部分
            </div>
        </div>
    </div>
</div>
<!--显示模态框-->
<div class="extern question-detail">
    <div class="modal fade" id="showBox" tabindex="-1" role="dialog" aria-labelledby="showBoxLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#35a0ed;color:#FFFFFF">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-title">
                        <h4 ng-show="tab2Val==1">提&nbsp;问</h4>
                        <h4 ng-show="tab2Val==2">回&nbsp;答</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- 提问部分-->
                    <div ng-show="tab2Val==1">
                        <div class="form-group">
                            <input class="form-control back-color" type="text" placeholder="一句话说明你的问题">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control back-color" rows="5"  placeholder="详细描述你的问题"></textarea>
                        </div>
                    </div>
                    <!-- 回答部分-->
                    <div ng-show="tab2Val==2">
                        <div class="form-group">
                            <textarea class="form-control back-color" rows="5" placeholder="输入您的答案"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default primary button-style">发&nbsp;布</button>
                </div>
            </div>
        </div>
    </div>
</div>