<div class="extern container reward myreward" ng-init="init();">
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs" class="col-md-5">
    </div>
    <div class="pull-right tabs">
      <!--<div class="checkbox-inline">-->
      <!--  <label>-->
      <!--    <input type="radio" name="rewardSortType" ng-model="myRewardType" ng-value="myRewardTypeEnum.SPONSED" />我发起的-->
      <!--    <label>-->
      <!--      <input type="radio" name="rewardSortType" ng-model="myRewardType" ng-value="myRewardTypeEnum.RELATED" />我关注的-->
      <!--    </label>-->
      <!--</div>-->
      <!--<div ng-click="navBtnClick(myRewardStatusEnum.PENDING)" ng-class="{active:myRewardStatus === myRewardStatusEnum.PENDING}">未解决</div>-->
      <!--<div ng-click="navBtnClick(myRewardStatusEnum.SOLVED)" ng-class="{active:myRewardStatus === myRewardStatusEnum.SOLVED}">已解决</div>-->
      <!--<div ng-click="navBtnClick(myRewardStatusEnum.EXPIRED)" ng-class="{active:myRewardStatus ===myRewardStatusEnum.EXPIRED}">已过期</div>-->
      <div ng-click="navBtnClick(myRewardTypeEnum.SPONSED)" ng-class="{active:myRewardType === myRewardTypeEnum.SPONSED}">我发起的</div>
      <div ng-click="navBtnClick(myRewardTypeEnum.RELATED)" ng-class="{active:myRewardType === myRewardTypeEnum.RELATED}">我参与的</div>
    </div>
  </div>
  <!--<div class="clearfix"></div>-->
  <br class="clearfix" />
  <br class="clearfix" />
  <br class="clearfix" />
  <!--<div class="tabs pull-left">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <div ng-click="btnClick(myRewardTypeEnum.REMEANING)" ng-class="{active:myRewardType === myRewardTypeEnum.REMEANING}">未解决</div>
      </li>
      <li>
        <div ng-click="btnClick(myRewardTypeEnum.SOLVED)" ng-class="{active:myRewardType === myRewardTypeEnum.SOLVED}">已解决</div>
      </li>
      <li>
        <div ng-click="btnClick(myRewardTypeEnum.EXPIRED)" ng-class="{active:myRewardType ===myRewardTypeEnum.EXPIRED }">已过期</div>
      </li>
  </div>-->

  <!--<div class="col-md-10">-->
  <div>
    <div ng-show="isRewardListEmpty && myRewardType === myRewardTypeEnum.SPONSED">目前还没有发布过悬赏呢，赶紧去发布一个吧！</div>
    <div ng-show="isRewardListEmpty && myRewardType === myRewardTypeEnum.RELATED">目前还没有参与任何悬赏呢，去悬赏页面看看吧！</div>
    <div ng-show="!isRewardListEmpty">
    <div ng-repeat="reward in myRewardList" class="row">
      <div class="pull-left myreward-tag col-md-1">
        <span class="label label-success label-middle" ng-show="reward.status === myRewardStatusEnum.SOLVED">完成</span>
        <span class="label label-info label-middle" ng-show="reward.status === myRewardStatusEnum.PENDING ">进行</span>
        <!--<span class="label label-success">领赏</span>-->
        <span class="label label-warning label-middle" ng-show="reward.status === myRewardStatusEnum.EXPIRED">过期</span>
      </div>
      <div class="pull-left reward-body col-md-9 row">
        <div class="reward-title" >
          <div class="title">
            {{reward.university + '-' + reward.college + '-' + reward.course + '-' + reward.tag}}
            <!--山东大学-材料科学与工程-材料力学-模拟试题-->
          </div>
          <div class="pull-right reward-info">
              <!--<code>-->
                  {{'来自：' + reward.need_anonymous?'匿名用户':reward.publisher_nick + '&nbsp;&nbsp;&nbsp;&nbsp;发布时间：'+ reward.ctime.substring(0,10) + '&nbsp;&nbsp;&nbsp;&nbsp;过期时间：' + reward.expired_date.substring(0,10)}}
              <!--</code>-->
          </div>
        </div>
        <div class="myreward-head">

          <div class="myreward-desc panel panel-default">
            <div ng-bind="reward.description">

              这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="pull-left reward-state col-md-2">
        <div>
          <img class="img-circle" src="../statics/images/fb-icon.png" /><span ng-bind="'-' + reward.total_fb">100</span>
        </div>
        <div><a ng-click="changeCollapseIcon($index)" class="collapse-button primary" data-toggle="collapse" data-target="#{{reward.resource_list.length <= 0?'none':$index}}">{{reward.resource_list.length}}个结果<i id="icon{{$index}}" class="glyphicon glyphicon-collapse-down"></i></a>
          <!--<span class="myreward-new badge">new</span>-->
        </div>
      </div>
      <div class="clearfix"></div>
      <div id="{{$index}}" class="collapse panel panel-default  reward-result">
        <div ng-repeat="resource in reward.resource_list " class="reward-answer row ">
          <!--<div class="col-md-1 "></div>-->
          <!--<div class="pull-left" style="width:20px"></div><div class="clearfix"></div>-->
          <!--<div style="width:60px;"></div>-->
          <span class="label label-success col-md-1">答案{{$index + 1}}</span>
          <div class="pull-left glyphicon answer-adopt glyphicon-ok already-adopt" ng-show="resource.accepted" title="已采用"></div>
          <div class="col-md-9 panel panel-default reward-answer-body">
            <div class="answer-desc " ng-bind="resource.comment">
              楼主俺这有，不过幽幽幽幽！
            </div>
            <div class="answer-resource">
              <div ng-repeat="file in resource.uploaded_resources" class="row resource-table">
                <div class="col-md-1 ">
                  <!--<img src="../statics/images/fb-icon.png " />-->
                    <span class="glyphicon glyphicon-file file-icon"></span>
                </div>
                <div class="resource-options">
                  <div class="col-md-5" ng-bind="file.filename">
                    这里是文件名称
                  </div>
                  <div class="col-md-3">
                    <a class="file-operation"  ng-click="!(file | isPreviewAble) || showPreviewModal(reward.id,file.file_hash,file.filename)" ng-show="(file | isPreviewAble) && !(file | isImg)">预览</a>
                    <a class="file-operation"  ng-href="{{'/resource/preview?file_id=' + file.file_id }}" ng-show="(file | isPreviewAble) && (file | isImg)">预览</a>
                    <span ng-show="!(file | isPreviewAble)" style="color:#ABA8A8;">预览</span>
                  </div>
                  <div class="col-md-3">
                      <!--<a class="file-operation" ng-click="download(file)" ng-disabled="file | isPreviewAble">下载</a>-->
                    <a target="_blank" class="file-operation" ng-href="{{'/reward/resource/download?reward_id=' + reward.id + '&file_hash=' + file.file_hash }}" >下载</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-right answer-footer ">
              <label>
                来自:
              </label>
                  <label ng-bind="resource.need_anonymous?'匿名用户'?resource.nick_name">
                我是雷锋
              </label>
              &nbsp;&nbsp;
              <label ng-bind="resource.ctime.substring(0,10)">
                2015-7-15
              </label>
            </div>
          </div>
          <div class="pull-left answer-adopt glyphicon glyphicon-ok-sign" ng-show="reward.status != 'over' && myRewardType!==myRewardTypeEnum.RELATED" ng-click="showAdoptConfirmDialog(reward,resource.user)" title="点击设置为最佳资源" style="cursor:pointer"></div>
        </div>

      </div>
      </div>
    </div>
  </div>



  <!--确认最佳答-->

  <div class="modal fade" id="adoptConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="confirmModalLabel">设置为最佳答案，问题解决？</h4>
        </div>
        <div class="modal-body">
            <form name="confimForm">
                      <input class="center-block" id="adopt-rating" />
            </form> 
          <br class="clearfix" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn primary" ng-click="adoptResource();" data-dismiss="modal" ng-disabled="confimForm.$invalid">确认</button>
        </div>

      </div>
    </div>
  </div>
  <!--确认最佳答-->


  <!--分页-->
  <div class="pages-nav " ng-show="isPaginationVisible " ng-cloak>
    <pagination total-items="page.total_items " ng-change="page.pageChanged() " items-per-page="page.items_per_page " first-text="<< " last-text=">>" previous-text="
          < " next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
            </pagination>
        </div>
        <!--分页-->
      </div>
