<div id="resWrap" class="extern container myres" ng-init="init();">
  <!-- ng-class="{'main-view-top': is_audit == 0 && page.page0.noPagination || is_audit == 1 && page.page1.noPagination" -->
  <style type="text/css">
  
.myres .active {
  color: white;
  background-color: #35a0ed;
}
.myres .tabs {
  text-align: right;
}
.myres .tabs > div{
  display: inline-block;
  padding: 6px 20px;
  cursor: pointer;
}
.myres .nores {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.myres .unpass {
  color: red;
}
.myres .col-md-9 {
  padding-left: 0px;
}
.myres .emptyTip{
  font-size: 18pt;
  margin-top: 80px;
  position: absolute;
}
</style>

<div class="row quick-nav" ng-controller="QuickNavController">
  <div ng-bind-html="navs" class="col-md-6"></div>
  <div class="col-md-6">
    <div class="tabs">
      <div ng-click="btnClick('downloaded')" ng-class="{active:state == 'downloaded'}">我的下载</div>
      <div ng-click="btnClick('audited')" ng-class="{active:state == 'audited'}">成功上传</div>
      <div ng-click="btnClick('auditing')" ng-class="{active:state == 'auditing'}">待审资源</div>
      <div ng-click="btnClick('unaudited')" ng-class="{active:state == 'unaudited'}">被拒资源</div>
    </div>
  </div>
</div>
<div>
<div class="emptyTip">
  <div ng-show="isUnAuditedEmpty">没有被拒的资源哦！</div>
  <div ng-show="isAuditingEmpty">没有等待审核的资源哦！</div>
  <div ng-show="isDownloadedEmpty">还没有下载过资源呢，赶紧去下载吧！</div>
  <div ng-show="isAuditedEmpty">暂无资源，快去上传领取F币奖励吧！</div>
</div>
  <div class="row">
    <div data-ng-mouseenter="showDownload=true" data-ng-mouseleave="showDownload=false" class="col-md-3 item" data-ng-repeat="res in resource_list">
      <img class="poster" ng-src="{{ res.img }}" >
      <div class="info">
        <!-- <label data-ng-bind="res.resource_name"  data-ng-class="{unpass: {{state == 'unaudited'}}}" title="{{res.unpass_reason}}"></label> -->

        <label><a data-ng-class="{unpass: {{state == 'unaudited'}}}" href="/#/details?file_id={{res.file_id}}" title="{{res.resource_name}}" target="_blank">{{ res.resource_name | twoLinePoint}}</a></label>


        <div ng-show="showDownload" class="download">
          <a data-ng-show="{{state == 'unaudited'}}" ng-click="viewAuditedDetail(res)"  class="btn primary">详情</a>
          <!-- data-ng-href="#/myresource/unaudited/unpassdetail?str={{getJsonParam(res)}}" -->
          <a data-ng-show="{{!(state == 'unaudited')}}" data-ng-href="#/myresource/details?file_id={{res.file_id}}" target="_blank" class="btn primary">详情</a>
          <!-- <button ng-click="preview(res)" class="btn btn-success" ng-show="{{res | isPreviewAble}}">预览</button> -->
        </div>
        <div ng-show="!showDownload && state!='downloaded'" class="details">
          <span>大小：{{ res.file_size  | normalize_size }}</span>
          <span>上传时间：{{res.ctime.substring(0,10)}}</span>
          <span>下载数目：{{ res.download_num }}</span>
        </div>
        <div ng-show="!showDownload && state=='downloaded'" class="details">
          <span>大小：{{ res.file_size  | normalize_size }}</span>
          <span>下载时间：{{ res.ctime.substring(0,10)}}</span>
          <span>学校：{{ res.university }}</span>
          
        </div>
      </div>
    </div>
  </div>
  <div class="pagination_div" style="position:inherit;" ng-show="isPaginationVisible">
    <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
    </pagination>
  </div>
</div>
</div>
