<!--显示标签的模板-->
<style>
  /*模态框的样式*/
  #nav-list ul {
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  #nav-list li {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  #nav-list li:hover {
    border-bottom: 2px solid #35a0ed;
    cursor: pointer;
  }
  #nav-list ul .active {
    border-bottom: 2px solid #35a0ed;
  }
  #nav-list .marks {
    border: 1px solid #eee;
    width: 20%;
    margin-left: 13px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px;
  }
  #nav-list .marks:hover {
    background-color: #eee;
    cursor: pointer;
  }
  #nav-list .marks-select {
    color: #35a0ed;
    border: 1px solid #35a0ed;
    width: 20%;
    margin-left: 13px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px;
    margin-top:15px;
  }
  #nav-list .marks-select:hover {
    background-color: #35a0ed;
    color: #FFFFFF;
    cursor: pointer;
  }
  #nav-list .modal-border {
    border: 1px solid #eee;
  }
  #nav-list .modal-border:hover {
    background-color: #eee;
  }
  #nav-list .modal-footer button {} #nav-list .input-group {
    display: table;
  }
  #nav-list .edit-icon {
    position: absolute;
    top:-3px;
    left:80px;
    border-radius: 50%;
    width: 20px;
    height: 25px;
    color: #666;
    padding: 10px 0 0 0;
  }
  #nav-list .form-control {
    /*
    border: 1px solid #eee;
    height: 32px;
    */
  }
  #nav-list .tag-container{
      max-height:150px;
      overflow-y:scroll;
      margin-right:-10px;
      overflow-x:hidden;
  }
  #nav-list .ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 80px;
  }
</style>
<div id="nav-list" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="TagModalLabel" ng-controller="TagController" ng-init="init();">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="TagModalLabel">设置感兴趣的标签 </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="搜索标签名称" ng-model="searchNav" name="searchNav" ng-keypress="enter($event)">

              <div class="input-group-btn">
                <button type="button" class="btn modal-border" style="padding-left: 20px;padding-right: 20px;" ng-click="search(searchNav)">搜索
                </button>
              </div>
            </div>
            <!--/input-group -->
            <div ng-show="mode === 'edit'" class="input-group" style="margin-top:20px;">
              <input type="text" class="form-control" placeholder="输入自定义标签" ng-model="newtag" required/>

              <div class="input-group-btn">
                <button type="button" class="btn modal-border" style="padding-left: 20px;padding-right: 20px;" ng-click="addDraftTag(newtag)">添加
                </button>
              </div>

            </div>
            <div class="row" style="margin:10px 0 0 0">
              <div ng-show="showTagIllegal" class="text-danger">标签含有非法字符，请更正!</div>
            </div>
            <ul class="list-inline">
              <li ng-repeat="c in classes" ng-click="find2Nav(c)" ng-class="{true:'active',false:'inactive'}[findNav == c]" ng-bind="c">
              </li>
            </ul>
            <!-- 标签-->
            <div class="row" style="padding-bottom: 20px; max-height: 275px; overflow: hidden;" ng-show="!serach">
              <div class="col-md-3 marks" ng-repeat=" tag in tags | filter:findNav  | slice:0:20" ng-click="clickTag(tag.tag)" title="点击添加">
                <span ng-bind="tag.tag.split(':')[1]" class="ellipsis">计算机</span>
                <span class="edit-icon">+</span>
                <!-- 判断标签分类是否为空，如果为空返回默认字符串-->
              </div>
              <div ng-show="noNav" class="noNav-css" style="padding-left: 15px;padding-top: 15px;text-align: center;">对不起,暂无相关标签
              </div>
            </div>
            <!-- 已选择的标签-->
            <div class="row tag-container">
              <div style="margin: 0px 12px;border-top: 1px solid #eee"></div>
              <div class="col-md-12" style="padding-top: 10px;padding-bottom: 5px;" ng-show="mode==='select'">已经关注的标签
              </div>
              <div class="col-md-12" style="padding-top: 10px;padding-bottom: 5px;" ng-show="mode==='edit'">已经添加的标签
              </div>
              <div class="col-md-3 marks-select" ng-show="mode==='select'" ng-repeat="tag in subscribedTags" ng-click="addTag2Unsubscribe($index)" title="点击删除">
                <span ng-bind="tag.split(':')[1]" class="ellipsis">日语</span><span class="edit-icon" style="left:77px;">×</span>
                <!-- 这里是用户关注的标签，点击进行删除 -->
              </div>

              <!-- 这里用户判定用户关注标签是否为零，为零显示信息-->
              <div ng-show="mode ==='select' && subscribedTags.length==0" style="margin-left:60px;text-align: center;">暂无关注标签</div>

              <div class="col-md-3 marks-select" ng-repeat="tag in draftTags  track by $index" ng-show="mode==='edit'" ng-click="removeDraftTag($index)" title="点击删除">
                <!-- 这里放的是编辑时的标签,点击进行删除 -->
                <span ng-bind="tag" class="ellipsis"></span><span class="edit-icon" style="color: #666;left:77px;">×</span>
              </div>
              <!-- 这里用户判断编辑时标签长度，为零显示信息-->
              <div ng-show="mode ==='edit' && draftTags.length==0" style="margin-left:60px;text-align: center;">暂无添加标签</div>
            </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div ng-show="draftTagsLengthErr" class="text-danger pull-left" style="margin-left:50px;">最多设置3个标签！</div>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#nav-list" ng-click="cancel();">取消</button>
        <button type="button" class="btn primary" data-dismiss="modal" ng-click="ok();">确定</button>
      </div>
    </div>
  </div>
</div>
