<style>
  #find-details {
    font-size: 16px;
    background:rgb(228,229,231);
  }
  #find-details .border {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    /*border-top: 2px solid #35a0ed;*/
    margin-top: 20px;
    width: 97.2%;
    margin-left: 10px;
  }
  #find-details header p {
    padding: 10px 0px;
  }
  #find-details header .user_info {
    background-color: #FFFFFF;
  }
  #find-details .dashedline {
    display: block;
    border-bottom: dashed 1px #eee;
    margin: 10px 0;
    padding-bottom:5px;
  }
  #find-details header .border-top {
    padding: 10px 0px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  #find-details .border-top.noHover:hover {
    background: white;
    cursor: auto;
  }
  #find-details header .border-top:hover {
    color: rgb(53,160,237);
    cursor: pointer;
  }
  #find-details footer textarea {
    margin-top: 20px;
    resize: none;
    padding: 10px 10px;
  }
  #find-details .userimg {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 15px;
    cursor: pointer;
  }
  #find-details .textmiddle {
    display: block;
    margin: 10px 0 0 10px;
    text-align: center;
    font-size: 1rem;
  }
  #find-details .posttime {
    display: block;
    text-align: right;
    font-size: 1rem;
    font-weight: lighter;
    color: #999;
    /*font-style: italic;*/
  }
  #find-details .blodfont {
    display: block;
    margin-top: 10px;
  }
  #find-details .blodfont>span {
    /*display: block;*/
    font-weight: bold;
    /*float: left;*/
  }
  #find-details .answer {
    display: block;
  }
  #find-details .ans {
    color: #35a0ed;
    font-weight: bolder;
  }
  #find-details .concerned {
    display: block;
    border: 1px solid #eee;
    text-align: center;
    line-height: 2;
    width: 70px;
    height: 35px;
    margin: 10px 0 10px 0;
  }
  #find-details .iAnswer {
    text-align: center;
    line-height: 4;
    color: #35a0ed;
    font-weight: bolder;
  }
  #find-details .hidName {
    padding: 10px 0 0 80px;
  }
  #find-details .hidName>label {
    margin: 2px 0 0 -10px;
  }
  #find-details .post {
    display: block;
    margin-left: 30px;
  }
  #find-details .change {
    text-align: right;
    cursor: pointer;
  }
  #find-details .change:hover {
    color: #35a0ed;
    cursor: pointer;
    text-decoration: none;
  }
  #find-details .new {
    text-align: left;
    font-weight: bold;
    font-size:14px;
  }
  #find-details .img45 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 5px;
  }
  #find-details .white-bg {
    background-color: white;
  }

  #find-details .hot-latest a{
      color:black;
      font-size:14px;
      line-height:1;
      display:block;
  }
  #find-details .row-top{
    margin-top:10px;
  }

  #find-details .askpraise {
    display: block;
    font-size: .9rem;
    line-height: 2;
    padding: 0;
    margin-left: -5px;
  }
  #find-details .load-more {
        text-align: center;
        background-color: #35a0ed;
        cursor: pointer;
        padding: 10px;
        color: white;
  }
#find-details .no-more {
    display:none;
    /*
      margin:20px 0;
      padding: 10px;
      text-align: center;
      */
  }

</style>

<div id="find-details">
  <div  class="container" style="background-color:rgb(228,229,231)" ng-init="init();">

    <!--这是右半部分-->
    <div class="col-md-8" style="margin-top:20px;">
      <header>
          <ask-answer-panels questions="qaList" is-detail="true">
          </ask-answer-panels>
      </header>

      <div class="clearfix"></div>
      <div>
       <more-loading-container no-more="totalPage <= currentPage" load="fetchMoreAnswer()"></more-loading-container>
   </div>
      <!-- 帖子的评论-->
      <footer ng-if="isLogined" id="iCanReply" style="margin-bottom:10px;">
        <div class="row">
          <div class="col-md-12 border white-bg" style="border-top:none;">
            <div class="row">
              <form role="form" name="AnswerForm">
                <!--<div style="margin:20px 10px 20px 10px;">-->
                <rte mode="default"></rte>
                <!--这是文本编辑器-->

              </form>

              <div class="row" style="margin-top:10px;margin-bottom:10px">
                <div class="col-md-3 col-md-offset-6 hidName" >
                  <input class="col-md-2" type="checkbox" id="anonymous" name="anonymous" ng-model="replyFormData.need_anonymous" ng-true-value="1" ng-false-value="0" />
                  <label for="anonymous" style="margin-left:0px">匿名发布</label>
                </div>
                <!--<button class="btn  col-md-1 cancel" ng-click="cancel();">取消</button>-->
                <button class="btn primary col-md-2 post" ng-disabled="AskQuestionForm.$invalid" ng-click="postAnswer();">发布</button>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <footer ng-if="!isLogined" id="iCanReply">

        <a ng-href="/#/home?return_url={{url + '#iCanReply'}}">点我登录来回答赢F币！</a>
      </footer>
    </div>
    <!-- 右半部分结束 -->

    <!-- 左半部分 -->
    <div class="col-md-4 hot-latest" only-bottom>
      <div class="content">
        <div class="row">
          <!--ng-repeat="e in experienceList"-->
          <div class="col-md-12 border white-bg" style="width: 97.2%;margin-left: 15px;">

            <div class="row" style="margin-top:10px;margin-bottom:10px">
              <div class="col-md-6 new">最新问答</div>

              <div class="col-md-6 change" ng-click="changeLatest();"><span class="glyphicon glyphicon-refresh"></span> 换一换</div>


            </div>
            <div class="row row-top" ng-show="!showedLatestQuestions.length" >
              暂无相关最新问题
            </div>
            <div class="row row-top" ng-show="showedLatestQuestions.length" ng-repeat="q in showedLatestQuestions">
              <div class="col-md-2">
                <a target="_blank" ng-href="/user_page?user={{q.publisher | encode_username }}" target="_blank">
                  <img ng-show="!q.need_anonymous" class="img45 user-icon" ng-src="{{q.publisher_img + '!45x45' }}">
                </a>
                <a>
                  <img ng-show="q.need_anonymous" class="img45 user-icon" ng-src="//7xjkhy.dl1.z0.glb.clouddn.com/22.jpg!45x45">
                </a>
              </div>
              <div class="col-md-9">
                <span style="font-size: .9rem;overflow:hidden;text-overflow:ellipsis;color:#999;" ng-if="!q.need_anonymous" ng-bind="q.publisher_real_name + ' ' + q.university" title="{{q.publisher_real_name + ' ' + q.university}}">ACM国际一等奖 robert</span>
                <span style="font-size: .9rem;overflow:hidden;text-overflow:ellipsis;color:#999;" ng-if="q.need_anonymous" ng-bind="'匿名用户 ' + q.university" title="{{'匿名用户 ' + q.university}}">ACM国际一等奖 robert</span>
                <p><a class="homeask" ng-bind="q.title" ng-href="/#/qadetail/{{q.id}}" target="_blank">在北大读研是一种怎样的体验？</a>
                </p>
              </div>
              <div class="col-md-1 askpraise">
                <span>{{q.thumb_up_num}}赞</span>
                <br>
                <!--<span>{{q.reply_num}}答</span>-->
                <span>{{q.thanks_coin}}F</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--<div class="row">-->
            <!--  <div class="col-md-2"><img class="img45" src="//test.friendsbt.com/statics/images/user_icon/1.jpg"></div>-->
            <!--  <div class="col-md-9">-->
            <!--    <span style="font-size: .9rem">ACM国际一等奖 robert</span>-->
            <!--    <p class="homeask">在北大读研是一种怎样的体验？</p>-->
            <!--  </div>-->
            <!--  <div class="askpraise"><span>100赞</span><br><span>100奖</span></div>-->
            <!--</div>-->

          </div>
        </div>
      </div>

      <div class="content">
        <div class="row">
          <!--ng-repeat="e in experienceList"-->
          <div class="col-md-12 border white-bg" style="width: 97.2%;margin-left: 15px;margin-bottom:20px;">
            <div class="row" style="margin-top:10px;margin-bottom:10px">
              <div class="col-md-6 hot">热门问答</div>
              <div class="col-md-6 change " ng-click="changeHot();"><span class="glyphicon glyphicon-refresh"></span>换一换</div>
            </div>
            <div class="row row-top" ng-show="!showedHotQuestions.length">
              暂无相关的最热问题
            </div>
            <div class="row row-top" ng-show="showedHotQuestions.length" ng-repeat="q in showedHotQuestions">
              <div class="col-md-2">
                <a ng-href="/user_page?user={{q.publisher | encode_username }}" target="_blank">
                  <img ng-show="!q.need_anonymous" class="img45 user-icon" ng-src="{{q.publisher_img + '!45x45'}}">
                </a>
                <a target="_blank">
                  <img ng-show="q.need_anonymous" class="img45 user-icon" ng-src="//7xjkhy.dl1.z0.glb.clouddn.com/22.jpg!45x45">
                </a>
              </div>
              <div class="col-md-9">
                <span style="font-size: .9rem;overflow:hidden;text-overflow:ellipsis;color:#999;" ng-if="!q.need_anonymous" ng-bind="q.publisher_real_name + ' ' + q.university" title="{{q.publisher_real_name + ' ' + q.university}}">ACM国际一等奖 robert</span>
                <span style="font-size: .9rem;overflow:hidden;text-overflow:ellipsis;color:#999;" ng-if="q.need_anonymous" ng-bind="'匿名用户 ' + q.university" title="{{'匿名用户 ' + q.university}}">ACM国际一等奖 robert</span>
                <p><a ng-href="/#/qadetail/{{q.id}}" class="homeask" ng-bind="q.title" target="_blank">在北大读研是一种怎样的体验？</a>
                </p>
              </div>
              <div class="col-md-1 askpraise">
                <span>{{q.thumb_up_num}}赞</span>
                <br>
                <!--<span>{{q.reply_num}}答</span>-->
                <span>{{q.thanks_coin}}F</span>
              </div>
              <div class="clearfix"></div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 左半部分结束 -->

  </div>
</div>

