
<div class="extern question_answer">
    <!-- 这里显示问答上半部分-->
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1 font-color" style="padding-top:40px; text-shadow:2px 2px 2px #333333">
                    <h1>问&nbsp;答</h1>
                    <br/>
                    <h4 style="letter-spacing: 5px">高知群体, 让学习更有效</h4>
                </div>
                <div class="col-md-3 col-md-offset-5" style="padding-top: 20px">
                    <div class="form-group">
                        <input class="form-control back-color" placeholder="邮箱" type="text" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control back-color" placeholder="密码" type="password" required/>
                    </div>
                    <div class="form-group" >
                        <a href="#/class"><div class="login-style">登录</div></a>
                    </div>
                    <div style="margin-top: 15px" class="font-color">
                        <span>注册</span>
                        <span style="margin-left: 100px">忘记密码</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 这里显示问答下半部分-->
    <div class="body">
        <div class="body-top">
            <!-- 这是循播学校图标的部分-->
            <div class="row">
                <carousel interval="2000">
                    <slide>
                        <div class="col-md-1 col-md-offset-1">
                            <img src="statics/images/university/1022.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1013.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1014.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/2004.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1016.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1017.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1018.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1019.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1010.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1011.jpg">
                        </div>
                    </slide>
                    <slide>
                        <div class="col-md-1 col-md-offset-1">
                            <img src="statics/images/university/1002.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1003.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1004.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1005.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1006.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1007.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/2003.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1009.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/1001.jpg">
                        </div>
                        <div class="col-md-1">
                            <img src="statics/images/university/2005.jpg">
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="content container">
            <carousel interval="3000">
                <slide>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/8.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">这是内容，属性 data-slide 接受关键字 prev 或 next，用来改变幻灯片相对于当前位置的位置。使用 data-slide-to 来向轮播床底一个原始滑动索引，data-slide-to="2" 将把滑块移动到一个特定的索引，索引从 0 开始计数。</a>
                        </div>
                    </div>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/9.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">这是内容，属性 data-slide 接受关键字 prev 或 next，用来改变幻灯片相对于当前位置的位置。使用 data-slide-to 来向轮播床底一个原始滑动索引，data-slide-to="2" 将把滑块移动到一个特定的索引，索引从 0 开始计数。</a>
                        </div>
                    </div>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/10.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">这是内容，属性 data-slide 接受关键字 prev 或 next，用来改变幻灯片相对于当前位置的位置。使用 data-slide-to 来向轮播床底一个原始滑动索引，data-slide-to="2" 将把滑块移动到一个特定的索引，索引从 0 开始计数。</a>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/2.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">这前位置的位置。使用 data-slide-to 来向轮播床底一个原始滑动索引，data-slide-to="2" 将把滑块移动到一个特定的索引，索引从 0 开始计数。</a>
                        </div>
                    </div>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/3.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">这是内容，属性 data-slide 接受关键字 prev 或 next，用来改变幻灯片相对于当前位置的位置。使用 data-slide-to 来向轮播床底一个原始滑动索引，data-slide-to="2" 将把滑块移动到一个特定的索引，索引从 0 开始计数。</a>
                        </div>
                    </div>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/4.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">作为研发工程师，首先要有强烈的好奇心，这是成为高手的必要条件。喜欢新生事物，对问题喜欢刨根问底，以钻研为乐趣。那种得过且过，敷衍了事，仅仅把工作当作饭碗的人连熟手都成不了，更何况高手。有好奇心的人，可以为解决一个问题通宵干，躺在床上也在寻思解决方案，这样的人就是高手的胚子！</a>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/5.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">作为研发工程师，首先要有强烈的好奇心，这是成为高手的必要条件。喜欢新生事物，对问题喜欢刨根问底，以钻研为乐趣。那种得过且过，敷衍了事，仅仅把工作当作饭碗的人连熟手都成不了，更何况高手。有好奇心的人，可以为解决一个问题通宵干，躺在床上也在寻思解决方案，这样的人就是高手的胚子！</a>
                        </div>
                    </div>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/6.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detail">作为研发工程师，首先要有强烈的好奇心，这是成为高手的必要条件。喜欢新生事物，对问题喜欢刨根问底，以钻研为乐趣。那种得过且过，敷衍了事，仅仅把工作当作饭碗的人连熟手都成不了，更何况高手。有好奇心的人，可以为解决一个问题通宵干，躺在床上也在寻思解决方案，这样的人就是高手的胚子！</a>
                        </div>
                    </div>
                    <div class="row part-margin">
                        <div class="col-md-1">
                            <img src="statics/images/user_icon/7.jpg">
                        </div>
                        <div class="col-md-11 back-color content-style">
                            <a ng-href="#/question-detial">这是内容，属性 data-slide 接受关键字 prev 或 next，用来改变幻灯片相对于当前位置的位置。使用 data-slide-to 来向轮播床底一个原始滑动索引，data-slide-to="2" 将把滑块移动到一个特定的索引，索引从 0 开始计数。</a>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>
<!--发布问题模态框-->
