<div class="extern question_class">
    <!--<div class="header">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-2 to-center">-->
                    <!--<h2 style="text-shadow:2px 2px 2px black;color: #ffffff;margin-top:18px;">问答</h2>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                    <!--<div class="form-group">-->
                        <!--<input placeholder="搜索问题、回答、学校、课程、教师等" class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-offset-4 col-md-1 to-right" style="margin-top: 10px">-->
                    <!--<img src="statics/images/user_icon/18.jpg">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- 这是内容部分-->
    <div class="body">
        <div class="container">
            <div class="row">
                <!-- body-left-->
                <div class="col-md-9" style="margin-bottom: 50px">
                    <!-- 标题部分-->
                    <div class="row nav-title">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11" style="padding: 0px">
                            <div class="row">
                                <!-- 显示我的学校和所有学校的标题-->
                                <div ng-show="tabVal==1||tabVal==2">
                                    <div class="col-sm-6" style="padding: 0px">
                                        <span ng-click="tabTo(2)"
                                              ng-class="{true:'active',false:'inactive'}[tabVal==2]">查看所有的高校</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <span ng-click="tabTo(1)"
                                              ng-class="{true:'active',false:'inactive'}[tabVal==1]">只看自己的学校</span>
                                    </div>
                                </div>
                                <!-- 显示右边列表的标题部分-->
                                <div ng-show="tabVal==11">
                                    <div class="col-sm-12">
                                        <span ng-class="{true:'active',false:'inactive'}[tabVal==11]">我的问题</span>
                                    </div>
                                </div>
                                <!-- 显示我的回答-->
                                <div ng-show="tabVal==12">
                                    <div class="col-sm-12">
                                        <span ng-class="{true:'active',false:'inactive'}[tabVal==12]">我的回答</span>
                                    </div>
                                </div>
                                <!-- 显示我的关注-->
                                <div ng-show="tabVal==13">
                                    <div class="col-sm-12">
                                        <span ng-class="{true:'active',false:'inactive'}[tabVal==13]">我的关注</span>
                                    </div>
                                </div>
                                <!-- 显示我的收藏-->
                                <div ng-show="tabVal==14">
                                    <div class="col-sm-12">
                                        <span ng-class="{true:'active',false:'inactive'}[tabVal==14]">我的收藏</span>
                                    </div>
                                </div>
                                <!-- 显示个人中心-->
                                <div ng-show="tabVal==15">
                                </div>
                                <!-- 显示进入该课程-->
                                <div ng-show="tabVal==0">
                                    <div class="col-sm-12">
                                        <span ng-class="{true:'active',false:'inactive'}[tabVal==0]"
                                              class="to-left"><img src="statics/images/university/1002.jpg">
                                            清华大学/计算机学院/c++课程
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 内容部分-->
                    <!-- 关于所有学校的部分-->

                    <div ng-show="tabVal==2">
                        <div ng-repeat="x in question_list">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img ng-src="{{x.publisher_img}}">
                                    <span class="img-bottom-number">123</span>
                                </div>
                                <div class="col-sm-11 back-color">
                                    <div class="main-content">
                                        <header ng-bind="x.title">1+1?</header>
                                        <div class="content" ng-bind="x.content">
                                            相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                        </div>
                                        <footer>
                                            <span style="margin-left: -20px">关注</span>·
                                            <span>讨论</span>·
                                            <span>感谢</span>·
                                            <span>分享</span>·
                                            <span>收藏</span>·
                                            <span ng-bind="x.ctime">30分钟前</span>
                                        </footer>

                                        <div class="course-link">
                                            <img src="statics/images/university/1002.jpg">
                                            <a href="" ng-click="viewQuestion(0,x._id)">
                                                <span ng-bind="x.university">清华大学</span>/
                                                <span ng-bind="x.college">计算机学院</span>/
                                                <span ng-bind="x.course_name">c++课程</span>
                                                <span style="position: absolute;left: 650px">查看该问题</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关于进入该课程后部分-->
                    <div ng-show="tabVal==0">
                        <div class="row">
                            <div class="col-sm-1">
                                <img ng-src="{{view_question.publisher_img}}">
                                <span class="img-bottom-number">123</span>
                            </div>
                            <div class="col-sm-11 back-color">
                                <div class="main-content">
                                    <header ng-bind="view_question.title">1+1?</header>
                                    <div class="content" ng-bind="view_question.content">
                                        相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                    </div>
                                    <footer>
                                        <span style="margin-left: -20px">关注</span>·
                                        <span>讨论</span>·
                                        <span>感谢</span>·
                                        <span>分享</span>·
                                        <span>收藏</span>·
                                        <span ng-bind="view_question.ctime">30分钟前</span>
                                    </footer>
                                    <div class="course-link" ng-click="changeTitle(2,view_question._id)" data-target="#showBox" data-toggle="modal" style="padding-left: 640px">
                                        <a href="">
                                            回答该问题
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 back-color col-sm-offset-1">
                                <div class="main-content">
                                    <span ng-bind="view_question.reply_num">11</span>个回答
                                </div>
                            </div>
                        </div>
                        <!-- 这是回答者的信息循环实现-->
                        <div ng-repeat="answer in view_question.reply_list">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="statics/images/user_icon/14.jpg">
                                    <span class="img-bottom-number">123</span>
                                </div>
                                <div class="col-sm-11 back-color">
                                    <div class="main-content">
                                        <!--<header><span>sudy</span>，<span>清华大学</span>，<span>硕士</span></header>-->
                                        <div class="content" ng-bind="answer.content">
                                            相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                        </div>
                                        <footer>
                                            <span style="margin-left: -20px;cursor: pointer" ng-click="prosClick(answer.id)"><a>赞同&nbsp;{{answer.pros}}</a></span>·
                                            <span style="cursor: pointer;" ng-click="consClick(answer.id)"><a>反对&nbsp;{{answer.cons}}</a></span>·
                                            <span>评论&nbsp;{{answer.comment_num}}</span>·
                                            <span ng-bind="answer.ctime">30分钟前</span>
                                        </footer>
                                        <div class="course-link" ng-click="changeTitle(3,answer.id)" data-target="#showBox" data-toggle="modal" style="padding-left: 640px">
                                            <a>评论该回答</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关于我们学校的部分-->
                    <div ng-show="tabVal==1">
                        <div class="row">
                            这是我关于我们学校的部分
                            <div class="col-sm-1">
                                <img src="statics/images/user_icon/10.jpg">
                                <span class="img-bottom-number">123</span>
                            </div>
                            <div class="col-sm-11 back-color">
                                <div class="main-content">
                                    <header>1+1?</header>
                                    <div class="content">
                                        相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                    </div>
                                    <footer>
                                        <span style="margin-left: -20px">关注</span>·
                                        <span>讨论</span>·
                                        <span>感谢</span>·
                                        <span>分享</span>·
                                        <span>收藏</span>·
                                        <span>30分钟前</span>
                                    </footer>

                                    <div class="course-link">
                                        <img src="statics/images/university/1002.jpg">
                                        <a href="" ng-click="tabTo(0)">
                                            清华大学/计算机学院/c++课程
                                        </a>
                                        <a href="" style="padding-left: 380px">
                                            进入课程
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关于我的问题的部分-->
                    <div ng-show="tabVal==11">
                        <div class="row">
                            这是关于我的问题部分
                            <div class="col-sm-1">
                                <img src="statics/images/user_icon/10.jpg">
                                <span class="img-bottom-number">123</span>
                            </div>
                            <div class="col-sm-11 back-color">
                                <div class="main-content">
                                    <header>1+1?</header>
                                    <div class="content">
                                        相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                    </div>
                                    <footer>
                                        <span style="margin-left: -20px">关注</span>·
                                        <span>讨论</span>·
                                        <span>感谢</span>·
                                        <span>分享</span>·
                                        <span>收藏</span>·
                                        <span>30分钟前</span>
                                    </footer>

                                    <div class="course-link">
                                        <img src="statics/images/university/1002.jpg">
                                        <a href="" ng-click="tabTo(0)">
                                            清华大学/计算机学院/c++课程
                                        </a>
                                        <a href="" style="padding-left: 380px">
                                            进入课程
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关于我的回答的部分-->
                    <div ng-show="tabVal==12">
                        <div class="row">
                            这是关于我的回答的部分
                            <div class="col-sm-1">
                                <img src="statics/images/user_icon/10.jpg">
                                <span class="img-bottom-number">123</span>
                            </div>
                            <div class="col-sm-11 back-color">
                                <div class="main-content">
                                    <header>1+1?</header>
                                    <div class="content">
                                        相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                    </div>
                                    <footer>
                                        <span style="margin-left: -20px">关注</span>·
                                        <span>讨论</span>·
                                        <span>感谢</span>·
                                        <span>分享</span>·
                                        <span>收藏</span>·
                                        <span>30分钟前</span>
                                    </footer>

                                    <div class="course-link">
                                        <img src="statics/images/university/1002.jpg">
                                        <a href="" ng-click="tabTo(0)">
                                            清华大学/计算机学院/c++课程
                                        </a>
                                        <a href="" style="padding-left: 380px">
                                            进入课程
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关于我的关注的部分-->
                    <div ng-show="tabVal==13">
                        <div class="row">
                            这是关于我的关注的部分
                            <div class="col-sm-1">
                                <img src="statics/images/user_icon/10.jpg">
                                <span class="img-bottom-number">123</span>
                            </div>
                            <div class="col-sm-11 back-color">
                                <div class="main-content">
                                    <header>1+1?</header>
                                    <div class="content">
                                        相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                    </div>
                                    <footer>
                                        <span style="margin-left: -20px">关注</span>·
                                        <span>讨论</span>·
                                        <span>感谢</span>·
                                        <span>分享</span>·
                                        <span>收藏</span>·
                                        <span>30分钟前</span>
                                    </footer>

                                    <div class="course-link">
                                        <img src="statics/images/university/1002.jpg">
                                        <a href="" ng-click="tabTo(0)">
                                            清华大学/计算机学院/c++课程
                                        </a>
                                        <a href="" style="padding-left: 380px">
                                            进入课程
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 关于我的收藏的部分-->
                    <div ng-show="tabVal==14">
                        <div class="row">
                            这是关于我的收藏的部分
                            <div class="col-sm-1">
                                <img src="statics/images/user_icon/10.jpg">
                                <span class="img-bottom-number">123</span>
                            </div>
                            <div class="col-sm-11 back-color">
                                <div class="main-content">
                                    <header>1+1?</header>
                                    <div class="content">
                                        相对于使用php直接截取部分字数并显示，用css隐藏多余的文字，并用链接的title属性全部显示，是一种对用户和搜索引擎更为有利的方法
                                    </div>
                                    <footer>
                                        <span style="margin-left: -20px">关注</span>·
                                        <span>讨论</span>·
                                        <span>感谢</span>·
                                        <span>分享</span>·
                                        <span>收藏</span>·
                                        <span>30分钟前</span>
                                    </footer>

                                    <div class="course-link">
                                        <img src="statics/images/university/1002.jpg">
                                        <a href="" ng-click="tabTo(0)">
                                            清华大学/计算机学院/c++课程
                                        </a>
                                        <a href="" style="padding-left: 380px">
                                            进入课程
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 内容部分结束-->
                </div>
                <!-- body-right-->
                <div class="col-md-3" style="padding-top:10px">
                    <!-- 进入课程前显示-->
                    <div ng-show="tabVal!=0">
                        <ul>
                            <li ng-click="tabTo(2)"
                                ng-class="{true:'active',false:'inactive'}[(tabVal==1)||(tabVal==2)]">查看所有问题
                            </li>
                            <li data-target="#showBox" data-toggle="modal" ng-click="changeTitle(1)">发布新问题</li>
                        </ul>
                        <ul>
                            <li ng-click="tabTo(11)" ng-class="{true:'active',false:'inactive'}[tabVal==11]">我的问题</li>
                            <li ng-click="tabTo(12)" ng-class="{true:'active',false:'inactive'}[tabVal==12]">我的回答</li>
                            <li ng-click="tabTo(13)" ng-class="{true:'active',false:'inactive'}[tabVal==13]">我的关注</li>
                            <li ng-click="tabTo(14)" ng-class="{true:'active',false:'inactive'}[tabVal==14]">我的收藏</li>
                        </ul>
                        <ul>
                            <li ng-click="tabTo(15)">个人中心</li>
                            <li ng-click="tabTo(16)">发现</li>
                        </ul>
                    </div>
                    <!-- 进入课程后显示-->
                    <div ng-show="tabVal==0" class="img-small">
                        <ul>
                            <li class="back-color" ng-click="tabTo(2)" style="text-align: center;">查看所有问题</li>
                        </ul>
                        <ul>
                            <li class="back-color">2241关注</li>
                        </ul>
                       <ul>
                           <li>
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                               <img src="statics/images/user_icon/8.jpg">
                           </li>
                       </ul>
                        <ul>
                            <li class="back-color">相关问题</li>
                        </ul>
                        <ul>
                            <li>1+2？</li>
                            <li>1+2？</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--显示我发布的问题模态框-->
<div class="extern question-detail">
    <div class="modal fade" id="showBox" tabindex="-1" role="dialog" aria-labelledby="showBoxLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#35a0ed;color:#FFFFFF">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-title">
                        <h4 ng-show="titleVal==1">提&nbsp;问</h4>
                        <h4 ng-show="titleVal==2">回&nbsp;答</h4>
                        <h4 ng-show="titleVal==3">评&nbsp;论</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- 提问部分-->
                    <!-- 暂时用输入框代替选择框-->
                   <form name="askQuestion" ng-show="titleVal==1">
                       <div class="form-group">
                           <div class="row">
                               <div class="col-md-4">
                                   <input class=" form-control" type="text" placeholder="请输入学校的全称" name="university" ng-model="university" required/>
                               </div>
                               <div class="col-md-4">
                                   <input class=" form-control" type="text" placeholder="请输入学院的全称" name="college" ng-model="college" required/>
                               </div>
                               <div class="col-md-4">
                                   <input class=" form-control" type="text" placeholder="请输入课程名称" name="course_name" ng-model="course_name" required/>
                               </div>
                           </div>
                       </div>
                       <div class="form-group">
                           <input class="form-control" type="text" placeholder="一句话说明你的问题" name="title" ng-model="title" required/>
                       </div>
                       <div class="form-group">
                           <textarea class="form-control" rows="5"  placeholder="详细描述你的问题" name="content" ng-model="content" required></textarea>
                       </div>
                   </form>
                    <form name="answerQuestion" ng-show="titleVal==2">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="输入您认为正确的答案吧......" name="content2" ng-model="content2" required></textarea>
                        </div>
                    </form>
                    <form name="judgeAnswer" ng-show="titleVal==3">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="写下您对该回答的观点吧......" name="content3" ng-model="content3" required></textarea>
                        </div>
                    </form>
                   </div>
                <div class="modal-footer">
                    <button ng-show="titleVal==1" type="button" class="btn btn-default primary button-style" data-ng-disabled="askQuestion.university.$invalid||askQuestion.college.$invalid||
                    askQuestion.course_name.$invalid||askQuestion.title.$invalid||askQuestion.content.$invalid" ng-click="publishQuestion()">发&nbsp;布</button>
                    <button ng-show="titleVal==2" type="button" class="btn btn-default primary button-style" data-ng-disabled="answerQuestion.content2.$invalid" ng-click="answer()">
                        回&nbsp;答
                    </button>
                    <button ng-show="titleVal==3" type="button" class="btn btn-default primary button-style" data-ng-disabled="judgeAnswer.content3.$invalid" ng-click="judge()">评&nbsp;论</button>
                </div>
            </div>
        </div>
    </div>
</div>