<style>
    .question-detail .back-color a {
        text-decoration: underline;
    }

</style>
<div class="container extern question-detail">
    <div class="quick-nav" ng-controller="QuickNavController">
        <div ng-bind-html="navs"></div>
    </div>
    <div class="course-info">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"><img ng-src="statics/images/user_icon/34.jpg"></div>
                    <div class="col-md-9 to-left">
                        <div class="row line-height" style="text-align: left">
                            <div class="col-sm-4"><h4><b>管理学</b></h4></div>
                        </div>
                        <div class="row line-height">
                            <div class="col-sm-5">
                                学校：北京师范大学
                            </div>
                            <div class="col-sm-4">
                                学院：考研学院
                            </div>
                            <div class="col-sm-3">
                                资源数量：19
                            </div>
                        </div>
                        <div class="row line-height">
                            <div class="col-sm-5">
                                上传时间：2015年-08-06 22：20
                            </div>
                            <div class="col-sm-4">
                                教师：无
                            </div>
                        </div>
                        <div class="row line-height">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-default primary button-style" data-toggle="modal"
                                        data-target="#showBox" ng-click="tab2Value(0)">提问
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question-info">
        <!-- 问题相关-->
        <div class="row">
            <div class="col-md-1 to-middle">
                <img src="statics/images/user_icon/1.jpg">
                <span class="back-color content-color" style="display: block">153</span>
            </div>
            <div class="col-md-11 back-color line-height">
                <!-- 问题标题-->
                <div class="title">
                    <p>1+1?</p>
                </div>
                <!-- 问题内容-->
                <div class="content content-color">
                    问题内容问题内容问题内容问题内容问题内容问题内容问题内，容问题内容问题内容问题内容问题内容问题内容问题内容问题内容问题内容问题，内容问题内容问题内容问题内容问题内容问题内容问题内容问题内容。
                </div>
                <!-- 底部相关内容-->
                <div class="footer">
                    <div class="row">
                        <div class="col-sm-1">关注&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">讨论&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">感谢&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">分享&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">收藏&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">赞&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">踩&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">30分钟前</div>
                        <div class="col-sm-4 to-right"><a href="" data-toggle="modal" data-target="#showBox"
                                                          ng-click="tab2Value(1)">回答该问题</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1 back-color content-color line-height">
                <span>11个回答&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>5人关注</span>
                <!-- user add to-->
                <span>
                    <img src="statics/images/user_icon/2.jpg" style="width: 20px; height: 20px">
                    <img src="statics/images/user_icon/2.jpg" style="width: 20px; height: 20px">
                    <img src="statics/images/user_icon/2.jpg" style="width: 20px; height: 20px">
                    <img src="statics/images/user_icon/2.jpg" style="width: 20px; height: 20px">
                    <img src="statics/images/user_icon/2.jpg" style="width: 20px; height: 20px">
                </span>
            </div>
        </div>
        <!-- 答案相关-->
        <div class="row">
            <div class="col-md-1 to-middle">
                <img src="statics/images/user_icon/3.jpg">
                <span class="back-color content-color" style="display: block">153</span>
            </div>
            <div class="col-md-11 back-color line-height">
                <!-- 回答者信息-->
                <div class="answer-info content-color ">
                    <span>Sudy,</span>
                    <span>清华管理学院，</span>
                    <span>硕士</span>
                </div>
                <!-- 回答内容-->
                <div class="content content-color">
                    这是是回答内容，回答的内容。
                </div>
                <!-- 底部相关-->
                <div class="footer">
                    <div class="row">
                        <div class="col-sm-1">关注&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">讨论&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">感谢&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">分享&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">收藏&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">赞&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">踩&nbsp;&nbsp;·</div>
                        <div class="col-sm-1">30分钟前</div>
                        <div class="col-sm-4 to-right"><a href="" data-toggle="modal" data-target="#showBox"
                                                          ng-click="tab2Value(2)">评论该问题</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框部分-->
        <div class="modal fade" id="showBox" tabindex="-1" role="dialog" aria-labelledby="showBoxLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#35a0ed;color:#FFFFFF">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title">
                            <h4 ng-show="tabValue==0">提&nbsp;问</h4>
                            <h4 ng-show="tabValue==1">回&nbsp;答</h4>
                            <h4 ng-show="tabValue==2">评&nbsp;论</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <!-- 提问部分-->
                        <div ng-show="tabValue==0">
                           <div class="form-group">
                               <input class="form-control back-color" type="text" placeholder="一句话说明你的问题">
                           </div>
                            <div class="form-group">
                                <textarea class="form-control back-color" rows="5"  placeholder="详细描述你的问题"></textarea>
                            </div>
                        </div>
                        <!-- 回答问题部分-->
                        <div ng-show="tabValue==1">
                             <div class="form-group">
                                 <textarea class="form-control back-color" rows="5"  placeholder="说点什么吧..."></textarea>
                             </div>
                        </div>
                        <!-- 评论部分-->
                        <div ng-show="tabValue==2">
                            <div class="form-group">
                                <textarea class="form-control back-color" rows="5"  placeholder="说点什么吧..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default primary button-style" >发&nbsp;布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>