<div class="container" id="find" >
    <div class="nav">
        <div class="row">
            <div class="col-md-3 col-md-offset-5 right">
                <ul class="list-inline">
                    <li ng-click="searchVal(c)" ng-repeat="c in searchClasses" ng-bind="c"
                        ng-class="{active:isCurrentTab(c)}"></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 这是左半部分-->
    <div class="col-md-8 question-more">
        <!-- 如果搜索列表为空，则显示提示信息-->
        <div ng-show="page.noResult" style="margin-top: 10px;text-align: center;font-size: 12px;" class="a_link">
            抱歉，未能搜索到符合条件的问答。赶紧去<a  ng-href="{{isLogined? '/#/askquestion': '/#/home?return_url=askquestion'}}" target="_blank">提问</a>吧
        </div>
        <!-- 这是问答部分-->
        <div class="down">
            <div class="content">
                <div>
                    <ask-answer-panels questions="moreRes" is-detail="false"></ask-answer-panels>
                </div>
            </div>
        </div>
        <!-- 这里是分页-->
        <div ng-show="page.noPagination" class="pagination_div" style="position: static">
            <pagination total-items="page.total_items" ng-change="getMoreRes()" items-per-page="page.items_per_page"
                        first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size"
                        ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
            </pagination>
        </div>
    </div>
    <!-- 这是右半部分-->
    <div class="col-md-3">
        <div class="hotsearch whiteback">
            <span style="line-height: 3;font-weight: bold;">热门搜索</span>

            <div style="line-height: 2;text-decoration: underline">
                <p ng-repeat="h in hotKeyWords"><a href="" ng-bind="h[0]" ng-click="hotWordHandler(h[0])">搜素的字段</a><span
                        ng-bind="h[1]" style="float: right"></span></p>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
