<!--********************************************************************************
*     File Name           :     reply-question.html
*     Created By          :     DQ - D.Q.Zhang.chn@gmail.com
*     Creation Date       :     [2015-10-28 20:10]
*     Last Modified       :     [2015-11-08 18:00]
*     Description         :     回答问题页面
*********************************************************************************-->
<div>
  <div  ng-init="init();">
    <div class="container">
      <form role="form" name="AnswerForm">
          
        <div class="row row-margin">
            <span class="className col-md-1" ng-bind="questionClass">这里是问题的分类</span>
            <span class="title col-md-11" ng-bind="questionTitle">这里是问题的标题</span>
        </div>
        <div class="row row-margin">
            <rte mode="default"></rte><!--这是文本编辑器-->
        </div>

          <div class="row row-margin ">
            <div class="hidname col-md-2 col-md-offset-7">
              <input type="checkbox" id="anonymous" name="anonymous" ng-model="formdata.need_anonymous" ng-true-value="1" ng-false-value="0" />
              <label for="anonymous">匿名发布</label>
            </div>
            <button class="btn  col-md-1 cancel" ng-click="cancel();">取消</button>
            <button class="btn primary col-md-1 post" ng-disabled="AskQuestionForm.$invalid" ng-click="deployAnswer();">发布</button>
          </div>
      </form>

    </div>
    <!-- /container -->

  </div>
  <!-- /rteController -->

</div>

