
<div class="container extern resource-recommendation">
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs"></div>
  </div>
  <div class="col-md-12">
    <div class="row" ng-repeat="rr in recommend_resource">
      <label>{{ rr.tag }}</label><span class="resource_num">/ {{ rr.resource_num }}</span><a ng-show="rr.resource_num - rr.resource_list.length > 0" class="recommend_more" href="#/recommendation/{{ rr.tag }}">更多 ></a>
      <div class="row">
        <div ng-mouseenter="showDownload=true" ng-mouseleave="showDownload=false" class="col-md-3 item" ng-repeat="resource in rr.resource_list">
          <img class="poster" ng-src="{{ resource.img }}">
          <div class="info" title="{{ resource.resource_name }} - {{ resource.university }}">
            <!-- <label class="point"> -->
            <label>
            <a href="/#/details?file_id={{resource.file_id}}" target="_blank">{{ resource.resource_name | twoLinePoint}}</a></label>
            <div ng-show="showDownload" class="download">
              <a ng-href="{{'resource/download?file_id=' + resource.file_id" target="_blank" class="btn btn-success">下载</a>
              <a href="/#/details?file_id={{resource.file_id}}" class="btn default" target="_blank">详情</a>
                <!--<a ng-href="{{'#/preview/' + resource.file_id + '/' + resource.resource_name}}"  class="btn btn-success" ng-show="{{resource | isPreviewAble}}">预览<a>-->
              <a ng-click ="showPreviewModal(resource.file_id,resource.resource_name)"  class="btn btn-success" ng-show="{{((resource | isPreviewAble) && !(resource | isImg))}}">预览<a>
                <a ng-show="{{ ((resource | isPreviewAble)  && (resource | isImg))}}"ng-href="{{'resource/download?file_id=' + resource.file_id" target="_blank" class="btn btn-success">预览</a>
            </div>
            <div ng-show="!showDownload" class="details">
              <span>大小：{{ resource.file_size  | normalize_size }}</span>
              <span class="ellipsis">学校：{{ resource.university }}</span>
              <span>下载数目：{{ resource.download_num }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>