<div class="container resource-more"  ng-class="{'main-view-top': res.noPagination}">
  <style type="text/css">/*
    .resource-more .download{
      height: 51px;
      float: none;
    }
    .resource-more .details{
      height: 51px;
    }
    .resource-more .row > label {
      font-size: 12px;
      margin-right: 10px;
    }

    .resource-more .row > label + span {
      font-size: 12px;
      color: grey;
    }

    .resource-more .poster {
      height: 86px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #eee;
      margin-right: 10px;
      cursor: pointer;
    }

    /*
    .resource-more .poster:hover {
      border: 3px solid #eee;
    }
    
    .resource-more .download,
    .resource-more .info {
      display: inline-block;
      vertical-align: top;
    }

    .resource-more .info > .download > * {
       display: block;
      border-radius: 12px;
      margin-bottom: 5px;
      padding: 5px 15px;
      font-size: 14px;
      outline: 0; 
      font-size: 12px;
      padding: 4px;
    }

    .resource-more .info > .details > * {
      display: block;
      color: grey;
      font-size: 12px;
    }

    .resource-more .info > label {
      font-size: 12px;
      color: inherit;
      margin-bottom: 10px;
      cursor: pointer;
      display: block;
    }

    .resource-more .info > label:hover {
      text-decoration: underline;
    }

    .resource-more .item {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    */
    .resource-more .row {
      margin-bottom: 20px;
    }

    .resource-more > .col-md-2 {
      padding-left: 0;
    }

    .resource-more .course-type > span {
      text-align: center;
      display: block;
      padding: 8px;
      border: 1px solid #eee;
      border-top-width: 0;
    }

    .resource-more .course-type > span:hover {
      background: rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }

    .resource-more .course-type > :first-child {
      border-top-width: 1px;
    }


    .resource-more .course-type > span.selected {
      border-left: 3px solid #35a0ed;
    }

    .resource-more .course-type > span > button {
      width: 100%;
      font-size: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

/*    .resource-more .point{
      display: inline-block;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }*/
/*    .resource-more .info {
      max-width: 50%;
    }*/
    .resource-more {
      overflow-y: auto;
      overflow-x: hidden;
    }

  </style>
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs"></div>
  </div>
  <div class="row">
    <div ng-mouseenter="showDownload=true" ng-mouseleave="showDownload=false" class="col-md-3 item" ng-repeat="resource in moreRes">
      <img class="poster" ng-src="{{ resource.img }}">
      <div class="info" title="{{ resource.resource_name }}">
        <!-- <label class="point"> -->
          <label><a href="/#/details?file_id={{resource.file_id}}" target="_blank">{{ resource.resource_name | twoLinePoint}}</a></label>
        <div ng-show="showDownload" class="download">
          <a ng-href="{{'resource/download?file_id=' + resource.file_id}}" target="_blank" class="btn btn-success">下载</a>
          <a href="/#/details?file_id={{resource.file_id}}" target="_blank" class="btn default">详情 </a>
          <a ng-href="{{'resource/preview?file_id=' + resource.file_id}}" target="_blank" class="btn btn-success" ng-show="{{(resource | isPreviewAble) && (resource | isImg)}}">预览</a>
          <a ng-click="showPreviewModal(resource.file_id,resource.filename)" class="btn btn-success" ng-show="{{(resource | isPreviewAble) && !(resource | isImg)}}">预览</a>
        </div>
        <div ng-show="!showDownload" class="details">
          <span>大小：{{ resource.file_size  | normalize_size }}</span>
          <span class="point">学校：{{ resource.university }}</span>
          <span>下载数目：{{ resource.download_num }}</span>
        </div>
      </div>
    </div>
    <div ng-show="res.noResult" style="margin-top: 10px;text-align: center;font-size: 12px;">抱歉，未能搜索到符合条件的结果。赶紧去发布悬赏让小伙伴们帮你搜罗想要的资源吧！</div>
  </div>
</div>
  <div ng-show="res.noPagination" class="pagination_div">
    <pagination total-items="res.total_items" ng-change="getMoreRes()" items-per-page="res.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="res.max_size" ng-model="res.current_page" class="pagination-md" boundary-links="true" rotate="false">
    </pagination>
  </div>
