to be deprecated!
<!-- vim: set sw=2 ts=2 : -->
<!-- <div class="banner">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      悬赏啊悬赏，悬赏啊悬赏。
      悬赏啊悬赏，悬赏啊悬赏。
    </div>
    <div class="col-md-5">
      <a class="btn" href="#/myreward">A</a>
      <a class="btn" ng-click="publishRewardClickHandler()">B</a>
    </div>
    <div class="col-md-1"></div>
  </div>
</div> -->
<div class="container resource-college">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <select
          ng-init="selectedProvince='请选择地区'"
          ng-model="selectedProvince"
          ng-options="o for o in ['北京','天津','重庆','上海','河北','山西','辽宁','吉林','黑龙江','江苏','浙江','安徽','福建','江西','山东','河南','湖北','湖南','广东','海南','四川','贵州','云南','陕西','甘肃','青海','台湾','内蒙古','广西','西藏','宁夏','新疆','香港','澳门','请选择地区']">
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input ng-model="query" type="text" ng-model="appendFb" placeholder="快速查找"/>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tabs">
        <div>全部高校</div><span>|</span>
        <div>985名校</div><span>|</span>
        <div>211大学</div><span>|</span>
        <div>常青藤</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" ng-repeat="school in schools | filter:query">
      <div class="group" ng-click="viewCollegeResourceClickHandler(school.title)">
        <img class="logo" src="/statics/img/avatar.jpg"/>
        <div class="title">{{ school.title }}群<br/><span>人数：1221</span><span>资源：11111</span></div>
      </div>
    </div>
  </div>
</div>
