      <div class="row">
        <!--div class="col-md-3 item" ng-mouseenter="showDownload=true" ng-mouseleave="showDownload=false" ng-repeat="ccr in current_course_resource_list">
          <img class="poster" ng-src="{{ ccr.img }}" >
          <div class="info" >
            <label class="point" title="{{ ccr.resource_name }}"><a href="/#/details?file_id={{resource.file_id}}" target="_blank">{{ ccr.resource_name }}</a></label>
            <label class="point" title="{{ ccr.resource_name }}">{{ ccr.resource_name }}</label> 
            <div ng-show="showDownload" class="download">
              <button ng-click="downloadHandler(ccr.file_id, ccr.download_link)" class="btn btn-success">下载</button>
              <a href="#/details?file_id={{ccr.file_id}}" target="_bland" class="btn default">详情</a>
              <button ng-click="previewHandler(ccr.file_id,ccr.download_link)" class="btn btn-success" ng-show="{{ccr.filename | isPreviewAble}}">预览</button>
            </div>
            <div ng-show="!showDownload" class="details">
              <span>大小：{{ ccr.file_size | normalize_size }}</span>
              <span>评分：{{ ccr.rate }}</span>
              <span>下载数目：{{ ccr.download_num }}</span>
            </div>
          </div>
        </div-->
  <table ts-wrapper id="courses_table" ng-show="!page.noResult" >
    <thead>
      <tr>
        <th></th>
        <th ts-criteria="resource_name|lowercase" ts-default>文件名</th>
        <th ng-show="showUnivColl" ts-criteria="university">学校</th>
        <th ng-show="showUnivColl" ts-criteria="college">学院</th>
        <th ts-criteria="teacher">教师</th>
        <th ts-criteria="tag">资源标签</th>
        <!--th ts-criteria="ctime">上传时间</th-->
        <th ts-criteria="file_size|parseInt">大小</th>
        <th ts-criteria="rate|parseInt">评分/人数</th>
        <!--th ts-criteria="rating_num|parseInt" width=10%;>评分人数</th-->
        <th ts-criteria="download_num|parseInt">下载数目</th>
        <th></th>
        <!--th ts-criteria="description">描述</th-->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ccr in moreRes" ng-mouseenter="showDownload=true"  ng-mouseleave="showDownload=false" ts-repeat>
        <td><img class="type_icon" ng-src="./statics/images/file_icon/{{ ccr.resource_name | type_icon }}" ></td>
        <td width="300px"><div style='width:300px' title="{{ ccr.resource_name }}"><span class="ellipsis">{{ ccr.resource_name }}</span></div></td>
        <td ng-show="showUnivColl"><div style='width:100px' title="{{ ccr.university }}"><span class="ellipsis">{{ ccr.university }}</span></div></td>
        <td ng-show="showUnivColl"><div style='width:120px' title="{{ ccr.college }}"><span class="ellipsis">{{ ccr.college }}</span></div></td>
        <td><div style='width:70px' title="{{ ccr.teacher }}"><span class="ellipsis">{{ ccr.teacher }}</span></div></td>
        <td><div style='width:80px' title="{{ ccr.tag }}"><span class="ellipsis">{{ ccr.tag }}</span></div></td>
        <!--td>{{ ccr.ctime }}</td-->
        <td width=5%>{{ ccr.file_size | normalize_size }}</td>
        <td width=10% align="center">{{ ccr.rate }}/{{ ccr.rating_num }}</td>
        <!--td width=10%;>{{ ccr.rating_num }}</td-->
        <td width=10% align="center">{{ ccr.download_num }}</td>
        <td width=15%>
            <div ng-show="showDownload" class="download">
              <!--<button ng-click="downloadHandler(ccr.file_id, ccr.download_link)" class="btn btn-success" popover-placement="top" popover-trigger="mouseenter" popover="下载"><span class="glyphicon glyphicon-download-alt"></span></button>-->
              <a ng-href="{{'/resource/download?file_id= ' +   ccr.file_id}}" class="btn primary" popover-placement="top" popover-trigger="mouseenter" popover="下载"><span class="glyphicon glyphicon-download-alt"></span></a>
              <!--<a ng-href="#/question-detail" class="btn default" popover-placement="top" popover-trigger="mouseenter" popover="详情"><span class="glyphicon glyphicon-link"></span></a>-->
              <a href="#/details?file_id={{ccr.file_id}}" target="_bland" class="btn default" popover-placement="top" popover-trigger="mouseenter" popover="详情"><span class="glyphicon glyphicon-link"></span></a>
              <!--button ng-click="previewHandler(ccr.file_id,ccr.download_link)" class="btn btn-success" ng-show="{{ccr.filename | isPreviewAble}}"><span class="glyphicon glyphicon-open-file"></span></button-->
              <!--<button ng-show="{{ccr | isPreviewAble}}" ng-click="previewHandler(ccr)" class="btn btn-success" popover-placement="top" popover-trigger="mouseenter" popover="预览"><span class="glyphicon glyphicon-open-file"></span></button>-->
              <!--<a ng-show="{{ccr | isPreviewAble}}" target="_blank" ng-href="{{'#/preview/' + ccr.file_id + '/' + ccr.resource_name}}" class="btn primary" popover-placement="top" popover-trigger="mouseenter" popover="预览"><span class="glyphicon glyphicon-open-file"></span></a>-->
              <a ng-show="{{(ccr | isPreviewAble) && !(ccr | isImg)}}" ng-click="showPreviewModal(ccr.file_id,ccr.resource_name)" class="btn primary" popover-placement="top" popover-trigger="mouseenter" popover="预览"><span class="glyphicon glyphicon-open-file"></span></a>
              <a ng-show="{{(ccr | isPreviewAble) && (ccr |isImg)}}" target="_blank" ng-href="{{'resource/preview?file_id=' + ccr.file_id }}" class="btn primary" popover-placement="top" popover-trigger="mouseenter" popover="预览"><span class="glyphicon glyphicon-open-file"></span></a>
            </div>
        </td>
        <!--td>{{ ccr.description }}</td-->
      </tr>
    </tbody>
  </table>
   <div ng-show="page.noResult" style="margin-top: 10px;text-align:center;font-size: 12px;">抱歉，未能搜索到符合条件的结果。赶紧去发布悬赏让小伙伴们帮你搜罗想要的资源吧！</div>
      </div>

<div ng-show="{{isCommentBtnVisible}}" style="width:120px;height:112px;position:fixed;right:-60px;top:60px;">
  <style type="text/css">
    .classChat{
      background-image:url(/static/images/classchat.png);
      display:block;
      width:22px;
      height:112px;
      background-position:0 0;
    }
    .classChat:hover{
      background-position:22px 0;
    }
  </style>
  <!--<a class="classChat" href="/#/schools/{{page.university}}/{{page.current_college}}/{{page.current_course}}/question_detail?course_id={{course_id}}" ></a>-->
  <a class="classChat" href="/#/schools/{{page.university}}/{{page.current_college}}/{{page.current_course}}/details?course_id={{course_id}}" ></a>
</div>
 
<div ng-show="page.noPagination" class="pagination_div">
  <pagination total-items="page.total_items" ng-change="getMoreRes()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
  </pagination>
</div>
