<div class="extern container reward" ng-init="init();">
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs" class="col-md-4">
    </div>
    <div class="pull-right">
      <div>
        <div style="margin-right:20px;">
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-click="checkOnlyMySchool()" ng-model="ch.isOnlyShowMySchool" ng-true-value="1" ng-false-value="0" ng-disabled="canOnlyShowMySchoolBeChecked" />本校

            </label>
          </div>
          <div class="checkbox-inline">
            <label>
              <input type="radio" name="rewardSortType" ng-click="checkSortMethod(0)" ng-model="ch.sortMethod" value="0" />最新
              <label>
                <input type="radio" name="rewardSortType" ng-click="checkSortMethod(1);" ng-model="ch.sortMethod" value="1" />高分
              </label>
          </div>
        </div>
      </div>
      <div>
        <div type="button" class="btn primary" data-toggle="modal" ng-click="showRewardModal()" data-target="#rewardModal">发布悬赏</div>
        <!--<div type="button" ng-click="direct2MyReward()" class="btn primary" style="color:white;">我的悬赏</a>-->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br />
  <!--悬赏列表-->
  <div ng-show="isRewardListEmpty">目前还没有悬赏，赶紧去悬赏一个想要的资源吧！</div>
  <div ng-show="!isRewardListEmpty">
    <div class="container">
      <div ng-repeat="reward in rewardList">
        <div class="row row-margin">
          <!--<div class="clearfix"></div>-->
          <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 reward-body">
            <div class="row">
              <div class="reward-title col-md-6">
                {{reward.university + '-' + reward.college + '-' + reward.course + '-' + reward.tag}}
                <!--山东大学-材料科学与工程-材料力学-模拟试题-->
              </div>
              <div class=" reward-info col-md-6">
                <!--<code>-->
                {{'来自：' + reward.need_anonymous?'匿名用户':reward.publisher_nick + '&nbsp;&nbsp;&nbsp;&nbsp;发布时间：'+ reward.ctime.substring(0,10) + '&nbsp;&nbsp;&nbsp;&nbsp;过期时间：' + reward.expired_date.substring(0,10)}}
                <!--</code>-->
              </div>
            </div>
            <div class="row white-bg">
              <div class="reward-head">
                <div class="reward-desc col-md-6 col-sm-12 col-xs-12 col-lg-6">
                  <div ng-bind="reward.description">
                    这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！ 这里是悬赏的描述！
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                  <div class="row">
                    <div ng-repeat="rewarder in reward.more_seeker" class="rewarder col-md-2 col-sm-2 col-xs-2 col-lg-2" ng-show="$index <= 2">
                      <img ng-if="!rewarder.need_anonymous" class="user-icon img-circle" ng-src="{{rewarder.img + '!45x45'}}" title="匿名用户" />
                      <img ng-if="rewarder.need_anonymous" class="user-icon img-circle" ng-src="{{rewarder.img + '!45x45'}}" title="{{rewarder.nick_name}}"/>
                      <div class="pull-left fb-icon" style="background-position-y:{{22 * (1 - rewarder.how_much/reward.total_fb) + 'px'}}"></div>
                      <div class="pull-left fb-text">
                        <span ng-bind="rewarder.how_much"></span>
                      </div>
                    </div>
                    <div ng-show="reward.more_seeker.length>3" class="rewarder-ellipse col-md-1 col-sm-1 col-xs-1 col-lg-1">...</div>
                    <div class="rewarder reward-add  col-md-3 col-sm-3 col-xs-3 col-lg-3">
                      <!--<img class="img-circle " src="../statics/images/user_icon/1.jpg " />-->
                      <div ng-click="showAppendDialog(reward)"><span class="glyphicon glyphicon-plus-sign" ng-click="showAppendFBModal(reward)"></span>
                      </div>
                      <div class="fb-text" ng-click="showAppendFBModal(reward)"><span>追加悬赏</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="reward-state col-md-2 col-sm-12 col-xs-12 col-lg-2">
            <div class="row">
              <div class="col-md-12 col-sm-4 col-xs-4 col-lg-12">
                <img src="../statics/images/fb-icon.png">
                <div class="fb"><span ng-bind="reward.total_fb + 'F'">100</span>
                </div>
              </div>
              <div class="col-md-12 col-sm-4 col-xs-4 col-lg-12" title="自己的悬赏不能领哦！" ng-show="reward.publisher === username">
                <div class="btn primary disabled" type="button">我来领赏</div>
              </div>
              <div class="col-md-12 col-sm-4 col-xs-4 col-lg-12">
                <div class="btn " ng-show="reward.publisher !== username" type="button" ng-click="showUploadModal(reward);">我来领赏
                </div>
              </div>
              <div class="col-md-12 col-sm-4 col-xs-4 col-lg-12"><a ng-click="changeCollapseIcon($index)" class="collapse-button " data-toggle="collapse" data-target="#{{reward.resource_list.length <= 0?'none':$index}}">{{reward.resource_list.length}}个结果<i id="icon{{$index}}" class="glyphicon glyphicon-collapse-down"></i></a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div id="{{$index}}" class="collapse panel panel-default reward-result">
            <div ng-repeat="resource in reward.resource_list " class="reward-answer row ">
              <!--<div class="col-md-1 "></div>-->
              <!--<div class="pull-left" style="width:20px"></div><div class="clearfix"></div>-->
              <!--<div style="width:60px;"></div>-->
              <span class="label label-success col-md-1">答案{{$index + 1}}</span>
              <!--<div class="pull-left glyphicon glyphicon-ok answer-adopt already-adopt"></div>-->
              <div class="col-md-9 panel panel-default reward-answer-body">
                <div class="answer-desc" ng-bind="resource.comment">
                  楼主俺这有，不过幽幽幽幽！
                </div>
                <div class="answer-resource">
                  <div ng-repeat="file in resource.uploaded_resources" class="row resource-table">
                    <div class="col-md-1 ">
                      <span class="glyphicon glyphicon-file file-icon"></span>
                      <!--<img src="../statics/images/fb-icon.png " />-->
                    </div>
                    <div class="resource-options">
                      <div class="col-md-5" ng-bind="file.filename">
                        这里是文件名称
                      </div>
                      <div class="col-md-3">
                        <a class="file-operation" ng-click="!(file | isPreviewAble) || showPreviewModal(reward.id,file.file_hash,file.filename)" ng-show="((file | isPreviewAble) && !(file | isImg))">预览</a>
                        <a class="file-operation" ng-href="{{'resource/preview?file_id=' + file.file_id}}" target="_blank" ng-show="((file | isPreviewAble) && (file | isImg))">预览</a>
                        <span ng-show="!(file | isPreviewAble)" style="color:#ABA8A8;">预览</span>
                      </div>
                      <div class="col-md-3">
                        <!--<a class="file-operation" ng-click="download(file)" ng-disabled="file | isPreviewAble">下载</a>-->
                        <a target="_blank" class="file-operation" ng-href="{{'/reward/resource/download?reward_id=' + reward.id + '&file_hash=' + file.file_hash }}" >下载</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pull-right answer-footer ">
                  <label>
                    来自:
                  </label>
                  <label ng-bind="resource.nick_name">
                    我是雷锋
                  </label>
                  &nbsp;&nbsp;
                  <label ng-bind="resource.ctime.substring(0,10)">
                    2015-7-15
                  </label>
                </div>
              </div>
              <!--<div class="pull-left answer-adopt glyphicon glyphicon-ok-sign"></div>-->
              <!--<div class="pull-left answer-adopt" ng-show="resource.accepted"></div>-->
              <!--<div class="pull-left solved" ng-show="reward.status === 'over'">已解决</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--悬赏列表-->

    <!--追加-->
    <div class="modal fade" id="appendFBModal" tabindex="-1" role="dialog" aria-labelledby="appendFBLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="appendFBLabel">追加FB</h4>
          </div>
          <div class="modal-body">
            <form name="appendForm">
              <div class="row">
                <div class="col-md-4">
                </div>
                <span>追加金额:</span>
                <input style="margin-left:20px;width:80px;display:inline-block;" class="form-control" name="appendFB" type="text" ng-model="appendFBFormData.addFB" min="1" requried />
                <span>F</span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn primary" ng-click="appendFB();" data-dismiss="modal" ng-disabled="appendForm.$invalid">确认</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--追加-->
  <div class="pages-nav" ng-show="isPaginationVisible">
    <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true"
    rotate="false">
    </pagination>
  </div>
  <!--分页-->
</div>
