<style type="text/css">
    #fmall {
        font-size: 16px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #fmall span {
        display: block;
        line-height: 24px;
    }

    #fmall .ident {
        text-indent:50px;
    }

    #fmall .title {
        clear: both;
        font: bold 18px/60px "Microsoft YaHei","黑体";
        text-align: left;
        color: #35a0ed;
    }
    #fmall .title:before {
        content: "| ";
    }

    #fmall .content-inline img {
        height: 180px;
        border-radius: 5px;
        border: 1px solid #35a0ed;
    }

    #fmall .indicators li {
        line-height: 30px;
    }
    #fmall .indicators a {
        display: block;
        text-align: center;
        text-decoration: none;
    }
    #fmall .indicators span {
        padding: 5px 10px;
        color: black;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    #fmall .indicators .active {
        background: #35a0ed;
        color: white;
    }
    @media screen and (min-width: 768px) {
        #fmall .indicators {
            right: 11px;
        }
        #fmall .indicators li {
            line-height: 22px;
        }
    }
    @media screen and (min-width: 1152px) {
        #fmall .indicators {
            right: 25px;
        }
    }

    #fmall .page_container {
        margin: 0 15px;
        padding-left: 70px;
        padding-right: 70px;
    }

</style>
<div id="fmall">
    <div class="page_container">
        <div class="row">
            <div class="title">学习F币奖励规则</div>
            <span>1、<b>优质资源上传：</b>首发以下任意类别资源，审核通过后每个资源奖励100F（中）200F（良）,500F(优)；后续上传者奖励按100F/个。往届考题和期末大作业，内容较完整者，直接奖励1000F。</span>
            <span class="ident">A、课后作业及答案</span>
            <span class="ident">B、课堂笔记</span>
            <span class="ident">C、学习心得</span>
            <span class="ident">D、往届考题</span>
            <span>2、<b>普通资源上传：</b>首发某课程内以下任意类别资源，审核通过后每个奖励5F（中）,20F（良）,50F(优)；后续上传者奖励按照5F/个。</span>
            <span class="ident">A、电子书或文献</span>
            <span class="ident">B、课程课件</span>
            <span class="ident">C、TED</span>
            <span class="ident">D、软件教学</span>
            <span>3、<b>优质资源下载：</b>下载规则1中的优质资源，将从下载者扣除20F/个，重复下载不扣分。资源下载扣除的积分将奖励给上传者。此外，下载次数超过100的优质资源，额外奖励上传者200F，超过500的额外奖励1000F。</span>
            <span>4、<b>普通资源下载：</b>下载规则2中的普通资源，将从下载者扣除5F/个，重复下载不扣分。资源下载扣除的积分将奖励给上传者。</span>
            <span>5、举报不符合上传规则的劣质资源，核实后奖励第一个举报者100F/个。</span>
        </div>
        <div class="row">
            <div class="title">学习F币惩罚规则</div>
            <span>上传前请查看上传规则，不符合上传规则的资源被审核发现或被举报，扣除上传者500-10000F.严重者封号！</span>
        </div>
        <div class="row">
            <div class="title">资源优劣评价标准</div>
            <span>中：无时间限制；资源较完整；描述较详细；容易在其他平台找到</span>
            <span>良：最近两年；资源很完整；描述较详细；不容易在其他平台找到</span>
            <span>优：最近一年；资源很完整；描述很详细；在其他平台找不到</span>
        </div>
    </div>
</div>
