<div class="container resource-college" ng-class="{'main-view-top': page.noPagination}">
  <div class="quick-nav" ng-controller="QuickNavController">
    <div ng-bind-html="navs"></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <!--label>搜索</label>
        <input ng-model="query" type="text" ng-model="appendFb" placeholder="快速查找"/-->
      <div class="form-group has-feedback">
        <input ng-model="query" type="text" ng-keypress="enter($event)" class="form-control" placeholder="按学校名称查找" />
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" style="pointer-events: inherit;cursor: pointer" ng-click="search()"></span>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="tabs">
        <div ng-click="fetchSchoolsByTag(0)" ng-class="{current_active:isCurrentSchoolType(0)}">全部高校</div><span>|</span>
        <div ng-click="fetchSchoolsByTag(1)" ng-class="{current_active:isCurrentSchoolType(1)}">985高校</div><span>|</span>
        <div ng-click="fetchSchoolsByTag(2)" ng-class="{current_active:isCurrentSchoolType(2)}">211高校</div>
        <!--span>|</span>
        <div>常青藤</div-->
      </div>
    </div>
  </div>
  <div ng-show="page.noResult" style="margin-top: 10px;text-align: center;font-size: 12px;">抱歉，未能搜索到符合条件的结果。赶紧去发布悬赏让小伙伴们帮你搜罗想要的资源吧！</div>
  <div class="row">
    <div class="col-md-3 col-xs-12 col-sm-4 col-lg-3" ng-repeat="school in schools">
      <div class="group" title="{{ school.university }}" ng-click="viewCollegeResourceClickHandler(school.university, school.university_icon)">
        <img class="logo" ng-src="{{ school.university_icon }}" />
        <div class="title">{{ school.university }}
          <br/>
          <!--span>人数：{{ school.student_num }}</span--><span>课程：{{ school.resource_num }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="page.noPagination" class="pagination_div">
  <pagination total-items="page.total_items" ng-change="page.pageChanged()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true"
  rotate="false">
  </pagination>
  <!--div ng-show="page.noPagination" class="pagination_div">
  <pagination total-items="page.total_items" on-select-page="page.pageChanged(page)" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" page="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
  </pagination-->
</div>
