<style>
    #show-information .border {
        box-shadow: 0px 3px 3px #CCC;
        margin-top: 20px;
        padding: 15px;
    }

    #show-information .part {
        margin: 20px;
    }

    #show-information a {
        text-decoration: underline;
    }

    #show-information a:hover {
        color: rgb(53,160,237);
    }

    #show-information header:before {
        content: '【'
    }

    #show-information header:after {
        content: '】'
    }
    #show-information .whiteback{
        background: white;
    }
    #show-information {
        background:rgb(228,229,231);
    }
    /* cert-info-groups*/

    .cert-info-groups .groups > span, .cert-info-groups .entities > span, .cert-info-groups .class1 > span {
        display: inline-block;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cert-info-groups .groups > span {
        width: 50px;
    }

    .cert-info-groups .entities > span {
        width: 120px;
    }

    .cert-info-groups .groups > span:hover, .cert-info-groups .entities > span:hover {
        color: #35a0ed;
    }

    .cert-info-groups .entities {
        text-align: left;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100px;
    }

    .cert-info-groups .title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .cert-info-groups .title > span{
        float: right;
        cursor: pointer;
    }

    .cert-info-groups .title > span:hover {
        color: #35a0ed;
    }

    .modal-font-size {
        font-size: 14px;
    }
</style>
<div id="show-information">
    <div class="container"  ng-init="init()">
        <div class="row">
            <div class="col-md-12 border whiteback" style="text-align: center;font-size: 18px">
                如何获得校园勋章
            </div>
            <div class="col-md-12 border whiteback" style="margin-bottom: 20px">
                <div class="part">
                    校园星空每个版块都对应一枚校园勋章，其中包括“校园之星”在内一共六种勋章。每一枚勋章都是一种荣誉，校园勋章获得者拥有校园星空特权。
                    校园勋章只能通过在校园星空分享优质内容，并且通过星认证获得，星认证相关说明如下：
                </div>
                <div class="part">
                    <header>星认证要求</header>
                    <ul>
                        <li>（1）F币不小于1000F。</li>
                        <li>（2）在认证的星分类下提问次数超过3次（可以自问自答）。</li>
                        <li>（3）在认证的星分类下累计回答次数超过10次(可以自问自答),且平均每个回答赞数不小于3，或总赞数不小于50。</li>
                        <li>（4）提交星认证后，每周至少登陆一次校园星空网站。</li>
                    </ul>
                </div>
                <div class="part">
                    <header>勋章授予</header>
                    <ul>
                        <li>（1）对于985高校同学，可无条件通过星认证获得“校园之星”勋章。但是通过星认证后如果一个月内没有产生任何内容，则收回勋章。</li>
                        <li>（2）上传真实头像，或填写真实的社会实践、实习、工作、获奖等履历，可以更快通过审核获得勋章。</li>
                        <li>（3）对于通过非正常渠道获取赞或者F币奖励的用户，校园星空将拒绝授予勋章，且半年内不再接受该用户的认证请求。</li>
                    </ul>
                </div>
                <div class="part">
                    <header>星特权</header>
                    <ul>
                        <li>（1）平台所有课程资源全部免F币下载。</li>
                        <li>（2）优先获得校园星空推荐。</li>
                    </ul>
                </div>
                <footer style="margin: 40px 20px 30px 20px">
                    &nbsp;以上最终解释权归校园星空所有。
                    <a href ng-click="showCert()">去认证</a>
                </footer>

                <div class="modal fade" id="certModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header green">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">认证</h4>
                            </div>
                            <div class="modal-body cert-info-groups">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" ng-click="universityClickHandler()" ng-model="university"
                                               name="university" class="form-control" readOnly="true" placeholder="请选择您的学校"
                                               required>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" ng-click="collegeClickHandler()" ng-model="college" name="college"
                                               class="form-control" readOnly="true" placeholder="请选择您的学院" required/>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-model="degree" ng-options="i for i in degrees">
                                            <option value="">选择学历</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-model="entrance_year"
                                                ng-options="i for i in entrance_year_list">
                                            <option value="">入学时间</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row modal-body" ng-show="isCurrentOrder(1)">
                                    <div class="title">请选择学校所在地区<span ng-click="show_order=0">收起</span>
                                    </div>
                                    <div class="groups modal-font-size">
                                        <span ng-repeat="p in prov_list" ng-click="chooseProvince(p)">{{ p }}</span>
                                    </div>
                                </div>
                                <div class="row modal-body" ng-show="isCurrentOrder(2)">
                                    <div class="title">请选择学校<span ng-click="show_order=0;">收起</span></div>
                                    <div class="form-group">
                                        <input type="text" ng-model="uf" placeholder="快速名称过滤(支持简称和拼音，如中科院、zky均可找到中国科学院)"/>
                                    </div>
                                    <div class="entities modal-font-size">
                            <span ng-repeat="i in universities | ucf: uf" ng-click="chooseUniversity(i.university)"
                                  title="{{i.university}}">{{ i.university }}</span>
                                    </div>
                                </div>
                                <div class="row modal-body" ng-show="isCurrentOrder(3)">
                                    <div class="title">请选择新院系名<span ng-click="show_order=0;">收起</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" ng-model="cf" placeholder="快速名称过滤(支持简称和拼音，如jsj可以找到计算机学院)"/>
                                    </div>
                                    <div class="entities modal-font-size">
                        <span ng-repeat="i in colleges | ucf: cf: 'college'" ng-click="chooseCollege(i.college)"
                              title="{{i.college}}">{{ i.college }}</span>
                                    </div>
                                </div>
                                <div style="margin-top: 20px;">
                                    <form name="myForm" novalidate>
                                        <input type="email" name="university_mail" ng-model="university_mail" class="form-control"
                                               placeholder="邮箱, 985高校请用本校邮箱进行验证" required>
                  <span ng-show="myForm.university_mail.$dirty && myForm.university_mail.$invalid">
                      <span ng-show="myForm.university_mail.$error.required">注册邮箱为空</span>
                      <span ng-show="myForm.university_mail.$error.email">邮箱不合法</span>
                  </span>
                                    </form>
                                </div>
                                <div class="row form-horizontal" style="margin-top: 20px;">
                                    <label class="col-md-2 authentication"><i class="fa fa-star"></i>认证类型</label>

                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="class2" ng-options="i+'之星' for i in classes">
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-top: 20px;">
                                    <button type="button" class="btn radius primary" style="width: 100%;"
                                            ng-disabled="myForm.university_mail.$invalid || !university || !college || !degree || !entrance_year || !class2"
                                            ng-click="auth()">提交审核
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>
