<style>

    #star {
        color: #333;
    }
    #star img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    #star .school-star img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    #star .border {
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 20px;
    }

    #star .grey-border-shadow {
        position: relative;
        display: block;
        margin-right: 20px;
        margin-left: 10px;
        text-align: center;
        height: 35px;
        line-height: 1.8;
        text-decoration: underline;
        cursor: pointer;
    }

    #star .grey-border-shadow {
        color:#248DD8 ;
        font-size: 14pt;
        text-decoration: none;
    }
    #star .grey-border-shadow:hover {
        text-decoration: none;
        background-color: #248DD8;
        color: white;
    }

    #star .body .user-func {
        border-top: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    #star .body .hover:hover {
        cursor: pointer;
        color: rgb(53,160,237);
    }

    #star .school-class {
        cursor: pointer;
        width:19%;
        text-align: center;
        left: -2px;
        margin-left: 13px;
    }

    #star .school-class div{
        padding: 0px 10px;
        height: 35px;
        font-size: 12pt;
        line-height: 2.3;
        color:#248DD8 ;
    }

    #star .school-class div:hover {
        background-color: #248DD8;
        color: white;
    }

    #star .school-class ul {
        background-color: #FFFFFF;
        border-radius: 0px;
        border: 1px solid #eee;
    }

    #star .school-class li {
        padding: 5px 26px 5px 26px;
        text-align: center;
        color:rgb(53,160,237)
    }

    #star .school-class li:hover {
        background-color: #248DD8;
        color: #FFFFFF;
    }

    #star .care-list {
        text-align:right;
        cursor: pointer;
        left: -5px;
    }

    #star .care-list li {
        padding: 6px 20px;
        height: 35px;
        font-size: 12pt;
    }

    #star .care-list li:hover {
        background-color:#248DD8;
        color: #FFFFFF;
    }

    #star .care-list ul li {
        color: rgb(53,160,237);
        background-color: #eeeeee;
    }

    #star .school-star .img {
        text-align: center;
        cursor: pointer;
    }

    #star .check:hover {
        cursor: pointer;
        color: #248DD8;
    }

    #star .title,#star .check {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #star .check {
        padding-left: 40px;
    }

    #star .title {
        font-weight: bold;
        font-size: 14px;
    }

    #star .school-star .info {
        padding: 10px 0px;
    }

    #star .school-star .info li {
        padding-top: 5px;
    }

    #star footer {
        position: fixed;
        z-index: 2;
        bottom: 0px;
        right: 0px;
        background-color: #35a0ed;
        color: white;
    }

    #star footer span {
        padding: 10px;
    }
    #star footer span.move-top {
        cursor: pointer;
    }

    #star footer span.move-top:hover {
        color: rgba(53, 107, 237, 1);
    }

    #star .no-recommend {
        padding: 20px;
    }

    #star .load-more {
        text-align: center;
        background-color: rgb(53,160,237);
        cursor: pointer;
        margin:20px 10px;
        padding: 10px;
        width: 94%;
        color: #FFFFFF;
    }

    #star .load-more:hover {
        background-color: #248DD8;
    }

    #star .no-more {
        margin:20px 10px;
        padding: 10px;
        text-align: center;
        width:94%;
    }

    #star .dropdown-menu {
        background-color: rgb(53,160,237);
        box-shadow: 0 2px 2px #eee;
        border-radius:0;
        width:100%;
    }
    #star .ellipsis {
        max-width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
    #star .star-infor{
        display:block;
        float:left;
    }

    #star .col-sm-3{
        display: block;
        padding-left: 0;
    }
    #star .care-list ul .active {
        color: white;
        background: #248DD8;
    }
    #star .col-md-8 {
        padding-right: 0px;
    }
</style>
<div id="star">
    <div class="container" ng-controller="StarController" ng-init="init()">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8" >
                <div class="row">
                    <!-- 这是标签部分-->
                    <div class="col-sm-3 school-class whiteback">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <span ng-bind="schoolShow" style="font-size: 12pt;">只看自己的学校</span><span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" ng-hide="!is_logined">
                            <li ng-repeat="school in schoolList" ng-bind="school" ng-click="changeSchool(school)">全国高校</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 care-list col-sm-offset-3" >
                        <ul class="list-inline">
                            <li class="whiteback" ng-class="{true:'active',false:'inactive'}[careShow=='意气相投']" ng-click="changeCare('意气相投')" title="发现兴趣相似的Ta">意气相投</li>
                            <li class="whiteback" ng-class="{true:'active',false:'inactive'}[careShow=='美不胜收']" ng-click="changeCare('美不胜收')" title="仰慕、倾慕之人在此">美不胜收</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px">
                <a href="#/info" target="_blank">
                    <div class="row grey-border-shadow whiteback">了解如何获得校园勋章</div>
                </a>
            </div>
        </div>
        <!-- 这是主体部分-->
        <div class="body">
            <div class="row">
                <!-- 这是不同标签情况下不同的显示部分-全部-只看自己的学校-->
                <div class="col-md-8">
                    <div class="row" >
                        <!-- 一个块-->
                        <div class="col-md-6 border whiteback"style="width: 45%;padding-bottom: 0px;" ng-repeat="r_user in recommendUsers">
                            <div class="row">
                                <div class="col-md-4" title="访问主页" style="padding: 0px 10px;text-align: center;cursor: pointer" ng-click="goUserPage(r_user.user)">
                                    <img ng-src="{{r_user.icon + '!60x60' }}"  onerror="this.src='/statics/images/user_icon/34.jpg'">
                                </div>
                                <div class="col-md-8" style="padding: 10px 10px">
                                    <ul style="height: 85px">
                                        <li class="ellipsis" style="line-height: 2">
                                            <span class="star-infor ellipsis" ng-bind="r_user.real_name + ' '+ r_user.university" style="width: 145px" title="{{r_user.real_name + ' ' + r_user.university}}">中科院大学</span>
                                            <!-- 验证之星-->
                                        <span style="width: 83px;top:-2px;text-overflow:clip;position: relative" class="ellipsis">
                                            <i ng-repeat="s in allStars" ng-show="r_user[s.star]==1" cert-icon="s.value"></i>
                                        </span>
                                        </span>
                                            <!-- end-->
                                        </li>
                                        <li><span ng-bind="((r_user.thumb_num)? r_user.thumb_num:0)  + '赞'">121赞</span>
                                            <!--&nbsp;&nbsp;<span>121奖</span>-->
                                        </li>
                                        <li ng-bind="'简介：'+ ((r_user.desc)? r_user.desc:'暂无') " class="ellipsis" title="{{r_user.desc}}">国际ACM一等奖描述</li>
                                        <!-- 显示标签-->
                                        <li class="ellipsis">标签：<span ng-hide="r_user.tags">暂无</span>
                                            <span ng-init="userTags=[]">
                                                <span ng-repeat="(k,v) in r_user.tags" ng-init="userTags.push(k.split(':')[1])"></span>
                                                <span ng-bind="userTags.join('/')" title="{{userTags.join('/')}}"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                </span>
                                <div class="col-md-12" style="border-top: 1px dashed #eee">

                                    <ul style="padding: 3px 0px 3px 20px;height: 65px;overflow: hidden;" ng-init="userHonor = changeHonor(r_user.honor)">
                                        <li ng-hide="userHonor">荣誉：暂无<li>
                                        <li ng-hide="!(userHonor)">荣誉：</li>
                                        <li ng-repeat="h in userHonor" ng-bind="(h)? h.join(' '):'暂无'" class="ellipsis" title="{{(h)? h.join(' '):'暂无'}}"> 2012年 校级 一等奖学金</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 user-func" style="border-right: 1px solid #eee" ng-click="follow(r_user)">
                                    <span class="hover" ng-show="isCareUser(r_user) == false"> + 关注</span>
                                    <span ng-show="isCareUser(r_user) == true">已关注</span>
                                </div>
                                <div class="col-md-6 hover user-func" ng-click="goUserPage(r_user.user)">
                                    访问主页
                                </div>
                            </div>
                        </div>
                        <!-- end col-md-4-->
                    </div>
                    <div class="row">
                        <div class="col-md-12 load-more" ng-click="loadMore()" ng-show="!noMore">
                            加载更多
                        </div>
                        <div class="col-md-12 no-more" ng-show="noMore">
                            没有更多的了
                        </div>
                    </div>
                </div>
                <!-- 这是热门之星部分-->
                <div class="col-md-4 school-star" only-bottom style="padding-right: 0px;padding-left: 0px">
                    <!-- 热门 校园之星部分-->
                    <div class="row border whiteback">
                        <div class="col-sm-4 title">热门 校园之星</div>
                        <div class="col-sm-4 check col-sm-offset-4" ng-click="changeSchoolStarFun()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;换一换</div>
                        <!-- 如果服务器获取数据为空显示暂无推荐用户-->
                        <div ng-show="showSchoolStars.length == 0" class="col-sm-12 no-recommend">对不起，暂无推荐用户</div>
                        <!-- 循环部分-->
                        <div class="body" ng-repeat="user in showSchoolStars">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-3 img ">
                                <img ng-src="{{user.icon + '!50x50' }}" ng-click="goUserPage(user.user)" title="访问主页">
                            </div>
                            <div class="col-sm-9 info">
                                <ul>
                                    <li><span ng-bind="user.real_name">Sunny</span>&nbsp; <span ng-bind="user.university">清华大学</span>&nbsp;
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                        <!-- end-->
                                    </li>
                                    <li ng-bind="((user.desc)? user.desc:' ')" class="ellipsis" title="{{user.desc}}">ACM 国际大赛一等奖等12字描述</li>
                                </ul>
                            </div>
                        </div>
                        <!-- body循环截止-->
                    </div>
                    <!--end 热门 校园之星-->
                    <!-- 热门 考证之星-->
                    <div class="row border whiteback">
                        <div class="col-sm-4 title">热门 考证之星</div>
                        <div class="col-sm-4 check col-sm-offset-4" ng-click="changeResearchStarFun()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;换一换</div>
                        <!-- 如果服务器获取数据为空显示暂无推荐用户-->
                        <div class="col-sm-12 no-recommend" ng-show="showResearchStars.length == 0">对不起，暂无推荐用户</div>
                        <!-- 循环部分-->
                        <div class="body" ng-repeat="user in showResearchStars">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-3 img ">
                                <img ng-src="{{user.icon + '!50x50'}}" ng-click="goUserPage(user.user)" title="访问主页">
                            </div>
                            <div class="col-sm-9 info">
                                <ul>
                                    <li><span ng-bind="user.real_name + ' '+ user.university + ' '">Sunny&nbsp; 清华大学&nbsp;</span>
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                        <!-- end-->
                                    </li>
                                    <li ng-bind=" ((user.desc)? user.desc:' ')" class="ellipsis" title="{{user.desc}}">ACM 国际大赛一等奖等12字描述</li>
                                </ul>
                            </div>
                        </div>
                        <!-- body循环截止-->
                    </div>
                    <!-- end 热门 考证之星-->
                    <!-- 热门 就业之星-->
                    <div class="row border whiteback">
                        <div class="col-sm-4 title">热门 就业之星</div>
                        <div class="col-sm-4 check col-sm-offset-4" ng-click="changeWorkerStarFun()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;换一换</div>
                        <!-- 如果服务器获取数据为空显示暂无推荐用户-->
                        <div class="col-sm-12 no-recommend" ng-show="showWorkerStars.length == 0">对不起，暂无推荐用户</div>
                        <!-- 循环部分-->
                        <div class="body" ng-repeat="user in showWorkerStars">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-3 img ">
                                <img ng-src="{{user.icon + '!50x50'}}" ng-click="goUserPage(user.user)" title="访问主页">
                            </div>
                            <div class="col-sm-9 info">
                                <ul>
                                    <li><span ng-bind="user.real_name + ' '+ user.university + ' '">Sunny&nbsp; 清华大学&nbsp;</span>
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                        <!-- end-->
                                    </li>
                                    <li ng-bind="((user.desc)? user.desc:' ')" class="ellipsis" title="{{user.desc}}">ACM 国际大赛一等奖等12字描述</li>
                                </ul>
                            </div>
                        </div>
                        <!-- body循环截止-->
                    </div>
                    <!-- end 热门 就业之星-->
                    <!-- 热门 考研之星-->
                    <div class="row border whiteback">
                        <div class="col-sm-4 title">热门 考研之星</div>
                        <div class="col-sm-4 check col-sm-offset-4" ng-click="changeStudyStarFun()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;换一换</div>
                        <!-- 如果服务器获取数据为空显示暂无推荐用户-->
                        <div class="col-sm-12 no-recommend" ng-show="showStudyStars.length == 0">对不起，暂无推荐用户</div>
                        <!-- 循环部分-->
                        <div class="body" ng-repeat="user in showStudyStars">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-3 img " ng-click="goUserPage(user.user)" title="访问主页">
                                <img ng-src="{{user.icon + '!50x50'}}">
                            </div>
                            <div class="col-sm-9 info">
                                <ul>
                                    <li><span ng-bind="user.real_name + ' '+ user.university + ' '">Sunny&nbsp; 清华大学&nbsp;</span>
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                        <!-- end-->
                                    </li>
                                    <li ng-bind="((user.desc)? user.desc:' ')" class="ellipsis" title="{{user.desc}}">ACM 国际大赛一等奖等12字描述</li>
                                </ul>
                            </div>
                        </div>
                        <!-- body循环截止-->
                    </div>
                    <!-- end 热门 考研之星-->
                    <!-- 热门 实习之星-->
                    <div class="row border whiteback">
                        <div class="col-sm-4 title">热门 实习之星</div>
                        <div class="col-sm-4 check col-sm-offset-4" ng-click="changePracticeStarFun()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;换一换</div>
                        <!-- 如果服务器获取数据为空显示暂无推荐用户-->
                        <div class="col-sm-12 no-recommend" ng-show="showPracticeStars.length == 0">对不起，暂无推荐用户</div>
                        <!-- 循环部分-->
                        <div class="body" ng-repeat="user in showPracticeStars">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-3 img ">
                                <img ng-src="{{user.icon + '!50x50'}}" ng-click="goUserPage(user.user)" title="访问主页">
                            </div>
                            <div class="col-sm-9 info">
                                <ul>
                                    <li><span ng-bind="user.real_name + ' '+ user.university + ' '">Sunny&nbsp; 清华大学&nbsp;</span>
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                        <!-- end-->
                                    </li>
                                    <li ng-bind="((user.desc)? user.desc:' ')" class="ellipsis" title="{{user.desc}}">ACM 国际大赛一等奖等12字描述</li>
                                </ul>
                            </div>
                        </div>
                        <!-- body循环截止-->
                    </div>
                    <!-- end 热门 实习之星-->
                    <!-- 热门 留学之星-->
                    <div class="row border whiteback">
                        <div class="col-sm-4 title">热门 留学之星</div>
                        <div class="col-sm-4 check col-sm-offset-4" ng-click="changeStudyBStarFun()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;换一换</div>
                        <!-- 如果服务器获取数据为空显示暂无推荐用户-->
                        <div class="col-sm-12 no-recommend" ng-show="showStudyBStars.length == 0">对不起，暂无推荐用户</div>
                        <!-- 循环部分-->
                        <div class="body" ng-repeat="user in showStudyBStars">
                            <div class="col-sm-12"></div>
                            <div class="col-sm-3 img ">
                                <img ng-src="{{user.icon + '!50x50'}}" ng-click="goUserPage(user.user)" title="访问主页">
                            </div>
                            <div class="col-sm-9 info">
                                <ul>
                                    <li><span ng-bind="user.real_name + ' '+ user.university + ' '">Sunny&nbsp; 清华大学&nbsp;</span>
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                        <!-- end-->
                                    </li>
                                    <li ng-bind=" ((user.desc)? user.desc:' ')" class="ellipsis" title="{{user.desc}}">ACM 国际大赛一等奖等12字描述</li>
                                </ul>
                            </div>
                        </div>
                        <!-- body循环截止-->
                    </div>
                    <!-- end 热门 留学之星-->
                </div>
            </div>
            </div>
            <!--<footer>-->
                <!--<div><span class="glyphicon glyphicon-arrow-up move-top" ng-click="toTop()"></span></div>-->
            <!--</footer>-->
            <to-top></to-top>
        </div>
<!--         <footer>
            <div><span class="glyphicon glyphicon-send" style="padding-right: 0px"></span><span>和12万高校大学生high起来</span><span class="glyphicon glyphicon-arrow-up move-top" ng-click="toTop()"></span></div>
        </footer> -->
        <to-top></to-top>
    </div>
</div>
