<div class="container" id="find">
    <div class="nav">
        <div class="row">
            <div class="col-md-3 col-md-offset-5 right">
                <ul class="list-inline">
                    <li ng-click="searchVal(c)" ng-repeat="c in searchClasses" ng-bind="c" ng-class="{active:isCurrentTab(c)}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
