<style type="text/css">
  .doctor-rabbit {
    width: 13rem;
  }
  .search-brand {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #35a0ed;
  }
</style>
<div class="container" id="search-div">
  <div class="row">
    <div class="center-block doctor-rabbit">
      <img class="img-responsive" src="http://test.friendsbt.com/static/images/user_icon/34.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="search-brand">
      <span>爱搜索</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>做学霸</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 visible-xs-inline"></div>
    <!--<div class="col-sm-2 visible-sm-inline"></div>-->
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <form role="form">
        <div class="form-group">
          <input name="keyword" ng-model="keyword" type="text" ng-keypress="enter($event)" ng-click="search(0)" class="form-control" placeholder="请输入学校、老师、课程、资源名称关键字搜索" />
        </div>
      </form>
    </div>
  </div>
  <!--<div class="row">-->
  <!--  <div class="col-xs-2 visible-xs-inline"></div>-->
  <!--  [><div class="col-sm-2 visible-sm-inline"></div><]-->
  <!--  <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">-->
  <!--    <div class="row">-->
  <!--      <div class="col-xs-2 visible-xs-inline"></div>-->
  <!--      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">-->
  <!--        <div class="btn default " ng-click="search(0)" ng-class="{current_active:isCurrentType(0)}">搜资源</div>-->
  <!--      </div>-->
  <!--      [><div class=" col-md-2 col-lg-2 col-sm-2 col-xs-2"></div><]-->
  <!--      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">-->
  <!--        <div class="btn default " ng-click="search(1)" ng-class="{current_active:isCurrentType(1)}">搜课程</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--</div>-->
  <div class="row">
    <div class="search-brand">
      <div class="btn default " ng-click="search(0)" ng-class="{current_active:isCurrentType(0)}">搜资源</div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="btn default " ng-click="search(1)" ng-class="{current_active:isCurrentType(1)}">搜课程</div>
    </div>
  </div>

</div>
