<!--********************************************************************************
*     File Name           :     thank-modal.html
*     Created By          :     DQ - D.Q.Zhang.chn@gmail.com
*     Creation Date       :     [2015-11-03 22:40]
*     Last Modified       :     [2015-12-09 22:24]
*     Description         :      奖励的modal
*********************************************************************************-->
<style>
  #thankAnswerModal .green,
  #thankQuestionModal .green {
    background: #35a0ed;
    color: white;
  }
  #thankAnswerModal .radius,
  #thankQuestionModal.green {
    border-radius: 0;
  }
  #thankQuestionForm .form-control,
  #thankAnswerForm .form-control {
    display: block;
    clear: both;
    width: 530px;
  }
  #thankAnswerForm{
width:100%;
  }
  #thankQuestionForm{
width:100%;
  }
</style>
<!-- 奖励回答模态框 -->
<div ng-controller="ThankController" class="modal" id="thankAnswerModal" tabindex="-1" role="dialog" aria-labelledby="thankAnswerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="thankAnswerModalLabel">
            奖励小伙伴
          </h4>
      </div>
      <div class="modal-body">
        <div style="margin:10px 10px 15px 0" class="col-md-11">奖他／她 F币吧，回答的好棒！</div>
        <div>
          <form class="container" id="thankAnswerForm" name="thankAnswerForm">
              <div class="row">
            <input name="fb" class="col-md-10 form-control" type="text" placeholder="{{'您还有 ' + total_coins + 'F'}}" ng-model="thankAnswerFB" required /><span class="pull-left" style="font-size:20px;margin-top:3px;margin-left:20px">F</span>
        </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn radius" data-dismiss="modal">取消
        </button>
        <button type="button" class="btn primary radius" ng-click="answerThanks()" data-dismiss="modal" ng-disabled="thankAnswerForm.$invalid">确认</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>

<!-- 奖励提问模态框 -->
<div ng-controller="ThankController" class="modal" id="thankQuestionModal" tabindex="-1" role="dialog" aria-labelledby="thankQuestionModaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="thankQuestionModaLabel">
            奖励小伙伴
          </h4>
      </div>
      <div class="modal-body">
        <div style="margin:10px 0 15px 0" class="col-md-12">奖励该提问，让更多人看到并参与回答！</div>
        <div>
          <form class="container" id="thankQuestionForm" name="thankQuestionForm">
              <div class="row">
              <input name="fb" class="form-control col-md-10" type="text" placeholder="{{'您还有 ' + total_coins + 'F'}}" ng-model="thankQuestionFB" ng-pattern="/^[1-9]*[1-9][0-9]*$/" required/> <span class="pull-left" style="font-size:20px;margin-top:3px;margin-left:20px">F</span>
          </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn radius" data-dismiss="modal">取消
        </button>
        <button type="button" class="btn primary radius" data-dismiss="modal" ng-click="questionThanks()" ng-disabled="thankQuestionForm.$invalid">确认</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>
