  <div class="extern unpass-details workspace" ng-style="{'height': workspaceHeight}" ng-init="init();">
    <style type="text/css">
    .container{
      width: 100%;
    }
    .extern{
      padding: 10px 120px 0px;
    }
.unpass-details .right form > div .title {
    text-align: left;
}
 /*   .details label{
      width:70px;
      }*/
      </style>

      <div class="container uploadModal">
        <div class="quick-nav" ng-controller="QuickNavController">
          <div ng-bind-html="navs"></div>
        </div>

        <div id="upload-form-group">
          <div class="row">
            <div class="col-md-2 left">
              <div class="row">
                <div class="col-md-12">
                  <img class="poster" src="{{details_info.img}}">
                </div>
              </div>
              <div class ="row">
                <div class="col-md-12 file-name" ><label>文件名：</label>
                  <br />
                  <span class="point" title="{{details_info.filename}}" ng-bind="details_info.filename"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12"><label>上传时间：</label>
                  <br />
                  <span ng-bind="details_info.ctime"></span>
                </div>
              </div>
              <div class ="row">
                <div class="col-md-12"><label>大小：</label><span ng-bind="normalizeFileSize(details_info.file_size)"></span></div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label>未通过原因：</label>
                  <br />
                  <span ng-bind="details_info.unpass_reason"></span>
                </div>
              </div>
            </div>
            <div class="col-md-9 right">
              <form role="form" name="changeInfoForm">
                <div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="strange-align">资源名称：</label>
                      <input class="form-control" ng-model="formdata.resource_name" required />
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-12"><label>学校名称：</label><input class="form-control" ng-click="universityClickHandler()" ng-model="formdata.university" readOnly="true" required/></div>
                  </div>
                  <div class="row">
                  <div class="col-md-12"><label>院系名称：</label><input class="form-control" ng-click="collegeClickHandler()" ng-model="formdata.college" readOnly="true" required/></div>
                </div>
                
                <div class="row modal-body" ng-show="isCurrentOrder(1)">
                    <div class="title">请选择学校所在地区<span ng-click="show_order=0;">收起</span></div>
                    <div class="groups">
                      <span ng-repeat="p in prov_list" ng-click="chooseProvince(p)">{{ p }}</span>
                    </div>
                </div>
                <div class="row modal-body" ng-show="isCurrentOrder(2)">
                    <div class="title">请选择学校<span ng-click="show_order=0;">收起</span></div>
                    <div class="form-group">
                      <input type="text" ng-model="uf" placeholder="快速名称过滤(支持简称和拼音，如中科院、zky均可找到中国科学院)"/>
                    </div>
                    <div class="entities">
                      <span ng-repeat="i in universities | ucf: uf" ng-click="chooseUniversity(i.university)" title="{{i.university}}">{{ i.university }}</span>
                    </div>
                </div>
                <div class="row modal-body" ng-show="isCurrentOrder(3)">
                    <div class="title">请选择院系名<span ng-click="show_order=0;">收起</span></div>
                    <div class="form-group">
                      <input type="text" ng-model="cf" placeholder="快速名称过滤(支持简称和拼音，如jsj可以找到计算机学院)"/>
                    </div>
                    <div class="entities">
                      <span ng-repeat="i in colleges | ucf: cf: 'college'" ng-click="chooseCollege(i.college)" title="{{i.college}}">{{ i.college }}</span>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-12"><label class="strange-align">课程名称：</label>
                    <input type="text" ng-model="formdata.course" class="form-control" placeholder="课程名" typeahead="course for course in courses | filter:$viewValue | limitTo:8" ng-readonly="!(formdata.university && formdata.college)" ng-click="getCourses()" required/>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12"><label>授课教师：</label><input class="form-control" ng-model="formdata.teacher" ng-maxlength=20 /></div>
                </div>

                <div class="row">
                  <div class="col-md-12"><label class="strange-align">资源标签：</label>
                    <select name="tag" class="form-control" ng-model="formdata.tag" ng-options="tag for tag in tags" required>
                      <option value="">---请选择资源分类---</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12"><label class="strange-align" style="vertical-align:top">资源描述：</label>
                   <textarea class="form-control" name="sourceDescription" rows="3" placeholder="介绍一下资源吧(必填,200字以内) ^v^ :-)" ng-maxlength="500"  ng-model="formdata.description" required>
                   </textarea>
                 </div>
               </div>

             </div>
           </form>
           <div class="row" style="float:right;">
            <div class="col-md-12">
              <button type="btn"   class="btn primary" ng-disabled="changeInfoForm.$invalid" ng-click="updateResInfo();">确认并重新发布</button>
              <button type="btn" class="btn primary" ng-click="removeRes();">删除资源</button>
            </div>
          </div>

        </div>


      </div>
    </div>
    <div style="margin-top:20px">注意：<div>被拒绝理由为[资源不合法/违规，资源损坏/错误]等不可修改<br>未修改信息并重新发布的资源记录将在20天后自动删除</div></div>
  </div>
