<div class="container" id="find">
    <div class="nav">
        <div class="row">
            <div class="col-md-3 col-md-offset-5 right">
                <ul class="list-inline">
                    <li ng-click="searchVal(c)" ng-repeat="c in searchClasses" ng-bind="c" ng-class="{active:isCurrentTab(c)}"></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 这是左半部分-->
    <div class="col-md-8" style="padding-bottom: 20px">
        <!-- 如果搜索列表为空，则显示提示信息-->
        <div ng-show="page.noResult" style="margin-top: 10px;text-align: center;font-size: 12px;">抱歉，未能搜索到符合条件的学霸。</div>
        <!-- 这是搜索显示用户部分-->
        <div class="down">
            <div class="content">
                <div class="row" ng-repeat="user in moreRes">
                    <div class="col-md-12 border" style="width: 97.2%;margin-left: 10px;">
                        <div class="row">
                            <div class="col-md-1">
                                <ul class="praise">
                                    <li>
                                        <img ng-src="{{user.icon}}" title="访问主页" ng-click="goToUser(user.user)">
                                    </li>
                                    <li style="width: 80px;text-align: center" ng-bind="(user.thumb_num? user.thumb_num:0)+'赞'+ '  ' + (user.thanks_coin? user.thanks_coin:0) + '赏' "></li>
                                </ul>
                            </div>
                            <div class="col-md-11">
                                <div style="display: block;">
                                    <div class="row col-md-6 col6"  style="border:none;text-align: left;margin-left:50px;margin-top: 8px">
                                        <p class="ellipsis" style="line-height: 2px" ng-bind="user.real_name  + ' '+ user.university" title="{{user.real_name  + ' '+ user.university}}">
                                            Bone 青海畜牧兽医职业技术学院</p>
                                        <span  ng-bind="(user.desc)? user.desc: '暂无描述'" class="ellipsis" title="{{(user.desc)? user.desc: '暂无描述'}}">ACM国际一等奖12字描述</span>
                                        <div class="ellipsis" style="padding-top: 10px">
                                            标签：
                                            <span ng-hide="user.tags">暂无</span>
                                            <span ng-init="userTags=[]">
                                                <span ng-repeat="(k,v) in user.tags" ng-init="userTags.push(k.split(':')[1])"></span>
                                                <span ng-bind="userTags.join('/')" title="{{userTags.join('/')}}"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row col-md-3" style="border:none;margin:24px 0 -20px -140px;">
                                        <!-- 验证之星-->
                                        <i ng-repeat="s in allStars" ng-show="user[s.star]==1" cert-icon="s.value"></i>
                                    </div>
                                    <div class="col-md-3" style="text-align:center;margin: 26px 0 10px 55px;">
                                        <div class="concern" >
                                            <span ng-click="follow(user)" ng-show="isCareUser(user) == false">+关注</span>
                                            <span ng-show="isCareUser(user) == true">已关注</span>
                                        </div>
                                        <div class="visit" ng-click="goToUser(user.user)">
                                            访问主页
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 这里是分页-->
        <div ng-show="page.noPagination" class="pagination_div" style="position: static">
            <pagination total-items="page.total_items" ng-change="getMoreRes()" items-per-page="page.items_per_page" first-text="<<" last-text=">>" previous-text="<" next-text=">" max-size="page.max_size" ng-model="page.current_page" class="pagination-md" boundary-links="true" rotate="false">
            </pagination>
        </div>
    </div>
    <!-- 这是右半部分-->
    <div class="col-md-3">
        <div class="hotsearch">
            <span style="line-height: 3;font-weight: bold;">热门搜索</span>

            <div style="line-height: 2;text-decoration: underline">
                <p ng-repeat="h in hotKeyWords"><a href="" ng-bind="h[0]" ng-click="hotWordHandler(h[0])">搜素的字段</a><span ng-bind="h[1]" style="float: right"></span></p>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
