<!--鼠标移到头像时弹窗-->
<div id="userinfor" ng-mouseleave="userQuestion=null;">
  <div class="row">
    <div class="col-md-12 special-border whiteback userpic">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li>
              <a ng-href="/user_page?user={{cardUser.user | encode_username }}" target="_blank">
                <img class="userHeadPic" ng-src="{{cardUser.icon}}">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8 userCard">
          <ul>
            <li ng-bind="cardUser.real_name + ' ' + cardUser.university"title="{{cardUser.real_name + ' ' + cardUser.university}}">Sunny 清华大学
              <i ng-repeat="c in cardUser.publisher_star_info" cert-icon="c"></i>
            </li>
            <li ng-bind="cardUser.college">北京大学计算机学院机学院</li>
          </ul>
        </div>
        <div>
          <div class="information">
            <ul class="row">
              <li class="col-md-3 border-right"><span class="user-info-cneter">F币<br><span coin-format="cardUser.coins_by_study"></span></li>
                <li class="col-md-2 border-right"><span class="user-info-center">赞<br>{{cardUser.thumb_num}}</span></li>
                <li class="col-md-2 border-right"><span class="user-info-center">奖 <br>{{cardUser.thanks_coin}}</span></li>
                <li class="col-md-2 border-right"><span class="user-info-center">答 <br>{{cardUser.answers_num}}</span></li>
              <li class="col-md-3"><span class="user-info-center">粉丝<br>{{cardUser.followers_num}}</span></li>
            </ul>
          </div>
        </div>
        <div class="user-card-bottom">
          <div class="col-md-6 hover border-right">
            <span ng-click="followUser(cardUser)" ng-hide="isFollowed(cardUser) == true">+ 关注</span>
            <span ng-show="isFollowed(cardUser) == true">已关注</span>
          </div>
          <a class="col-md-6 hover" ng-href="/user_page?user={{cardUser.user | encode_username }}" target="_blank">
            <span >访问主页</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>