<!-- nav -->
<div class="nav">
    <ul>
        <li>
            <!--<a ui-sref="/home/" class="active"><i class="icon icon-list"></i>动态<i class="icon-tips new-action" ></i> </a>-->
        </li>

        <li>
            <a ui-sref="qahome" ui-sref-active="active" ><i class="icon icon-home"></i>发现</a>
        </li>

        <li>
            <a ui-sref="topic" ><i class="icon icon-topic"></i>话题</a>
        </li>
    </ul>
</div>
<!-- end nav -->
