<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
  <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html" class="active">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <div class="title">相关报道</div>
        <p>
          <a class="showUnderline" href="http://news.ucas.ac.cn/index.php/qcsb/10567" target="_blank">FBT——属于科院学子自己的资源站</a>
          <a class="showUnderline" href="http://ipv6.xust.edu.cn/wlzy.htm" target="_blank">西安科技大学信息网络中心</a>
        </p>
      </div>
      <div class="content-inline-wrapper">
        <div class="title">公众号</div>
        <div class="content-inline">
          <div class="subtitle">微信公众号</div>
          <p>扫描下方二维码关注FBT官方微信</p>
          <p><img src="http://friendsbt.com/static/img/code.png"/></p>
          <p>或手动添加微信号：FBT</p>
        </div>
        <div class="content-inline">
          <div class="subtitle">微博</div>
          <p>关注FBT新浪微博<br/><wb:follow-button uid="2838783194" type="red_1" width="67" height="24"></wb:follow-button></p>
        </div>
        <div class="content-inline">
          <div class="subtitle">QQ群</div>
          <p>QQ群号: 297583245</p>
          <p>还可通过群查找：学校名 + FBT，加入相应高校群</p>
        </div>
      </div>
      <div class="content">
        <div class="title">联系我们</div>
        <p>E-mail：593786494@qq.com, 1906347007@qq.com</p>
        <p>通信地址（中科院本部老校区）：北京市石景山区玉泉路19号（甲） 邮编:10004</p>
        <p><img src="http://friendsbt.com/static/img/location.jpg" style="border-radius: 5px; height: 380px;"/></p>
      </div>
      <div id="mianze" class="content">
        <div class="title" style="color: red;">版权声明</div>
        <p>
        FBT所有资源文件都只保存在网友自己的计算机上，FBT不会保存、复制或传播任何文件，也不对FBT上的任何内容负法律责任。网友在FBT发布内容时，应当遵守《中华人民共和国著作权法》及与著作权保护相关的法律和规章，保证不侵犯著作权人的合法利益。FBT重视知识产权保护，当权利人发现在FBT的内容侵犯其著作权时，请权利人向FBT发出书面"权利通知"（发送邮件到fbt_copyright@163.com），FBT将依法采取措施并移除相关内容。</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

