<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
  <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html" class="active">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper agreement">
    <div class="container">
      <div class="content">
        <div class="title">FBT用户注册协议</div>
        <h>亲爱的用户，欢迎您注册FBT软件！</h>
        <p>请您在登陆、注册及使用FBT软件之前，认真阅读并充分理解FBT用户注册协议，尤其需关注其中免除或者限制责任的条款，并确认是否接受。未满18周岁的未成年人请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。用户的下载、安装、使用、帐号获取和登录等行为将视为对本协议的接受，即表示您同意接受本协议各项条款的约束。本协议适用于任何FBT服务，包括本协议期限内的用户所使用的各项服务及软件的升级和更新。</p>
      </div>
      <div class="content">
        <h3>一、接受条款</h3>
        <ul>
            <li>1、本协议是规范FBT用户（包括但不限于使用的个人或企业）与FBT运营公司之间权利义务关系的法律协议，用户注册FBT软件即代表接受本协议的约束，并自注册成功之时即成为本协议一方。本协议中的“FBT”指软件/平台“FBT”或其运营公司，也即本协议的相对方。</li>
            <li>2、本协议内容包括协议正文及所有FBT已经发布各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。</li>
            <li>3、以任何方式进入FBT软件、使用网站所提供的服务（以下称“服务”）即表示您已充分阅读、理解并同意接受本协议的条款和条件（以下合称“条款”）</li>
            <li>4、FBT有权不时修订“条款”，您可以在相关服务页面查阅最新版本的协议条款，不再单独通知予您。经修订的“条款”在FBT软件公布后，如您不同意相关修订，请您在24小时内停止使用FBT软件及 “服务”。如您继续使用FBT软件及“服务”，则将视为您已接受经修订的“条款”，当您与FBT发生争议时，应以最新的“条款”为准。</li>
        </ul>
      </div>
      <div class="content">
        <h3>二、用户注册须知</h3>
        <ul>
            <li>1、服务使用对象
                <ul>
                    <li>您确认，在您完成注册程序或以其他FBT允许的方式实际使用服务时，您应当是具备完全民事权利能力和与所从事的民事行为相适应的行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用服务，否则您及您的监护人应承担因此而导致的一切后果，且FBT有权注销（永久冻结）您的帐户，并向您及您的监护人索偿。如您代表一家公司或其他法律主体在FBT软件登记，则您声明和保证，您有权使该公司或该法律主体受本协议“条款”的约束。</li>
                </ul>
            </li>
            <li>2、注册帐户
                <ul>
                    <li>2.1 在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他FBT允许的方式实际使用FBT软件服务时，您即受本协议的约束。您可以使用您提供或确认的邮箱、手机号码或者FBT允许的其它方式作为登录手段进入FBT软件。</li>
                    <li>2.2 您可以对帐户设置昵称，但您设置的昵称不得侵犯或涉嫌侵犯他人合法权益。如您设置的昵称涉嫌侵犯他人合法权益，FBT有权终止向您提供服务，并注销您的帐户。帐户注销后，相应的昵称将开放给其他有权用户登记使用。</li>
                    <li>2.3 在完成注册或激活流程时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时、完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，FBT有权向您发出询问及要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部FBT服务，FBT对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</li>
                </ul>
            </li>
        </ul>
      </div>
      <div class="content">
        <h3>三、帐号使用须知</h3>
        <ul>
            <li>1、FBT帐号的所有权归FBT所有，用户完成申请注册手续后，仅获得FBT帐号的使用权，且该使用权仅属于首次申请注册人。同时，首次申请注册人不得赠与、借用、租用、转让或售卖FBT帐号或者以其他方式许可非首次申请注册人使用FBT帐号。非首次申请注册人不得通过受赠、继承、承租、受让或者其他任何方式使用FBT账号。
            </li>
            <li>2、您须自行负责对您的登录名、昵称和密码保密，且须对该登录名、昵称和密码下发生的所有活动（包括但不限于信息披露、发布信息等）承担全部责任。您同意：(a)如发现任何人未经授权使用您的登录名、昵称和密码，或发生违反保密规定的任何其他情况，您会立即通知FBT；及(b)确保您在每个上网时段结束时，以正确步骤离开网站。FBT不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。您理解FBT对您的请求采取行动需要合理时间，FBT对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。
            </li>
        </ul>
      </div>
      <div class="content">
        <h3>四、行为规范</h3>
        <ul>
            <li>1、您使用FBT服务时，禁止发布、传播、储存含有下列内容的信息，FBT的系统记录可作为实施该行为的证据：
                <ul>
                    <li>(1) 反对宪法所确定的基本原则的；</li>
                    <li>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                    <li>(3) 损害国家荣誉和利益的；</li>
                    <li>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                    <li>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                    <li>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                    <li>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                    <li>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</li>
                    <li>(9) 含有法律、行政法规禁止的其他内容的。</li>
                </ul>
            </li>
            <li>2、FBT服务仅限于提供给用户用作正常合法的活动，用户如果使用FBT产品从事以下行为，将导致根本性违约，FBT有权随时停止服务、解除本协议，并追讨因此带来的损失:
                <ul>
                    <li>(1) 有明确证据表明用户使用FBT用于违反法律的业务。</li>
                    <li>(2) 对FBT平台进行了任何形式的对其他第三方的再授权使用、销售或转让。</li>
                    <li>(3) 为设计开发竞争产品对FBT软件进行任何形式的反向工程，或在竞争产品中抄袭模仿FBT的设计。</li>
                    <li>(4) 恶意虚构事实、隐瞒真相以误导、欺骗他人；</li>
                    <li>(5) 发布、传送、传播广告信息及垃圾信息；</li>
                    <li>(6) 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序等资料，加以上载、张贴、发送电子邮件或以其他方式传送；</li>
                    <li>(7) 恶意登陆、注册，恶意使用系统功能及服务；干扰或破坏FBT服务或与FBT服务相连的服务器和网络，或不遵守FBT服务网络使用的规定；</li>
                    <li>(8) 恶意诋毁或损害FBT声誉、利用FBT用户身份从事违反国家法律法规活动等行为的；</li>
                </ul>
            </li>
            <li>3、用户在使用本软件及服务时，须自行承担如下来自FBT不可掌控的风险，内容包括但不限于：
                <ul>
                    <li>(1) 由于不可抗拒的因素可能引起的个人信息丢失、泄漏等风险；</li>
                    <li>(2) 用户发布的内容被他人转发、分享，因这些传播而带来的风险或责任；</li>
                    <li>(3) 用户应加强信息安全及个人信息的保护意识、不应轻信借款、索要密码或其他涉及财产的网络信息，注意密码保护，以免遭受损失，因此产生的损失由用户自行承担。</li>
                </ul>
            </li>
            <li>4、FBT使用用户所拥有的互联网域名所对应的电子邮件地址作为用户权证的唯一识别信息。当用户不再拥有在FBT登记的域名时，FBT有权随时删除所有的用户数据。在高级模式下，系统支持多个域名电子邮件地址，当最早登记的主域名权属发生改变时，FBT有权随时删除所有的用户数据。</li>
            <li>5、如果FBT发现或收到他人举报您发布的信息违反本协议约定，则FBT有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，FBT有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止账号使用，追究法律责任等措施。</li>
        </ul>
      </div>
      <div class="content">
        <h3>五、服务的变更、中断或终止</h3>
        <ul>
        <li>1、鉴于互联网服务的特殊性及我国相关法律法规可能的变动，您同意FBT有权随时变更、中断或终止部分或全部的服务，无需事先通知您，也无需对您或任何第三方承担任何责任。</li>
<li>2、您理解，FBT需要定期或不定期地对提供服务的平台（如互联网网站、移动网络等）或相关的设备进行检修、维护或升级、改造，如因此类情况而造成服务在合理时间内的中断，FBT无需为此承担任何责任。但FBT应尽可能事先进行通告 。</li>

        </ul>
      </div>
      <div class="content">
        <h3>六、数据和程序归属权</h3>
        <ul>
        <li>1、用户在FBT平台创建的独创性数据归属用户所有，用户有权进行任何形式的处置，包括从平台中复制，导出和删除。</li>
<li>2、FBT的应用程序、源代码、LOGO、界面设计、应用程序编程接口（API）所关联的所有知识产权均归属FBT运营公司。</li>

        </ul>
      </div>
      <div class="content">
        <h3>七、您授予的许可使用权 </h3>
        <ul>
        <li>您完全理解并同意不可撤销地授予FBT及其关联公司下列权利： </li>
<li>1、对于您提供的资料，您授予FBT及其关联公司永久的、免费的许可使用权利(并有权在多个层面对该权利进行再授权)，使FBT及其关联公司有权(全部或部份地)使用、复制、修订、改写、发布、翻译、分发、执行和展示"您的资料"或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将"您的资料"纳入其他作品内。 </li>
<li>2、当您向FBT关联公司作出任何形式的承诺，且相关公司已确认您违反了该承诺，则FBT有权立即按您的承诺约定的方式对您的帐户采取限制措施，包括但不限于中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，FBT无须就相关确认与您核对事实，或另行征得您的同意，且FBT无须就此限制措施或公示行为向您承担任何的责任。 </li>

        </ul>
      </div>
      <div class="content">
        <h3>八、用户隐私权</h3>
        <ul>
        <li>1、FBT应当从组织结构和技术角度尽最大努力保护用户数据安全，只根据用户在网站上的行为指示来分发用户的信息。FBT不会将用户产生的具体数据提供任何无关第三方。</li>
<li>2、FBT保留使用汇总统计性信息的权利，这些信息应当是匿名，且不是针对特定用户的。</li>
<li>3、FBT保留面向免费模式用户刊载广告的权利，这些广告刊载过程中将可能使用必要的定向技术来提高广告相关度，但FBT不会将用户的个人信息透露给广告商，而只会在匿名的基础上通过自动化匹配技术实现广告优化刊载。</li>
<li>4、用户如果需要FBT全面删除用户数据，需要书面向FBT提出申请，并盖有公司公章。</li>

        </ul>
      </div>
      <div class="content">
        <h3>九、服务连续性</h3>
        <ul>
        <li>1、FBT将尽最大努力保障软件平台的连续可靠运行， FBT对免费模式用户不提供任何补偿。</li>
<li>2、FBT将尽最大努力保障用户数据的安全备份，对因数据丢失带来的其他直接或间接损失不承担任何责任。</li>
<li>3、因重大自然灾害，战争等不可抗力导致的FBT服务中断和长时间终止，FBT不承担赔偿责任。</li>

        </ul>
      </div>
      <div class="content">
        <h3>十、知识产权声明</h3>
        <ul>
        <li>1、FBT软件/平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司或本公司关联企业依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</li>
<li>2、非经本公司或本公司关联公司书面许可，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容；任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</li>
<li>3、您应尊重和保护FBT相关知识产权，您若侵犯FBT软件相关知识产权将承担相应的损害赔偿责任。</li>

        </ul>
      </div>
      <div class="content">
        <h3>十一、链接声明</h3>
        <ul>
        <li>FBT“服务”或第三人均可提供与其他网站或资源的链接，由于FBT并不控制该等网站和资源，您承认并同意，FBT并不对该等外在网站或资源的可用性负责，且不认可该等网站或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对其等负责或承担任何责任。您进一步承认和同意，对于任何因使用或信赖从此类网站或资源上获取的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，FBT均不承担责任。 </li>

        </ul>
      </div>
      <div class="content">
        <h3>十二、不可抗力 </h3>
        <ul>
        <li>对于因FBT合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使FBT延迟或未能履约的，FBT不对您承担任何责任。 </li>

        </ul>
      </div>
      <div class="content">
        <h3>十三、法律适用与争议解决</h3>
        <ul>
        <li>1、本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不含冲突法），如无相关法律规定的，则应参照通用国际商业惯例和/或行业惯例。</li>
<li>2、甲乙双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，均应提交深圳仲裁委员会，按照申请仲裁时该会现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。</li>

        </ul>
      </div>
      <div class="content">
        <h3>十四、通知 </h3>
        <ul>
        <li>1、您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便FBT或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用FBT服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更需要更新的，您应按FBT的要求进行操作。 </li>
<li>2、除非另有明确规定，任何您与FBT之间的通知应以电子邮件形式发送，(就FBT而言)电子邮件地址为fbt_service@friendsbt.com，或(就您而言)发送到您在登记注册过程中向FBT提供的电子邮件地址，或有关方指明的该等其他地址。在电子邮件发出二十四(24)小时后，通知应被视为已送达，除非发送人被告知相关电子邮件地址已作废。或者，FBT可通过邮资预付挂号邮件并要求回执的方式，将通知发到您在登记过程中向FBT提供的地址。在该情况下，在付邮当日三(3)天后通知被视为已送达。</li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://friendsbt.com/static/js/jquery-latest.min.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
</body>
</html>
