<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
  <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html" class="active">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">

      <div class="content">
        <div class="title">已经加入FBT的高校列表</div>
<table class="table">
<thead>
<tr><th>地区</th><th>高校</th><th>群号</th></tr>
</thead>
<tbody>
<tr><td rowspan="21">北京</td><td>中科院大学</td><td>244786165<br/>76010977<br/>386035607</td></tr>
<tr><td>中科院（奥运村）</td><td>425432311</td></tr>
<tr><td>北京大学</td><td>369190447</td></tr>
<tr><td>清华大学</td><td>310157321</td></tr>
<tr><td>清北共享群</td><td>302780330</td></tr>
<tr><td>中国人民大学</td><td>414118842</td></tr>
<tr><td>北京师范大学</td><td>30308284<br/>433312696<br/>30308284</td></tr>
<tr><td>北京理工大学</td><td>348742969</td></tr>
<tr><td>北京航空航天大学</td><td>303867163</td></tr>
<tr><td>中央民族大学</td><td>424620679</td></tr>
<tr><td>中国农业大学</td><td>146621817</td></tr>
<tr><td>北京林业大学</td><td>203046288<br/>148476344</td></tr>
<tr><td>北林（研究生）</td><td>423682529</td></tr>
<tr><td>北京科技大学</td><td>237626789<br/>306889673</td></tr>
<tr><td>中国石油大学</td><td>300277741</td></tr>
<tr><td>中国矿业大学（北京）</td><td>224725703</td></tr>
<tr><td>中国地质大学（北京）</td><td>167414228</td></tr>
<tr><td>中国政法大学</td><td>484286641</td></tr>
<!--tr><td>中国青年政治学院</td><td>434816364</td></tr-->
<tr><td>北京化工大学</td><td>392340419<br/>383163813</td></tr>
<tr><td>首都经济贸易大学</td><td>379196022</td></tr>
<tr><td>北京工业大学</td><td>367740684</td></tr>
<tr><td>浙江</td><td> 浙江大学</td><td>262289849</td></tr>
<tr><td rowspan="6">上海</td><td>上海交通大学</td><td>252550266</td></tr>
<tr><td>上海师范大学</td><td>361581130</td></tr>
<tr><td>上海大学</td><td>111632966</td></tr>
<tr><td>华东师范大学</td><td>261236167</td></tr>
<tr><td>同济大学</td><td>414617785</td></tr>
<tr><td>复旦大学</td><td>417042605</td></tr>
<tr><td rowspan="4">天津</td><td>南开大学</td><td>425087985<br/>429105595</td></tr>
<tr><td>天津大学</td><td>306299632</td></tr>
<tr><td>中国民航大学</td><td>432273836</td></tr>
<tr><td>天津农学院</td><td>152297790</td></tr>
<tr><td>重庆</td><td>重庆大学</td><td>433460584</td></tr>
<tr><td rowspan="6">辽宁</td><td>大连理工大学</td><td>425134197<br/>315584271</td></tr>
<tr><td>东北大学</td><td>186255367<br/>421495935<br/>145640331</td></tr>
<tr><td>沈阳航空航天大学</td><td>398756924</td></tr>
<tr><td>大连海事大学</td><td>176585762</td></tr>
<tr><td>沈阳工程学院</td><td>455795059</td></tr>
<tr><td>大连民大</td><td>489772734</td></tr>
<tr><td>吉林</td><td>吉林大学</td><td>255487742</td></tr>
<tr><td rowspan="2">黑龙江</td><td>哈尔滨工业大学</td><td>219017021<!--<br/>277300467</td>--></tr>
<tr><td>东北石油大学</td><td>426511694</td></tr>
<tr><td rowspan="5">江苏</td><td>南京大学</td><td>421615830<br/>365947928</td></tr>
<tr><td>江南大学</td><td>214772094</td></tr>
<tr><td>河海大学</td><td>246440594</td></tr>
<tr><td>南京师范大学</td><td>176628737</td></tr>
<tr><td>东南大学</td><td>71962307</td></tr>
<tr><td rowspan="7">安徽</td><td>中国科学技术大学</td><td>378499906</td></tr>
<tr><td>安徽大学</td><td>237902547<br/>216351769<br/>174676992</td></tr>
<tr><td>合肥工业大学</td><td>273628980</td></tr>
<tr><td>安农大</td><td>189440200</td></tr>
<tr><td>安医大</td><td>134740232</td></tr>
<tr><td>蚌埠学院</td><td>304603245</td></tr>
<tr><td>滁州学院</td><td>423057027</td></tr>
<tr><td>福建</td><td>厦门大学</td><td>424515496</td></tr>
<tr><td rowspan="7">山东</td><td>山东大学</td><td>367587904</td></tr>
<tr><td>山东大学（研究生）</td><td>41073685</td></tr>
<tr><td>中国海洋大学</td><td>123657638</td></tr>
<tr><td>山东科技大学</td><td>339824084</td></tr>
<tr><td>山东农业大学</td><td>362631296</td></tr>
<tr><td>山东财经大学</td><td>185919317</td></tr>
<tr><td>济南大学</td><td>125565695</td></tr>
<!--tr><td>青岛科技大学</td><td>115703818</td></tr-->
<tr><td rowspan="4">湖北</td><td>武汉大学</td><td>311497690</td></tr>
<tr><td>华中科技大学</td><td>343209579</td></tr>
<tr><td>武汉理工大学</td><td>197922724</td></tr>
<tr><td>中南财经政法大学</td><td>454297812</td></tr>
<!--tr><td>武汉科技大学</td><td>981700954</td></tr-->
<tr><td rowspan="3">湖南</td><td>湖南大学</td><td>364278449</td></tr>
<tr><td>中南大学</td><td>418544398</td></tr>
<tr><td>国防科技大学</td><td>419754076</td></tr>
<tr><td rowspan="3">广东</td><td>中山大学</td><td>44384036</td></tr>
<tr><td>华南理工大学</td><td>383337098</td></tr>
<tr><td>华南师范大学</td><td>199267956</td></tr>
<tr><td rowspan="3">四川</td><td>四川大学</td><td>421931797</td></tr>
<tr><td>电子科技大学</td><td>159506458<br/>281873015</td></tr>
<tr><td>西南财经大学</td><td>335297454</td></tr>
<tr><td rowspan="8">陕西</td><td>西安交通大学</td><td>424157362</td></tr>
<tr><td>西北工业大学</td><td>327986245<br/>364925290</td></tr>
<tr><td>西北农林科技大学</td><td>283392391</td></tr>
<tr><td>西北大学</td><td>428543982<br/>208901073</td></tr>
<tr><td>西安电子科技大学</td><td>313152237</td></tr>
<tr><td>长安大学</td><td>247528244</td></tr>
<tr><td>西安科技大学</td><td>366707957</td></tr>
<tr><td>西安建筑科技大学</td><td>456764220</td></tr>
<tr><td rowspan="2">甘肃</td><td>兰州大学</td><td>188548784<br/>101066828<br/><455294366</td></tr>
<tr><td>兰州理工大学</td><td>137173596</td></tr>
<tr><td rowspan="2">河北</td><td>华北电力大学</td><td>113271894</td></tr>
<tr><td>河北大学</td><td>347282206</td></tr>
<tr><td rowspan="2">河南</td><td>河南理工大学</td><td>238375754</td></tr>
<tr><td>郑州大学</td><td>429122342</td></tr>
</tbody>
</table>
      </div>
      <div class="content">
        <div class="title">如何加入FBT高校群？</div>
        <p>通过群查找：学校名 + FBT，即可加入相应高校群</p>
      </div>
      <div class="content">
        <div class="title">如何将学校名称显示于此？</div>
        <p><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3124201561&amp;site=qq&amp;Menu=yes" target="_blank"><img src="http://friendsbt.com/static/img/qq-logo.png" style="width: 30px;"/></a></p>
        <p>如果以上QQ图标无法点击，请手动加QQ号：3124201561</p>
      </div>
      <div class="content">
        <div class="title">申请FBT的校园大使、校际大使</div>
        <p style="font-weight: bold;">欢迎各个学校的童鞋申请FBT的校园大使、校际大使，有优厚奖励哦~</p>
        <p>1. 限量FBT终身SVIP会员，免费享受以后一切FBT增值服务。如免积分下载，红名特权，积分专属礼品等。</p>
        <p>2. 优先享有FBT最新版本内测权利和平台资源后台管理权限。</p>
        <p>3. 优先获得FBT纪念品礼品，如100元零食购物补贴，文化衫，笔记本等。</p>
        <p>4. 对工作认真的校园及校际大使，我们将会给予1000-5000元的现金奖励。对校际大使的奖励没有人数限制。</p>
        <p>5. 工作积极的校际大使毕业后，将有优先加入FBT团队的机会！</p>
        <p>详情请加FBT校园大使预备役QQ群了解。FBT校园大使预备役群号：322906190 </p>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
</body>
</html>

