<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body> <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html" class="active">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <div class="title">上传规则</div>
        <p>为了给大家营造良好的资源环境，请在上传文件前详细阅读并遵守《上传规范标准》。</p>
        <p>对于不遵守“规范”的同学，将依据“规范”进行处理，轻者会扣除积分，重者封号处理。</p>
        <p><a class="showUnderline" href="http://friendsbt.com/guifan.html">在线阅读《上传规范标准》</a>
      </div>
      <div class="content">
        <div class="title">积分规则</div>
        <p style="font-weight: bold; color: #1abc9c;">收入：</p>
        <p>1. 注册成功，第一次登陆FBT送200个F币
        <p>2. 上传和下载私有圈资源（仅好友可见），无需F币</p>
        <p>3. 积分大于200的用户，每在线1小时，送10个F币</p>
        <p>4. 平台首发优质资源，下载超过100次时，奖励首发用户200F；下载超过500次时，再奖励500F</p>
        <p>5. 上传或下载资源并保持在线，每被他人成功下载一次，送1F币（资源总数小于20的送5F/次）。</p>
        <p>6. 关注我们微博和微信，或加入我们的QQ群，送200个F币</p>
        <p>7. 成功推荐身边同学注册FBT(注册时填写推荐人昵称或姓名)，奖励推荐人100F币，无上限。</p>
        <!-- <p>8. 周排行前十名每人奖励一个8G的U盘腕带，10-15名奖励1000F。15-20奖励500F。月排行榜第一名奖励1T的硬盘一个；2-10名每人奖励富德V189无线鼠标一个。</p>
        -->
        <p>8. 举报非法、劣质或者标题和内容不符的资源请发截图发邮件到fbt_copyright@163.com，核实后奖励第一个举报人500F</p>
        <p style="font-weight: bold; color: #1abc9c;">支出：</p>
        <p>1. 最新上传的资源，前十人下载免积分，之后的人下载该资源扣除的积分为1F/200MB，不足200MB的资源按照200MB计算，例如：一个资源大小为600MB，那么下载该资源>需要支付3F。积分在资源下载完成时扣除。</p>
        <p>2. 上传的资源标题和内容不符或传错类别，扣除500个F币</p>
        <p>3. 上传非法（色情、反动等）公共资源扣除500个F币，情节严重者封号处理!</p>
        <p>4. 恶意刷分者，一旦查实，封IP处理!</p>
        <p>5. 上传质量差的视频资源又没标明的用户，罚500F。</p>
        <p>6. 文件夹下载积分的扣除以其所包含的文件个数为准。</p>
      </div>
      <div class="content-inline-wrapper">
        <div class="title">兑换奖品</div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">U盘腕带8G版</div>
          <p>4000F（原价23元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-1.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">富德V189无线鼠标</div>
          <p>5000F（原价30元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-2.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">东芝超薄1T移动硬盘</div>
          <p>70000F（原价380元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-3.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">金满福H2带麦线控入耳式金属耳机</div>
          <p>2600F（原价13元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-4.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">大盘双机芯腕表</div>
          <p>12000F（原价60元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-5.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">创意水能钟</div>
          <p>2400F（原价12元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-6.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">创意LED腕表</div>
          <p>14000F（原价70元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-7.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">YKI命运罗盘腕表</div>
          <p>14000F（原价70元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-8.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">品能PN-913移动电源1万mAh</div>
          <p>14000F（原价69元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-9.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">入耳式运动耳机</div>
          <p>2000F（原价10元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-10.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">无线蓝牙音箱插卡迷你音响低音炮小收音机</div>
          <p>12000F（原价60元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-11.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">小米移动电源10000毫安</div>
          <p>14000F（原价70元）</p>
          <p><img src="http://friendsbt.com/static/img/fmall-12.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">经典怀旧休闲零食大礼包 500g</div>
          <p>2160F（原价10.8元）</p>
          <p><img src="http://friendsbt.com/static/img/hj.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">良品铺子坚果组合装 480g</div>
          <p>5980F（原价29.9元）</p>
          <p><img src="http://friendsbt.com/static/img/zh.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">amovo魔吻核桃伽纳彻</div>
          <p>6780F（原价33.9元）</p>
          <p><img src="http://friendsbt.com/static/img/qkl.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
        <div class="content-inline" style="margin-bottom: 16px">
          <div class="subtitle">夏威夷果200gx3 奶香味或盐焗味</div>
          <p>7780F（原价38.9元）</p>
          <p><img src="http://friendsbt.com/static/img/xwyg.jpg" style="height: 180px; border-radius: 5px;"/></p>
        </div>
      </div>
      <div class="content">
        <div class="title">兑换现金</div>
        <p>2000F 可兑换现金 10元</p>
        <p>3900F 可兑换现金 20元</p>
        <p>9700F 可兑换现金 50元</p>
        <p>19000F 可兑换现金 100元</p>
      </div>
      <div class="content">
        <div class="title">兑换规则</div>
        <p>普通用户总积分大于10000F的部分（校园大使大于5000F的部分），并且学习积分达到2000F以上，可以兑换相应礼品。兑换前FBT会审查兑换者账户，存在恶意刷分行为，将取消其兑换资格并对其账户立即封号。本次活动所有解释权归FBT所有。</p>
      </div>
      <div class="content">
        <div class="title">近期兑换用户</div>
        <p>09月07日 1014236145@qq.com 兑换8G腕带1个</p>
        <p>09月09日 ahui1244847094@163.com 命运罗盘腕表</p>
        <p>09月16日 1215020597@qq.com 四个白色的耳机和一个u盘腕带</p>
        <p>09月16日 1033172363@qq.com 兑换100元 </p>
        <p>09月19日 1209673989@qq.com 耳机白色,2个手腕u盘</p>
        <p>09月22日 1131691462@qq.com 兑换一个无线鼠标</p>
        <p>09月24日 18228262069@163.com 大盘双机芯腕表 YKI命运罗盘腕表 小米移动电源</p>
        <p>09月28日 554294878@qq.com 一个大盘双机芯腕表，两个u盘腕带8g版</p>
        <p>10月09日 ahui1244847094@163.com 命运罗盘手表</p>
        <p>10月13日 741518448@qq.com 兑换9700F，50元</p>
        <p>10月13日 1938012732danny@gmail.com 兑换80元</p>
        <p>10月18日 1215020597@qq.com 一套三体和命运罗盘表</p>
        <p>10月20日 976681764@qq.com 兑换耳机 白色的</p>
        <p>10月27日 304208305@qq.com 兑换三体全集</p>
        <p>11月02日 741518448@qq.com 兑换200元</p>
      </div>
      <div class="content">
        <div class="title">兑换事宜请联系FBT客服小兔</div>
        <p><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3124201561&amp;site=qq&amp;Menu=yes" target="_blank"><img src="http://friendsbt.com/static/img/qq-logo.png" style="width: 30px;"/></a></p>
        <p>如果以上QQ图标无法点击，请手动加QQ号：3124201561</p>
      </div>

    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
</body>
</html>

