<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
  <!--<div style="text-align: center; border-bottom: 1px solid #eee; padding: 5px; background: #1abc9c; color: white;">
  FBT2.0，即将发布
  </div>-->
  <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html" class="active">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="gallery">
      <a href="http://friendsbt.com/software.html" target="_blank">
        <div class="gallery-image">
          <!--
          <div class="share">
              <div class="bdsharebuttonbox bdshare-button-style2-24" style="">
                <a href="http://friendsbt.com/#" class="bds_more" data-cmd="more"></a>
                <a href="http://friendsbt.com/#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="http://friendsbt.com/#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="http://friendsbt.com/#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                <a href="http://friendsbt.com/#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="http://friendsbt.com/#" class="bds_t163" data-cmd="t163" title="分享到网易微博"></a>
              </div>
          </div>
          -->
        <!--<div class="download"><a href="http://friendsbt.com/software.html" target="_blank"><img src="http://friendsbt.com/static/img/download-icon.png"></a></div>-->
        </div>
      </a>
    </div>
    <div class="container">
      <div class="list">
        <div class="list-item">
          <img src="http://friendsbt.com/static/img/download.png"/>
          <p>海量资源</p>
          <p>下到手软</p>
        </div>
        <div class="splitter">&nbsp;</div>
        <div class="list-item">
          <img src="http://friendsbt.com/static/img/ipv4-6.png"/>
          <p>支持IPv6</p>
          <p>享受20M/s快感</p>
        </div>
        <div class="splitter">&nbsp;</div>
        <div class="list-item">
          <img src="http://friendsbt.com/static/img/college.png"/>
          <p>名校资源共享</p>
          <p>我要当学霸</p>
        </div>
        <div class="splitter">&nbsp;</div>
        <div class="list-item">
          <img src="http://friendsbt.com/static/img/circle.png"/>
          <p>圈子</p>
          <p>赏片、阅人、谈心</p>
        </div>
        <div class="splitter">&nbsp;</div>
        <div class="list-item">
          <img src="http://friendsbt.com/static/img/tv.png"/>
          <p>小且大</p>
          <p>更多功能等你发现</p>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <img src="http://friendsbt.com/static/img/casyun-logo.png" style="height: 58px; margin:10px">
    <img src="http://friendsbt.com/static/img/genshuixue-logo.png" style="height: 58px; margin:10px">
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
  <script>
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

  setInterval(function() {
    var currentIndex = $('.gallery-image').css('background').match(/banner(\d)/)[1];
    if (currentIndex == '1') currentIndex = '2';
    else currentIndex = '1';
    $('.gallery-image').hide().css('background', 'url(http://friendsbt.com/static/img/banner' + currentIndex + '.jpg) center no-repeat').fadeIn();
  }, 5800);
  </script>
  <!-- cnzz analysis -->
</body>
</html>
