<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
  <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html" class="active">软件</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper" style="min-height: 500px;">
    <div class="container">
      <div class="content">
        <div class="title">版权声明</div>
            <p>FBT所有资源文件都只保存在网友自己的计算机上，FBT不会保存、复制或传播任何文件，也不对FBT上的任何内容负法律责任。网友在FBT发布内容时，应当遵守《中华人民共和国著作权法》及与著作权保护相关的法律和规章，保证不侵犯著作权人的合法利益。FBT重视知识产权保护，当权利人发现在FBT的内容侵犯其著作权时，请权利人向FBT发出书面"权利通知"（发送邮件到fbt_copyright@friendsbt.com），FBT将依法采取措施并移除相关内容。</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://friendsbt.com/static/js/jquery-latest.min.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
</body>
</html>
