<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
  <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a> </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html" class="active">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <div class="title">FBT最新版本下载（{{fbt_version}}）</div>
        <table>
          <tr>
            <th>平台</th>
            <th>Windows XP</th>
            <th>Win7/Win8</th>
            <th>Mac</th>
            <th>Linux32</th>
            <th>Linux64</th>
          </tr>
          <tr>
            <td></td>
            <td><a class="showUnderline" href="http://fbt-files.b0.upaiyun.com/fbt-xp-installer.zip" target="_blank">官方下载</a></td>
            <td><a class="showUnderline" href="http://fbt-files.b0.upaiyun.com/fbt-win-installer.zip" target="_blank">官方下载</a></td>
            <td><a class="showUnderline" href="http://fbt-files.b0.upaiyun.com/fbt-mac-installer.dmg" target="_blank">官方下载</a></td>
            <td><a class="showUnderline" href="http://fbt-files.b0.upaiyun.com/fbt-linux-32-installer.run" target="_blank">官方下载</a></td>
            <td><a class="showUnderline" href="http://fbt-files.b0.upaiyun.com/fbt-linux-64-installer.run" target="_blank">官方下载</a></td>
          </tr>
          <tr>
            <td colspan="6">
              <a class="showUnderline textCenter" href="{{download_url}}" target="_blank">百度网盘下载（推荐）</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="content">
        <div class="title">FBT简介</div>
        <p>- FBT致力于提供一个朋友间相互分享和发现资源的平台，快乐源于分享！</p>
        <p>- FBT开放注册，不需要邀请码，永久而且完全免费！</p>
        <p>- FBT跨平台，不管你是Windows还是Mac还是Linux，都可以安装FBT。</p>
        <p>- FBT提供文件直传、资源搜索、资源圈子交流分享等功能，更多功能等你探索哦！</p>
        <p>- 还在求种子吗？！你OUT了！FBT不依赖种子就可以下载，跨IPv4和IPv6网络环境，感受P2P带给您的极速下载。</p>
        <p>- FBT鼓励原创，优秀的原创资源，将会得到丰厚的奖励，欢迎大家踊跃上传资源。</p>
      </div>
      <div class="content">
        <div class="title">FBT特色</div>
        <table>
          <tr>
            <th>功能/平台</th>
            <th style="background: #1abc9c; color: #eee; font-weight: bold;">FBT</th>
            <th>迅雷</th>
            <th>网盘</th>
            <th>QQ传文件</th>
          </tr>
          <tr>
            <td>文件直传</td>
            <td style="color: green;">√</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
            <td style="color: green;">√</td>
          </tr>
          <tr>
            <td>资源搜索</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
            <td style="color: red;">×</td>
            <td style="color: red;">×</td>
          </tr>
          <tr>
            <td>资源圈子</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
            <td style="color: red;">×</td>
            <td style="color: green;">√</td>
          </tr>
          <tr>
            <td>不依赖种子</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
            <td style="color: green;">√</td>
            <td style="color: green;">√</td>
          </tr>
          <tr>
            <td>IPv6</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
            <td style="color: red;">×</td>
            <td style="color: red;">×</td>
          </tr>
          <tr>
            <td>Linux</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
            <td style="color: green;">√</td>
            <td style="color: red;">×</td>
          </tr>
        </table>
      </div>
      <div class="content">
        <div class="title">常见问题</div>
        <strong>Linux报错“error while loading shared libraries: libudev.so.0: cannot open shared object file: No such file or directory”</strong>
        <p>
        这是因为动态库 libudev.so.0 载失败，解决方案：<br/>
        1. 执行命令 locate udev.so 定位该库（定位不到需要先安装 libudev）
        /lib/i386-linux-gnu/libudev.so.1<br/>
        /lib/i386-linux-gnu/libudev.so.1.3.5<br/>
        /lib/x86_64-linux-gnu/libudev.so.1<br/>
        /lib/x86_64-linux-gnu/libudev.so.1.3.5<br/>
        2. 创建软链接
        sudo ln -sf /lib/i386-linux-gnu/libudev.so.1 /lib/i386-linux-gnu/libudev.so.0     #i386<br/>
        sudo ln -s /lib/x86_64-linux-gnu/libudev.so.1 /lib/x86_64-linux-gnu/libudev.so.0  #amd64<br/>
        3. 一切就绪，运行FBT
        </p><br/>

        <strong>FBT一直Loading，无法登录</strong>
        <p>
        小伙伴们请确认FBT没有被防火墙屏蔽哦～此外，360等杀毒软件可能会误判，请加入信任列表～
        </p><br/>

        <strong>Win8弹出Windows SmartScreen筛选器怎么办</strong>
        <p>点击了解详情，然后点击继续。
        </p><br/>

        <strong>Win8如何禁用Windows SmartScreen筛选器</strong>
        <p>
        1. 依次打开“控制面板\系统和安全\操作中心”，在窗口左侧可以看到“更改Windows SmartScreen筛选器设置”选项<br/>
        2. 点击它，弹出“Windows SmartScreen”窗口，选中第三项“不执行任何操作（关闭Windows SmartScreen筛选器）”<br/>
        3. 最后点击“确定”即可
        </p><br/>

        <strong>安装后运行出现闪退</strong>
        <p>
        这个是由于权限的问题，您只需单击图标，右键，选择以管理员权限运行即可。这种情况只会出现在安装后或者更新后的第一次运行。
        </p><br/>

        <strong>Mac提示“You can*t open the application Snagit.app because it may be damaged or incomplete”</strong>
        <p>
        请进入 菜单\系统偏好设置\安全性与隐私\通用，允许从以下位置下载的应用程序，选择“任何来源”，就可以成功运行FBT。
        </p><br/>

        <strong>FBT无法运行，提示“Cannot extract package”</strong>
        <p>
        修改环境变量TEMP、TMP为“%USERPROFILE%\AppData\Local\Temp”即可解决。
        </p><br/>

        <strong>北邮IPTV无法观看</strong>
        <p>
        下载更新Flash后重启FBT即可。Flash下载地址：https://get.adobe.com/flashplayer/?fpchrome
        </p><br/>

        <strong>下载速度一直为0</strong>
        <p>
        1. 请先下载在线人数最多的电影资源，看是否有速度。如果有速度，则说明下载正常。之所以出现速度为0，那是因为正在下载的资源在线人数少，而你和对方网络联通性有问题<br/>
        2. 如果无法下人数最多的电影资源，请到 http://www.test-ipv6.ro 网站测试网络环境是否支持IPv6<br/>
        3. 若步骤2测试失败，请确认电脑是否已安装IPv6协议<br/>
        4. 如果确定已安装IPv6，则找到fbt.log文件，该文件位置：C:\users\用户名\.fbt\fbt.log，打开文件搜索“8885”，如果发现有2个以上这样的数字，说明是正常的，反之则不正常，需要查看电脑是否开启了防火墙，或者360等杀毒软件阻止了FBT软件开启文件下载服务。如果是防火墙或软件拦截，需要关闭防火墙和360等杀毒软件对FBT的拦截。<br/>
        5、如果以上操作均尝试仍无法下载，确认有IPv6且没有防火墙或杀毒软件的拦截。请联系技术组远程协助（QQ76194688），远程之前请先发送fbt.log给他。
        </p><br/>

	<strong>
	打开软件出现空白或者显示502-server-dropped-connection
	</strong>
        <p>
	请检查是否使用了本地代理或者到IE浏览器，设置-Internet选项-连接-局域网设置，里面的勾全部去掉。
        </p><br/>

        <strong>其它说明</strong>
        <p>
        1. 子文件夹（文件夹内含文件夹的类型）暂时不支持上传<br/>
        2. 下载速度慢——在线数人较少，如一两人在线；设置中资源引索生成速度设置太小；供水网络不稳定<br/>
        3. 暂不支持IPv4上传下载<br/>
        4. 下载到一半，显示“网络不佳，请稍后重试”可能是网络连接不好，点击右边“重新下载”即可下载
        </p>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
</body>
</html>

