<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FBT官网_Friendsbt_P2P高速下载</title>
    <meta content="friendsbt,FBT下载,FBT电脑版,FBT Mac版,FBT Linux版,IPv6,P2P,BT,高速下载" name="keywords">
    <meta content="friendsbt,简称FBT,致力于提供基于社交的资源分享和发现平台,登录FBT官网下载FBT电脑版/Mac版/Linux版,享受超高速下载的快感!" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="http://friendsbt.com/static/images/icon.jpg" type="image/x-icon">
    <link rel="Bookmark" href="http://friendsbt.com/static/images/icon.jpg">
    <link rel="stylesheet" type="text/css" href="http://friendsbt.com/static/css/style.css" />
    <style type="text/css">
    </style>
  </head>
  <body> <div class="header">
    <div class="logo">
      <a title="FBT" href="http://friendsbt.com/index.html"><img alt="FBT" src="http://friendsbt.com/static/img/logo.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a id="index" href="http://friendsbt.com/index.html">首页</a>
        </li>
        <li>
          <a id="software" href="http://friendsbt.com/software.html">软件</a>
        </li>
        <li>
          <a id="xuexi" target="_blank" href="http://study.friendsbt.com">学习</a>
        </li>
        <li>
          <a id="fmall" href="http://friendsbt.com/fmall.html">商城</a>
        </li>
        <li>
          <a id="campus" href="http://friendsbt.com/campus.html">校园</a>
        </li>
        <li>
          <a id="about" href="http://friendsbt.com/about.html">关于</a>
        </li>
      </ul>
    </div>
    <div class="nav-tools">
      <ul>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/windows.jpg" alt="下载Windows版" title="下载Windows版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/mac.jpg" alt="下载Mac版" title="下载Mac版"></a>
        </li>
        <li>
          <a target="_blank" href="{{download_url}}"><img src="http://friendsbt.com/static/img/linux.jpg" alt="下载Linux版" title="下载Linux版"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <div class="title">学习积分规则</div>
        <p style="font-weight: bold; color: #1abc9c;">奖励：</p>
        <p>A、课后作业及答案</p>
        <p>B、课堂笔记</p>
        <p>C、学习心得</p>
        <p>D、往届考题</p>
        <p>1、首发以上任意类别资源，审核通过后每个资源奖励100F（中），200F（良）,500F(优)；后续上传者奖励按100F/个积分。往届考题和期末大作业，内容完整且质量较高的，直接奖励1000F。</p>

        <br/>
        <p>A、电子书或文献</p>
        <p>B、课程课件</p>
        <p>C、TED</p>
        <p>D、软件教学</p>
        <p>2、首发以上任意类别资源，审核通过后每个奖励5F（中）,20F（良）,50F(优)；后续上传者奖励按照5F/个给积分。</p>
        <br/>
        <p>3、下载次数超过100的资源，奖励200F。超过500的奖励1000F。</p>
        <p>4、举报不符合上传规则的劣质资源，核实后奖励第一个举报者100F/个。</p>
        <p>5、匿名上传的资源，积分同样按照以上标准奖励。</p>
        <p style="font-weight: bold; color: #1abc9c;">惩罚：</p>
        <p>上传前请查看上传规则，不符合上传规则的资源被审核发现或被举报，扣除上传者500-10000F。严重者封号！ </p>
      </div>
      <div class="content">
        <div class="title">备注</div>
        <p style="font-weight: bold; color: #1abc9c;">学习资源上传规则</p>
        <p>A、上传前，请先搜索是否已有该资源。重复上传资源者，惩罚1000F。传错类别者，惩罚500F。</p>
        <p>B、禁止上传色情、政治、病毒、BT种子、涉嫌人身攻击等资源。违禁直接封账号。</p>
        <p>C、资源名称、评论中，禁止出现网址等一切广告。违禁该资源所得积分清零。</p>
        <p>D、对于文件夹上传，可将系列文件压缩上传。压缩包内不得包含与该学习资源无关的内容，如快捷方式、网页链接、广告等。违禁将被扣分，情况恶劣则会封号。</p>
        <p>E、结合自身使用情况详细填写资源描述，优秀描述，可获额外50-500积分奖励。</p>
        <p style="font-weight: bold; color: #1abc9c;">资源优劣评价标准</p>
        <p>中：无时间限制；资源较完整；描述较详细；容易在其他平台找到</p>
        <p>良：最近两年；资源很完整；描述较详细；不容易在其他平台找到</p>
        <p>优：最近一年；资源很完整；描述很详细；在其他平台找不到</p>
        <p style="font-weight: bold; color: #1abc9c;">实习院长招聘</p>
        <p>校园星空招募各个学校院系课程资源建设的负责人（实习院长)，以院系为单位，实习院长专注本人所在院系的课程资源建设。报名即奖励1000F。2015年8月20日左右，根据各个院系实习院长的参与情况，从实习院长中升级一名正式院长，奖励10000F，1~3名院长助理，奖励3000F。任职期间按本院系所有同学上传所得总积分的10%~20%给额外积分奖励（院长20%，院长助理10%）。</p>
        <p>欢迎加入实习院长群，群号码：460275489</p>
      </div>

    </div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="http://friendsbt.com/about.html#mianze" target="_blank">免责声明</a></li>
      <li>​京ICP备14044088号</li>
      <li>© 2014-2015 www.friendsbt.com all rights reserved​</li>
      <li>友情链接: 
        <a href="http://www.ucas.ac.cn/" target="_blank">中国科学院大学</a>
        <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
        <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html" target="_blank">清华大学</a>
        <a href="http://www.opencas.org/" target="_blank">中科院开源软件协会</a>
      </li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://friendsbt.com/static/js/fbt.js"></script>
</body>
</html>

