html {
    /*background: url(../img/stars.gif) 0 0 repeat;*/
    background : url(../img/bg.png);
}
body {
    /*color: #242424;*/
    background : url(../img/bg-top.png) repeat-x top left;
/*		filter:alpha(opacity=80, finishOpacity=50,style=2);
		opacity: 0.9;    */
    font-size: 14px;
    line-height: 21px;
    display: block;
    margin: 0px;   
		/*body{
		background: url(./img/bg.jpg) repeat fixed;
		filter:alpha(opacity=80, finishOpacity=50,style=2);
		opacity: 0.8;
		} */    
}

a {
    color: #069;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


.block a, a.block {
    padding: 7px 1em 7px;
    display: inline-block;
    display: -moz-inline-block;
    background: #771D8E;/*#069;*/
    font-size: 15px;
    color: white;/*#b2dee8;*/
    line-height: 1em;

}

.block a:hover, a.block:hover {
    text-decoration: none;
    background: #8b21a6;
}

.block2 a, a.block2 {
    padding: 7px 1em 7px;
    display: inline-block;
    display: -moz-inline-block;
    background: #069;
    font-size: 15px;
    color: #b2dee8;
    line-height: 1em;

}

.block2 a:hover, a.block2:hover {
    text-decoration: none;
    background: #0172aa;
    color: #f8fbfb;
}



p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 1em;
}

form input,form select {
  padding: 3px;
  border: 1px solid #78C2C5;
}

button {
  background: #3F4F8F;
  border-radius: 8px 8px 8px 8px;
  width: 60px;
  height: 30px;
  font-size: 13px;
  border: 1px solid #3079ED;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

button:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #007;
}
/*
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
*/


h1 {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 8px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 6px;
}

h1 a, h2 a {
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: 300ms;
}

h2 a:hover { color: #7f1a4c; text-decoration: none; }

h3 {
    font-weight: bold;
    margin: 1.1em 0 0.4em;
    color: green;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 4px;
    line-height: 22px;
}

#wrapper {
    width: 840px;
    margin: 0 auto;
    padding: 20px 0 0;
}

#extra_wrap {
    background: url(lib/images/content_bg.gif) 0 0 repeat-y;
    clear: both;
}

#nav {
    margin: 0 0 0 400px;/*330px;*/
    list-style: none;
    float: left;
}

#nav li {
    display: block;
    float: left;
    margin-left: 4px;
    padding: 5px 14px 3px;
    border-top: 1px solid #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    background: #e7eaea;/* url(lib/images/tab_bg.gif) bottom left repeat-x;*/
}

#nav li:first-child {
    margin-left: 1px;
}

#nav li a {
    color: #555;
}

#nav li.current_page_item {
    background: #f8fbfb;
}

#nav li.current_page_item:first-child {
    margin-left: 0;
}

#nav li.current_page_item a,
#nav li.current_page_item a:hover {
    color: #752364;
}

#nav li a:hover {
    text-decoration: none;
    color: #222;
}

#content {
    /*float: right;*/
    /*width: 840px;*/
    padding: 0px 10px 10px;
    background: #f8fbfb;
}

#content p {
    color: #333;
}

#content h2 {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 8px;
}

#content div.chapter {
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #999;
}

#footer {
    clear: both;
    width: 840px;
    margin: 0 auto;
    color: #f3c566;
    /*background: url(../img/footer_bg.jpg) 0 0 no-repeat;*/
    height: 120px;
    /*padding: 20px 0 0;*/
}

#footer p {
    font-size: 11px;
    margin: 0;
}

#footer a {
    font-weight: bold;
    color: #f3c566;
}

#footer a:hover {
    text-decoration: none;
    color: #fff;
}

/* Relentlessly necessary classes */
.clearfix {
    clear: both;
}
/*
#browser_fix {
    background: #f8fbfb;
    width: 510px;
    margin-left: 330px;
    height: 10px;
    display: block;
    clear: both;
}
*/
/* New CSS 3.17.10 */

#content h2.month-heading {
    font-size: 16px;
}

hr {
    height: 0;
    background: 0;
    border: 0;
    border-top: 1px solid #ddd;
}
.edit {
    padding: 3px;
    border: 1px solid #78C2C5;
    width: 150px;
    /*margin: 10px;*/
}
#identity {
    padding: 2px;
    border: 1px solid #78C2C5;
}
tbody.c2 {
    font-size: 14px;
}
.clear {
    clear:both
}


.headerblue {
  background: #3F4F8F;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  padding-left: 7px;
}
.headergreen {
  background: #7DA52B;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  padding-left: 7px;
}
.bodygreen {
  background-color: #E7EAEA;
}

.bodygreen a{
  color: black;
  font-size: 14px;
}
/*
.setting_table table{
    border: 1px solid #666;
}
.setting_table td{
    border: 1px solid #666; 
}
div.c1 {text-align: center} dotted*/
table td {
/*border: 1px solid #666;   text-align: center;                    
text-align: justify;
text-justify :distribute-all-lines ;*/
}
/*查看成员表格的渲染
.list table{
    border: 1px solid #666;
}*/

.idle {
 color: orange;
}
.busy {
  color: green;
}
.list tr td{
    font-size: 11pt;
    padding: 3px 8px;
    background: #fff;
}
.list thead td{
    color: #fff;
    background-color: #C8C028;
    font-weight: bold;
    border-bottom: 1px solid #999;
}
.list tbody td{
    border-bottom: 1px solid #D9D9D9;
}
p.par{
  text-indent: 2em; /*端首缩进2个汉字，em是相对单位，2em即现在一个字大小的两倍*/
}
.cssTitle1 { font-family: Arial, Helvetica; font-size: 14px; color: #FFFFFF; background-color: #304B90; } 
.cssHeading1 { font-family: Arial, Helvetica; font-size: 12px; color: #FFFFFF; background-color: #304B90; } 
.cssDays1 { font-family: Arial, Helvetica; font-size: 14px; color: #808080; background-color: #FFFFFF; } 
.cssWeeks1 { font-family: Arial, Helvetica; font-size: 12px; color: #FFFFFF; background-color: #304B90; } 
.cssSaturdays1 { font-family: Arial, Helvetica; font-size: 14px; color: #0000D0; background-color: #F6F6FF; } 
.cssSundays1 { font-family: Arial, Helvetica; font-size: 14px; color: #D00000; background-color: #FFF0F0; } 
.cssHilight1 { font-family: Arial, Helvetica; font-size: 14px; color: #808080; background-color: #FFFF00; cursor: default; } 


#chartData {
  border: 1px solid #333;
  /*background: #ebedf2 url("images/gradient.png") repeat-x 0 0;*/
}

#chart {
  display: block;
  margin: 0 0 5px 0;
  /*float: left;
  cursor: pointer;*/
  		/*background: url(../img/clock.jpg) no-repeat ;
		filter:alpha(opacity=80, finishOpacity=50,style=2);
		opacity: 0.8;*/
}

#chartData {
  /*width: 600px;
  margin: 5px 0 5px 0;
  float: right;*/
  border-collapse: collapse;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background-position: 0 -100px;
}

#chartData th, #chartData td {
  padding: 0.5em;
  border: 1px dotted #666;
  text-align: left;
}

#chartData th {
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

#chartData td {
  cursor: pointer;
}

#chartData td.highlight {
  background: #e8e8e8;
}

#chartData tr:hover td {
  background: #f0f0f0;
}

