/********************************************************
*   Friendsbt.com
*
*   Author  :   zhangxiaoyang.hit[at]gmail.com
*   Date    :   2015-03-30 23:26
*   Color   :   #1abc9c
********************************************************/

/*
** Global
*/
html, body, span, div, p, a, table, tbody, td, h1, h2, h3, h4, h5, h6, img, form, font, strong, b, i, dl, dt, dd, ol, ul, li, dl, dd, dt, iframe, label, blockquote, input, button {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  font-family: "Microsoft YaHei","黑体";
}

a:hover {
  color: #1abc9c;
}

a {
  color: #333;
  text-decoration: none;
  outline: none;
  display: block;
}

a.showUnderline {
  text-decoration: underline;
  color: #1abc9c;
}

.textCenter {
  text-align: center;
}

/*
** Header
*/
.header {
  margin: auto;
  width: 990px;
  height: 60px;
}

.logo {
  float: left;
  margin-top: 15px;
}

.logo img {
  height: 35px;
}

.nav {
  float: left;
  width: 480px;
  margin-top: 3px;
}

.nav ul li {
  float: left;
  margin: 0 10px;
  width: 60px;
  height: 67px;
  line-height: 80px;
  text-align: center;
  font: 16px/60px "Microsoft YaHei","黑体";
  position: relative;
}

.logo {
  width: 180px;
  vertical-align: middle;
  border: none;
}

.nav-tools {
  float: right;
  width: 250px;
}

.nav-tools ul li {
  float: left;
  margin: 0 2px;
  width: 60px;
  height: 67px;
  line-height: 80px;
  text-align: center;
  font: 12px/60px "Microsoft YaHei","黑体";
  position: relative;
}

.nav-tools a {
  color: #555;
  padding-top: 8px;
}

.nav-tools img {
  width: 40px;
  height: 40px;
}

.nav .active {
  border-bottom: 5px solid #1abc9c;
  color: #1abc9c;
}

/*
** Container
*/
.wrapper {
  margin-top: 8px;
  border-top: 1px solid #ddd;
  /*background: #f2f2f2 url(../img/shadow.png) top repeat-x;*/
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 990px;
}

.container > .content:last-child {
  border: none;
}

.gallery {
  clear: both;
  height: 400px;
  position: relative;
}

.gallery-image {
  background: url(../img/banner2.jpg) center no-repeat;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.gallery-image .share, .download {
  display: inline-block;
  margin: 40px;
  margin-top: 270px;
}

.list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item {
  display: inline-block;
  width: 180px; 
  height: 120px;
  line-height: 25px;
  font: 14px/25px "Microsoft YaHei","黑体";
}

.list-item p {
  color: #777;
}

.list-item img {
  width: 58px;
  height: 58px;
}

.splitter {
  display: inline-block;
  background: #eee;
  width: 1px;
  height: 120px;
  vertical-align: top;
  line-height: 100px;
}

.content {
  margin: auto;
  text-align: left;
  font: 14px/25px "Microsoft YaHei","黑体";
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.content-inline-wrapper {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 20px 0;
}

.content-inline {
  display: inline-block;
  width: 300px;
  text-align: left;
  font: 14px/25px "Microsoft YaHei","黑体";
  vertical-align: top;
}

.content .title {
  clear: both;
  font: 18px/60px "Microsoft YaHei","黑体";
  text-align: left;
  color: #1abc9c;
  font-weight: bold;
}

.content-inline .subtitle {
  clear: both;
  font: 14px/25px "Microsoft YaHei","黑体";
  text-align: left;
  color: #1abc9c;
  font-weight: bold;
}

.content-inline-wrapper .title {
  clear: both;
  font: 18px/60px "Microsoft YaHei","黑体";
  text-align: left;
  color: #1abc9c;
  font-weight: bold;
}

.content .title:before {
  content: "| ";
}

.content-inline .subtitle:before {
  content: "· ";
}

.content-inline-wrapper .title:before {
  content: "| ";
}

.content table {
  width:720px;
  border-collapse: collapse;
}

.content table th, td {
  border: 1px solid #ddd;
  padding: 5px;
}

.content table th {
  /*background: #ddd;*/
}

/*
** Footer
*/
.footer {
  border-top: 1px solid #ddd;
  /*background: #111;*/
  height: 100px;
  bottom: 0;
  padding: 30px;
}

.footer ul li {
  color: #999;
  height: 20px;
  text-align: center;
  font-size: 12px;
}

.footer a {
  color: #999;  
  height: 20px;
  display: inline-block;
}

.footer a:hover {
  color: #1abc9c;
}
