<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>出错了...</title>
</head>
<body>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>