<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://game.friendsbt.com:3005/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!--<script src="/javascripts/jquery.min.js"></script>-->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        body, #list-box,#msg-content, #room-msg-content{
            background-color: #eeeeee;
        }
    </style>
   </head>
<body>
<div id="dialog-message" title="提示信息:">
    <p>
    <div class="form-group"><span style="float:left; margin:0 7px 20px 0;" id="msgIcon"></span>
        <span id="msgShow"></span></div>
    </p>
</div>
<div id="main">
    <div id="tag" class="tag">
        <a id="tag_room_list" href="#room_list" class="on">大厅</a>
        <a id="tag_room" href="#room">房间</a>
        <span id="showTime1"></span><span id="showTime2"></span>
    </div>
    <div style="display:none" id="room" class="room">
        <div class="room_user">
            <div class="u1">
                <div id="room-p1-img"><img src="/images/no_player.gif"></div>
                <span id="room-p1-nickname"></span>&nbsp;&nbsp;<span id="room-p1-jifen"></span><br>
                <span id="room-p1-university"></span><br>
                <span id="room-p1-status"></span><br>
                <span id="room-p1-name"></span>
            </div>
            <div class="u2">
                <div id="room-p2-img"><img src="/images/no_player.gif"></div>
                <span id="room-p2-nickname"></span>&nbsp;&nbsp;<span id="room-p2-jifen"></span><br>
                <span id="room-p2-university"></span><br>
                <span id="room-p2-status"></span><br>
                <span id="room-p2-name"></span>
            </div>
        </div>
        <div class="room_chess" >
        </div>
        <div class="room_message">
            <div class="room_button">
                <input type="button" id="game_ready" class="btn" value="准备">
                <input type="button" id="game_leave" class="btn" value="退出">
            </div>
            <div id="room-msg-content" class="content"></div>
            <div class="input">
                <input id="room-msg-input" style="width:175px;margin:5px 0 0 8px" type="text" id="input">
                <input id="room-msg-button" style="width:50px;margin:5px 0 0 0" type="button" value="发送">
            </div>
        </div>
    </div>
    <div id="room_list" class="room_all">
        <div class="room_left">
            <div id="room-box" class="room_list"></div>
        </div>
        <div class="room_right">
            <div id="list-box" class="list"></div>
            <div class="message">
                <div id="msg-content" class="content"></div>
                <div class="input">
                    <!--<select style="width:50px;margin:5px 0 0 8px"><option value="">所有人</option></select>-->
                    <input id="msg-input" style="width:175px;margin:5px 0 0 8px" type="text" id="input">
                    <input id="msg-button" style="width:50px;margin:5px 0 0 0" type="button" value="发送">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function getSessionID() {
        var paras = "sid"
        var url = location.href;
        var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
        var paraObj = {}
        for (i = 0; j = paraString[i]; i++) {
            paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
        }
        var returnValue = paraObj[paras.toLowerCase()];
        if (typeof (returnValue) == "undefined") {
            return "";
        } else {
            return returnValue;
        }
    }

    var userData = {};
    <% if ( typeof userData != 'undefined' ) { %>
        userData =  <%- userData %>;
    <% } %>
    console.log("sessionID:"+getSessionID());
    userData["sessionID"] = getSessionID();
</script>
<script type="text/javascript" src="javascripts/five.js"></script>
<script type="text/javascript" src="javascripts/home.js"></script>

</html>
