<!--cookie里有sid 通过它获取到session id以后
新开标签页码， 例如
game.friendsbt.com?sid=85bab5693c10e945552f41dc7bdbc62f
跳转到游戏！
通过redis.get(“session:”+”85bab5693c10e945552f41dc7bdbc62f “):
里包含里如下信息：
‘{“username”: “bone@test.com”, “message_cnt”: 0,
“college”: “\u5730\u7403\u79d1\u5b66\u7cfb”,
“err”: 0, “study_coins”: 0,
“nick_name”: “bonelee”, “
university”: “\u4e2d\u5c71\u5927\u5b66”,
“password”: “525cf8cf5a96652213aa68347c5e16172766”,
“total_coins”: 200,
“icon”: “/static/images/user_icon/25.jpg?v=d0c9fad006cb5cd18312203420edcc4c”}’-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>欢迎来到在线五子棋-<%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        #index {
            text-align: center;
            margin-top: 10%
        }

        h1 span {
            padding: 10px;
            text-shadow: 4px 4px 6px #666666;
        }
    </style>
</head>
<body>
<div id="index">
    <div id="showTime"></div>
    <!--倒计时模块-->
    <button id="start">开始</button>
    <button id="stop">停止</button>
    <h1><span>欢迎来到在线五子棋</span></h1>
    </br>
    <span><a href="/login">登录</a></span>
    <span><a href="/register">注册</a></span>
</div>
<script>
    $(function () {
        var flag;
        $("#start").click(function () {
            $("#TestTime").html(" ");
            $("#TestTime").show();
            showTime();
        })
        function showTime() {
            flag = true;
            var timeDiv = $("#TestTime");
            var times = 0.1 * 60;
            if (flag) {
                var timeObj = window.setInterval(countTimer, 1000);
            }
            if (!flag) {
                window.clearInterval(timeObj);//消除调用；
                return;
            }
            function countTimer() {
                var t = "剩余时间:" + Math.floor(times / 60) + "分" + times % 60 + "秒";
                timeDiv.html(t);
                if (times > 0 && flag) {
                    times--;
                } else {
                    //倒计时结束，提交表单
                    if (times == 0) {
                        alert("时间到了");
                    }
                    window.clearInterval(timeObj);//消除调用；
                    return;
                }
            }
        }

        $("#stop").click(function () {
            flag = false;
            $("#TestTime").html(" ");
            $("#TestTime").hide();
        })
//        function StartTimerObject() {
//            //剩余时间，单位是秒，
//            //以指定周期的时间来调用函数，一般以毫秒为单位，这里是1000ms调用函数；
//        }
    })
</script>
</body>
</html>
