<!DOCTYPE html>
<html lang="en" ng-app="fbtApp">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <title>校园星空官网——中国最好的大学学习资源和知识分享社区</title>
  <meta content="校园星空,身在校园,仰望星空,海量学习资源,考试资源,大学生考试,大学生知识分享社区,大学生问答,考研,留学,出国,考研经验,留学经验,考试试题,中国最大的学习资源分享社区" name="keywords">
  <meta content="校园星空,致力于打造中国最好的大学学习资源和知识分享社区" name="description">
  <link id="favicon" rel="shortcut icon" type="image/png" href="//test.friendsbt.com/statics/favicon.png" />
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="//apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">


  <!-- build:css(../) css/combined-index.min.css -->
  <link rel="stylesheet" href="static/css/fontdiao.css">
  <link rel="stylesheet" href="static/css/toaster.css">
  <link rel="stylesheet" href="static/css/star-rating.min.css">
  <link rel="stylesheet" href="static/css/tablesort.css">
  <link rel="stylesheet" href="static/css/module-loading.css">
  <link rel="stylesheet" href="static/css/module-selector.css">
  <link rel="stylesheet" href="static/css/uploadForm.css">
  <link rel="stylesheet" href="static/css/universal.css">
  <link rel="stylesheet" href="static/css/base.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/resource-college.css">
  <link rel="stylesheet" href="static/css/resource-college2.css">
  <link rel="stylesheet" href="static/css/details.css">
  <link rel="stylesheet" href="static/css/reward.css">
  <link rel="stylesheet" href="static/css/myreward.css">
  <link rel="stylesheet" href="static/css/resource-recommendation.css">
  <link rel="stylesheet" href="static/css/login.css">
  <link rel="stylesheet" href="static/css/zoom-visualizer.css">
  <link rel="stylesheet" href="static/css/question-detail.css">
  <link rel="stylesheet" href="static/css/module-share.css">
  <link rel="stylesheet" href="static/css/search.css">
  <link rel="stylesheet" href="static/css/message-center.css">

  <link rel="stylesheet" href="static/css/ask-answer-panels.css">
  <link rel="stylesheet" href="static/css/ask-question-page.css">


  <link rel="stylesheet" href="static/preview/preview.css">
  <!-- endbuild -->

</head>

<body data-ng-controller="ctrlHead" ng-class="{'nav-pad': showHeader()}">

  <div data-ng-if="showHeader()" class="header-invisible">
      <!-- navbar -->
      <nav class="navbar navbar-inverse index-header navStyle navbar-fixed-top" role="navigation" ng-controller="HeaderController" ng-init="init()">
        <!--navbar-header-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <!--<span >switch navgiation</span>-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a href="#/qahome" title="校园星空"><img class="img-responsive hidden-xs-inline header-img" src="//test.friendsbt.com/statics/images/logo.png" style="padding: 1px"/>
            </a>
            <a class="navbar-brand visible-xs-inline txt-brand" href="#/home">
            校园星空
            </a>
          </div>
        </div>
        <!--navbar-header end-->
        <!--navbar-collapse -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <!-- ul nav nav-bar-->
          <ul class="nav navbar-nav navbar-left">

            <!-- 新加的搜索框-->
            <li class="input-css">
              <form>
                <div class="input-group" ng-controller="studySearchController">
                  <!--<div class="input-group-btn" style="top:-1px">-->
                    <!--
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span ng-click="search(searchVal.val)"   ng-bind="searchVal.name">搜索全部</span>
                      <span class="caret"></span>
                    </button>
                    -->
                    <!--<button type="button" class="btn btn-default-->
                    <!--dropdown-toggle" data-toggle="dropdown" tabindex="-1">-->
                    <!--<span class="caret"></span>-->
                    <!--<span class="sr-only">切换下拉菜单</span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li ng-click="searchTab(0)">搜索全部</li>-->
                      <!--<li ng-click="searchTab(1)">搜索课程</li>-->
                      <!--<li ng-click="searchTab(2)">搜索资源</li>-->
                      <!--  <li ng-click="searchTab(3)">搜索问答</li> -->
                    <!--</ul>-->
                  <!--</div>-->
                  <!-- /btn-group -->
                  <div class="has-feedback">
                    <input style="border-radius: 50px" name="keyword" ng-model="keyword" onclick="select()" ng-keypress="enter($event)" type="text" class="form-control" placeholder="搜索学校、学霸、问答、课程" ng-bind="keyword">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" style="pointer-events: inherit;cursor: pointer" ng-click="search()"></span>
                  </div>
                </div>
                <!-- /input-group -->
              </form>
            </li>

            <li ng-repeat="tab in ['qahome', 'schools','star','reward']">
              <a ng-href="#{{tab}}" ng-click="toggleNavbar()" ng-class="{active:isCurrentTab(tab)}" >
                <span class="{{tabIcons[$index]}}" aria-hidden="true" style="top: 2px"></span>&nbsp;<span ng-bind="tabNames[tab]"></span>
              </a>
            </li>
            <!--<li>-->
              <!--<a ng-href="#/qahome"><span class="glyphicon glyphicon-home" aria-hidden="true">主页</span></a>-->
            <!--</li>-->
            <!--<li><span class="glyphicon glyphicon-home" aria-hidden="true">星空</span></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li>-->
            <!--<a href ng-click="gotoAskbot()">问答</a>-->
            <!--&lt;!&ndash;<a ng-href="#/question" >问答</a>&ndash;&gt;-->
            <!--</li>-->
            <!--<li><a href ng-click="goToGame()">PK</a>-->
            <!--</li>-->
            <li class="header-more">
            <a href class="dropdown-toggle" data-toggle="dropdown" style="background-image: none;box-shadow: none"><span>F币</span> <span class="caret"></span></a>
              <ul class="dropdown-menu point" role="menu">
                <!--<li><a href ng-click="gotoAskbot()">问答</a>-->
                <!--</li>-->
                <!--<li><a href="#/label">标签</a>-->
                <!--</li>-->
                <!--<li><a href="#/starsearch">星空搜索</a>-->
                <!--</li>-->
                <li><a href="#/fmall" target="_blank">F币兑换</a></li>
                <!--<li><a href ng-click="goToGame()" target="_blank">游戏</a></li>-->
                <!--<li class="divider"></li>-->
                <li><a href="#/rank" target="_blank">排行榜</a></li>
                <li><a href="#/rule" target="_blank">F币规则</a></li>
              </ul>
            </li>
            <li>
              <button type="button" class="btn primary navbar-btn btn-upload" ng-controller="validateTokenController" ng-click="upLoad()">上传</button>
            </li>
          </ul>
          <!-- ul nav nav-bar navbar-left end-->
          <!-- ul nav nav-bar navbar-right -->
          <ul class="nav navbar-nav user-info">
            <li>
              <div class="navbar-text my-info" data-ng-show="is_logined" hidden>
                <a class="navbar-link" ng-href="#/message">
                  <div class="glyphicon glyphicon-envelope message"></div>
                    <span class="badge message-number"><span data-ng-bind="message_count"></span></span>
                </a>
                <div class="user-coins">
                  <a class="navbar-link" href="#/fmall"> <span>总F币 </span>  <span style="font-size:6pt" coin-format="total_coins" suffix="F"></span>
                  </a>
                </div>
                <div class="user-coins">
                  <a class="navbar-link" href="#/fmall"><span>学习F币 </span><span style="font-size:6pt" coin-format="study_coins" suffix="F"></span></a>
                </div>
              </div>
            </li>
            <li>
              <img title="请登录" class="img-responsive img-circle img-thumbnail user-icon user-icon-logout" ng-show="!is_logined" ng-click="gotoLogin()" alt="请登录" src="//test.friendsbt.com/statics/img/unlogin.gif" style="padding: 1px">
            </li>
            <li ng-cloak ng-show="is_logined" class="dropdown user-dropdown"><!-- title="{{userdisplay}}的个人中心" -->
              <img ng-cloak data-toggle="dropdown" class="dropdown-toggle img-responsive img-circle img-thumbnail user-icon" ng-src="{{userIcon}}" style="padding: 1px" />
              <ul class="dropdown-menu" role="menu">
                <li ng-click="goUserPage()"><a href>我的主页</a>
                </li>
                <li><a ng-href="#/myresource" target="_blank">我的资源</a>
                </li>
                <li><a href="#/reward/myreward/sponsed" target="_blank">我的悬赏</a>
                </li>
                <!--<li>-->
                <!--<a href="#/myquestion">我的问答</a>-->
                <!--</li>-->
                <!--<li><a href="//test.friendsbt.com/statics/msg_board.html" target="_blank">意见反馈</a>-->
                <!--</li>-->
                <li><a ng-href="#/message" target="_blank">消息中心({{message_count}})</a>
                </li>
                <!--
                <li>
                  <a href="//test.friendsbt.com/statics/msg_board.html" target="_blank">意见反馈</a>
                </li>
                -->
                <li><a href="" ng-click="logout()">退出</a>
                </li>
                <li class="divider"></li>
                <!--<li><a href="" ng-click="changePassword()">更改密码</a>-->
                <!--</li>-->
                <!--<li><a href="" ng-click="changeUniversityCollege()">完善资料</a>-->
                <!--</li>-->
                <li><a class="navbar-link" href="#/fmall">总F币:&nbsp;<span style="font-size:6pt" coin-format="total_coins" suffix='F'></span></a>
                </li>
                <li><a class="navbar-link" href="#/fmall">学习F币:&nbsp;<span style="font-size:6pt" coin-format="study_coins"  suffix='F'></span></a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="navbar-text my-info" data-ng-show="is_logined" >
            <a class="navbar-link" ng-href="#/message">
              <div class="glyphicon glyphicon-envelope message"></div>
               <span ng-hide="message_count==0">
                 <span class="badge message-number"><span data-ng-bind="message_count"></span></span>
               </span>
            </a>
          </div>
          <!-- ul nav nav-bar navbar-right end-->
        </div>
        <!-- div nav-collapse end -->
        <!--navbar-collapse -->
      </nav>
      <!-- navbar end-->
    <div class="main-view" ng-view>
    </div>
  </div>
  <div data-ng-if="!(showHeader())">
    <div class="main-view" ng-view>
    </div>
  </div>

  <!--Login Modal-->
  <!--<div ng-include="'//test.friendsbt.com/statics/partials/login-modal.html'"></div>-->
  <div ng-include="'/statics/partials/login-modal.html'"></div>
  <!--Tag Modal -->
  <!--<div ng-include="'//test.friendsbt.com/statics/partials/nav-list.html'"></div>-->
  <div ng-include="'/statics/partials/nav-list.html'"></div>
  <!-- Thank Modal -->
  <!--<div ng-include="'//test.friendsbt.com/statics/partials/thank-modal.html'"></div>-->
  <div ng-include="'/statics/partials/thank-modal.html'"></div>

  <!--<div ng-include="'//test.friendsbt.com/statics/preview/preview.html'"></div>-->
  <div ng-include="'/statics/preview/preview.html'"></div>

  <!--xsrf-->
  <div ng-include="'xsrf'"></div>
  <!-- upload Modal-->
  <div ng-controller="uploadController" ng-init="init();">
    <div class="modal fade uploadModal" role="dialog" id="uploadModal" data-backdrop="static" aria-labelledby="uploadModalLabel" aria-hidden="true">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel();">&times;</button>
            <h4 ng-show="!isPostRewardMode && !isRewardMode" class="modal-title" id="uploadModalLabel">
              上传资源，分享知识<a style="font-size: 14px; margin-left: 10px;color: rgba(0, 138, 255, 0.88);" href="http://test.friendsbt.com/static/upload_rule.html" target="_blank">点【这里】可提高资源审核通过率哦！</a>
            </h4>
            <h4 ng-show="isPostRewardMode" class="modal-title" id="uploadModalLabel">
                发布悬赏
            </h4>
            <h4 ng-show="isRewardMode" class="modal-title" id="uploadModalLabel">
                我来领赏
            </h4>
          </div>
          <div class="modal-body">
            <form role="form" name="upLoadForm">
              <div class="container">
                <div class="form-group" id="upload-form-group">
                  <div class="row row-margin last-row" ng-show="!isPostRewardMode">
                    <div class="col-md-5 btn-pickfile">
                      <input type="hidden" name="FileSelected" ng-model="isFileSelected" ng-pattern="/true/i" />

                      <div ng-click="pickFile();" type="button" id="pickfiles" class="btn btn-default" ng-bind="btnPickFilesText">选择文件
                      </div>
                      <span>按ctrl键多选,单文件&lt;100M</span>
                    </div>
                    <div class="col-md-3 file-num">
                      <span ng-show="isFileSelected">已选择{{tempFiles.length}}个文件</span>
                    </div>
                    <div styel="display:none" class="col-md-4" ng-show="!isRewardMode">
                      <input styel="display:none" id="input-rating" />
                    </div>
                  </div>
                  <div ng-show="!isRewardMode || isPostRewardMode">
                    <div class="row row-margin">
                      <div class="col-md-6">
                        <input type="text" name="schoolName" ng-click="universityClickHandler()" ng-model="formdata.university" class="form-control" placeholder="资源所属学校名" readOnly="true" required/>
                      </div>
                      <div class="col-md-6">
                        <input type="text" name="facultyName" ng-click="collegeClickHandler()" ng-model="formdata.college" class="form-control" placeholder="院系名" readOnly="true" required/>
                      </div>
                    </div>
                    <!--第二个row结束-->
                    <div class="row modal-body" ng-show="isCurrentOrder(1)">
                      <div class="title">请选择学校所在地区<span ng-click="show_order=0;">收起</span>
                      </div>
                      <div class="groups">
                        <span ng-repeat="p in prov_list" ng-click="chooseProvince(p)">{{ p }}</span>
                      </div>
                    </div>
                    <div class="row modal-body" ng-show="isCurrentOrder(2)">
                      <div class="title">请选择学校<span ng-click="show_order=0;">收起</span>
                      </div>
                      <div class="form-group">
                        <input type="text" ng-model="uf" placeholder="快速名称过滤(支持简称和拼音，如中科院、zky均可找到中国科学院)" />
                      </div>
                      <div class="entities">
                        <span ng-repeat="i in universities | ucf: uf" ng-click="chooseUniversity(i.university)" title="{{i.university}}">{{ i.university }}</span>
                      </div>
                    </div>
                    <div class="row modal-body" ng-show="isCurrentOrder(3)">
                      <div class="title">请选择院系名<span ng-click="show_order=0;">收起</span>
                      </div>
                      <div class="form-group">
                        <input type="text" ng-model="cf" placeholder="快速名称过滤(支持简称和拼音，如jsj可以找到计算机学院)" />
                      </div>
                      <div class="entities">
                        <span ng-repeat="i in colleges | ucf: cf: 'college'" ng-click="chooseCollege(i.college)" title="{{i.college}}">{{ i.college }}</span>
                      </div>
                    </div>
                    <div class="row row-margin">
                      <div class="col-md-4">
                        <input name="course" type="text" ng-model="formdata.course" class="form-control" placeholder="课程名全称（请勿写简称或文件名）" typeahead="course for course in courses | filter:courseFilter($viewValue) | limitTo:8" ng-readonly="!(formdata.university && formdata.college)" ng-click="getCourses()"
                        course required/>
                      </div>
                      <div class="col-md-3">
                        <input type="text" name="teacherName" ng-model="formdata.teacher" class="form-control" placeholder="授课老师(选填,最长20个字符)" ng-maxlength="20" />
                      </div>
                      <div class="col-md-2">
                        <input type="number" name="year" ng-model="formdata.year" class="form-control" placeholder="年份,选填" ng-maxlength=4 min="2000" max="2016" year_integer/>
                      </div>
                      <div class="col-md-3">
                        <select name="tag" class="form-control" ng-model="formdata.tag" ng-options="tag for tag in tags" required>
                          <option value="">---请选择资源分类---</option>
                        </select>
                      </div>
                    </div>
                    <div class="row row-margin" ng-show="!isPostRewardMode && !isRewardMode">
                      <div class="col-md-12">
                        <textarea class="form-control" name="sourceDescription" rows="3" placeholder="介绍一下资源吧(必填,200字以内) ^v^ :-)" ng-maxlength="500" ng-model="formdata.description" required>
                        </textarea>
                      </div>
                    </div>
                    <ng-form name="postRewardForm" ng-if="isPostRewardMode">
                      <div class="row row-margin">
                        <div class="col-md-2">
                          <input type="number" name="postRewardFormDataTotalFB" ng-model="postRewardFormData.total_fb" class="form-control" placeholder="悬赏金额" min="1" required />
                        </div>
                        <div class="col-md-2">
                          <input type="number" name="postRewardFormDataExpiredTime" ng-model="postRewardFormData.expire_days" class="form-control" placeholder="有效天数" ng-maxlength=2 min="1" max="90" required />
                        </div>
                      </div>
                      <div class="row row-margin">
                        <div class="col-md-12">
                          <textarea class="form-control" name="postRewardFormDescription" rows="3" placeholder="悬赏说明(必填,500字以内) ^v^ :-)" ng-maxlength="500" ng-model="postRewardFormData.description" required>
                          </textarea>
                        </div>
                      </div>
                    </ng-form>
                  </div>
                  <ng-form name="rewardForm" ng-if="isRewardMode">
                    <!--<div class="row margin">-->
                    <!--  <div class="col-md-2">-->
                    <!--    <input type="number" name="rewardFormDataYear" ng-model="rewardFormData.year" class="form-control" placeholder="年份,选填" ng-maxlength=4 min="2000" max="2015" year_integer/>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <div class="row row-margin">
                      <div class="col-md-12">
                        <textarea class="form-control" name="rewardFormDataSourceDescription" rows="3" placeholder="对悬赏者说些什么吧(必填,100字以内) ^v^ :-)" ng-maxlength="100" ng-model="rewardFormData.comment" required>
                        </textarea>
                      </div>
                    </div>
                  </ng-form>
                </div>
              </div>
              <div class="modal-footer">
                <label class="form-invalid" ng-show="isRetryTipVisible">重试不需要再次选择文件，修改表单后直接发布即可！</label>
                <label class="form-invalid" ng-show="!isRewardMode && upLoadForm.course.$error.course && upLoadForm.course.$touched">课程名不符合规范！
                  <br />
                </label>
                <label class="form-invalid" ng-show="!isRewardMode && upLoadForm.course.$error.required && upLoadForm.course.$touched">课程名不能为空！</label>
                <label class="form-invalid" ng-show="!isRewardMode && upLoadForm.tag.$invalid && upLoadForm.tag.$touched">请选择正确的资源分类！</label>
                <label class="form-invalid" ng-show="!isPostRewardMode && !isRewardMode && upLoadForm.sourceDescription.$invalid && upLoadForm.sourceDescription.$touched">请填写资源说明，200字以内！</label>
                <label class="form-invalid" ng-show="!isRewardMode && upLoadForm.year.$invalid && upLoadForm.year.$dirty">年代只能是4位数字,范围2000-2016!</label>
                <label class="form-invalid" ng-show="isPostRewardMode&& upLoadForm.postRewardForm.postRewardFormDataTotalFB.$invalid&& upLoadForm.postRewardForm.postRewardFormDataTotalFB.$touched">请填写正确的悬赏金额！</label>
                <label class="form-invalid" ng-show="isPostRewardMode&& upLoadForm.postRewardForm.postRewardFormDataExpiredTime.$invalid && upLoadForm.postRewardForm.postRewardFormDataExpiredTime.$touched">请填写悬赏有效天数，范围1-30天！</label>
                <label class="form-invalid" ng-show="isPostRewardMode&& upLoadForm.postRewardForm.postRewardFormDescription.$invalid && upLoadForm.postRewardForm.postRewardFormDescription.$touched">请填写悬赏说明，500字以内！</label>
                <!--<label class="form-invalid" ng-show="upLoadForm.postRewardForm.postRewardFormDataExpiredTime.$dirty && upLoadForm.postRewardForm.postRewardFormDataExpiredTime.$invalid">悬赏期限最大30天！</label>-->
                <input type="checkbox" id="anonymous" name="anonymous" ng-model="formdata.need_anonymous" ng-true-value="1" ng-false-value="0" class="anonymous-chb" />
                <label for="anonymous" style="margin-right:5px;" class="anonymous-chb">匿名上传</label>
                <button type="button" class="btn btn-default" ng-click="clearAll()">清空</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消
                </button>
                <button type="submit" class="btn primary" data-dismiss="modal" ng-click="startUpload()" ng-if="!isRewardMode && !isPostRewardMode" ng-disabled="upLoadForm.$invalid">发布</button>
                <!--正常模式下的-->
                <button type="submit" class="btn primary" data-dismiss="modal" ng-click="startUpload()" ng-if="isRewardMode" ng-disabled="upLoadForm.FileSelected.$invalid || upLoadForm.rewardForm.$invalid">发布</button>
                <!--上传领赏模式下的-->
                <button type="submit" class="btn primary" data-dismiss="modal" ng-click="startUpload()" ng-if="isPostRewardMode" ng-disabled="upLoadForm.postRewardForm.$invalid || upLoadForm.tag.$invalid || upLoadForm.course.$invalid">发布</button>
                <!--发布领赏模式下的-->
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!--modal dialog end,上传资源的表单-->

    <div class="list-group bottom-right-div upload-status-container minus" ng-show="isStatusDivVisible" style="dislpay:none" ng-cloak>
      <div class="list-group-item bottom-right-div title">
        <h4>{{getSummaryStatus()}}<i
                class="glyphicon glyphicon-resize-full" ng-click="switchProgress()">
        </i></h4>
      </div>

      <div ng-show="isProgressBarVisible">
        <div class="list-group-item progressbar-div-head">
          <span class="file-name">文件名</span>
          <span class="file-size"><center>文件大小</center></span>
          <span class="file-status"><center>状态</center></span>
          <!-- <span class="file-operation"><center>操作</center></span> -->
        </div>
        <div class="progressbar-div" ng-show="isProgressBarVisible">

          <div class="list-group-item" ng-repeat="file in files track by $index">
            <span class="file-name" ng-bind="file.name" title="{{file.name}}"></span>
            <span class="file-size"><center ng-bind="formatSize(file)"></center></span>
            <span class="file-status">
            <div class="pgBarContainer">
              <div class="progress overlap" ng-class="{'progress-striped active':file.status==2,}">
                <div class='{{getProgressbarStyle(file)}}' role="progressbar" aria-valuenow="100" style="width:{{file.percent}}%">
                </div>
              </div>
              <div class="overlap">
                <center><span ng-bind="getProgressbarText(file)"></span>
            </center>
          </div>
        </div>
        </span>
        <span class="file-operation">
        <center>
            <i class="glyphicon glyphicon-remove" ng-show="isRemoveIconVisible(file)" ng-click="removeFile(file)"
               title="删除"></i>
            <i class="glyphicon glyphicon-refresh" ng-show="isRetryIconVisible(file)" ng-click="retryCallBack(file)"
               title="重试"></i>
        </center>
      </span>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!--upload Modal end-->

  <!-- register info modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="HeaderController" ng-init="initRegisterInfo()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        感谢您注册校（fú）园（lì）星（shè）空（qū）
                    </h4>
                </div>
                <div class="modal-body uploadModal">
                    <form name="addUserInfo" class="form-horizontal" novalidate>
                        <div>选择您的学校，和小伙伴们愉快玩耍！</div>
                        <div class="contain">
                            <div class="col-md-5"><input type="text" class="form-control" ng-click="universityClickHandler()" ng-model="university" name="university" readOnly="true" placeholder="请选择您的学校（必选）" required></div>
                            <div class="col-md-5 col-md-offset-2"><input class="form-control" type="text" ng-click="collegeClickHandler()" ng-model="college" name="college" readOnly="true" placeholder="请选择您的学院（必选）" required/></div>
                        </div>
                        <div class="row modal-body" ng-show="isCurrentOrder(1)">
                            <div class="title">请选择学校所在地区<span ng-click="show_order=0">收起</span></div>
                            <div class="groups">
                                <span ng-repeat="p in prov_list" ng-click="chooseProvince(p)">{{ p }}</span>
                            </div>
                        </div>
                        <div class="row modal-body" ng-show="isCurrentOrder(2)">
                            <div class="title">请选择学校<span ng-show="province" ng-click="show_order=1">学校不在{{ province }}?</span><span ng-click="show_order=0;">收起</span></div>
                            <div class="form-group">
                                <input type="text" ng-model="uf" placeholder="快速名称过滤(支持简称和拼音，如中科院、zky均可找到中国科学院)" class="form-control"/>
                            </div>
                            <div class="entities">
                <span ng-repeat="i in universities | ucf: uf" ng-click="chooseUniversity(i.university)"
                      title="{{i.university}}">{{ i.university }}</span>
                            </div>
                        </div>
                        <div class="row modal-body" ng-show="isCurrentOrder(3)">
                            <div class="title">请选择新院系名<span ng-click="show_order=0;">收起</span></div>
                            <div class="form-group">
                                <input type="text" ng-model="cf" placeholder="快速名称过滤(支持简称和拼音，如jsj可以找到计算机学院)" class="form-control"/>
                            </div>
                            <div class="entities">
                <span ng-repeat="i in colleges | ucf: cf: 'college'" ng-click="chooseCollege(i.college)"
                      title="{{i.college}}">{{ i.college }}</span>
                            </div>
                        </div>
                        <div>填写真实姓名，更多同学关注！</div>
                        <div class="contain">
                            <input type="text" name="real_name" ng-model="real_name" class="form-control col-md-12 name" ng-pattern="/^[\u4e00-\u9fa5]+$/" placeholder="eg:王大锤（必填）" onfocus="this.placeholder=''" onblur="this.placeholder='eg:王大锤'" required>
                            <span ng-show="addUserInfo.real_name.$touched && addUserInfo.real_name.$invalid && addUserInfo.real_name.$dirty" style="color:red">
                                <span ng-show="addUserInfo.real_name.$error.required">名字不能为空哦！</span>
                                <span ng-show="addUserInfo.real_name.$error.pattern">名字必须是中文哦！</span>
                            </span>
                        </div>
    <!--                         <div class="" style="display: block;padding-top: 10px">给自己起个昵称，感觉自己萌萌哒！</div>
                        <div class="contain">
                            <input type="text" name="nick_name" ng-model="nick_name" class="form-control col-md-12 name" placeholder="eg:萌萌哒（必填）" onfocus="this.placeholder=''" onblur="this.placeholder='eg:萌萌哒'" required>
                        </div> -->
                        <div>选择性别（有福利，不多说）</div>
                        <div class="contain sex" ng-init="gender='男'">
                            <div class="col-md-6"><input  type="radio" value='男'  ng-model="gender" name="gender" ng-checked="true"> 我是男生</div>
                            <div class="col-md-6"><input  type="radio" value='女' ng-model="gender" name="gender"> 我是女生</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer border">
                    <button type="button" class="btn gray_btn " data-dismiss="modal">取消</button>
                    <button style="margin-left: 0;" type="button" class="btn blue_btn primary" ng-disabled="addUserInfo.university.$invalid || addUserInfo.college.$invalid || addUserInfo.real_name.$invalid || addUserInfo.nick_name.$invalid || addUserInfo.gender.$invalid " ng-click="infoHandler()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
  <!-- end of register info modal -->

  <loading-container></loading-container>

  <!--<div loadingContainer></div>-->
  <selector-container></selector-container>

  <toaster-container toaster-options="{'time-out': 2000}"></toaster-container>

  <share-container></share-container>

  <div class="clearfix"></div>

  <div class="footer fontcolor">
    <ul>
      <li><a class="fontcolor" href="//test.friendsbt.com/statics/disclaimer.html" target="_blank">免责声明</a>&nbsp;<a class="fontcolor" href="/#/qadetail/898c18c8a22f11e5bff1525400e60a38" target="_blank">意见反馈</a></li>
      <li>&#8203;京ICP备15035152号-1</li>
      <li>© 2015-2016 <a class="fontcolor" href="http://www.校园星空.com" target="_blank">www.校园星空.com</a> all rights reserved&#8203;</li>
      <li>友情链接:
        <a class="fontcolor" href="http://peixun.alibaba.com/?from=校园星空.com" target="_blank">阿里巴巴</a>
        <a class="fontcolor" href="http://genshuixue.com/?from=校园星空.com" target="_blank">跟谁学</a>
        <a class="fontcolor" href="http://www.casyun.cn/?from=校园星空.com" target="_blank">中科泽云</a>
        <a class="fontcolor" href="http://www.opencas.org/?from=校园星空.com" target="_blank">中科院开源软件协会</a>
        <a class="fontcolor" href="http://www.fuwo.com/?from=校园星空.com" target="_blank">福窝网</a>
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="//test.friendsbt.com/statics/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/angular.min.js"></script>
  <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/plupload.full.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/preview/pdf.js"></script>

  <script src="//test.friendsbt.com/statics/js/tinymce/js/tinymce/tinymce.full.min.js"></script>

  <!-- build:js(../) js/combined-index.min.js -->
  <script type="text/javascript" src="static/preview/angular-pdf.js"></script>

  <script type="text/javascript" src="static/js/sprintf.min.js"></script>
  <script type="text/javascript" src="static/js/angular-route.min.js"></script>
  <script type="text/javascript" src="static/js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.md5.js"></script>
  <script type="text/javascript" src="static/js/qiniu.min.js"></script>
  <script type="text/javascript" src="static/js/star-rating.min.js"></script>
  <script type="text/javascript" src="static/js/base64.js"></script>
  <script type="text/javascript" src="static/js/angular-tablesort.js"></script>
  <script type="text/javascript" src="static/js/angular-snapscroll.min.js"></script>
  <script type="text/javascript" src="static/js/angular-swipe.min.js"></script>
  <script type="text/javascript" src="static/js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="static/js/module-loading.js"></script>
  <script type="text/javascript" src="static/js/module-pagination.js"></script>
  <script type="text/javascript" src="static/js/toaster.js"></script>
  <script type="text/javascript" src="static/js/qrcode.js"></script>
  <script type="text/javascript" src="static/js/angular-qrcode.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script>
  <script type="text/javascript" src="static/js/services.js"></script>
  <script type="text/javascript" src="static/js/util-service.js"></script>
  <script type="text/javascript" src="static/js/util.js"></script>
  
  <script type="text/javascript" src="static/js/directives/module-share.js"></script>
  <script type="text/javascript" src="static/js/directives/bottom-loading.js"></script>
  <script type="text/javascript" src="static/js/ng-clamp.js"></script>

  <script type="text/javascript" src="static/js/richTextEditor.js"></script>
  <script type="text/javascript" src="static/js/services/download-service.js"></script>
  <script type="text/javascript" src="static/js/services/recommend-service.js"></script>


  <script type="text/javascript" src="static/js/services/question-answer-service.js"></script>
  <script type="text/javascript" src="static/js/services/tag-service.js"></script>
  <script type="text/javascript" src="static/js/services/invite-service.js"></script>
  <script type="text/javascript" src="static/js/services/qa-search-service.js"></script>
  <script type="text/javascript" src="static/js/services/ask-question-service.js"></script>
  <script type="text/javascript" src="static/js/services/thank-service.js"></script>
  <script type="text/javascript" src="static/js/services/hot-latest-question-service.js"></script>


  <script type="text/javascript" src="static/js/controllers/header-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/upload-controller.js"></script>
  <script type="text/javascript" src="static/js/services/university-college-service.js"></script>
  <script type="text/javascript" src="static/js/controllers/validate-token-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/details-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/recommend-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/controller-resourceMore.js"></script>
  <script type="text/javascript" src="static/js/controllers/controller-search.js"></script>
  <script type="text/javascript" src="static/js/controllers/course-details-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/controller-resourceCollege.js"></script>
  <script type="text/javascript" src="static/js/controllers/myresource-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/controller-rank.js"></script>
  <script type="text/javascript" src="static/js/controller-login.js"></script>
  <script type="text/javascript" src="static/js/controller-message.js"></script>
  <script type="text/javascript" src="static/js/controller-unpassdetail.js"></script>
  <script type="text/javascript" src="static/js/controller-reward.js"></script>
  <script type="text/javascript" src="static/js/ZoomVisualizer.js"></script>
  <script type="text/javascript" src="static/js/controllers/questiondetail-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/star-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/star-search-controller.js"></script>

  <script type="text/javascript" src="static/js/controllers/qa-home-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/qa-detail-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/ask-question-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/reply-question-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/home-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/invite-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/tag-modal-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/qa-search-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/thank-controller.js"></script>
  <script type="text/javascript" src="static/js/controllers/showInfoController.js"></script>
  <script type="text/javascript" src="static/js/controllers/message-center-controller.js"></script>

  <script type="text/javascript" src="static/js/directives/ask-answer-panels.js"></script>


  <script type="text/javascript" src="static/preview/preview.service.js"></script>
  <script type="text/javascript" src="static/preview/preview.controller.js"></script>
  <!-- endbuild -->

  <!-- build:js(../) js/template.min.js -->
  <!-- templateCache -->
  <!-- endbuild -->

<!-- cnzz analysis -->
  <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1255853060'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255853060' type='text/javascript'%3E%3C/script%3E"));
  </script>
</body>

</html>
