<!DOCTYPE html>
<html lang="en" ng-app="fbtApp">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <title>校园星空官网——中国最好的大学学习资源和知识分享社区"</title>
  <meta content="校园星空,身在校园,仰望星空,海量学习资源,考试资源,大学生考试,大学生知识分享社区,大学生问答,考研,留学,出国,考研经验,留学经验,考试试题,中国最大的学习资源分享社区" name="keywords">
  <meta content="校园星空,致力于打造中国最好的大学学习资源和知识分享社区" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link id="favicon" rel="shortcut icon" type="image/png" href="//test.friendsbt.com/statics/favicon.png" />
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="//apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">

  <!-- build:css(../) css/combined-userpage.min.css -->
  <link rel="stylesheet" href="static/css/base.css">
<!--   <link rel="stylesheet" href="static/css/index.css"> -->
  <link rel="stylesheet" href="static/css/user-experience.css">
  <link rel="stylesheet" href="static/css/image-crop-styles.css">
<!--   <link rel="stylesheet" href="static/css/universal.css"> -->
  <link rel="stylesheet" href="static/css/toaster.css">
  <link rel="stylesheet" href="static/css/module-share.css">
  <link rel="stylesheet" href="static/css/fontdiao.css">
  <link rel="stylesheet" href="static/css/ask-answer-panels.css">
  <!-- endbuild -->

</head>

<body data-ng-controller="UserPageController" class="cover_wrap_fill" ng-cloak>
  <div class="cover_wrap"></div>
<!--   <div class="cover_wrap_fill"></div> -->
  <div class="container">
    <div class="row head">
      <div class="row">
        <div id="avatar-head">
          <img class="img-responsive img-circle img-thumbnail exp-user-icon" ng-src="{{ user_info.icon }}" ng-mouseenter="showUserIconCover = user_info.is_me? true: false">
          <div class="change-user-icon" ng-show="showUserIconCover" ng-mouseleave="showUserIconCover = false" ng-click="showAvatarModal()">修改头像</div>
        </div>
      </div>
      <div class="row">
        <div class="pf_username">
          <span class="nick_name">{{ user_info.real_name }}</span>
          <span ng-show="user_info.gender==='男'" class="fa-stack">
            <i class="fa fa-circle fa-stack-2x" style="color: rgba(0, 165, 255, 1);"></i>
            <i class="fa fa-mars fa-stack-1x fa-inverse" style="font-weight: bold;"></i>
          </span>
          <span ng-show="user_info.gender==='女'" class="fa-stack">
            <i class="fa fa-circle fa-stack-2x" style="color: rgba(255, 0, 216, 1);"></i>
            <i class="fa fa-venus fa-stack-1x fa-inverse" style="font-weight: bold;"></i>
          </span>
          <editable-span class="desc" style="display: block;" empty-title="点此完善自我介绍" name="desc" item="user_info.desc" is-me="user_info.is_me" is-open="true" placeholder="16字概括自己的特点"></editable-span>
        </div>
      </div>
      <div ng-hide="user_info.is_me" class="row button-line">
        <button type="button" ng-hide="user_info.is_followed" ng-click="followUser(user_info)" class="btn btn-success"><i class="fa fa-plus"></i> 关注</button>
        <div class="btn-group" ng-show="user_info.is_followed" uib-dropdown>
          <button id="split-button" type="button" class="btn btn-danger"><i class="fa fa-check"></i> 已关注</button>
          <button type="button" class="btn btn-danger" uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </button>
          <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
<!--             <li class="divider"></li> -->
            <li role="menuitem" ng-click="unfollowUser(user_info)"><a href="#">取消关注</a></li>
          </ul>
        </div>
<!--         <button type="button" class="btn btn-primary hidden"><i class="fa fa fa-envelope-o"></i> 私信</button>
        <div class="btn-group hidden" uib-dropdown>
          <button id="simple-dropdown" type="button" class="btn btn-warning" uib-dropdown-toggle><i class="fa fa-bars"></i></button>
          <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
            <li role="menuitem"><a href="#">Action</a></li>
            <li role="menuitem"><a href="#">Another action</a></li>
            <li role="menuitem"><a href="#">Something else here</a></li>
          </ul>
        </span>
      </div> -->
    </div>
  </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3" style="width: 24%;margin-right: 1%;" only-bottom>
        <div class="row user-info">
          <div style="border-bottom: 1px solid #eee;">
            <span>粉丝 : </span><span class="span_active">{{ user_info.followers_num || 0 }}</span>
            <span>关注 : </span><span class="span_active">{{ user_info.following_num || 0 }}</span>
            <span>赞 : </span><span class="span_active">{{ user_info.thumb_num || 0 }}</span>
          </div>
          <div style="margin-top: 8px; margin-bottom: 10px;">
            <span class="star-label" ng-show="user_info.cert" ng-click="showCertModal()">已认证</span>
            <span class="star-label unauthorized" ng-hide="user_info.cert" ng-click="showCertModal()" title="点击查看如何认证">未认证</span>
            <div class="icon-bed">
              <i ng-repeat="c in user_info.cert" cert-icon="c"></i>
            </div>
          </div>
          <div>
            <span>学习F币 : </span><span class="span_active" suffix="F" coin-format="user_info.coins_by_study"></span>
          </div>
        </div>
        <div class="row user-info">
          <div>
            <span>手机 : </span>
            <editable-span empty-title="填写手机号" name="phone" item="user_info.phone" is-me="user_info.is_me"></editable-span>
          </div>
          <div>
            <span>QQ : </span>
            <editable-span empty-title="填写QQ" name="qq" item="user_info.qq" is-me="user_info.is_me"></editable-span>
          </div>
          <div>
            <span>院校 : </span><span>{{ user_info.university }}</span><span>{{ user_info.college }}</span>
          </div>
          <div ng-mouseenter="state_edit = true" ng-mouseleave="state_edit = false">
            <span>当前状态 : </span>
            <span class="empty" ng-click="state_editing=true;" ng-show="!state_editing && !user_info.state_desc && !user_info.state && user_info.is_me">填写当前状态</span>
            <span ng-hide="state_editing || (!user_info.state_desc && !user_info.state)" ng-class="{editable: is_me}">{{ user_info.state_desc }}  {{ user_info.state }}
            <i ng-show="user_info.is_me && state_edit" ng-click="state_editing=true; new_state=user_info.state; new_state_desc=user_info.state_desc" class="fa fa-pencil-square-o show-hide"></i>
          </span> 
          <div ng-show="state_editing">
            <select ng-model="new_state" ng-options="i for i in classes">
              <option value=""></option>
            </select>
            <input ng-model="new_state_desc" style="width: 110px;" placeholder="描述,公司或学校等"></input>
            <button type="button" ng-click="changeState()">确定</button>
          </div>
         </div><!--end of state -->
        </div>
        <div class="row user-info">
          <honor-pane ng-model="user_info.honor" is-me="user_info.is_me" year-list="entrance_year_list"></honor-pane>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row panel-list grey-background">
          <span ng-class="{'unactived': panel_num!=$index}" ng-click="changePanel($index)" ng-repeat="item in ['的提问', '的回答', '的收藏']">{{ user_info.who }}{{ item }}</span>
        </div>
        <div class="row grey-background focus-pub" ng-show="panel_num==0">
          <div>
            <span class="item-head">{{ user_info.who }}发布的 :  </span>
            <span ng-repeat="t in user_info.tags" style="padding: 0 3px;">{{ t.tag | tag_extract }} ({{ t.num }})</span>
          </div>
          <div>
            <span class="item-head">{{ user_info.who }}关注的 :</span>
            <span ng-repeat="item in user_info.interested_tags"  style="padding: 0 3px;">{{ item | tag_extract }}</span>
          </div>
        </div>
        <div class="row experience-list">
          <ask-answer-panels questions="info.question_list" is-detail="false" is-my-answer="isMyAnswer" is-my-question="isMyQuestion" is-me="user_info.is_me">
          </ask-answer-panels>
          <p ng-show="user_info.is_me && (panel_num < 2) && !info.question_list.length" style="text-align: center; font-weight: bold; font-size: 18px;">我们期待您的回答或提问</p>
          <bottom-loading-container no-more="info.total_page<=info.current_page" on-bottom="fetch()"></bottom-loading-container>
        </div>  <!-- end of experience-list-->
        </div>
      </div>
    </div>
  </div>
  <!--xsrf-->
  <div ng-include="'xsrf'"></div>
  <div ng-include="'//test.friendsbt.com/statics/partials/thank-modal.html'"></div>

  <div class="modal fade" id="uploadAvatar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header green">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">头像设置</h4>
        </div>
        <div class="modal-body">
          <div ng-show="imageCropStep == 1">
            <label>友情提示：请上传真人照片</label>
            <input class="imgset" type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
          </div>
           <div ng-show="imageCropStep == 2">
            <label>友情提示：通过鼠标滑动缩放图片</label>
             <image-crop
             data-height="256"
             data-width="256"
             data-shape="circle"
             data-step="imageCropStep"
             src="imgSrc"
             data-result="result"
             data-result-blob="resultBlob"
             crop="initCrop"
             padding="100"
             max-size="1024"
             ></image-crop>
           </div>
           <div ng-show="imageCropStep == 2" style="text-align: center;">
             <br/>
             <button type="button" class="btn radius" ng-click="clear()">重新选择</button>
             <button type="button" class="btn radius primary" ng-click="initCrop = true">截取</button>
           </div>
           
           <div ng-show="imageCropStep == 3" style="text-align: center;">
             <h2>预览</h2>
             <img ng-src="{{ result }}" class="img-circle img-thumbnail avatar-icon" style="display: block; margin: 0 auto;"></img>
            <button type="button" class="btn radius primary" ng-click="imageCropStep=2">重新截取</button>
           </div>
        <div class="modal-footer">
          <button type="button" class="btn radius" data-dismiss="modal">关闭</button>
          <button type="button" class="btn radius primary" ng-click="uploadAvatar()">确定</button>
        </div>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div class="modal fade" id="certModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header green">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">{{ cert_title }}</h4>
        </div>
        <div class="modal-body">
          <div id="show-information">
              <div class="row" ng-hide="certing">
                  <div class="col-md-12 border" style="margin-bottom: 20px">
                      <div class="part">
                          校园星空每个版块都对应一枚校园勋章，其中包括“校园之星”在内一共六种勋章。每一枚勋章都是一种荣誉，校园勋章获得者拥有校园星空特权。
                          校园勋章只能通过在校园星空分享优质内容，并且通过星认证获得，星认证相关说明如下：
                      </div>
                      <div class="part">
                          <header>星认证要求</header>
                          <ul>
                              <li>（1）F币不小于1000F。</li>
                              <li>（2）在认证的星分类下提问次数超过3次（可以自问自答）。</li>
                              <li>（3）在认证的星分类下累计回答次数超过10次(可以自问自答),且平均每个回答赞数不小于3，或总赞数不小于50。</li>
                              <li>（4）提交星认证后，每周至少登陆一次校园星空网站。</li>
                          </ul>
                      </div>
                      <div class="part">
                          <header>勋章授予</header>
                          <ul>
                              <li>（1）对于985高校同学，可无条件通过星认证获得“校园之星”勋章。但是通过星认证后如果一个月内没有产生任何内容，则收回勋章。</li>
                              <li>（2）上传真实头像，或填写真实的社会实践、实习、工作、获奖等履历，可以更快通过审核获得勋章。</li>
                              <li>（3）对于通过非正常渠道获取赞或者F币奖励的用户，校园星空将拒绝授予勋章，且半年内不再接受该用户的认证请求。</li>
                          </ul>
                      </div>
                      <div class="part">
                          <header>星特权</header>
                          <ul>
                              <li>（1）平台所有课程资源全部免F币下载。</li>
                              <li>（2）优先获得校园星空推荐。</li>
                          </ul>
                      </div>
                      <div class="part">
                          以上最终解释权归校园星空所有，<a ng-click="certing=true; cert_title='认证'" style="font-weight: bold; cursor: pointer;">去认证</a>
                      </div>
                  </div>
              </div>
              <div class="cert-info-groups" ng-show="certing">
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" ng-model="university" name="university" class="form-control" readOnly="true" required>
                  </div>
                  <div class="col-md-3">
                    <input type="text" ng-model="college" name="college" class="form-control" readOnly="true" required/>
                  </div>
                  <div class="col-md-3">
                    <select class="form-control" ng-model="degree" ng-options="i for i in degrees">
                      <option value="">选择学历</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select class="form-control" ng-model="entrance_year" ng-options="i for i in entrance_year_list">
                      <option value="">入学时间</option>
                    </select>
                  </div>
              </div>
              <div style="margin-top: 20px;">
                <form name="myForm" novalidate>
                  <input type="email" name="university_mail" ng-model="university_mail" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="邮箱, 985高校请用本校邮箱进行验证" required>
                  <span ng-show="myForm.university_mail.$dirty && myForm.university_mail.$invalid">
                      <span ng-show="myForm.university_mail.$error.required">注册邮箱为空</span>
                      <span ng-show="myForm.university_mail.$error.email || myForm.university_mail.$error.pattern">邮箱不合法</span>
                  </span>
                </form>
              </div>
              <div class="row form-horizontal" style="margin-top: 20px;">
                <label class="col-md-3 authentication"><i class="fa fa-star"></i>认证类型</label>
                <div class="col-md-9">
                  <select class="form-control" ng-model="class2" ng-options="i+'之星' for i in classes">
                  </select>
                </div>
              </div>
              <div style="margin-top: 20px;">
                <button type="button" class="btn radius primary" style="width: 100%;" ng-disabled="myForm.university_mail.$invalid || !university || !college || !degree || !entrance_year || !class2"
                ng-click="auth()">提交审核</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
  <share-container></share-container>

  <script type="text/javascript" src="//test.friendsbt.com/statics/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/angular.min.js"></script>
  <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/angular-animate.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/ui-bootstrap-tpls-0.14.2.min.js"></script>

  <!-- build:js(../) js/combined-userpage.min.js -->
  <script type="text/javascript" src="static/js/angular-route.min.js"></script>
  <script type="text/javascript" src="static/js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="static/js/user-experience-app.js"></script>
  <script type="text/javascript" src="static/js/image-crop.js"></script>
  <script type="text/javascript" src="static/js/toaster.js"></script>
  <script type="text/javascript" src="static/js/services/university-college-service.js"></script>
  <script type="text/javascript" src="static/js/directives/bottom-loading.js"></script>
  <script type="text/javascript" src="static/js/directives/ask-answer-panels.js"></script>
  <script type="text/javascript" src="static/js/util.js"></script>
  <script type="text/javascript" src="static/js/services.js"></script>
  <script type="text/javascript" src="static/js/services/thank-service.js"></script>
  <script type="text/javascript" src="static/js/controllers/thank-controller.js"></script>
  <script type="text/javascript" src="static/js/ng-clamp.js"></script>
  <script type="text/javascript" src="static/js/directives/module-share.js"></script>
  <script type="text/javascript" src="static/js/qrcode.js"></script>
  <script type="text/javascript" src="static/js/angular-qrcode.js"></script>
  <script type="text/javascript" src="static/js/base64.js"></script>
  <script type="text/javascript" src="static/js/services/question-answer-service.js"></script>
  <script type="text/javascript" src="static/js/services/hot-latest-question-service.js"></script>
  <script type="text/javascript" src="static/js/richTextEditor.js"></script>
  <script type="text/javascript" src="static/js/services/ask-question-service.js"></script>
  <script type="text/javascript" src="static/js/services/tag-service.js"></script>
  <script type="text/javascript" src="static/js/services/invite-service.js"></script>
  <!-- endbuild -->
  <!-- cnzz analysis -->
  <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1255853060'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255853060' type='text/javascript'%3E%3C/script%3E"));
  </script>
</body>

</html>
