<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<div align=center  class="res">
	<!--file name:--><h3 class="res_title"> {{ res["file_name"] }}</h3>
	资源类型:{{ res["main_type"] }} <br/>
	子类型:{{ res["sub_type"] }} <br/>
	公共资源:{{ res["public"] }} <br/>
	下载数:{{ res.get("download_num",0) }} <br/>
	文件ID:{{ res.get("file_id",None) }} <br/>
	隐藏:{{ res.get("hidden",0) }} <br/>
    <a href="/start">返回首页</a>
	<a href="/edit/{{ res.get("file_id",None) }}" target="_blank">==>>修改资源</a>
	<hr>
</div>
