<html>


<div align=center  class="res">
    <h3 class="res_title"> {{ res["filename"] }}</h3>
    学校：{{ res["university"] }}
    学院：{{ res["college"] }} <br>
    课程：{{ res["course"] }}
    资源类型:
    <select name="Combobox1" size="1" id="Combobox1" disabled>
    <option {{ res["tag"]=="作业和答案" and "selected" }} value="作业和答案">作业和答案</option>
    <option {{ res["tag"]=="课堂笔记" and "selected" }} value="课堂笔记">课堂笔记</option>
    <option {{ res["tag"]=="学习心得" and "selected" }} value="学习心得">学习心得</option>
    <option {{ res["tag"]=="往届考题" and "selected" }} value="往届考题">往届考题</option>
    <option {{ res["tag"]=="电子书或文献" and "selected" }} value="电子书或文献">电子书或文献</option>
    <option {{ res["tag"]=="课程课件" and "selected" }} value="课程课件">课程课件</option>
    <option {{ res["tag"]=="TED" and "selected" }} value="TED">TED</option>
    <option {{ res["tag"]=="软件教学" and "selected" }} value="软件教学">软件教学</option>
    <option {{ res["tag"]=="其他" and "selected" }} value="其他">其他</option>
    </select>

    <br/>
    描述：{{ res["description"] }} <br/>
    上传者：{{ res['real_uploader'] }}<br/>
    
    <input type="checkbox" name="hidegroup" value="{{res.get('file_id',None)}}"> 选择该项
	<hr>
</div>
</html>