<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<div align=center  class="u">
	<!--file name:--><h3 class="u_title"> {{ u["nick_name"] }}</h3>
	<br/>
	真实姓名:{{ u["real_name"] }} <br/>
	邮箱:{{ u["user"] }} <br/>
	UID:{{ u["uid"] }} <br/>
	学校:{{ u["school"] if u['school']!='' else u.get('university','') }} <br/>
    <a href="/user">返回首页</a>&nbsp;&nbsp;
	<a href="/editcoin/{{ u['uid'] }}" target="_blank">==>>修改积分</a>
	<a href="/coinlog/{{ u['uid'] }}" target="_blank">==>>审查积分</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/rmuser/{{ u['uid'] }}" target="_blank">.</a>
	<hr>
</div>
