<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>上传附件</title>

  <script type="text/javascript" src="//test.friendsbt.com/statics/js/angular.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/plupload.full.min.js"></script>
  <script type="text/javascript" src="//test.friendsbt.com/statics/js/qiniu.min.js"></script>
  <script type="text/javascript" src="./js/attachmentUploadApp.js"></script>
  <link rel="stylesheet" href="attachment.css" type="text/css" />

</head>

<body ng-app="attachmentUploadApp">
  <div ng-controller="uploadAttachmentController" ng-init="init();">
    <div class="wrapper">
      <!--<div id="tabhead" class="tabhead">-->
      <!--  <span class="tab focus" data-content-id="upload"><var id="lang_tab_upload"></var></span>-->
      <!--  <span class="tab" data-content-id="online"><var id="lang_tab_online"></var></span>-->
      <!--</div>-->
      <div id="tabbody" class="tabbody">
        <!-- 上传图片 -->
        <div id="upload" class="panel focus">
          <div id="queueList" class="queueList">
            <div class="statusBar">
              <div class="progress">
                <span class="text">0%</span>
                <span class="percentage"></span>
              </div>
              <div class="info">{{getSummaryStatus()}}</div>
              <div class="btns">
                <div class="webuploader-pick" id="filePickerBtn" >选择文件</div>
                <div class="uploadBtn" ng-disabled="fileList.length === 0"><var id="lang_start_upload" ng-click="startUpload()">开始上传</var>
                </div>
                <div class="uploadBtn"><var id="insertContent" ng-click="insertContent()">确认插入</var>
                </div>
              </div>
            </div>
            <div id="dndArea" class="placeholder" ng-show="isFileListEmpty">
              <div class="filePickerContainer">
                <div id="filePickerReady">
                  <!--<div id="filePickerBtn3" class="webuploader-pick">点击选择文件</div>-->
                </div>
              </div>
            </div>
            <ul class="filelist" ng-show="!isFileListEmpty">
              <li ng-repeat="file in fileList track by $index" ng-mouseenter="mouseEnterFile(file)" ng-mouseleave="mouseLeaveFile(file)">
                <p class="title" ng-bind="file.name">package.json</p>
                <p class="imgWrap notimage">
                  <i class="file-preview {{getBgImage(file)}}"></i>
                  <span class="file-title" title="{{file.name}}" ng-bind="file.name">package.json</span>
                </p>
                <p class="progress"><span></span>
                </p>
                <div class="file-panel" ng-show="file.panel" style="height: 30px;">
                  <span class="cancel" ng-click="removeFile(file)">删除</span>
                  <!--<span class="rotateRight">向右旋转</span>-->
                  <!--<span class="rotateLeft">向左旋转</span>-->
                </div>
                <p class="error" style="display: block;" ng-show="showError(file)">上传出错</p>
                <span class="success" ng-show="showSuccess(file)"></span>
              </li>
              <!--<li id="filePickerBlock" class="filePickerBlock"></li>-->
              <!--<li id="filePickerBtn2" class="filePickerBlock"></li>-->
            </ul>
          </div>
        </div>
        <a class="btn btn-primary">确认</a>

        <!-- 在线图片 -->
        <!--<div id="online" class="panel">-->
        <!--  <div id="fileList"><var id="lang_imgLoading"></var>-->
        <!--  </div>-->
        <!--</div>-->

      </div>
    </div>
  </div>

</body>

</html>
