@charset "utf-8";
/* global */

body, td, th, input, button {
	font-family: Arial, sans-serif;
	font-size:1em;
}
body {
/*padding-left: 1%;
	padding-right: 1%;min-width: 930px;*/
}
input {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	outline:0;
}
input:focus, textarea:focus {
	outline: 0;
	border-color:#52a9ec;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
button.search {
	color: #fff;
	text-shadow: none;
	background-image: -webkit-linear-gradient(top, #6BA3FE, #1c8ede);
	background-color: #6BA3FE;
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	border: 1px solid #3079ED;
	margin-right: 5px;
	padding:0.3em 1em;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
button.search:hover{
	color: #fff;
	cursor:pointer;
	border-color: #177BBD;
	border: 1px solid #3079ED;
	text-shadow: none;
	background-image: -webkit-linear-gradient(top,#4d90fe,#1c87d2);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0px 1px 2px rgba(31,117,203,0.1);*/
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, .2);
}
.list{
	padding:0.4em;
	font-size:1em;
	width:35%;
}
a:link {
	color: #0000FF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
}
#breadcrumbs a, #crumbs a {
	color: #06F;
}
#breadcrumbs a:hover, #crumbs a:hover {
	color: #F00;
}
#breadcrumbs {
	font-size: 14px;
	padding: 6px;
	line-height: 20px;
}
.btn {
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:1.2em;
	padding-right:1.2em;
	cursor: pointer;
	/*background-color:#CCC;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#F1F1F1), to(rgba(200, 200, 200, 1))); */
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
	/*font-size:1em;*/
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150);
progid:DXImageTransform.Microsoft.gradient(startcolorstr=#F1F1F1, endcolorstr=#DCDCDC, gradientType=0);
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150);
progid:DXImageTransform.Microsoft.gradient(startcolorstr=#F1F1F1, endcolorstr=#DCDCDC, gradientType=0);
	background:#ECECEC; /* default*/
	background:-moz-linear-gradient(top, #F1F1F1, rgba(200, 200, 200, 1));
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#F1F1F1), to(rgba(200, 200, 200, 1)));
}
.btn:active {
	background:#ccc;/*	border-left:1px solid #A9A9A9;
	border-top:1px solid #A9A9A9;*/
}
#crumbs {
	font-size: 12px;
	padding: 3px;
	line-height: 16px;
}
#foot {
	clear:both;
}
#footer {
	padding:50px;
	text-align:center;
	clear:both;
}
#footer-homepage {
	padding:50px;
	text-align:center;
}
#infoot {
	overflow:auto;
	text-align:center;
	font:Verdana, Arial, sans-serif;
	font-size:0.8em;
}
#infoot>a {
	padding:0 1em
}
.hiddenitem {
	display:none;
}
img {
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.lst {
	padding:0.4em;
	font-size:1em;
	width:35%;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
}
/* 圆角*/
.rtop, .rbottom {
	background: #FFF
}
.rtop div, .rbottom div {
	display:block;
	height: 1px;
	overflow: hidden;
	background: #99BCFC
}
.r1 {
	margin: 0 5px
}
.r2 {
	margin: 0 3px
}
.r3 {
	margin: 0 2px
}
.rtop .r4, .rbottom .r4 {
	margin: 0 1px;
	height: 2px;
}
/*圆角*/
ul, ol {
	margin-left:0;
	padding-left:40px;
}



/**------提示框-----------------------------------*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
  
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
/**-----------------------------------------*/
