body, td, th, input, button {
	font-family: Arial, sans-serif;
	//font-size:1em;
}

.title a {
  color: #7f8c8d;
}
.title a:link {
  color: #7f8c8d;
}
.title a:hover {
  color: #1abc9c;
}
.title.active a{
  color: #1abc9c;
}

img.avatar {
  width: 25px;
  height: 25px;
}

td {
  padding: 5px !important;
}