<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
<meta http-equiv="Content-Type" content="text/html;">
<title>审查资源</title>
</head>

<body>

<script language="javascript" type="text/javascript"> 
function dyniframesize(down) { 
var pTar = null; 
if (document.getElementById){ 
pTar = document.getElementById(down); 
} 
else{ 
eval('pTar = ' + down + ';'); 
} 
if (pTar && !window.opera){ 
//begin resizing iframe 
pTar.style.display="block" 
if (pTar.contentDocument && pTar.contentDocument.body.offsetHeight){ 
//ns6 syntax 
pTar.height = pTar.contentDocument.body.offsetHeight +20; 
pTar.width = pTar.contentDocument.body.scrollWidth+20; 
} 
else if (pTar.Document && pTar.Document.body.scrollHeight){ 
//ie5+ syntax 
pTar.height = pTar.Document.body.scrollHeight; 
pTar.width = pTar.Document.body.scrollWidth; 
} 
} 
} 
</script> 

	<p align="right">共{{ res[0]['cnt']/15+1 }}页</p>

	{% set no=0 %}
	{% for one in res %}
	{% set no=no+1 %}
		<div style="overflow-x:hidden;overflow-y:hidden;margin:0px;align:center">
            <iframe frameborder="0" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" id="{{'ifm'+str(no)}}" name="ifm" onload="javascript:dyniframesize('{{"ifm"+str(no)}}');" width="100%" src="/auditingstudy/{%module oneurl(one)%}">
			</iframe>
		</div>
		<hr>    
    {% end %}
    <br>
    <div style="margin:0 auto;width:200px;"> 
    <input type="button" id="Button4" onclick="location.replace(location)" align="center" value="继续审核" style="width:311px;height:66px;z-index:4;font-size:30px;font-weight:bolder;background:#9B9B9B;color:red"  >
    </div>

</body>
</html>
