<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<html>
<body>
    <script language="javascript">
    function selectalls(state) 
    {
        var inputs = document.getElementsByTagName("input");
            
        for(var i=0; i< inputs.length; i++)
        {
            if(inputs[i].type == "checkbox")
            {
                inputs[i].checked =state; 
            }
        }
    }
    </script>

    <form method="POST">
        <div align="center">
        <input type="button" name="button" id="button" value="全选" onclick="javascript:selectalls(true);" />
        <input type="button" name="button" id="button" value="全不选" onclick="javascript:selectalls(false);" />
        <a href="/start">返回首页</a>
        </div>
        {% for one in res %}
            {% module onestudyres(one) %}
        {% end %}
        <div align="center">
        <input type="button" name="button" id="button" value="全选" onclick="javascript:selectalls(true);" />
        <input type="button" name="button" id="button" value="全不选" onclick="javascript:selectalls(false);" />
        <a href="/start">返回首页</a>
        <br/><br/>
        资源加分：
        <select name="Combobox_FB1" size="1" id="Combobox_FB" style="width:108px;">
        <option value="0">不加分</option>
        <option value="1">加5/加100</option>
        <option value="2">加20/加200</option>
        <option value="3">加50/加500</option>
        </select>
        <input type="submit" name="pass" value="把所选通过" style="height:36px;width:120px;">
        <br/>

        <select name="Combobox3" size="1" id="Combobox3" style="width:80px;">
        <option value="0">同名</option>
        <option value="1">非法</option>
        <option value="2">其他原因</option>
        </select>
        <input type="text" name="other"  style="width:100px;">
        <input type="submit" name="nopass" value="把所选不通过" style="height:36px;width:120px;">
        </div>
    </form>
</body>
</html>