<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
<meta http-equiv="Content-Type" content="text/html;">
<title>审查资源</title>
</head>

<html>
	<p align="right">共{{ res.count()/15+1 }}页</p>

	{% for one in res %}
		<p align="center">
			<iframe height="180px" width="100%" frameborder="0" scrolling="no" src="/auditing/{%module oneurl(one)%}">
			</iframe>
		</p>
		<hr>    
    {% end %}
    <br>
    <div style="margin:0 auto;width:200px;"> 
    <input type="button" id="Button4" onclick="location.replace(location)" align="center" value="继续审核" style="width:311px;height:66px;z-index:4;font-size:30px;font-weight:bolder;background:#9B9B9B;color:red"  >
    </div>

</html>
