<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<head>
<style type="text/css">
p.small {line-height: 90%}
p.big {line-height: 200%}
</style>
</head>

<body bgcolor="#C7EDCC">

<form align=center method="POST">
<p>&nbsp; </p><p>&nbsp; </p>

<p class="big">
	文件名:
    <!--<input type="text" name="file_name"  value="{{ res.get('file_name','')}}"> -->
    <textarea name="filename" rows="3" cols="50">{{ res.get('filename','')}}</textarea>
    <br/>
	<!--资源类型:<input type="text" name="main_type" readonly="readonly" value="{{ res.get('main_type','')}}"> <br/>-->
    资源类型:
    <select name="type" size="1" id="Combobox1">
    <option {{ res["tag"]=="作业和答案" and "selected" }} value="作业和答案">作业和答案</option>
    <option {{ res["tag"]=="课堂笔记" and "selected" }} value="课堂笔记">课堂笔记</option>
    <option {{ res["tag"]=="学习心得" and "selected" }} value="学习心得">学习心得</option>
    <option {{ res["tag"]=="往届考题" and "selected" }} value="往届考题">往届考题</option>
    <option {{ res["tag"]=="电子书或文献" and "selected" }} value="电子书或文献">电子书或文献</option>
    <option {{ res["tag"]=="课程课件" and "selected" }} value="课程课件">课程课件</option>
    <option {{ res["tag"]=="TED" and "selected" }} value="TED">TED</option>
    <option {{ res["tag"]=="软件教学" and "selected" }} value="软件教学">软件教学</option>
    <option {{ res["tag"]=="其他" and "selected" }} value="其他">其他</option>
    </select>
    <br/>


    {% if len(res["uploader"])>0 %}
        {% 
        import time;import sys;sys.path.append("/home/fbt/latest_fbt_server_py");import mongoclient;db=mongoclient.fbt.users;u=db.find_one({"user":res["uploader"]},{"nick_name":1})
        %}
        {% if u %}
        {% set u=u["nick_name"] %}
        {% end %}
    上传者：<a href="/finduser/{{ u }}" target="_blank">{{ u }}</a><br/>
    {% else %}
        上传者：(空)<br/>
    {% end %}
    上传时间：{{  time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(res.get("mtime",None))) }}<br/>
    {% if "auditor" in res %}
    审核者：{{res["auditor"]}}<br/>
    {% else %}
        审核者：(空)<br/>
    {% end %}
	下载数:{{ res.get('download_num','')}} <br/>
	
	<!--是否隐藏:
    <input type="checkbox" id="Checkbox1" name="hidden" value="1" {{res.get('hidden','')==1 and "checked"}}>隐藏<br/>-->

	<p hidden>文件ID:<input type="text" name="file_id" readonly="readonly" value="{{ res.get('file_id','')}}"> <br/></p>
</p>
<p>
    <a href="/start">返回首页</a>
	<input type="submit" value="保存修改">
</p>
</form>
	
</body>