<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<head>
<style type="text/css">
p.small {line-height: 90%}
p.big {line-height: 200%}
</style>
</head>

<body bgcolor="#C7EDCC">

<form align=center method="POST">
<p>&nbsp; </p><p>&nbsp; </p>

<p class="big">
	文件名:
    <!--<input type="text" name="file_name"  value="{{ res.get('file_name','')}}"> -->
    <textarea name="file_name" rows="3" cols="50">{{ res.get('file_name','')}}</textarea>
    <br/>
	<!--资源类型:<input type="text" name="main_type" readonly="readonly" value="{{ res.get('main_type','')}}"> <br/>-->
    资源类型:
    <select name="main_type" size="1" id="Combobox1">
    <option {{ str(res['main_type'])=='0' and "selected" }} value="0">电影</option>
    <option {{ str(res['main_type'])=='1' and "selected" }} value="1">剧集</option>
    <option {{ str(res['main_type'])=='2' and "selected" }} value="2">学习</option>
    <option {{ str(res['main_type'])=='3' and "selected" }} value="3">音乐</option>
    <option {{ str(res['main_type'])=='4' and "selected" }} value="4">动漫</option>
    <option {{ str(res['main_type'])=='5' and "selected" }} value="5">游戏</option>
    <option {{ str(res['main_type'])=='6' and "selected" }} value="6">综艺</option>
    <option {{ str(res['main_type'])=='7' and "selected" }} value="7">体育</option>
    <option {{ str(res['main_type'])=='8' and "selected" }} value="8">软件</option>
    <option {{ str(res['main_type'])=='9' and "selected" }} value="9">其他</option>
    </select>
    <br/>
	子类型:<!-- <input type="text" name="sub_type" readonly="readonly" value="{{ res.get('sub_type','')}}"> --> 
    <select name="sub_type" size="1" id="sub_type" >
        <option {{ res["sub_type"]==0 and "selected" }} value="0">标清</option>
        <option {{ res["sub_type"]==1 and "selected" }} value="1">高清</option>
        <option {{ res["sub_type"]==2 and "selected" }} value="2">超高清</option>
    </select><br/>
    文件大小：{{ int(res.get("file_size",0))/1024/1024 }}MB <br/>
    
    {% if res["main_type"]==2 and "exp_info" in res %}
            {% if "resource_school" in res["exp_info"] %}
                学校：{{ res["exp_info"]["resource_school"] }}
            {% end %}
            {% if "resource_academy" in res["exp_info"] %}
                院系：{{ res["exp_info"]["resource_academy"] }}
            {% end %}
            {% if "resource_course" in res["exp_info"] %}
                课程：{{ res["exp_info"]["resource_course"] }}
            {% end %}
            {% if "resource_teacher" in res["exp_info"] %}
                老师：{{ res["exp_info"]["resource_teacher"] }}
            {% end %}
            <br />
    {% end %}

    {% if len(res["owners"])>0 %}
        {% 
        import time;import sys;sys.path.append("/home/fbt/latest_fbt_server_py");import mongoclient;db=mongoclient.fbt.users;u=db.find_one({"uid":res["owners"][0]["uid"]},{"nick_name":1})["nick_name"]
        %}
    上传者：<a href="/finduser/{{ u }}" target="_blank">{{ u }}</a><br/>
    {% else %}
        上传者：(空)<br/>
    {% end %}
    上传时间：{{  time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(res.get("mtime",None))) }}<br/>
    {% if "auditor" in res %}
    审核者：{{res["auditor"]}}<br/>
    {% else %}
        审核者：(空)<br/>
    {% end %}
	下载数:<input type="text" name="download_num" readonly="readonly" value="{{ res.get('download_num','')}}"> <br/>
	公共资源:<input type="text" name="public" readonly="readonly" value="{{ res.get('public','')}}"> <br/>
	是否隐藏:<!--<input type="text" name="hidden" value="{{ res.get('hidden','0')}}"> <br/>
    隐藏:<select name="hidden" size="1" id="Combobox2">
    <option {{ res.get('hidden','')==0 and "selected" }} value="0">否</option>
    <option {{ res.get('hidden','')==1 and "selected" }} value="1">是</option>
    </select>
    <br/>-->
    <input type="checkbox" id="Checkbox1" name="hidden" value="1" {{res.get('hidden','')==1 and "checked"}}>隐藏<br/>

    是否置顶:<input type="checkbox" id="Checkbox2" name="sticky" value="1" {{res.get('sticky',0)>=1 and "checked"}}>置顶
    <input type="text" name="sticky_day" value="{{res.get('sticky','')}}" style = "width:30">天
	<p hidden>文件ID:<input type="text" name="file_id" readonly="readonly" value="{{ res.get('file_id','')}}"> <br/></p>
</p>
<p>
    <a href="/start">返回首页</a>
	<input type="submit" value="保存修改">
</p>
</form>
	
</body>