<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<html>
<body>
    <script language="javascript">
    function selectalls(state) 
    {
        var inputs = document.getElementsByTagName("input");
            
        for(var i=0; i< inputs.length; i++)
        {
            if(inputs[i].type == "checkbox")
            {
                inputs[i].checked =state; 
            }
        }
    }
    </script>

    <form method="POST">
        <div align="center">
        <input type="button" name="button" id="button" value="全选" onclick="javascript:selectalls(true);" />
        <input type="button" name="button" id="button" value="全不选" onclick="javascript:selectalls(false);" />
        <a href="/start">返回首页</a>
        </div>
        {% for one in res %}
            {% module oneres(one) %}
        {% end %}
        <div align="center">
        <input type="button" name="button" id="button" value="全选" onclick="javascript:selectalls(true);" />
        <input type="button" name="button" id="button" value="全不选" onclick="javascript:selectalls(false);" />
        <input type="submit" value="把所选设置隐藏" style="height:36px;width:120px;">
        <a href="/start">返回首页</a>
        </div>
    </form>
</body>
</html>