<html>


{% for res in ress %}
<form name="{{ res.get('file_id',None) }}" method="post" action="/studyhide" id="Form1">
<div align=center  class="res">
    <h3 class="res_title"> {{ res["resource_name"] }}</h3>
    课程:{{ res["course"]}}</br>
    标签:{{ res["tag"]}}</br>
    描述:{{ res["description"]}}</br>
    上传者：{{ res["uploader_nick"]}}</br>

    下载数:{{ res.get("download_num",0) }} <br/>
    <input type="hidden" name="file_id" value="{{ res.get("file_id",None) }}">

    <input type="submit" id="Button1" name="" value="隐藏资源">
	<hr>
</div>
</form>
{% end %}
</html>