{% for res in ress %}

<form align=center method="POST">
	<h3 class="res_title"> {{ res["file_name"] }}</h3>
    文件ID: 
    <input type="text" name="file_id" readonly="readonly" value="{{ res.get("file_id",None) }}">
    <br/>
	资源类型:
    <select name="Combobox1" size="1" id="Combobox1" disabled>
    <option {{ res["main_type"]==0 and "selected" }} value="0">电影</option>
    <option {{ res["main_type"]==1 and "selected" }} value="1">剧集</option>
    <option {{ res["main_type"]==2 and "selected" }} value="2">学习</option>
    <option {{ res["main_type"]==3 and "selected" }} value="3">音乐</option>
    <option {{ res["main_type"]==4 and "selected" }} value="4">动漫</option>
    <option {{ res["main_type"]==5 and "selected" }} value="5">游戏</option>
    <option {{ res["main_type"]==6 and "selected" }} value="6">综艺</option>
    <option {{ res["main_type"]==7 and "selected" }} value="7">体育</option>
    <option {{ res["main_type"]==8 and "selected" }} value="8">软件</option>
    <option {{ res["main_type"]==9 and "selected" }} value="9">其他</option>
    </select>

    <br/>
	子类型:{{ res["sub_type"] }} <br/>
    文件大小：{{ int(res.get("file_size",0))/1024/1024 }}MB <br/>
    {% if len(res["owners"])>0 %}
        {% 
        import time;import pymongo;conn=pymongo.Connection("localhost",27017);db=conn.fbt.users;u=db.find_one({"uid":res["owners"][0]["uid"]},{"nick_name":1})["nick_name"]
        %}
    上传者：<a href="/finduser/{{ u }}" target="_blank">{{ u }}</a><br/>
    {% else %}
        上传者：(空)<br/>
    {% end %}
	公共资源:{{ res["public"] }} <br/>
	下载数:{{ res.get("download_num",0) }} <br/>
	
    <a href="/start">返回首页</a>
	<input type="submit" value="删除">
	<hr>
</form>
{% end %}