
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>审查资源</title>
<!-- <link href="Untitled1.css" rel="stylesheet" type="text/css">
<link href="index.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
<form name="frm" method="POST">
<table style="width:763px;z-index:0;" cellpadding="0" cellspacing="0" id="Table1">
    <tr>
    <td style="background-color:transparent;text-align:center;vertical-align:middle;">
        <center><img border="0" src="{{res['img']}}" style="margin-top:0" height="160" width="160"></center>
    </td>
    <td style="background-color:transparent;text-align:left;vertical-align:middle;width:695px;">
        <!-- <h3 class="res_title"> {{ res["resource_name"] }}</h3> -->
        <input name="resource_name" value="{{ res['resource_name'] }}" size="60px" style='font-size:18px;height:30px'> <br>
        <a href="/auditstudybat?name={{ res['resource_name'] }}" target="_blank">批量审核{{res['resource_name']}}</a><br/>

        描述：{{ res["description"] }} <br />
        学校：{{ res["university"] }} 
        院系：{{ res["college"] }} <br />
        课程：{{ res["course"] }} 
        老师：{{ res["teacher"] }}<br />
        {% if "file_ids" in res and len(res["file_ids"])>0 %}
        文件夹：<br>
            {% 
            import pymongo;from settings import mongo_machines, REPLICASET_NAME;from pymongo import ReadPreference;dbdir=pymongo.Connection(mongo_machines,replicaSet=REPLICASET_NAME,readPreference=ReadPreference.NEAREST).fbt.dir_resources;
            %}
            {% for fid in res["file_ids"] %}
                {% set file=dbdir.find_one({"file_id":fid},{"file_name":1,"file_size":1}) %}
                &nbsp;&nbsp;文件名：{{ file.get("file_name","空") }}
                文件大小：{{ file.get("file_size",0)/1024/1024 }}MB <br/>
            {% end %}
        {% else %}
        标签： {{ res["tag"] }}
        文件大小：{{ int(res.get("file_size",0))/1024/1024 }}MB <br/>
        {% end %}
        {% import sys;sys.path.append("/home/fbt/latest_fbt_server_py");from qiniu_utils import get_download_link;import tornado;import urllib; %}
        {% set xz=get_download_link(res["file_key"], res["filename"]) %}
        下载链接：<a href="{{ xz }}" target="_blank">点我下载</a> &nbsp;
        <a href="http://officeweb365.com/o/?i=1989&furl={{ xz }}" target="_blank">点我预览</a><br/>
        上传者：<a href="/finduser/{{ res['real_uploader'] }}" target="_blank">{{ res['real_uploader'] }}</a>
        <a href="/auditstudybat?uploader={{ res['real_uploader'] }}" target="_blank">批量审核该ta</a><br/>

        
    </td>
    <td style="background-color:transparent;text-align:center;vertical-align:middle;">
        资源加分：<br/>
        {% if res.get('tag','') in ['作业和答案','课堂笔记','学习心得','往届考题'] %}
        {% set hidegood=False %}
        {% set hidenormal=True %}
        {% else %}
        {% set hidegood=True %}
        {% set hidenormal=False %}
        {% end %}
        <select name="Combobox_FB1" size="1" id="Combobox_FB" style="width:120px;" {% if hidegood %}hidden="True";{% end %}>
        <option value="0">不加分</option>
        <option value="1">加100</option>
        <option value="2">加200</option>
        <option value="3">加500</option>
        <option value="4">加1000</option>
        </select>
        <select name="Combobox_FB2" size="1" id="Combobox_FB" style="width:120px;" {% if hidenormal %}hidden="True";{% end %}>
        <option value="0">不加分</option>
        <option value="1">加5</option>
        <option value="2">加20</option>
        <option value="3">加50</option>
        </select>
        <input type="submit" name="yes" value="通过" style="height:40px;width:100px;"><br/><br/>
        <select name="Combobox3" size="1" id="Combobox3" style="width:120px;">
        <option value="0">同名</option>
        <option value="1">非法</option>
        <option value="2">其他原因</option>
        </select>
        <input type="text" name="other"  style="width:118px;">
        <input type="submit" name="no" value="不通过" style="height:36px;width:100px;">

    </td>
    </tr>
</table>
</form>

</body>
</html>

