<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<div align=center  class="u">
	<form method="POST">
	<!--file name:--><h3 class="u_title"> {{ u["nick_name"] }}</h3>
	<br/>
	真实姓名:{{ u["real_name"] }} <br/>
	邮箱:{{ u["user"] }} <br/>
	UID:{{ u["uid"] }} <br/>
	学校:{{ u["school"] }} <br/><br/>
	<input type="submit" name="rm" value="删除" style="height:20px;width:40px;font-weight: bold;color:#EE1B2E">谨慎操作！
	</form>
</div>
