<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

{% autoescape None %}
<p><a href="/start">返回首页</a></p>
<form method="POST">
	file name <input type="text" name="file_name" value="{{ res.get('file_name', '') }}"><br>
	file id <input type="text" name="file_id" value="{{ res.get('file_id', '') }}"><br>
	<input type="submit" value="Save">
</form>
