<div ng-controller="FindController as vm">
    <!-- 分类 -->
    <div class="top-category">
        <ul>
            <li ng-repeat="category in vm.categories">
                <a ui-sref="qahome({qClass:category.name})" ui-sref-active="active" ng-bind="category.name"></a>
            </li>
        </ul>

    </div>
    <!-- end 分类 -->

    <!-- 内容 -->
    <div class="container">
        <!-- 问题列表 -->
        <div class="aw-question-list">
            <div class="mod-body">
                <div ng-show="!vm.questions.length && !vm.isLoading" style="text-align:center;">暂无相关内容</div>
                <ul id="load_explore_list">
                    <li ng-repeat="question in vm.questions track by $index">
                        <div class="mod-body">
                            <h2><a ng-bind="question.title" ui-sref="qadetail({questionId:question.id})"></a></h2>
                        </div>
                        <div class="mod-footer">
                            <div ng-if="question.answer_users.length">
                                <div ng-if="!question.best_answer.need_anonymous">
                                    <a href="javascript:;">
                                        <img class="img" ng-src="{{question.best_answer.publisher_img}}" alt=""
                                             width="20"/></a>
                                    <span ng-bind="question.best_answer.university + '的'"></span>
                                    <a ng-bind="question.best_answer.publisher_real_name"></a> 回复了该问题
                                    <span class="pull-right color-999" ng-bind="question.best_answer.ctime"></span>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- /!question.best_answer.need_anonymous -->
                                <div ng-if="question.best_answer.need_anonymous">
                                    <a href="javascript:;">
                                        <img class="img" ng-src="{{question.best_answer.publisher_img}}" alt=""
                                             width="20"/></a>
                                    <a ng-bind="'匿名用户'"></a> 回复了该问题
                                    <span class="pull-right color-999" ng-bind="question.best_answer.ctime"></span>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- /question.best_answer.need_anonymous -->
                            </div>
                            <!-- ng-if="question.best_answer" -->

                            <div ng-if="!question.answer_users.length">
                                <div ng-if="!question.need_anonymous">
                                    <a href="javascript:;">
                                        <img class="img" ng-src="{{question.publisher_img}}" alt=""
                                             width="20"/></a>

                                    <span ng-bind="question.university + '的'"></span>
                                    <a ng-bind="question.publisher_real_name"></a> 发起了该问题
                                    <span class="pull-right color-999" ng-bind="question.ctime"></span>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- /!question.need_anonymous -->
                                <div ng-if="question.best_answer.need_anonymous">
                                    <a href="javascript:;">
                                        <img class="img" ng-src="{{question.publisher_img}}" alt=""
                                             width="20"/></a>
                                    <a ng-bind="'匿名用户'"></a> 发起了该问题
                                    <span class="pull-right color-999" ng-bind="question.ctime"></span>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- /question.need_anonymous -->

                            </div>
                            <!-- ng-if="!question.best_answer" -->

                        </div>
                        <!-- /.mod-footer -->

                    </li>
                </ul>
            </div>

            <div class="mod-footer">
                <a ng-show="vm.pageNum > 0" id="load_explore" class="aw-load-more" ng-class="[{loading:vm.isLoading}]" auto-load="false" ng-click="vm.fetchMoreQuestions();">
                    <i class="icon icon-loading icon-spin" ng-show="vm.isLoading"></i>
                    <span>更多</span></a>
            </div>
        </div>
        <!-- end 问题列表 -->

        <!--&lt;!&ndash; 热门话题 &ndash;&gt;-->
        <!--<?php if ($this->sidebar_hot_topics) { ?>-->
        <!--<div class="aw-explore-hot-topic">-->
        <!--<div class="mod-head">-->
        <!--<h3><?php _e('热门话题'); ?></h3>-->
        <!--</div>-->
        <!--<div class="mod-body">-->
        <!--<ul>-->
        <!--<?php foreach($this->sidebar_hot_topics AS $key => $val) {?>-->
        <!--<li>-->
        <!--<a class="pull-left" href="m/topic/<?php echo $val['topic_title'];?>"><img src="<?php echo get_topic_pic_url('mid', $val['topic_pic']); ?>" alt="" width="50" /></a>-->
        <!--<div class="content pull-left">-->
        <!--<span class="topic-tag clearfix">-->
        <!--<a class="text" href="m/topic/<?php echo $val['topic_title'];?>"><?php echo $val['topic_title'];?></a>-->
        <!--</span>-->
        <!--<p class="color-999">-->
        <!--<span class="text-color-999"><?php _e('%s 个讨论', '<b>' . $val['discuss_count'] . '</b>'); ?> • <?php _e('%s 个关注', '<b>' . $val['focus_count'] . '</b>'); ?></span>-->
        <!--</p>-->
        <!--</div>-->
        <!--</li>-->
        <!--<?php } ?>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<?php } ?>-->
        <!--&lt;!&ndash; end 热门话题 &ndash;&gt;-->

    </div>
    <!-- end 内容 -->

</div>
<!--
<script type="text/javascript">

    /*
     $(document).ready(function () {
     <?php if ($_GET['category']) { ?>
     AWS.load_list_view(G_BASE_URL + '/explore/ajax/list/sort_type-new__category' + '-' + <?php echo $_GET['category']; ?> + '__day-0__is_recommend-0', $('#load_explore'), $('#load_explore_list'), 2);
     <?php } else { ?>
     AWS.load_list_view(G_BASE_URL + '/explore/ajax/list/sort_type-new__day-0__is_recommend-0', $('#load_explore'), $('#load_explore_list'), 2);
     <?php } ?>

     if ($('.top-category').length)
     {
     var length = 0;

     $.each($('.top-category li'), function (i, e)
     {
     length += $(this).innerWidth();
     });

     $('.top-category ul').css('width', length + 10)

     var myScroll = new IScroll('.top-category', { eventPassthrough: true, scrollX: true, scrollY: false, preventDefault: false });
     }
     });

     */
</script>
-->

