<html>


<div align=center  class="res">
	<h3 class="res_title"> {{ res["file_name"] }}</h3>
	资源类型:
    <select name="Combobox1" size="1" id="Combobox1" disabled>
    <option {{ res["main_type"]==0 and "selected" }} value="0">电影</option>
    <option {{ res["main_type"]==1 and "selected" }} value="1">剧集</option>
    <option {{ res["main_type"]==2 and "selected" }} value="2">学习</option>
    <option {{ res["main_type"]==3 and "selected" }} value="3">音乐</option>
    <option {{ res["main_type"]==4 and "selected" }} value="4">动漫</option>
    <option {{ res["main_type"]==5 and "selected" }} value="5">游戏</option>
    <option {{ res["main_type"]==6 and "selected" }} value="6">综艺</option>
    <option {{ res["main_type"]==7 and "selected" }} value="7">体育</option>
    <option {{ res["main_type"]==8 and "selected" }} value="8">软件</option>
    <option {{ res["main_type"]==9 and "selected" }} value="9">其他</option>
    </select>

    <br/>
	子类型:{{ res["sub_type"] }} <br/>
    {% if "file_ids" in res and len(res["file_ids"])>0 %}
        文件夹：<br>
            {% 
            import pymongo;dbdir=pymongo.Connection("localhost",27017).fbt.dir_resources;
            %}
            {% for fid in res["file_ids"] %}
                {% set file=dbdir.find_one({"file_id":fid},{"file_name":1,"file_size":1}) %}
                <div style="clear:both">
                   <div class="item" style="height:18px;text-align:center;">
                    <span style="color:#000000;font-family:Arial;font-size:13px;">
                    &nbsp;&nbsp;&bull;文件名：{{ file.get("file_name","空") }}
                    文件大小：{{ file.get("file_size",0)/1024/1024 }}MB <br/>
                    </span></div>
                </div>
            {% end %}
        {% else %}
        文件大小：{{ int(res.get("file_size",0))/1024/1024 }}MB <br/>
        {% end %}
	公共资源:{{ res["public"] }} <br/>
	下载数:{{ res.get("download_num",0) }} <br/>
	文件ID:{{ res.get("file_id",None) }} <br/>
    隐藏:{{ res.get("hidden",0) }} <br/>
	置顶:{{ res.get("sticky",0) }} <br/>
    <a href="/start">返回首页</a>
    <a href="/edit/{{ res.get("file_id",None) }}" target="_blank">==>>修改资源</a>
    <input type="checkbox" name="hidegroup" value="{{res.get('file_id',None)}}" {{ res.get("hidden",0) and "disabled" }}> 设置隐藏
	<hr>
</div>
</html>