<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<head>
<style type="text/css">
p.small {line-height: 90%}
p.big {line-height: 200%}
</style>
</head>

<form align=center method="POST">
<p>&nbsp; </p><p>&nbsp; </p>

<p class="big">
	UID:<input type="text" name="uid" readonly="readonly" value="{{ res['uid'] }}"> <br/>
	积分:<input type="text" name="total_coins" readonly="readonly" value="{{ res['total_coins']}}"> <br/>
    加分:<input type="text" name="coins_add" > <br/>

</p>
<p>
    <a href="/user">返回首页</a>
	<input type="submit" value="保存修改">
</p>
</form>
	
