<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<head>
<style type="text/css">
p.small {line-height: 90%}
p.big {line-height: 200%}
</style>
</head>

<form align=center method="POST">
<p>&nbsp; </p><p>&nbsp; </p>

<p class="big">
	文件名:<input type="text" name="file_name" value="{{ res.get('file_name','')}}"> <br/>
	资源类型:<input type="text" name="main_type" readonly="readonly" value="{{ res.get('main_type','')}}"> <br/>
	子类型:<input type="text" name="sub_type" readonly="readonly" value="{{ res.get('sub_type','')}}"> <br/>
	下载数:<input type="text" name="download_num" readonly="readonly" value="{{ res.get('download_num','')}}"> <br/>
	公共资源:<input type="text" name="public" readonly="readonly" value="{{ res.get('public','')}}"> <br/>
	隐藏:<input type="text" name="hidden" value="{{ res.get('hidden','0')}}"> <br/>
	文件ID:<input type="text" name="file_id" readonly="readonly" value="{{ res.get('file_id','')}}"> <br/>
</p>
<p>
    <a href="/start">返回首页</a>
	<input type="submit" value="保存修改">
</p>
</form>
	
