<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>修改通知</title>
</head>
<body>
<form method="POST">

        msg:
        <select name="msg" size="1" id="msg" disabled="True">
        <option {{ res["msg"]==0 and "selected" }} value="0">消息通知中心</option>
        <option {{ res["msg"]==1 and "selected" }} value="1">消息框</option>
        </select><br />
        类型:
        <select name="type" size="1" id="type" >
        <option {{ res["type"]==0 and "selected" }} value="0">不通知</option>
        <option {{ res["type"]==1 and "selected" }} value="1">上线时通知</option>
        <option {{ res["type"]==2 and "selected" }} value="2">通知一些用户</option>
        </select><br />
        sticky：
        <select name="sticky" size="1" id="sticky" >
        <option {{ res["sticky"]==0 and "selected" }} value="0">超时自动关闭</option>
        <option {{ res["sticky"]==1 and "selected" }} value="1">手动关闭消息</option>
        </select><br />
        <br />
        TO:
        <input name="to" value="{{ res.get('to','') }}" size="100px"></input><br>
        消息:
        <input name="content" value="{{ res['content'] }}" size="100px"></input><br>

    <br/>
    <input type="submit" name="yes" value="保存" style="height:40px;width:100px;">
    非必要情况请勿随意给用户发通知！
</form>
</body>
</html>

