
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>审查资源</title>
<!-- <link href="Untitled1.css" rel="stylesheet" type="text/css">
<link href="index.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
<form method="POST">
<table style="width:763px;height:342px;z-index:0;" cellpadding="0" cellspacing="0" id="Table1">
    <tr>
    <td style="background-color:transparent;text-align:left;vertical-align:top;width:695px;height:342px;">
        <!-- <h3 class="res_title"> {{ res["file_name"] }}</h3> -->
        <input name="file_name" value="{{ res['file_name'] }}" size="60px" style='font-size:18px;height:30px'> <br>
        资源类型:
        <select name="Combobox1" size="1" id="Combobox1" >
        <option {{ res["main_type"]==0 and "selected" }} value="0">电影</option>
        <option {{ res["main_type"]==1 and "selected" }} value="1">剧集</option>
        <option {{ res["main_type"]==2 and "selected" }} value="2">学习</option>
        <option {{ res["main_type"]==3 and "selected" }} value="3">音乐</option>
        <option {{ res["main_type"]==4 and "selected" }} value="4">动漫</option>
        <option {{ res["main_type"]==5 and "selected" }} value="5">游戏</option>
        <option {{ res["main_type"]==6 and "selected" }} value="6">综艺</option>
        <option {{ res["main_type"]==7 and "selected" }} value="7">体育</option>
        <option {{ res["main_type"]==8 and "selected" }} value="8">软件</option>
        <option {{ res["main_type"]==9 and "selected" }} value="9">其他</option>
        </select>
        子类型:
        <select name="Combobox2" size="1" id="Combobox2" >
        <option {{ res["sub_type"]==0 and "selected" }} value="0">标清</option>
        <option {{ res["sub_type"]==1 and "selected" }} value="1">高清</option>
        <option {{ res["sub_type"]==2 and "selected" }} value="2">超高清</option>
        </select>
        <input type="submit" name="save" value="保存">
        <br />
        <!--{{ res["sub_type"] }} <br/> -->
        <!-- 文件ID:{{ res.get("file_id",None) }} <br/> -->
        文件大小：{{ int(res.get("file_size",0))/1024/1024 }}MB <br/>
        <!-- 资源简介：{{ res.get("exp_info",None) }}--> 
        {% if len(res["owners"])>0 %}
        {% 
        import time;import pymongo;conn=pymongo.Connection("localhost",27017);db=conn.fbt.users;u=db.find_one({"uid":res["owners"][0]["uid"]},{"nick_name":1})["nick_name"]
        %}
        上传者：<a href="/finduser/{{ u }}" target="_blank">{{ u }}</a><br/>
        <!-- 上传时间：{{  time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(res.get("mtime",None))) }}<br/> -->
        {% else %}
        上传者：(空)
        {% end %}
        评论：
        {{ res.get("comments",[{"content":"(空)"}])[0]["content"] }}
    </td>
    <td style="background-color:transparent;text-align:center;vertical-align:top;height:342px;">
        <!--<br/><br/><a href="/audityes/{{ res.get("file_id",None) }}">通过</a><br/><br/>
        <a href="/auditno/{{ res.get("file_id",None) }}">不通过</a>-->
        <br/><br/><input type="submit" name="yes" value="通过" style="height:40px;width:100px;"><br/><br/>
        <select name="Combobox3" size="1" id="Combobox3" style="width:120px;">
        <option value="0">清晰度过低/错标</option>
        <option value="1">已有同名更优资源</option>
        <option value="2">不受欢迎格式资源</option>
        <option value="3">命名不规范</option>
        <option value="4">非法违规资源</option>
        <option value="5">其他原因</option>
        </select>
        <input type="text" name="other"  style="width:118px;">
        <input type="submit" name="no" value="不通过" style="height:36px;width:100px;">

    </td>
    </tr>
</table>
</form>
</body>
</html>

