
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>审查资源</title>
<!-- <link href="Untitled1.css" rel="stylesheet" type="text/css">
<link href="index.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
<form name="frm" method="POST">
<table style="width:763px;z-index:0;" cellpadding="0" cellspacing="0" id="Table1">
    <tr>
    <td style="background-color:transparent;text-align:center;vertical-align:middle;">
        <center><img border="0" src="{{res['img']}}" style="margin-top:0" height="160" width="160"></center>
    </td>
    <td style="background-color:transparent;text-align:left;vertical-align:middle;width:695px;">
        <!-- <h3 class="res_title"> {{ res["resource_name"] }}</h3> -->
        <input name="resource_name" value="{{ res['resource_name'] }}" size="60px" style='font-size:18px;height:30px'> <br>

        描述：{{ res["description"] }} <br />
        学校：{{ res["university"] }} 
        院系：{{ res["college"] }} <br />
        课程：{{ res["course"] }} 
        老师：{{ res["teacher"] }}<br />
        {% if "file_ids" in res and len(res["file_ids"])>0 %}
        文件夹：<br>
            {% 
            import pymongo;from settings import mongo_machines, REPLICASET_NAME;from pymongo import ReadPreference;dbdir=pymongo.Connection(mongo_machines,replicaSet=REPLICASET_NAME,readPreference=ReadPreference.NEAREST).fbt.dir_resources;
            %}
            {% for fid in res["file_ids"] %}
                {% set file=dbdir.find_one({"file_id":fid},{"file_name":1,"file_size":1}) %}
                &nbsp;&nbsp;文件名：{{ file.get("file_name","空") }}
                文件大小：{{ file.get("file_size",0)/1024/1024 }}MB <br/>
            {% end %}
        {% else %}
        标签： {{ res["tag"] }}
        文件大小：{{ int(res.get("file_size",0))/1024/1024 }}MB <br/>
        {% end %}
        {% import sys;sys.path.append("/home/fbt/latest_fbt_server_py");from qiniu_utils import add_token_to_download_link;import tornado;import urllib; %}
        下载链接：<a href="{{ add_token_to_download_link(tornado.escape.utf8(urllib.unquote(res['download_link']))) }}" target="_blank">点我下载</a><br/>
        上传者：<a href="/finduser/{{ res['uploader'] }}" target="_blank">{{ res['uploader'] }}</a><br/>

        选择分类：
        <select name="s1" onChange="redirec(document.frm.s1.options.selectedIndex)">
        <option selected>请选择</option>
        <option value="1">自然科学</option>
        <option value="2">农业科学</option>
        <option value="3">医药科学</option>
        <option value="4">工程与技术科学</option>
        <option value="5">人文与社会科学</option>
        </select>

        <select name="s2">
        <option value="请选择" selected>请选择</option>
        </select>
        
    </td>
    <td style="background-color:transparent;text-align:center;vertical-align:middle;">
        <select name="Combobox_FB" size="1" id="Combobox_FB" style="width:120px;">
        <option value="0">加20FB</option>
        <option value="1">加50FB</option>
        <option value="2">加80FB</option>
        <option value="3">加100FB</option>
        </select>
        <input type="submit" name="yes" value="通过" style="height:40px;width:100px;"><br/><br/>
        <select name="Combobox3" size="1" id="Combobox3" style="width:120px;">
        <option value="0">同名</option>
        <option value="1">非法</option>
        <option value="2">其他原因</option>
        </select>
        <input type="text" name="other"  style="width:118px;">
        <input type="submit" name="no" value="不通过" style="height:36px;width:100px;">

    </td>
    </tr>
</table>
</form>

<script language="javascript">
//获取一级菜单长度
var select1_len = document.frm.s1.options.length;
var select2 = new Array(select1_len);
//把一级菜单都设为数组
for (i=0; i<select1_len; i++)
{ select2[i] = new Array();}
//定义基本选项
select2[0][0] = new Option("请选择", " ");

select2[1][0] = new Option("数学", "数学");
select2[1][1] = new Option("信息科学与系统科学", "信息科学与系统科学");
select2[1][2] = new Option("力学", "力学");
select2[1][3] = new Option("物理学", "物理学");
select2[1][4] = new Option("化学", "化学");
select2[1][5] = new Option("天文学", "天文学");
select2[1][6] = new Option("地球科学", "地球科学");
select2[1][7] = new Option("生物学", "生物学");
select2[1][8] = new Option("心理学", "心理学");

select2[2][0] = new Option("农学", "农学");
select2[2][1] = new Option("林学", "林学");
select2[2][2] = new Option("畜牧、兽医科学", "畜牧、兽医科学");
select2[2][3] = new Option("水产学", "水产学");

select2[3][0] = new Option("基础医学", "基础医学");
select2[3][1] = new Option("临床医学", "临床医学");
select2[3][2] = new Option("预防医学与公共卫生学", "预防医学与公共卫生学");
select2[3][3] = new Option("军事医学与特种医学", "军事医学与特种医学");
select2[3][4] = new Option("药学", "药学");
select2[3][5] = new Option("中医学与中药学", "中医学与中药学");

select2[4][0] = new Option("工程与技术科学基础学科", "工程与技术科学基础学科");
select2[4][1] = new Option("信息与系统科学相关工程与技术", "信息与系统科学相关工程与技术");
select2[4][2] = new Option("自然科学相关工程与技术", "自然科学相关工程与技术");
select2[4][3] = new Option("测绘科学技术", "测绘科学技术");
select2[4][4] = new Option("材料科学", "材料科学");
select2[4][5] = new Option("矿山工程技术", "矿山工程技术");
select2[4][6] = new Option("冶金工程技术", "冶金工程技术");
select2[4][7] = new Option("机械工程", "机械工程");
select2[4][8] = new Option("动力与电气工程", "动力与电气工程");
select2[4][9] = new Option("能源科学技术", "能源科学技术");
select2[4][10] = new Option("核科学技术", "核科学技术");
select2[4][11] = new Option("电子与通信技术", "电子与通信技术");
select2[4][12] = new Option("计算机科学技术", "计算机科学技术");
select2[4][13] = new Option("化学工程", "化学工程");
select2[4][14] = new Option("产品应用相关工程与技术", "产品应用相关工程与技术");
select2[4][15] = new Option("纺织科学技术", "纺织科学技术");
select2[4][16] = new Option("食品科学技术", "食品科学技术");
select2[4][17] = new Option("土木建筑工程", "土木建筑工程");
select2[4][18] = new Option("水利工程", "水利工程");
select2[4][19] = new Option("交通运输工程", "交通运输工程");
select2[4][20] = new Option("航空、航天科学技术", "航空、航天科学技术");
select2[4][21] = new Option("环境科学技术及资源科学技术", "环境科学技术及资源科学技术");
select2[4][22] = new Option("安全科学技术", "安全科学技术");
select2[4][23] = new Option("管理学", "管理学");

select2[5][0] = new Option("马克思主义", "马克思主义");
select2[5][1] = new Option("哲学", "哲学");
select2[5][2] = new Option("宗教学", "宗教学");
select2[5][3] = new Option("语言学", "语言学");
select2[5][4] = new Option("文学", "文学");
select2[5][5] = new Option("艺术学", "艺术学");
select2[5][6] = new Option("历史学", "历史学");
select2[5][7] = new Option("考古学", "考古学");
select2[5][8] = new Option("经济学", "经济学");
select2[5][9] = new Option("政治学", "政治学");
select2[5][10] = new Option("法学", "法学");
select2[5][11] = new Option("军事学", "军事学");
select2[5][12] = new Option("社会学", "社会学");
select2[5][13] = new Option("民族学与文化学", "民族学与文化学");
select2[5][14] = new Option("新闻学与传播学", "新闻学与传播学");
select2[5][15] = new Option("图书馆、情报与文献学", "图书馆、情报与文献学");
select2[5][16] = new Option("教育学", "教育学");
select2[5][17] = new Option("体育科学", "体育科学");
select2[5][18] = new Option("统计学", "统计学");
//联动函数
function redirec(x)
{
var temp = document.frm.s2;
for (i=0;i<select2[x].length;i++)
{ temp.options[i]=new Option(select2[x][i].text,select2[x][i].value);}
while (temp.options[i])
{temp.options[i]=null;}
temp.options[0].selected=true;
}
</script>

</body>
</html>

