<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>FBT resource search</title>
<meta name="author" content="gh">
<link href="search.css" rel="stylesheet" type="text/css">
<link href="start.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./searchindex.js"></script>
<script type="text/javascript">
var features = 'toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes,status=no,left=,top=,width=,height=';
var searchDatabase = new SearchDatabase();
var searchResults_length = 0;
var searchResults = new Object();
function searchPage(features)
{
   var element = document.getElementById('SiteSearch1');
   if (element.value.length != 0 || element.value != " ")
   {
      var value = unescape(element.value);
      var keywords = value.split(" ");
      searchResults_length = 0;
      for (var i=0; i<database_length; i++)
      {
         var matches = 0;
         var words = searchDatabase[i].title + " " + searchDatabase[i].description + " " + searchDatabase[i].keywords;
         for (var j = 0; j < keywords.length; j++)
         {
            var pattern = new RegExp(keywords[j], "i");
            var result = words.search(pattern);
            if (result >= 0)
            {
               matches++;
            }
            else
            {
               matches = 0;
            }
         }
         if (matches == keywords.length)
         {
            searchResults[searchResults_length++] = searchDatabase[i];
         }
      }
      var wndResults = window.open('about:blank', '', features);
      setTimeout(function()
      {
         var results = '';
         var html = '<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Search results<\/title><\/head>';
         html = html + '<body style="background-color:#FFFFFF;margin:0;padding:2px 2px 2px 2px;">';
         html = html + '<span style="font-family:Arial;font-size:13px;color:#000000">';
         for (var n=0; n<searchResults_length; n++)
         {
            var page_keywords = searchResults[n].keywords;
            results = results + '<strong><a style="color:#0000FF" target="_parent" href="'+searchResults[n].url+'">'+searchResults[n].title +'<\/a><\/strong><br>Keywords: ' + page_keywords +'<br><br>\n';
         }
         if (searchResults_length == 0)
         {
            results = 'No results';
         }
         else
         {
            html = html + searchResults_length;
            html = html + ' result(s) found for search term: ';
            html = html + value;
            html = html + '<br><br>';
         }
         html = html + results;
         html = html + '<\/span>';
         html = html + '<\/body><\/html>';
         wndResults.document.write(html);
     },100);
   }
   return false;
}
function searchParseURL()
{
   var url = decodeURIComponent(window.location.href);
   if (url.indexOf('?') > 0)
   {
      var terms = '';
      var params = url.split('?');
      var values = params[1].split('&');
      for (var i=0;i<values.length;i++)
      {
         var param = values[i].split('=');
         if (param[0] == 'q')
         {
            terms = unescape(param[1]);
            break;
         }
      }
      if (terms != '')
      {
         var element = document.getElementById('SiteSearch1');
         element.value = terms;
         searchPage('');
      }
   }
}
</script>
<script type="text/javascript">
$(document).ready(function()
{
   searchParseURL();
});
</script>

<SCRIPT>
 function isHidden(oDiv){
   var vDiv = document.getElementById(oDiv);
   vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
 }
</SCRIPT>

</head>

<body>
<a href="/logout">Logout</a>
&nbsp;<a href="/user">Search Users</a> 
&nbsp;<a href="/audit?type=&name=">Audit Resources</a> 
<input type="Button" id="Button2" onclick="isHidden('divaudit')" value="Advanced" style="width:80px;height:25px;z-index:1;" > 
&nbsp;<a href="/inform">Inform</a> 
&nbsp;<a href="/usercnt">Users Count</a> 
&nbsp;<a href="/sendregmail">Reg Mail</a> 
&nbsp;<a href="/sendresetmail">Reset Mail</a> 
<!--&nbsp;<a href="http://211.149.223.98:8888/debug/users?key1=friendsbt2I&key2=friendsbt2U">Online Users</a> -->
{% import datetime; %}
&nbsp;<a href="/coinchange/{{ str(datetime.date.today()) }}">Coin change</a> 
&nbsp;<a href="/coinadd/{{ str(datetime.date.today()) }}">Coin add</a> 

<DIV id="divaudit" style="display: none;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="audittype" size="1" id="audittype">
    <option value="0">电影</option>
    <option value="1">剧集</option>
    <option value="2">学习</option>
    <option value="3">音乐</option>
    <option value="4">动漫</option>
    <option value="5">游戏</option>
    <option value="6">综艺</option>
    <option value="7">体育</option>
    <option value="8">软件</option>
    <option value="9">其他</option>
    </select>
    <input type=submit id="Button2" onclick="window.location.href='/audit?type='+document.getElementById('audittype').value ;return false;" name="Search" value="Advanced Audit" style="width:120px;height:25px;z-index:1;">
  </DIV>

<center><img border="0" src="./static/logo.jpg" style="margin-top:0"></center>
<center>
<form name="SiteSearch1_form" id="SiteSearch1_form" accept-charset="UTF-8" onsubmit="return searchPage(features)">


<input type="text" id="SiteSearch1" style="width:372px;height:23px;line-height:23px;z-index:0;" name="SiteSearch1" value="" placeholder="Search FBT resources">

<input type=submit id="Button1" onclick="window.location.href='/find?name='+document.getElementById('SiteSearch1').value ;return false;" name="Search" value="Search Resources" style="width:120px;height:25px;z-index:1;" accesskey="enter">

<input type="Button" id="Button2" onclick="isHidden('div1')" value="Advanced" style="width:100px;height:25px;z-index:1;" > 
<!--<DIV style="cursor:hand" onclick="isHidden('div1')">高级搜索</DIV>-->
  <DIV id="div1" style="display: none;">
   <br><br>
   文件大小&lt;
   <input type="text" id="size" style="width:40px;height:18px;line-height:18px;z-index:0;" name="size" value="5000">MB<br>
   只搜索未隐藏资源<input type="checkbox" name="nohide" id="nohide" checked><br>
   限定资源类型:
    <select name="type" size="1" id="type">
    <option value="0">电影</option>
    <option value="1">剧集</option>
    <option value="2">学习</option>
    <option value="3">音乐</option>
    <option value="4">动漫</option>
    <option value="5">游戏</option>
    <option value="6">综艺</option>
    <option value="7">体育</option>
    <option value="8">软件</option>
    <option value="9">其他</option>
    </select><br><br>
    <input type=submit id="Button2" onclick="window.location.href='/find?name='+document.getElementById('SiteSearch1').value+'&size='+document.getElementById('size').value+ '&nohide='+document.getElementById('nohide').checked +'&type='+document.getElementById('type').value ;return false;" name="Search" value="Advanced Search" style="width:120px;height:25px;z-index:1;">
  </DIV>

</form>
</center>
</body>
</html>
