<!-- vim: set sw=2 ts=2 : -->
<!DOCTYPE html>
<html lang="en" ng-app="fbtApp">
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <title>FBT2.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    var isIE = function(ver){
      var b = document.createElement('b')
      b.innerHTML = '<!--[if IE ' + ver + ']><i></i><![endif]-->'
      return b.getElementsByTagName('i').length === 1
    }
    if(isIE(6) || isIE(7) || isIE(8)) {
      alert('您的浏览器版本太低啦~ \n推荐使用360极速模式、Chrome、Firefox或IE9及以上版本。');
      window.location.href = 'http://friendsbt.com';
    }
  </script>
  <!--link rel="stylesheet" href="/statics/css/bootstrap-grid.css"-->
  <!--link rel="stylesheet" href="/statics/css/bootstrap-modals.css"-->
  <link rel="stylesheet" href="/statics/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="/statics/css/star-rating.min.css" >
  <link rel="stylesheet" href="/statics/css/toaster.css">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="/statics/css/base.css">
  <link rel="stylesheet" href="/statics/css/module-loading.css">
  <link rel="stylesheet" href="/statics/css/module-selector.css">
  <link rel="stylesheet" type="text/css" href="/static/css/module-pagination.css">

  <link rel="stylesheet" href="/statics/css/resource-college.css">
  <link rel="stylesheet" href="/statics/css/resource-college2.css">
  <link rel="stylesheet" href="/statics/css/resource-recommendation.css">
  <link rel="stylesheet" href="/statics/css/login.css">
  <link rel="stylesheet" href="/statics/css/tr_style.css">
  <link rel="stylesheet" href="statics/css/details.css">

  <link href="/statics/css/uploadForm.css" rel="stylesheet">
  <!--   <link rel="stylesheet" href="/statics/css/reward.css">
  <link rel="stylesheet" href="/statics/css/myreward.css"> -->
  <!-- <link rel="stylesheet" href="/statics/css/myspace.css"> -->


</head>
<body>
  <div class="skin"></div>
  <div ng-controller="HeaderController" ng-init="init()" data-ng-show="showHeader()">
    <div class="header">
      <div class="nav nav-main">
       <ul>
        <li ng-repeat="tab in ['schools','recommendation']">
          <a ng-href="#{{tab}}" ng-class="{active:isCurrentTab(tab)}"  ng-bind="tabNames[tab]"></a>
        </li>
      </ul>
    </div>
    <div class="nav nav-tools">
      <ul>
        <li><button ng-controller="validateTokenController" ng-click="upLoad()">上传</button></li>
        <li><input type="text" /></li>
      </ul>
    </div>
    <div class="infobox">
      <div class="logo cur_p">
        <a ng-cloak ng-show="!is_logined" href="" ng-click="login()"><img src="/statics/img/avatar.jpg"></a>
        <div ng-cloak ng-show="is_logined" class="dropdown">
            <a data-toggle="dropdown" href=""><img ng-cloak ng-src="{{userIcon}}"></a>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-title="{{userdisplay}}" ng-href="#/myresource">我的资源</a></li>
              <li><a href="/statics/msg_board.html" target="_blank">意见反馈</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="changePassword()">更改密码</a></li>
              <li><a href="" ng-click="logout()">注销</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="nav nav-actions">
      <ul>
        <li></li>
        <li><a ></a></li>
      </ul>
    </div>
  </div>

</div>
<div class="container" ng-view onload="init()" style="position: relative;" ng-controller="RootController" ng-style="{'height': workspaceHeight}">
</div>
<!-- <div class="shortcut-box">
  <div class="top">
    <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-up fa-stack-1x"></i>
    </span>
  </div>
  <div class="bottom">
    <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-down fa-stack-1x"></i>
    </span>
  </div>
  <div class="chat">
    <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-comments fa-stack-1x"></i>
    </span>
  </div>
</div> -->

<!--Login Modal-->
<div ng-include="'login'"></div>


<!-- upload Modal-->
<div ng-controller="uploadController" ng-init="init();">
  <div class="modal fade uploadModal" role="dialog" id="uploadModal" aria-labelledby="uploadModalLabel"  aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="uploadModalLabel">
            FBT乐于分享
          </h4>
        </div>
        <div class="modal-body">
          <form role="form" name="upLoadForm">
            <div class="container">
              <div class="form-group">
                <div class="row row-margin">
                  <div class="col-md-6">
                    <input type="text" name="schoolName" ng-click="universityClickHandler()" ng-model="formdata.university" class="form-control" placeholder="资源所属学校名" readOnly="true" required/>
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="facultyName" ng-click="collegeClickHandler()" ng-model="formdata.college" class="form-control" placeholder="院系名" readOnly="true" required/>
                  </div>
                </div><!--第二个row结束-->
                <div class="row modal-body" ng-show="isCurrentOrder(1)">
                    <div class="title">请选择学校所在地区</div>
                    <div class="groups">
                      <span ng-repeat="p in prov_list" ng-click="chooseProvince(p)">{{ p }}</span>
                    </div>
                </div>
                <div class="row modal-body" ng-show="isCurrentOrder(2)">
                    <div class="title">请选择学校</div>
                    <div class="form-group">
                      <input type="text" ng-model="uf" placeholder="快速名称过滤"/>
                    </div>
                    <div class="entities">
                      <span ng-repeat="i in universities | filter: uf" ng-click="chooseUniversity(i)" title="{{i}}">{{ i }}</span>
                    </div>
                </div>
                <div class="row modal-body" ng-show="isCurrentOrder(3)">
                    <div class="title">请选择院系名</div>
                    <div class="form-group">
                      <input type="text" ng-model="cf" placeholder="快速名称过滤"/>
                    </div>
                    <div class="entities">
                      <span ng-repeat="i in colleges | filter: cf" ng-click="chooseCollege(i)" title="{{i}}">{{ i }}</span>
                    </div>
                </div>

                <div class="row row-margin">
                  <div class="col-md-4">
                    <input type="text" name="className" ng-click="courseClickHandler()" ng-model="formdata.course" class="form-control" placeholder="课程名" readOnly="true" required/>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="sourceName" class="form-control" placeholder="资源名称(必填项)" ng-model="formdata.resource_name" required />
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="teacherName" ng-model="formdata.teacher" class="form-control" placeholder="授课老师" required/>
                  </div>
                </div>

                <div class="row modal-body class1_div" ng-show="isCurrentClassOrder(1)">
                    <div class="title">请选择课程大类1</div>
                    <div class="row" ng-repeat="i in class0List">
                      <div class="col-md-4" style="font-weight:bold;">{{ i[0] }} :</div>
                      <div class="col-md-8">
                        <div class="class1">
                          <span ng-repeat="j in i[1]" ng-click="chooseClass1(j)">{{ j }}</span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row modal-body" ng-show="isCurrentClassOrder(2)">
                    <div class="title">请选择课程大类2</div>
                    <div class="form-group">
                      <input type="text" ng-model="c2" placeholder="快速名称过滤"/>
                    </div>
                    <div class="entities">
                      <span ng-repeat="i in class1List | filter: c2" ng-click="chooseClass2(i)" title="{{i}}">{{ i }}</span>
                    </div>
                </div>
                <div class="row modal-body" ng-show="isCurrentClassOrder(3)">
                    <div class="title">请选择院课程</div>
                    <div class="form-group">
                      <input type="text" ng-model="c" placeholder="快速名称过滤"/>
                    </div>
                    <div class="entities">
                      <span ng-repeat="i in class2List | filter: c" ng-click="chooseCourse(i)" title="{{i}}">{{ i }}</span>
                    </div>
                </div>
                
                <div class="row row-margin">
                  <div class="col-md-12">
                    <select name="tag" class="form-control" ng-model="formdata.tag" ng-options="tag for tag in tags" required>
                      <option value="">---请选择资源分类---</option>
                    </select>
                  </div>
                </div>
                <div class="row row-margin">
                  <div class="col-md-12">
                    <textarea class="form-control" name="sourceDescription" rows="3" placeholder="介绍一下资源吧(200字以内) ^v^ :-)" ng-maxlength="200" ng-model="formdata.description" required>
                    </textarea>
                  </div>
                </div>
                <div class="row row-margin">
                  <div class="col-md-9">
                    <input id="input-rating" />
                  </div>
                  <div class="col-md-3">
                    <input type="hidden" name="isFileSelected" ng-model="isFileSelected" ng-pattern="/true/i"></input>
                    <div type="button" id="pickfiles" class="btn btn-default">选择文件
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearTempFile()">取消</button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="startUpload()" ng-disabled="upLoadForm.$invalid">发布</button>
            </div>


          </form>
        </div>
        
      </div>
      
    </div>
  </div><!--modal dialog end,上传资源的表单-->

  <div class="list-group bottom-right-div container minus" ng-show="isStatusDivVisible">
    <div class="list-group-item bottom-right-div title" ><h4>{{getSummaryStatus()}}<i class="glyphicon glyphicon-resize-full" ng-click="switchProgress()">
    </i></h4></div>

    <div ng-show="isProgressBarVisible">
      <div class="list-group-item progressbar-div-head">
       <span class="file-name">文件名</span>
       <span class="file-size"><center>文件大小</center></span>
       <span class="file-status"><center>状态</center></span>
       <!-- <span class="file-operation"><center>操作</center></span> -->
     </div>
     <div class="progressbar-div" ng-show="isProgressBarVisible">

      <div class="list-group-item" ng-repeat="file in files track by $index">
       <span class="file-name" ng-bind="getVisibleFileName(file.name)" title="{{file.name}}"></span>
       <span class="file-size"><center ng-bind="formatSize(file)"></center></span>
       <span class="file-status">
        <div class="pgBarContainer">
          <div class="progress overlap"  ng-class="{'progress-striped active':file.status==2,}">
            <div class='{{getProgressbarStyle(file)}}' role="progressbar" aria-valuenow="100" style="width:{{file.percent}}%">
            </div>
          </div>
          <div class="overlap"><center><span ng-bind="getProgressbarText(file)"></span></center>
          </div>
        </div>
      </span>
      <span class="file-operation">
        <center>
          <i class="glyphicon glyphicon-remove" ng-show="isRemoveIconVisible(file)" ng-click="removeFile(file)" title="删除"></i>
          <i class="glyphicon glyphicon-refresh" ng-show="isRetryIconVisible(file)" ng-click="retryCallBack(file)" title="重试"></i>
        </center>
      </span>
    </div>
  </div>
</div>
</div>

</div>

<div loadingContainer></div>
<selector-container></selector-container>
<!--upload Modal end-->

<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>

<!-- commons -->
<script src="/statics/js/sprintf.min.js"></script>
<script src="/statics/js/jquery-2.0.3.min.js"></script>
<script src="/statics/js/angular.min.js"></script>
<script src="/statics/js/angular-route.min.js"></script>
<script src="/statics/js/angular-cookies.min.js"></script>
<script src="/statics/js/bootstrap.min.js"></script>
<script src="/statics/js/jquery.md5.js"></script>
<script src="/statics/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/statics/js/jquery.fancytree.js"></script>
<script src="/statics/js/jquery.fancytree.table.js"></script>
<script src="/statics/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="/statics/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/statics/js/qiniu.min.js"></script>
<script type="text/javascript" src="/statics/js/star-rating.min.js"></script>
<script src="/statics/js/toaster.js"></script>
<script src="/statics/js/module-loading.js"></script>
<script type="text/javascript" src="/statics/js/module-pagination.js"></script>
<!-- commons end-->

<script src="/statics/js/util.js"></script>
<script src="/statics/js/app.js"></script>
<script src="/statics/js/services.js"></script>


<!--services -->
<script type="text/javascript" src="/statics/js/services/download-service.js"></script>
<script type="text/javascript" src="/statics/js/services/recommend-service.js"></script>
<script type="text/javascript" src="/statics/js/services/upload-file-list-service.js"></script>
<script type="text/javascript" src="/statics/js/services/current-resource-service.js"></script>

<!--services end -->


<!--controllers -->
<script src="/statics/js/controller-myspace.js"></script>
<script src="/statics/js/controller-login.js"></script>
<script src="/statics/js/controllers/header-controller.js"></script>
<script type="text/javascript" src="/statics/js/controllers/upload-controller.js"></script>
<script type="text/javascript" src="/statics/js/controllers/validate-token-controller.js"></script>
<script type="text/javascript" src="/statics/js/controllers/details-controller.js"></script>
<script type="text/javascript" src="/statics/js/controllers/recommend-controller.js"></script>
<script src="/statics/js/controllers/controller-resourceCollege.js"></script>

<!--controllers end-->

</body>
</html>
