  body {
    min-height: 2000px;
    padding-top: 70px;
  }
  .item {
  border-bottom: solid 1px #d8d8d8;
  padding-top: 18px;
  padding-bottom: 18px;
  }
  .navbar-default .navbar-brand {
  color: #1abc9c;
  }
  .nav-tabs {
  background-color: #ecf0f1;
  }
  /*.clickable{color: #888;}
  .nav > li > a {color: #888;}*/
  .nav > li > a:hover {
  color: #888;
  }
  h2 {
  font-size: 30px;
  margin-top: 4px;
  }
  h5 {
  font-size: 22px;
  line-height: 30px;
  }
  a:hover, a:focus {
  text-decoration: underline;
  }
  .downloadingDiv {
  padding-right: 0px;
  height: 40px;
  }
  .downloadingRow {
  padding-top: 10px;
  }
  .downloadingCancelDiv {
  color: red;
  height: 40px;
  }
  .downloadingCancelA {
  color: red;
  }
  .downloadingRow12 {
  }
  .doneWithComment {
  text-align: right;
  }
  .glyphicon-play {
  color: #16a085;
  }
  .myTextArea {
  width: 100%;
  border: solid 2px #1abc9c;
  }
  textarea:focus {
  outline: #1abc9c auto 4px;
  }
  .tfh {
  padding-top: 6px;
  }
  .score {
  float: left;
  width: 33%;
  padding-bottom: 6px;
  color: red;
  }
  .pzx {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding-bottom: 6px;
  }
  .fileInput {
  border: none;
  font-size: 18px;
  width: 100%;
  }
  input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
  }
  .button::-webkit-file-upload-button {
  visibility: hidden;
  }
  .button:before {
  content: '选择文件';
  display: inline-block;
  background: #1abc9c;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color: white;
  }
  .button:hover:before {
  border-color: black;
  }
  .button:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  /*这两行CSS模拟了flatUI典型的input样式*/
  input {
  border: 2px solid #dce4ec;
  color: #34495e;
  border-radius: 6px;
  transition: border linear .2s, box-shadow linear .2s;
  }
  input:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  }
  input {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  height: 42px;
  }
  .badge {
  background: red;
  }
  .nPLR {
  padding-right: 0px;
  padding-left: 0px;
  }
  .star {
  }
  .pstar {
  font-size: 18px;
  color: red;
  }
  .navbar-nav .dropdown-toggle .caret {
  border-top-color: #888;
  border-bottom-color: #888;
  }
  .read{
  color: #999;
  }
  .unRead{
  color: black;
  }
  #tab1{
    border-bottom: 6px solid #1abc9c
  }
  #menu > li{
    cursor:pointer;
  }