@charset "utf-8";
/* CSS Document */

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(240, 240, 240);
	background: rgba(240, 240, 240, .8);
}
#tabs {
	/*overflow: auto;*/
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	height:44px;
}
#tabs li {
	margin: 0;
	padding: 0;
	float: left;
}
#tabs a {
	-moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
	box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
	background: rgb(255, 172, 172);
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	color: #333;
	float: left;
	padding: 12px 30px;
	text-decoration: none;
	
	transition-duration: .5s;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	
}
#tabs a:hover {
	transform:translateY(10px);
	-webkit-transform: translateY(10px);
	-moz-transform:translateY(10px);
	background: #c93434;
}
#tabs a:focus {
	outline: 0;
}
#tabs .current{
	background: #ad1c1c;
	text-shadow: none;
	color: #fff;
}
#content {
	background-color: rgb(245,245,245);
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
	background-image:    -moz-linear-gradient(top, #fff, #ddd);
	background-image:     -ms-linear-gradient(top, #fff, #ddd);
	background-image:      -o-linear-gradient(top, #fff, #ddd);
	background-image:         linear-gradient(top, #fff, #ddd);*/
	
	-moz-border-radius: 0 2px 2px 2px;
	-webkit-border-radius: 0 2px 2px 2px;
	border-radius: 0 2px 2px 2px;
	-moz-box-shadow: 0 2px 8px rgb(104, 139, 252), 0 -1px 0 white inset;
	-webkit-box-shadow: 0 2px 8px rgb(104, 139, 252), 0 -1px 0 white inset;
	box-shadow: 0 2px 8px rgb(104, 139, 252), 0 -1px 0 white inset;
	padding: 30px;
}
/* Remove the rule below if you want the content to be "organic" */
#content div {
}


#iptvmain{
	margin:3%;
}

.iptvChannelTitle{
	
}
.iptvChannelTitle .iptvChannelTitleSpan {
	background:rgb(229, 174, 255);
	padding:.5em;
}
.iptvChannelList> li:hover > h3 > a {
	opacity:1;
}
.iptvChannelList >li {
	background:none;
	background:none;
	-moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
	-khtml-border-radius: 0.4em 0.4em 0.4em 0.4em;
	-webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
	
	/*transition: background .4s;
	-moz-transition: background .4s;
	-webkit-transition: background .4s;
	-o-transition: background .4s;*/
	transition-duration: .5s;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
}
.iptvChannelList >li:hover {
	background:rgb(230, 230, 230);
	background:rgba(230, 230, 230, .9);
	
	border-radius: 0.4em 0.4em 0.4em 0.4em;
	-webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 3px 30px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 30px rgba(0, 0, 0, .4);
	
}
.iptvGuide {
	font-size:0.8em;
	opacity:0;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}
.iptvAddressList {
	overflow: hidden;
	padding:10px;
}
.iptvAddressList li {
	float:left;
	padding: 0.5em;
	list-style-type:none;
}
.iptvAddressList li a {
	text-decoration:none;
	padding: 0.5em;
	-moz-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	transition: background 0.4s, box-shadow 0.6s;
	-moz-transition: background 0.4s, box-shadow 0.6s;
	-webkit-transition: background 0.4s, box-shadow 0.6s;
	-o-transition: background 0.4s, box-shadow 0.6s;
}
.iptvAddressList li a:hover {
	background: #CECECE;
	-webkit-box-shadow: 0px 0px 10px rgba(85, 85, 85, .4) inset;
	-moz-box-shadow: 0px 0px 10px rgba(85, 85, 85, .4) inset;
	box-shadow: 0px 0px 10px rgba(85, 85, 85, .4) inset;
}
.totop{
	
	border: 1px solid rgb(221, 221, 221);
	background : rgb(243, 242, 242);
	-webkit-box-shadow:rgba(77, 77, 77, 0.7) 0px 0px 20px;
	-moz-box-shadow:rgba(77, 77, 77, 0.7) 0px 0px 20px;
	box-shadow:rgba(77, 77, 77, 0.7) 0px 0px 20px;
}
.totop a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAfklEQVQIWz3MoQ2DUBgA4XsheYoEVXmrMA2OCRihTVgAg8PgWwNhg3YBdvkrHsFdPnEEAFZOTlYAAQGYXQ3D1XyhtZvh24/hZl3wMFzMZhfDo2Dr0wRg8mV7PQHs7Erd6GAYDjeaHA1PT8PRVHA2/Prw4c9wLti72wDYuNsHf1+nOq5UT0sTAAAAAElFTkSuQmCC") no-repeat 50% 50% !important;
}
.addfavoritespan,.removefavoritespan{
  float: right;
  font-size: 11px;
  padding: 1em;
  color: rgb(20, 162, 111);
  position: relative;
  left: 5px;
  right: 5px;
  /*opacity: 0; */
   display:none;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}
.iptvChannelList li:hover .addfavoritespan,.iptvChannelList li:hover .removefavoritespan{
	float: right;
	font-size: 11px;
	padding: 1em;
	color: rgb(255, 255, 255);
	position: relative;
	left: 5px;
	right: 5px;
	opacity: 1;
	display: inline-block;
	background: rgb(0, 204, 113);
	cursor: pointer;
}