<div id="shop">
    <div class="title">
        <span class="logo">校园星空 · 商家</span>
        <span class="login-out link" data-toggle="modal" data-target="#logout">退出登录</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-3 info-back" style="margin-left:0px; width:24.5%">
                <span class="font16" style="padding-top: 29px" ng-bind="university">人民大学</span>
                <span class="font16" style="padding-top: 0px;" ng-bind="real_name">小芳打印店</span>
            </div>
            <div class="col-md-3 col-xs-3 info-back">
                <span class="font16">今日收入</span>
                <span class="font28" ng-bind="(daily_income? daily_income:0) + 'F'">20F</span>
                <span class="font16 bottom" ng-bind="(daily_income? daily_income/rate:0) +'元'">1元</span>
            </div>
            <div class="col-md-3 col-xs-3 info-back">
                <span class="font16">本月收入</span>
                <span class="font28" ng-bind="(monthly_income? monthly_income:0) + 'F'">20F</span>
                <span class="font16 bottom" ng-bind="(monthly_income? monthly_income/rate:0) + '元'">1元</span>
            </div>
            <div class="col-md-3 col-xs-3 info-back" style="margin-right:0px; width:24.5%">
                <span class="font16">累计总收入</span>
                <span class="font28" ng-bind="(total_income? total_income:0)+'F'">20F</span>
                <span class="font16 bottom" ng-bind="(total_income? total_income/rate:0) + '元'">1元</span>
            </div>
        </div>
    </div>
    <div class="container transaction">
        <div class="row transaction-title">
            <div class="col-md-3 col-xs-3">交易日期</div>
            <div class="col-md-3 col-xs-3">收支</div>
            <div class="col-md-3 col-xs-3">折扣现金</div>
            <div class="col-md-3 col-xs-3">交易用户</div>
        </div>
        <div class="row transaction-value" ng-repeat="record in list" ng-style="{'background-color':($index%2==0)? 'default':'#DCDCE6'}">
            <div class="col-md-3 col-xs-3" ng-bind="record.ctime">2015-11-12 11:20</div>
            <div class="col-md-3 col-xs-3" ng-bind="record.how_many? (record.how_many+'F'):''">10F</div>
            <div class="col-md-3 col-xs-3" ng-bind="record.how_many? (record.how_many/rate + '元'):''">1元</div>
            <div class="col-md-3 col-xs-3" ng-bind="record.extra_info.from.real_name">小明</div>
        </div>
        <div class="page">共
            <span ng-bind="transfer_list.length>0? transfer_list.length:0"></span>条记录
            <span ng-click="divRecord(0)" class="link" ng-show="currentPage>0">首页</span>
            <span ng-click="divRecord(-1)" ng-show="currentPage > 0" class="link">上一页</span>
            <span ng-click="divRecord(1)" ng-show="currentPage!=totalPage && totalPage>0" class="link">下一页</span>
        </div>
    </div>
</div>

<!-- 退出登录模态框 -->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutLabel" 
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <botton type="botton" class="close" data-dismiss="modal" aria-hidden="true">&times;</botton>
                <h4 class="modal-title" id="logoutLabel">校园星空·商家
                </h4>
            </div>
            <div class="modal-body">
                确定要退出？
            </div>
            <div class="modal-footer">
                <botton type="botton" class="btn btn-default" data-dismiss="modal">取消</botton>
                <botton type="botton" class="btn btn-primary" ng-click="logout()">确认</botton>
            </div>
        </div>
    </div>
</div>
<!--新的消息到来时的提示框-->
<div id="newMessage" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <botton type="botton" class="close" aria-hidden="true" ng-click="hideNewMessage()">&times;</botton>
                <h4 class="modal-title">商家·新消息通知
                </h4>
            </div>
            <div class="modal-body" ng-bind="content? content:' 亲，您有一条新的交易记录，请注意查看！'">
                亲，您有一条新的交易记录，请注意查看！
            </div>
        </div>
    </div>
</div>