/*这里是公共css样式*/

body {
    height: 16.72rem;
    overflow-y: auto; 
    background-color: #eeeeee;
}

.head {
    height: 1.2rem;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 1.2rem;
}

.logo{
    color: rgb(53,160,237);
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
    font-size: 30px;
}

[data-dpr="2"] .logo {
    font-size: 60px;
}

[data-dpr="3"] .logo {
    font-size: 90px;
}

.shop {
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 30px;
}

[data-dpr="2"] .shop {
    font-size: 60px;
}

[data-dpr="3"] .shop {
    font-size: 90px;
}

div {
    font-size: 12px;
}

[data-dpr="2"] div {
    font-size: 24px;
}

[data-dpr="3"] div {
    font-size: 36px;
}

.font14 {
    font-size: 14px;
}

[data-dpr="2"] .font14 {
    font-size: 28px;
}

[data-dpr="3"] .font14 {
    font-size: 42px;
}

.font20 {
    font-size: 20px;
}

[data-dpr="2"] .font20 {
    font-size: 40px;
}

[data-dpr="3"] .font20 {
    font-size: 60px;
}

.font16 {
    font-size: 16px;
}

[data-dpr="2"] .font16 {
    font-size: 32px;
}

[data-dpr="3"] .font16 {
    font-size: 48px;
}

.title {
    font-size: 18px;
}

[data-dpr="2"] .title {
    font-size: 36px;
}

[data-dpr="3"] .title {
    font-size: 54px;
}

.input, .pay-info {
    margin-left: 1.05rem;
    margin-right: 1.05rem;
}

.pay-info {
    background-color: #ffffff;
    text-align: center;
}

.input-control {
    width: 7.5rem;
    height: 0.453333rem;
    padding:  0.3rem 0.2rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0.1rem;
    border-radius: 0.1rem;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin-bottom: 0.2rem;
    text-align: center;
}

 botton {
    background-color: rgb(53,160,237);
    color: #ffffff;
    text-align: center;
    width: 7.5rem;
    padding: 0.3rem 0.2rem;
    display: block;
    margin-top: 0.35rem;
    border-radius: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}


input:focus {
    border: 1px solid #adc;
    box-shadow: 0px 0px 3px #abc;
}

.back {
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
}

.back:active, .set-up:active {
    color: #aaaaaa;
}

.set-up {
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
	text-decoration: underline;
}

.nav-list {
    position: absolute;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    text-align: center;
    padding: 0rem;
}

.nav-list li {
    padding: 0.15rem 0.6rem;
}

.nav-list li:hover {
    background-color: rgba(0,0,0,0.8);
}

.hr {
    border-top: 1px solid #ffffff;
}

.error-info {
    color: red;
}

/*退出框样式*/
#logout {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 16.72rem;
    z-index: 500;
    position: absolute;
    top: 0px;
}

.dialogue {
    background-color: #ffffff;
    z-index: 550;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.016rem;
    height: 3rem;
    border-radius: 0.2rem;
}

#logout .title {
    text-align: center;
    padding: 0.5rem;
}

#logout .footer {
    position: relative;
    bottom: 0.0rem;
    text-align: center;
}

.logout-btn {
    padding: 0.3rem 0.5rem;
    border: 0.013333rem solid #aaaaaa;
    background-color: #eeeeee;
    width: 2rem;
    float: left;
    border-radius: 0.2rem;
    margin-left: 0.486rem;
    margin-right: 0.486rem;
}

.logout-btn:active {
    background-color: #aaaaaa;
}

/*这里是各个html部分的样式*/

/*login.html部分样式*/

#login #input_info img {
    width: 0.666667rem;
    height: 0.666667rem;
    vertical-align: top;
}

#login .title {
	font-weight: bold;
	text-align: center;
}

#login #input_info {
    margin: 0.2rem auto;
}

#login .footer {
    color: #555555;
    text-align: center;
    position: fixed;
    bottom: 0rem;
    left: 3.08rem;
}

/*fb_pay.html部分样式*/

#fb_pay form {
    background-color: #ffffff;
}

#fb_pay .input-control {
    width: 7rem;
    margin-left: 0.29rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#fb_pay .span {
    padding: 0.5rem 0.35rem;
}

#fb_pay .overage {
    text-align: right;
    padding: 0.35rem 0.29rem;
}

#fb_pay .tips {
    color: red;
    float: left;
}

/*fb_over.html样式*/

#fb_over .pay-info {
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;

}

#fb_over .shop-img {
    text-align: center;
}

#fb_over .shop-img img {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
}

#fb_over .shop-img  span {
    display: block;
    margin-bottom: 0.1rem;
}




