<div id="accordion<%= uid %>" class="row friend">
    <div data="0" class="col-xs-10 nameInFriendList">
        <% if (online == 1) { %>
            <a data="1" onclick='getFriendRes("/friend_res?uid=<%= uid %>")' style="text-decoration:none;cursor:pointer;" class="<%= uid %>">
                <%= nick_name %>
            </a>
        <% } else { %>
            <a data="0" onclick='getFriendRes("/friend_res?uid=<%= uid %>")' style="text-decoration:none;color:gray;cursor:pointer;" class="<%= uid %>">
                <%= nick_name %>
            </a>
        <% } %>
    </div>
    <div class="col-xs-2 nameInFriendList cur_p">
        <a onclick="toggleOp('#name<%= count %>')">
            <span class="glyphicon glyphicon-th">
            </span>
        </a>
    </div>
    <div id="name<%= count %>" class="col-xs-12 moreOperations friendOp" style="display:none">
        <b onclick="chatFriend('<%= uid %>','<%= nick_name %>')" class="textOfUnfriend">
            <span class="glyphicon glyphicon-comment">
            </span>
            开始聊天&nbsp;&nbsp;
        </b>
        <b href="javascript:void(0)" onclick="delFriend('<%= user %>','0',<%= uid %>)"
        class="textOfUnfriend">
            <span class="glyphicon glyphicon-trash">
            </span>
            &nbsp;删除好友
        </b>
        <br>
        <b href="javascript:void(0)" onclick="starFriend('<%= user %>')" class="textOfUnfriend friendStar">
            <span class="glyphicon glyphicon-star">
            </span>
            &nbsp;星标好友
        </b>
    </div>
</div>