script(type='text/javascript').
  $(function(){
    index_init();
  });
style.
  .hiden{
  display:none;
  }
  .cursors{
  cursor:pointer;
  }
  .item{
    border-bottom: solid 1px #d8d8d8;
    padding:5px; 
  }
  .navbar-default .navbar-brand {color: #1abc9c;}
  .nav-tabs{background-color: #ecf0f1;}
  /*.clickable{color: #888;}
  .nav > li > a {color: #888;}*/
  .nav > li > a:hover {color: #888;}
  h2{font-size: 30px; margin-top: 4px;}
  h5{font-size: 22px; line-height: 30px;}
  a:hover, a:focus {text-decoration: underline;}
  .downloadingDiv{padding-right: 0px; height: 30px;}
  .downloadingRow{padding-top: 5px;}
  .downloadingCancelDiv{color: red; height: 30px;}
  .downloadingCancelA{color: red;}
  .downloadingRow12{}
  .glyphicon-play{color: #16a085;}
  .myTextArea{width: 100%; border: solid 1px #1abc9c;}
  textarea:focus{outline: #1abc9c auto 4px;}
  .tfh{padding-top: 6px;}
  .score{float: left; width: 33%; padding-bottom: 6px; color: red;}
  .pzx{display: inline-block; width: 42%; text-align: center; padding-bottom: 6px;}
  .fileInput{border: none; font-size: 18px; width: 100%;}
  input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
  }        
  .button::-webkit-file-upload-button {
    visibility: hidden;
  }
  .button:before {
    content: '选择文件';
    display: inline-block;
    background: #1abc9c;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    color: white;
  }
  .button:hover:before {
    border-color: black;
  }
  .button:active:before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  /*这两行CSS模拟了flatUI典型的input样式*/
  input{border: 2px solid #dce4ec; color: #34495e; border-radius: 6px;
        transition: border linear .2s,box-shadow linear .2s;}
  input:focus{border-color: #1abc9c; -webkit-box-shadow: none;
              -moz-box-shadow: none; box-shadow: none; outline: none;}
  input{display: block; margin-bottom: 6px; width: 100%; height: 42px;}
  .badge{background: red;padding: 3px 3px;}
  .nPLR{padding-right: 0px; padding-left: 0px;}
  .star{}
  .pstar{font-size: 14px; color: red;}
  .pst{font-size: 14px; color: #1abc9c;}
  .navbar-nav .dropdown-toggle .caret {
  border-top-color: #888;
  border-bottom-color: #888;
  }
  .navbar-nav + .navbar-form.navbar-left, .navbar-form.navbar-right:last-child {
  width: 360px;
  }

  #srch-term{
    border-radius: 18px;
  }
  .dropdown-menu > li > a.read{
  color: #999;
  }
  .dropdown-menu > li > a.unRead{
  color: #1abc9c;
  }
  #tab1{
    border-bottom: 3px solid #1abc9c
  }
  .menu > li{
    cursor:pointer;
  }
  #list_resource_view > li{
    display:inline;
    list-style-type:none;
    padding:10px;
  }
  .sortRow{
  border-bottom: 1px dotted #ddd;
  }
  .hi{
    height: 36px;
    line-height: 36px;
  }
  .radio-inline, .checkbox-inline {
    padding-left: 40px;
  }
  .radio-inline input[type="radio"]{
    margin-left: -30px;
    margin-top: -4px;
  }
  .sel{
    color: #16a085;
  }
  .not_sel{
    color:#999;
  }
  ul.nav{
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
  }
  .cur_p{
    cursor: pointer;
  }
  .navbar-nav > li > a{
    font-size: 16px;
    padding: 10px 21px;
    line-height: 15px;
  }
  .navbar-right > li > a{
    padding: 10px 15px;
  }
  #nick_name{
    display:none;
  }
  html {
    overflow: auto;
  }
  body {
    overflow-y: auto;
    overflow-x:hidden;
  }
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb
  {
    background-color: #999;
    border-radius: 10px;
  }
  a.disabled {
     pointer-events: none;
  }
  a{
    text-decoration: none;
  }
div#container_sns_share(style='position: fixed;top: 45px;right: 0px;z-index: 101;cursor:pointer')
  div.bdsharebuttonbox(data-tag='share_1')
    a.bds_tsina(data-cmd='tsina')
    a.bds_weixin(data-cmd='weixin')
    a.bds_qzone(data-cmd='qzone', href='#')
    a.bds_renren(data-cmd='renren')
    a.bds_tieba(data-cmd='tieba')
    a.bds_douban(data-cmd='douban')
    a.bds_more(data-cmd='more') 更多
    a.bds_count(data-cmd='count')
  script.
    window._bd_share_config = {
    common : {
    bdText : 'FBT-基于社交的资源分享平台',
    bdDesc : '小伙伴们，我刚刚用FBT上分享了一部大片!快来用FBT下载吧!',
    bdUrl : "http://www.friendsbt.com/?uid=" +window.fbtUID,
    bdPic : 'http://prod0504130.pic5.websiteonline.cn/upload/pqy3.png'
    },
    share : [{
    "bdSize" : 16,
    "bdMini" : 2,
    "bdMiniList" : ['tsina',"weixin",'qzone',"renren","baidu","tqq","sqq","mshare","tieba","douban","hi","kaixin001","t163","tsohu","fbook","twi","linkedin","ibaidu","bdhome","xg","ty","meilishuo","mogujie","huaban","duitang","mail","isohu","bdxc","thx"],
    "bdPopupOffsetLeft":-138
    }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
b#nick_name= nick_name
.topcontrol(title="回到顶部",style="position: fixed; bottom: 165px; right: 25px; cursor: pointer; display: none;")
  img(src="/images/gotop.gif",onclick="window.scrollTo(0,0);return false;",style="width:31px; height:31px;")
ul.nav.nav-tabs.navbar-fixed-top
  .collapse.navbar-collapse
    ul.nav.navbar-nav.home_nav
      li
        a(style="font-size: 16px;color:gray;margin-top: 5px;") FBT
      li.active
        a#tab1.clickable(href='#resources', data-toggle='tab')
          span.glyphicon.glyphicon-cloud
          | &nbsp;&#x8D44;&#x6E90;&#x5E93;
      li.bigBottom
        a#tab4.clickable(href='#allFriendRes', data-toggle='tab')
          span.glyphicon.glyphicon-lock
          | &nbsp;私有圈
      li.bigBottom
        a#tab2.clickable(href='#myResources', data-toggle='tab')
          span.glyphicon.glyphicon-cloud-download
          | &nbsp;我的下载
          span.downloadHint(style="display:none;color: red;padding-left: 4px;font-size: 14px;font-weight: bold;") +1
      li.bigBottom
        a#tab3(href='#', data-toggle='modal', data-target='#uploadModal')
          span.glyphicon.glyphicon-cloud-upload
          | &nbsp;上传
          span.uploadHint.glyphicon.glyphicon-circle-arrow-up(style="display:none;color: red;padding-left: 4px;")
    .navbar-form.navbar-left(role='search',style="padding: 0 19px;margin-top: 4px;")
      .input-group(style='width:100%;')
        input#input_search_resource.form-control(type='text', placeholder='输入标签或名称搜索资源', style='font-size: 14px;;border-radius: 18px;margin-bottom: 0px; margin-bottom:0px; width:60%;height: 30px;', onfocus='longer(this.id);', onblur='shorter(this.id);')
        //
          <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
    ul.nav.navbar-nav.navbar-right(style="margin-right: 30px;")
      // <li><a href="/myInfo">{{ current_user }}</a></li>
      li
        a(href='/mySpace',title="个人中心")
          span.glyphicon.glyphicon-user
          span#msgHint.glyphicon.glyphicon-info-sign(style="display:none;color: red;padding-left: 4px;")
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown',title="通知")
          span.glyphicon.glyphicon-bell
          span.badge.msg_count= count
        ul.menu.dropdown-menu.msg(role="menu",style="-webkit-transition:0;transition:0;margin-top: 10px !important;max-height: 300px;overflow-y: auto;")
          each item in msg
              if !item.isRead
                li
                  a.unRead(onclick="handle('#{item.nick}','#{item.id}', '#{item.sender}')",class="msg#{item.id}") #{item.content} &nbsp; #{item.time}
          li(style='display:none')
            a(href='#') space
          //
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
      li
        a#set(href='#', data-toggle='modal', data-target='#settingModal',title="设置")
          span.glyphicon.glyphicon-cog
      //- li
      //-   a(href='#', onclick='quit()',title="退出") 
      //-     span.glyphicon.glyphicon-log-out
.tab-content
  audio#audio(preload="auto",src="over.wav")
  #upload_control.btn-group.dropup(style='position: fixed;bottom: 0;right: 0;z-index: 200;')
    button.btn.btn-primary(type='button', style='padding: 10px;cursor: auto;')
      span#upload_control_total 0
      | 个资源正在上传
    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
      span.caret
      span.sr-only Toggle Dropdown
    ul#upload_control_panel.dropdown-menu.dropdown-menu-right(role='menu', style='-webkit-transition: 0;width: 200%;margin-bottom: 0;max-height: 270px;overflow-y: auto;background: #C8CACA;')
  #resources.tab-pane.fade.in.active(style="padding-top: 30px;")
    #home_type.row(style='position: fixed;z-index: 100;cursor: pointer;width: 102%;background: white;margin-top: 0px;padding-top: 10px;border-bottom: 1px dotted #ddd;')
      ul#list_resource_view.col-xs-6.hi(style="margin-left: 100px;margin-bottom: 5px;font-size: 14px;")
        li
          a.sel(href='#') 电影
        li
          a.not_sel(href='#') 剧集
        li
          a.not_sel(href='#') 学习
        li
          a.not_sel(href='#') 音乐
        li
          a.not_sel(href='#') 动漫
        li
          a.not_sel(href='#') 游戏
        li
          a.not_sel(href='#') 综艺
        li
          a.not_sel(href='#') 体育
        li
          a.not_sel(href='#') 软件
        li
          a.not_sel(href='#') 其他
        li
          a.not_sel(href='#',data="1") 网络电视
      #select_resource_type.col-xs-3.hi(style="margin-left: -45px;")
        label.radio-inline
          input(type='radio', name='radio', value='1' checked style="font-size: 14px;cursor:pointer;height: 15px;margin-top: 10px;")
          | 热度
        label.radio-inline
          input(type='radio', name='radio', value='0' style="font-size: 14px;cursor:pointer;height: 15px;margin-top: 10px;")
          | 最新
      #search_time(style="position: relative;top: 2px;display:none;z-index:-1;cursor: auto;")
    #text_home_page_tips(style="padding-top: 50px;")
      center
        h3#text_tips &#x6B63;&#x5728;&#x8BF7;&#x6C42;&#x8D44;&#x6E90;&#x5217;&#x8868;...
    #container_resources.container(style="padding-top: 50px;")
    br
    button#btn_get_more_resources0.btn.btn-primary.btn-lg.btn-block(type='button', style='display:none;width:50%; margin-left:25%; margin-right:25%; font-size:22px;')
      span#loadingText0 &#x67E5;&#x770B;&#x66F4;&#x591A;
      img#loadingGif0.img-responsive(src='images/loading2.gif', style='display:inline-block; visibility:hidden;')
  #allFriendRes.tab-pane.fade(style="padding-top: 60px;")
    #text_all_friend_tips
      center
        h3#all_friend_tips &#x6B63;&#x5728;&#x8BF7;&#x6C42;&#x8D44;&#x6E90;&#x5217;&#x8868;...
    #container_allFriend_resources.container
    br
    button#btn_get_more_resources2.btn.btn-primary.btn-lg.btn-block(type='button', style='display:none;width:50%; margin-left:25%; margin-right:25%; font-size:22px;')
      span#loadingText2 &#x67E5;&#x770B;&#x66F4;&#x591A;
      img#loadingGif2.img-responsive(src='images/loading2.gif', style='display:inline-block; visibility:hidden;') 
  #myResources.tab-pane.fade(style="padding-top: 60px;")
    #text_his_page_tips
      center
        h3#text_tips &#x6B63;&#x5728;&#x8BF7;&#x6C42;&#x8D44;&#x6E90;&#x5217;&#x8868;...
    #container_download_resources.container
    // 第二个tab，东西都放这个container里面    
