<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="row">
                    <div class="col-xs-1" style="position: relative;top: 13px;left: 6px;">
                        <img src="images/fbtLogo2.png" class="img-responsive">
                    </div>
                    <div class="col-xs-5">
                        <h5>
                            FBT: 快乐源于分享
                        </h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group">
                                    <button style="width: 140%;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><strong>上传文件</strong> <span class="caret"></span></button>
                                    <ul class="dropdown-menu" style="-webkit-transition: 0;margin-top: 0 !important;">
                                      <li style="cursor:pointer"><a data="1" onclick="fileSelChange(this)">上传文件</a></li>
                                      <li style="cursor:pointer"><a data="2" onclick="fileSelChange(this)">上传批量文件</a></li>
                                      <!-- <li style="cursor:pointer"><a data="3" onclick="fileSelChange(this)">上传文件夹</a></li> -->
                                    </ul>
                                </div>
                                <input type="file" class="button fileInput" id="resourceDir" onchange="fileChange()" style="display:none" nwdirectory>
                                <input type="file" class="button fileInput" id="resourceFile" onchange="fileChange()" style="display:none">
                            </div>
                            <div class="col-xs-4">
                                <select style="cursor:pointer" class="form-control" id="resourceMainType" onchange="typeChange()"
                                value="0">
                                    <option value="0">
                                        电影
                                    </option>
                                    <option value="1">
                                        剧集
                                    </option>
                                    <option value="2">
                                        学习
                                    </option>
                                    <option value="3">
                                        音乐
                                    </option>
                                    <option value="4">
                                        动漫
                                    </option>
                                    <option value="5">
                                        游戏
                                    </option>
                                    <option value="6">
                                        综艺
                                    </option>
                                    <option value="7">
                                        体育
                                    </option>
                                    <option value="8">
                                        软件
                                    </option>
                                    <option value="9">
                                        其他
                                    </option>
                                </select>
                                <span class="glyphicon glyphicon-chevron-down" style="
                                    float: right;
                                    position: relative;
                                    top: -26px;
                                    right: 11px;
                                    font-size: 13px;
                                "></span>
                            </div>
                            <div class="col-xs-4">
                                <select style="cursor:pointer" class="form-control" id="resourceSubType" value="0">
                                    <option value="0">
                                        标清(默认)
                                    </option>
                                    <option value="1">
                                        高清
                                    </option>
                                    <option value="2">
                                        超高清
                                    </option>
                                </select>
                                <span class="glyphicon glyphicon-chevron-down" style="
                                    float: right;
                                    position: relative;
                                    top: -26px;
                                    right: 11px;
                                    font-size: 13px;
                                "></span>
                            </div>
                        </div>
                        <input id="resourceName" type="text" value="" placeholder="请填写名称" />
                        <select style="cursor:pointer" id="resourceLabel" class="form-control">
                            <option value="喜剧">
                                喜剧
                            </option>
                            <option value="古装">
                                古装
                            </option>
                            <option value="伦理">
                                伦理
                            </option>
                            <option value="纪录片">
                                纪录片
                            </option>
                            <option value="爱情">
                                爱情
                            </option>
                            <option value="恐怖">
                                恐怖
                            </option>
                            <option value="动作">
                                动作
                            </option>
                            <option value="科幻">
                                科幻
                            </option>
                            <option value="武侠">
                                武侠
                            </option>
                            <option value="战争">
                                战争
                            </option>
                            <option value="犯罪">
                                犯罪
                            </option>
                            <option value="惊悚">
                                惊悚
                            </option>
                            <option value="剧情">
                                剧情
                            </option>
                            <option value="玄幻">
                                玄幻
                            </option>
                            <option value="冒险">
                                冒险
                            </option>
                            <option value="动画">
                                动画
                            </option>
                        </select>
                        <span class="glyphicon glyphicon-chevron-down" style="
                            float: right;
                            position: relative;
                            top: -26px;
                            right: 11px;
                            font-size: 13px;
                        "></span>
                        <textarea id="resourceComment" rows="4" class="myTextArea" placeholder="一句话点评下？200字以内:-)" style="resize: none;margin-top: 5px;" data-role="none">
                        </textarea>
                        <center>
                            <div id="err_tips" style="color: red">
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-2 nPLR">
                        <p>
                            我来打分:
                        </p>
                    </div>
                    <div class="col-xs-3 nPLR star" id="star">
                    </div>
                    <div id="text_my_socre" style="display:none">
                        -1
                    </div>
                    <div class="col-xs-1" id="result"></div>
                    <div class="col-xs-3">
                      <label class="checkbox" for="checkbox_is_public">
                        <input id="checkbox_is_public" type="checkbox" value=""  data-toggle="checkbox">
                        仅好友可见
                      </label>
                      </div>
                    <button style="position: relative;right: 17px;" type="button" class="btn btn-large btn-primary" onclick="fileUpload()">
                        发 布
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 116%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="row">
                    <div class="col-xs-1" style="position: relative;top: 13px;left: 6px;">
                        <img src="images/fbtLogo2.png" class="img-responsive">
                    </div>
                    <div class="col-xs-5">
                        <h5>
                            FBT: 快乐源于分享
                        </h5>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding-bottom: 0;">
                <div class="row">
                    <!-- <div class="row">
                        <h4>
                            &emsp;常规设置
                        </h4>
                        <div class="col-xs-4">
                            <label class="checkbox" for="checkbox1">
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                开机时自动登录
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label class="checkbox" for="checkbox2">
                                <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                                退出时最小化到托盘
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label class="checkbox" for="checkbox3">
                                <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox">
                                不接受陌生人消息
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <h4>
                            &emsp;消息设置
                        </h4>
                        <div class="col-xs-4">
                            <label class="checkbox" for="checkbox4">
                                <input type="checkbox" value="" id="checkbox4" data-toggle="checkbox">
                                开启免打扰模式
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label class="checkbox" for="checkbox5">
                                <input type="checkbox" value="" id="checkbox5" data-toggle="checkbox">
                                开启后台加速模式
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label class="checkbox" for="checkbox6">
                                <input type="checkbox" value="" id="checkbox6" data-toggle="checkbox">
                                下载完成后提醒
                            </label>
                        </div>
                    </div> -->
                    <div class="row">
                        <h4>
                            &emsp;常规设置
                        </h4>
                        <div class="col-xs-4" style="margin-left: 15px;">
                            <label id="auto_login" class="checkbox" for="checkbox1">
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                开机时自动登录
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label id="exit_tray" class="checkbox" for="checkbox2">
                                <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                                关闭时最小化到托盘
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <h4>
                            &emsp;下载设置
                        </h4>
                        <!-- <div class="col-xs-4">
                        <label class="checkbox" for="checkbox7">
                        <input type="checkbox" value="" id="checkbox7" data-toggle="checkbox">
                        只在空闲时下载
                        </label>
                        </div>
                        -->
                        <div class="col-xs-4">
                            <button style="margin-left: 15px;" class="btn btn-large btn-block btn-primary" id="button_download_path">选择目录</button> 
                            <input type="file"  id="editbox_download_path" nwdirectory onchange="settingChange()" style="display:none">
                            <!-- nwdirectory for open directory -->
                        </div>
                        <div class="col-xs-2">
                            下载至:
                        </div>
                        <div class="col-xs-8" style="word-break: break-all;padding-right: 30px;">
                            <p id="text_download_path">
                            </p>
                            <!-- load from json -->
                        </div>
                    </div>
                    <div style="color: #48c9b0;margin-left: 15px;">注意：如果分享的文件位于移动存储设备中，打开软件前请确保移动设备接入电脑。</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="resetSettings()">
                    恢复默认
                </button>
                <button type="button" class="btn btn-primary" id="btn_save_setting" onclick="saveSettings()">
                    保存设置
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="row">
                    <div class="col-xs-1" style="position: relative;top: 13px;left: 6px;">
                        <img src="images/fbtLogo2.png" class="img-responsive">
                    </div>
                    <div class="col-xs-5">
                        <h5>
                            FBT: 快乐源于分享
                        </h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row col-xs-10" style="word-break: break-all;margin-left: 10px;">
                        新版本已经下载完毕，点击确定，软件将关闭并自动开始新版本的安装，点击取消，
                        您可以稍后到所设置下载目录中自行更新。
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="update(1)">
                    确定
                </button>
                <button type="button" class="btn btn-primary" onclick="update(0)">
                    取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="row">
                    <div class="col-xs-1" style="position: relative;top: 13px;left: 6px;">
                        <img src="images/fbtLogo2.png" class="img-responsive">
                    </div>
                    <div class="col-xs-5">
                        <h5>
                            FBT: 快乐源于分享
                        </h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row col-xs-10" style="word-break: break-all;margin-left: 10px;">
                        <span id="addModalNick" style="color:#16a085"></span>想加你为好友,是否同意
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addModalOk" type="button" class="btn btn-primary" onclick="handleFriend(1)">
                    同意
                </button>
                <button id="addModalNo" type="button" class="btn btn-primary" onclick="handleFriend(0)">
                    不同意
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>