style.
  .demo-row{padding-top: 68px; padding-bottom: 0px;}
  .other{padding-top: 0px;padding-bottom: 12px;}
  h1,h2,h3,h4{color: #1abc9c;}
  p{color: #7f8c8d;}
  .order{color: #1abc9c;}
  .divLine{height: 1px; width: 50%; border: dashed 1px;}
  .imgDiv{padding-top: 30px;}
  .navbar-default .navbar-brand {color: #1abc9c;}
  .myActive{background-color: #bbbbbb;}
  .comment{border-bottom: dotted 1px #999; margin-top: 5px;}
  .time{font-size: 12px; color: black;}
  .QQDiv{position: fixed;
  background-color: #eeeeee; min-height: 580px;
  border: solid 3px #1abc9c; border-radius: 4px;
  padding-top: 10px; right: 100px;top: 55px;}
  .avatarDiv{padding-bottom: 10px; border-bottom: solid 1px white;}
  .name{font-size: 16px; color: #1abc9c;}
  .shuoShuo{padding-top: 10px;}
  .navUl{margin: 10px 0px 10px 0px;}
  .myTextArea{width: 100%; border: solid 2px #1abc9c;}
  textarea:focus{outline: #1abc9c auto 5px;}
  .publishButton{height: 60px; width: 80px; font-size: 100%;}
  .zpz{font-size: 100%; padding: 0;}
  .zan{text-align: center;}
  /*这两行CSS模拟了flatUI典型的input样式*/
  input{width: 100%; border: 2px solid #dce4ec; color: #34495e; border-radius: 6px;
  transition: border linear .2s,box-shadow linear .2s;}
  input:focus{border-color: #1abc9c; -webkit-box-shadow: none;
  -moz-box-shadow: none; box-shadow: none; outline: none;}
  .textInSearch{font-size: 14px;}
  .divInSearch{border: solid 2px #1abc9c; border-radius: 3px; width: 32%; margin: 3px 3px 3px 3px;}
  .noPaddingLR{padding-left: 2px; padding-right: 2px; padding-top: 2px;}
  .addFriendDiv{text-align: right; background: #eeeeee;}
  .searchDiv{padding-bottom: 10px; border-bottom: solid 1px #d8d8d8;}
  .friendDiv{padding-top: 8px;}
  .moreOperations{}
  .textOfUnfriend{line-height: 24px; font-size: 12px; text-decoration: underline;}
  .nameInFriendList{margin-bottom: 6px; border-bottom: dashed 1px #eeeeee;}
  .modal-dialog{
    width: 60%; /* respsonsive width */
    margin-left:10%; /* width/2) */
  }
  .modal-content{}
  .glyphicon-th{font-size: 12px;}
  .nameOfLocalSearch{margin-bottom: 6px;}
  .bottomBar{position: absolute; bottom: 4px; width: 100%;}
  .flatColor{color:#16a085;}
  .nav-chat > li {
    position:relative;    
  }
  .nav-chat > li > b {
    display:inline-block;
  }
  .nav-chat > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
  }
  .nav-chat > li:hover > span {
    display: inline-block;
  }
  .nav-chat .active{
    background: white;
    border-radius: 50px;
  }
  .badge{background: red;}
  .msgNameTime{color: #16a085;margin-left:2px;}
  .msgContent{color: #7f8c8d;display:block;max-width: 350px;word-break: break-all;}
  .chatBox{
    min-height:550px; border:1px solid #aaa;margin-top: 10px;position: absolute;top: 20%; left: 20%;
    height:540px;width:500px;display:none;
    z-index:101;
  }
  #mySingleChat{
    margin: 0px;
    width: 343px;
    height: 60px;
    resize: none;
  }
  .msgLeft{
    margin-left:10px;
  }
  .friendStar{
    display:none;
  }
  .friendUnStar{
    display:none;
  }
  .chat_b
  {
    cursor: pointer;
    color: #16a085;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    background: white;
    border-radius: 23px;
    max-width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  .add_friend_item{
    min-width: 160px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
//  
  <div class="container">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#contact_01" data-toggle="tab">Joe Smith</a><span>x</span></li>
          <li><a href="#contact_02" data-toggle="tab">Molly Lewis</a><span>x</span> </li>
          <li><a href="#" class="add-chat" data-toggle="tab">+ Add Contact</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="contact_01">Contact Form: Joe Smith</div>
          <div class="tab-pane" id="contact_02">Contact Form: Molly Lewis</div>
      </div>
  </div>
.chatBox
  span(onclick="killChat()",style="float:right;cursor:pointer;margin-right: 10px;") x
  ul.nav.nav-tabs.nav-chat(style="cursor:move")
  .chat-content(style="min-width: 500px;min-height: 423px;overflow:auto;background:#eee")
  .col-lg-9
    textarea#mySingleChat.chatTextArea(rows='2', placeholder='在此输入，和好友私聊(按ctrl+enter即可发布)',data-role="none", onkeypress="singlePress(event)")
  .col-lg-3
    button.btn.btn-large.btn-block.btn-primary(style='height:60px;', onclick="chatSend()")
      | &#x53D1;&#x9001;
// Fixed navbar
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/index') FBT
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='#')
          li
            a(href='#resume') &#x8D44;&#x6E90;&#x4E3B;&#x9875;
          li.myActive
            a(href='/mySpace') &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
ul.nav.nav-tabs.navbar-fixed-top
  .collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right(style="margin-right: 30px;")
      // <li><a href="/myInfo">{{ current_user }}</a></li>
      li
        a(href="/index",style="font-size: 14px;") FBT
      li.dropdown
      li
        a(href='#', data-toggle='modal', data-target='#settingModal',title="设置")
          span.glyphicon.glyphicon-cog
      //- li
      //-   a(href='#', onclick='quit()',title="退出") 
      //-     span.glyphicon.glyphicon-log-out
.container.contentContainer
  .row
    .col-lg-8
      // 这里放的是心情发布的东西
      .row(style="position: fixed;background: white;z-index: 10;padding-top: 20px;margin-top: -20px;")
        .col-lg-10
          textarea#myGroupChat.myTextArea(style="resize: none;",rows='2', cols="60",placeholder='说点啥吧(按ctrl+enter即可发布),也可试试点击好友列表的昵称', data-role="none")
        .col-lg-2
          button.btn.btn-large.btn-block.btn-primary.publishButton(onclick='publish()')
            | &#x53D1;&#x5E03;
      #group_chat(style="margin-top: 70px;")
      //
        .row.comment
            .col-lg-12
              h5
                span.flatColor
                | &emsp;&#x8BF4;&#xFF1A;
                span.time 18:32&emsp;07-04-2014
            .col-lg-12
              p &emsp;&#x697C;&#x4E0A;&#x4F60;&#x662F;&#x7687;
      br
      button#moreGroupChat.btn.btn-primary.btn-lg.btn-block(type='button', style='visibility:hidden;width:50%; margin-left:25%; margin-right:25%; font-size:22px;', onclick='getMoreGroupChat();')
        span#loadingText &#x67E5;&#x770B;&#x66F4;&#x591A;
        img#loadingGif.img-responsive(src='images/loading2.gif', style='display:inline-block; visibility:hidden;')
    .col-lg-1
    .col-lg-3.QQDiv.pinned
      .row.avatarDiv
        .col-lg-3
          a(href='/myInfo')
            img(src=result.icon,style="width:70px;height:70px;border-radius: 35px;")
        .col-lg-8(style="word-break: break-all;")
          a(href='/myInfo')
            span#userName.name #{result.nick_name}
          br 
          &nbsp;当前F币：
          span#fb_coin #{result.fb_coin}
        .col-lg-12.shuoShuo= result.shuo
      // 这个是导航tab nav
        ul#tab.nav.nav-tabs.navUl
          li.active
            a(href='#home', data-toggle='tab') &#x52A8;&#x6001;
          li
            a(href='#news', data-toggle='tab') &#x597D;&#x53CB;
          li
            a(href='#blog', data-toggle='tab') &#x5708;&#x5B50;
        input#nameOfLocalSearch.nameOfLocalSearch(type='text', value='', placeholder='输入昵称搜索我的好友...')
      // 这个是经典的折叠collapse
      #accordion.panel-group(style="overflow-y: auto;overflow-x: hidden;")
        .panel.panel-default
          .panel-heading
            h4.panel-title
              b(id="group_count" data-toggle='collapse', data-parent='#accordion', href='#collapseOne')= "我的好友(" + result.count_online + "/" + result.count +")"
          #collapseOne.panel-collapse.collapse.in
            #myFriends.panel-body
              each item,i in result.friends
                if item.online == 1 || item.online == "1"
                  div.row.friend(id='accordion#{item.uid}') 
                    .col-xs-10.nameInFriendList(data=item.isStar)                    
                      a(data="1",class="#{item.uid}",href="/friend_res?uid=#{item.uid}", style="text-decoration:none;") #{item.nick_name}
                    .col-xs-2.nameInFriendList.cur_p
                      a(onclick="toggleOp('#name"+i+"')")
                        span.glyphicon.glyphicon-th
                    div.col-xs-12.moreOperations.friendOp(id='name'+i,style="display:none")
                      b.textOfUnfriend(onclick="chatFriend('#{item.uid}','#{item.nick_name}')")
                        span.glyphicon.glyphicon-comment
                        | 开始聊天&nbsp;&nbsp;
                      b.textOfUnfriend(href='javascript:void(0)', onclick="delFriend('#{item.user}','#{item.isStar}',#{item.uid})")
                        span.glyphicon.glyphicon-trash
                        | &nbsp;&#x5220;&#x9664;&#x597D;&#x53CB;
                      br
                      if item.isStar
                        b.textOfUnfriend.friendUnStar(href='javascript:void(0)', onclick="unStarFriend('#{item.user}')")
                          span.glyphicon.glyphicon-star
                          | &nbsp;&#x53D6;&#x6D88;&#x661F;&#x6807;&#x597D;&#x53CB;
                      else            
                        b.textOfUnfriend.friendStar(href='javascript:void(0)', onclick="starFriend('#{item.user}')")
                          span.glyphicon.glyphicon-star
                          | &nbsp;&#x661F;&#x6807;&#x597D;&#x53CB;
              each item,i in result.friends
                if item.online != 1 && item.online != "1"
                  div.row.friend(id='accordion#{item.uid}') 
                    .col-xs-10.nameInFriendList(data=item.isStar)                    
                      a(data="0",class="#{item.uid}",href="/friend_res?uid=#{item.uid}", style="text-decoration:none;color:gray") #{item.nick_name}
                    .col-xs-2.nameInFriendList.cur_p
                      a(onclick="toggleOp('#name"+i+"')")
                        span.glyphicon.glyphicon-th
                    div.col-xs-12.moreOperations.friendOp(id='name'+i,style="display:none")
                      b.textOfUnfriend(onclick="chatFriend('#{item.uid}','#{item.nick_name}')")
                        span.glyphicon.glyphicon-comment
                        | 开始聊天&nbsp;&nbsp;
                      b.textOfUnfriend(href='javascript:void(0)', onclick="delFriend('#{item.user}','#{item.isStar}',#{item.uid})")
                        span.glyphicon.glyphicon-trash
                        | &nbsp;&#x5220;&#x9664;&#x597D;&#x53CB;
                      br
                      if item.isStar
                        b.textOfUnfriend.friendUnStar(href='javascript:void(0)', onclick="unStarFriend('#{item.user}')")
                          span.glyphicon.glyphicon-star
                          | &nbsp;&#x53D6;&#x6D88;&#x661F;&#x6807;&#x597D;&#x53CB;
                      else            
                        b.textOfUnfriend.friendStar(href='javascript:void(0)', onclick="starFriend('#{item.user}')")
                          span.glyphicon.glyphicon-star
                          | &nbsp;&#x661F;&#x6807;&#x597D;&#x53CB;
      .bottomBar.row(style="text-align: center;")
        a.textOfUnfriend(href="#", onclick='showModal()', style="background-color: white;text-decoration: none;border: solid 1px #ccc;padding: 5px 60px;") 
          span#showAdd.glyphicon.glyphicon-plus-sign(style="margin-right: 5px;") 添加FBT好友
.topcontrol(title="回到顶部",style="position: fixed; bottom: 165px; right: 25px; cursor: pointer; display: none;")
    img(src="/images/gotop.gif",onclick="window.scrollTo(0,0);return false;",style="width:31px; height:31px;")
// Modal of 搜索FBT好友
#searchModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button') &times;
        h4#myModalLabel.modal-title &#x641C;&#x7D22;&#x597D;&#x53CB;:
      .modal-body
        .row.searchDiv
          .col-xs-3
          .col-xs-5
            input#nameOfSearch(type='text', value='', placeholder='昵称/邮箱/真名', onkeypress="press(event)")
          .col-xs-1(style="margin-top: 8px;cursor: pointer;margin-left: -13px;")
            a(onclick='showSearchResult()')
              span.glyphicon.glyphicon-search
          .col-xs-3
        .row.friendDiv(style='height:235px; overflow:auto; ')
script(type='text/javascript').
  $(function(){
    //$(".pinned").pin({containerSelector: ".container"});
    if(window.setting["s_first"] != 0){
      showNoticeToast("点击自己或者好友列表中的昵称可以进入个人主页");
      window.setting["s_first"] = 0;
      window.socket.emit("s_first");
    }
    $("#myGroupChat").keypress(function(event) {
      /* Act on the event */
      keynum = event.keyCode || event.which;
      if(event.ctrlKey && keynum == 13 || keynum == 10){
        publish();
      }
    });
    $("#showAdd").click(function(){
      $(".friendDiv").empty();
      $("#nameOfSearch").val("");
    });
    copyMsg(".mySpace");
    $("#accordion").css("max-height",$( document ).height()*0.5);
    $(".nav-chat").mousedown(function (e) {
      e.preventDefault();
      iDiffX = e.pageX - $(this).offset().left; 
      iDiffY = e.pageY - $(this).offset().top; 
      $(document).bind("mousemove.chat", function (e) { 
        $(".chatBox").css({ "left": (e.pageX - iDiffX), "top": (e.pageY - iDiffY) }); 
      }); 
    }); 
    $(".nav-chat").mouseup(function (e) {
      e.preventDefault(); 
      $(document).unbind(".chat"); 
    });
    $(".nav-chat").on("click", "b", function(e){
      e.preventDefault();
      var href = $(this).attr('href');
      if(window.cur_chat){
        $(".chatBox").find("#c_"+window.cur_chat).hide();
        $(".nav-chat").find(".c_"+window.cur_chat).removeClass("active");
      }
      window.cur_chat = href.substring(3);
      $(".chatBox").find(href).show();
      $(this).addClass("active");
    })
    .on("click", "span", function () {
        var anchor = $(this).siblings('b');
        $(".chatBox").find(anchor.attr('href')).remove();
        $(this).parent().remove();
        if($(".nav-chat").children().length == 0)
          $(".chatBox").hide()
        else
          $(".nav-chat li").children('b').first().click();
    }); 
  });
  function toggleOp(id){
    if($(id).is(":hidden"))
    {
      $(id).show();
      $(id).slideDown(); 
    }
    else{
      $(id).hide();
      $(id).slideUp(); 
    }
  }
  function press(e){
    if (e.keyCode == 13) {
    showSearchResult();
    return false;
    }
  }
  function singlePress(event){
    keynum = event.keyCode || event.which;
    if(event.ctrlKey && keynum == 13 || keynum == 10){
      chatSend();
    }
  }
  function showModal(){
    $("#searchModal").modal('show');
  }
  $(".close").click(function(event) {
  /* Act on the event */
    $("#searchModal").modal('hide');
  });
  function showSearchResult(){
    var search = $("#nameOfSearch").val();
    if(!search){
      showWarningToast("搜索不能为空，请重新输入");
      return;
    }
    var param = {}
    param["op"] = 0;
    param["search"] = search;
    $.post('/myFriend', param, function(data, textStatus, xhr) {
    /*optional stuff to do after success */
    //data =  JSON.parse(data);
    if(data["type"] && data["type"] == 1){
    var tmp_list;
    try{
      tmp_list = JSON.parse(data["result"]);
    }
    catch(e){
      tmp_list = data["result"];
    }
    data = tmp_list;
    //console.log(data);
    $(".friendDiv").empty();
    var len = getJsonLength(data)
    if(len == 0)
    {
    $(".friendDiv").html("抱歉，未能搜索到符合条件的结果。");
    }
    else{
    var i = 0;
    for (;i < len; i++) {
    item = data[i];
    //console.log(item);
    if(!item["icon"])
      break;
    var div = '<div class="col-xs-4 divInSearch noPaddingLR"><div class="col-xs-4 noPaddingLR"><img src="' + item["icon"];
    div = div + '" style="width:70px; height:70px;"></div><div class="col-xs-8 textInSearch add_friend_item">' + item["nick_name"] +'</div>';
    div = div + '<div class="col-xs-8 textInSearch user add_friend_item">'+item["user"]+'</div>';
    div = div + '<div class="col-xs-8 textInSearch add_friend_item">'+item["real_name"]+'</div>';
    div = div + '<div class="col-xs-12 noPaddingLR addFriendDiv"><button class="btn btn-primary btn-xs" ' + 'onclick="addFriend(&apos;'+item["user"]+'&apos;,'+item["is_friend"]+')">+好友</button></div></div>';
    $(".friendDiv").append($(div));
    }
    }
    }
    else{
    $(".friendDiv").html("抱歉，未能搜索到符合条件的结果。");
    }
    });
  }
  function addFriend(user,is_friend){
    if(is_friend == 1){
      showErrorToast("你们已经是好友，不能重复添加。");
      return;
    }
    $(this).disable();
    var param = {}
    param["op"] = 1;
    param["user"] = user;
    $.post('/myFriend', param, function(data, textStatus, xhr) {
    /*optional stuff to do after success */
    //console.log(data);
    //data = $.parseJSON(data)
    if(data["type"] && data["type"] == 1)
    {
    /*data = $.parseJSON(data["result"])*/
    showSuccessToast(data["result"]["result"]);
    }
    else{
    showErrorToast(data["error"])
    }
    });
  }
  function delFriend(user, star, index){
    var param = {}
    param["op"] = 3;
    param["user"] = user;
    param["star"] = star;
    param["uid"] = window.fbtUID;
    var that = this;
    $.post('/myFriend', param, function(data, textStatus, xhr) {
    /*optional stuff to do after success */
    //console.log(data);
    //data = $.parseJSON(data)
    if(data["type"] && data["type"] == 1)
    {
    var count_h = $("#group_count").html();
    var first = count_h.indexOf("(");
    var next = count_h.indexOf("/");
    var end = count_h.indexOf(")");
    var online = window.parseInt(count_h.substring(first+1,next));
    var all = window.parseInt(count_h.substring(next+1,end));
    if(online != 0)
      online--;
    all--;
    $("#group_count").html("我的好友("+online+"/"+all+")");
    $("#accordion"+index).remove();
    /*data = $.parseJSON(data["result"])*/
    showSuccessToast(data["result"]["result"]);
    }
    else{
    showErrorToast(data["error"])
    }
    });
  }
  function starFriend(user){
    var param = {}
    param["op"] = 4;
    param["user"] = user;
    $.post('/myFriend', param, function(data, textStatus, xhr) {
    /*optional stuff to do after success */
    //console.log(data);
    //data = $.parseJSON(data)
    if(data["type"] && data["type"] == 1)
    {
    var t = $(".friendStar").parents(".friendOp")
    $(".friendStar").remove();
    var b = '<b class="textOfUnfriend friendUnStar" onclick="unStarFriend(&apos;'+user;
    b = b + '&apos;)"><span class="glyphicon glyphicon-star"></span>取消星标好友</b>';
    t.append($(b))
    /*data = $.parseJSON(data["result"])*/
    showSuccessToast(data["result"]["result"]);
    }
    else{
    showErrorToast(data["error"])
    }
    });
  }
  function unStarFriend(user){
    var param = {}
    param["op"] = 5;
    param["user"] = user;
    $.post('/myFriend', param, function(data, textStatus, xhr) {
    /*optional stuff to do after success */
    //console.log(data);
    //data = $.parseJSON(data)
    if(data["type"] && data["type"] == 1)
    {
    var t = $(".friendUnStar").parents(".friendOp");
    $(".friendUnStar").remove();
    var b = '<b class="textOfUnfriend friendStar" onclick="starFriend(&apos;'+user;
    b = b + '&apos;)"><span class="glyphicon glyphicon-star"></span>星标好友</b>';
    t.append($(b))
    /*data = $.parseJSON(data["result"])*/
    showSuccessToast(data["result"]["result"]);
    }
    else{
    showErrorToast(data["error"])
    }
    });
  }
  //single chat
  function chatFriend(user, nick_name){
    if(!onlineState(-1, user))
    {
      showNoticeToast("对方未在线，无法交流");
      return;
    }
    $(".chatBox").show();
    if($(".chatBox").find("#c_"+user).length > 0){
      $(".nav-chat").find(".c_"+user).click();
      return;
    }
    if($(".nav-chat").children().length == 4){
      $(".nav-chat > li:first-child > span").click();
    }
    var li = '<li><b class="chat_b c_'+user+'" href="#c_'+user+'">'+nick_name+'</b><span>x</span></li>';  
    $(".nav-chat").append(li);      
    $('.chat-content').append('<div style="min-width:500px;min-height:423px;overflow-y:auto;overflow-x:hidden;height:423px;width:500px;margin-bottom:5px;word-break: break-all;" class="tab-pane" id="c_'+user+'"></div>');
    var p_div = $(".chat-content > div:last-child");
    //console.log(p_div);
    if(window.singleChat[user]){
      var p_chat = window.singleChat[user];
      var l = p_chat.length;
      for(var i = 0; i < l; i++){
        var p; 
        if(p_chat[i]["sender"] == getCookie("fbt_user_id")){
          p = "<p class='msgNameTime'><span>"+p_chat[i]["nick_name"]+"&emsp;"
                +p_chat[i]["time"]
                +"</span><br><span class='msgContent'>"
                +p_chat[i]["msg"]
                +"</span></p>";
          p_div.append(p);
          p = p_div.find("p:last-child");
          p.css("padding-left", p_chat[i]["left"]);
        }
        else{
          p = "<p class='msgNameTime msgLeft'>"+p_chat[i]["nick_name"]+"&emsp;"
                +p_chat[i]["time"]
                +"<br><span class='msgContent'>"
                +p_chat[i]["msg"]
                +"</span></p>";
          p_div.append(p);
        }        
      }
      p_div.scrollTop(p_div[0].scrollHeight);
    }
    $(".nav-chat > li:last-child > b").click(); 
  }
  function delayChat(data){
    window.ws.send(JSON.stringify(data));
  }
  function chatSend(){
    if(!onlineState(-1, window.cur_chat))
    {
      showNoticeToast("对方未在线，无法交流");
      return;
    }
    var content = $(".chatTextArea").val() || document.getElementById('mySingleChat').value;
    content = $.trim(content);
    if(!content)
    {
      showWarningToast("内容为空不能发送，请重新输入");
      return;
    }
    var time = (new Date()).Format("hh:mm MM-dd-yyyy");
    var nick_name = window.nick_name;
    var data = {"token":window.token,"type": 2,"nick_name": nick_name,"recv":window.cur_chat, "sender":getCookie("fbt_user_id"),"msg":content,"time":time};
    if(!window.ws){
       setTimeout("delayChat(data)",2000);
    }
    else
      window.ws.send(JSON.stringify(data));
    //console.log(content);
    var p_div = $(".chatBox").find("#c_"+window.cur_chat);
    var p = "<p class='msgNameTime'><span>"+nick_name+"&emsp;"
                +time
                +"</span><br><span class='msgContent'>"
                +content
                +"</span></p>";
    p_div.append(p);
    p = p_div.find("p:last-child");
    var left = $(".chatBox").width()-p.children().first().width()-126;
    p.css("padding-left", left);
    data["left"] = left;
    if(!window.singleChat[window.cur_chat])
      window.singleChat[window.cur_chat] = [];
    window.singleChat[window.cur_chat].push(data);
    $(".chatTextArea").val("");
    p_div.scrollTop(p_div[0].scrollHeight); 
  }
  function killChat(){
    $(".chatBox").hide();
    $(".nav-chat").empty();
    $(".chat-content").empty();
  }
  //group chat
  function publish(){
  //{"type":3,"recv":"","sender":who,"msg":content,"time":time}
    var content = $("#myGroupChat").val() || document.getElementById('myGroupChat').value;
    content = $.trim(content);
    if(!content)
    {
      showWarningToast("内容为空不能发送，请重新输入");
      return;
    }
    var time = (new Date()).Format("hh:mm MM-dd-yyyy");
    var data = {"uid":window.fbtUID,"token":window.token,"type": 3, "recv":"", "sender":getCookie("fbt_user"),"msg":content,"time":time,"name":window.nick_name};
    if(!window.ws){
       setTimeout("window.ws.send(JSON.stringify(data));",2000);
    }
    else
      window.ws.send(JSON.stringify(data));
    //console.log(content);
    data["name"] = "我";
    appendGroupChat(data);
    $("#myGroupChat").val("");
  }
  function getMoreGroupChat(){
    $("#loadingText").text("正在获取更多...");
    $("#loadingGif").css({"visibility":"visible"});
    var index = window.group_chat_index;
    if((window.group_chat_index+=10) > window.group_chat_count)
      window.group_chat_index = window.group_chat_count;
    $.each($("#group_chat").children(), function(i, value){
      if(i == window.group_chat_index)
        return false;
      if(i < index)
        return true;
      $(value).fadeIn('fast',function(){}); 
    });
    $("#loadingText").text("查看更多");
    $("#loadingGif").css({"visibility":"hidden"});
  }
  
