style.
  .btn:focus {
  outline: 5px auto #FFF;
  }
  /*这两行CSS模拟了flatUI典型的input样式*/
  input{border-radius: 6px;
  border: 2px solid #dce4ec;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 0 9px 10px;
  text-indent: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: border linear .2s,box-shadow linear .2s;}
  input:focus{
  border-color: #1abc9c; -webkit-box-shadow: none;-moz-box-shadow: none; box-shadow: none; outline: none;}
  input{display: block; margin-bottom: 6px; width: 100%; height: 42px;}
  h2{font-size: 30px; margin-top: 4px;}
  h5{font-size: 22px; line-height: 30px;}
  .remeberPW{line-height: 60px;}
  .login-link{color: #aaaaaa;}
br
br
br
br
.alert.alert-block.alert-error.fade
  button.close(type='button', data-dismiss='alert') &times;
  strong &#x63D0;&#x793A;&#xFF01;
  span#hint
.container
  .row
    .col-xs-5(style='text-align: center; padding-top: 30px;')
      img.img-responsive.center-block(src="images/loginPic3.png")
      h5
        | FBT: 快乐源于分享
    .col-xs-7
      .col-xs-7
        h2 &#x6CE8;&#x518C;:
      .col-xs-7
        input#email.span5.input_l(type='text', value='', placeholder='邮箱')
      .col-xs-7
        input#password.span5.input_l(type='password', value='', placeholder='密码')
      .col-xs-7
        input#confirmPassword.span5.input_l(type='password', value='', placeholder='密码确认', onblur='confirm()')
      .col-xs-7
        input#nickName.span5(type='text', value='', placeholder='昵称')
      .col-xs-7
        input#realName.span5(type='text', value='', placeholder='请填写真名，便于好友查找')
      .col-xs-7
        button.btn.btn-large.btn-primary.btn-block.submit(onclick='submit()') &#x63D0;&#x4EA4;
        a(href="#",style="float:right",onclick="toLogin()") 登录
script(type='text/javascript').
  if (!window.console) window.console = {};
  if (!window.console.log) window.console.log = function() {};
  function toLogin(){
    location.href = "/login";
  }
  function validate(){
  var value = $("#email").val();
  console.log(value);
  if($("#nickName").val().length > 10){
    $("body > div.wrap_all #hint").text("昵称最多为10个字");
    $(".alert").addClass('in');
    return false;
  }
  else if($("#email").val() == "" || $("#password").val() == "" || $("#confirmPassword").val() == "")
  {
  $("body > div.wrap_all #hint").text("用户名或者密码未填写.");
  $(".alert").addClass('in');
  return false;
  }
  else if($("#password").val() != $("#confirmPassword").val()){
    $("body > div.wrap_all #hint").text("两次密码输入不一致，请检查");
    $(".alert").addClass('in');
    return false;
  }
  else if ((null == value.match(/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/))) {
  $("body > div.wrap_all #hint").text("非法的邮箱格式.");
  $(".alert").addClass('in');
  return false;
  }
  return true;
  }
  $(".alert").alert()
  function registration() {
  var message = {}
  message["user"] = $("#email").val();
  message["pwd"] = $.md5($("#password").val());
  message["nick"] = $("#nickName").val();
  message["name"] = $("#realName").val();
  message["next"] = "/login";
  var disabled = $(".submit");
  disabled.disable();
  $.postJSON("/registration", message, function(response) {
  if(response.charAt(0) != '{')
  {
  location.href = "/login";
  }
  else{
  response = $.parseJSON(response)
  if (response["type"] && response["type"] == 1) {
  location.href = "/login";
  }
  else{
  $("body > div.wrap_all #hint").text(response["error"]);
  $(".alert").addClass('in');
  }
  }
  disabled.enable();
  });
  }
  function submit(){
  if (validate()) {
  registration();
  }
  }
  function confirm(){
  if ($("#password").val() != $("#confirmPassword").val()) {
  $("body > div.wrap_all #hint").text("两次密码输入不一致，请检查");
  $(".alert").addClass('in');
  }
  else
  {
  $(".alert").removeClass('in');
  }
  }