<% if (resourceList.length) { %>
<% for(num in resourceList){ %>
<% var fileHash=resourceList[num]['file_hash']; %>
<div class="row item" id="item<%= fileHash %><%= flag %>"><!--一个电影row的开始-->
    <div class="col-xs-2">
        <img src="images/file_type/<%= (resourceList[num]['main_type']) %>.jpg" class="img-responsive center-block img-rounded" style="height:100px">
    </div>
    <div class="col-xs-9">
        <% var name=resourceList[num]['file_name'];name=name.substring(0,name.lastIndexOf('.')) %>
        <a href="http://www.douban.com/search?q=<%= name %>" target="_blank" class="new_win"><h2 style="word-break: break-all;font-size: 16px;margin: 5px -2px;" ><%= resourceList[num]['file_name'] %> </h2></a>
        <p style="margin: 0 0 5px;font-size: 14px;">
            <strong>标签</strong>：<%= resourceList[num]['tags'] %>
            &emsp;
            <strong>类型</strong>：<%=
            getResourceType(resourceList[num]['main_type'],resourceList[num]['sub_type']) %>
            &emsp;
            <strong>文件大小</strong>：
            <% if (resourceList[num]['file_size']<1024) { %>
                <%= (resourceList[num]['file_size']) %>B
            <% } else { %>
                <% if (resourceList[num]['file_size']<1024*1024) { %>
                    <%= (resourceList[num]['file_size']/1024).toFixed(0) %>KB
                <% } else { %>
                    <% if (resourceList[num]['file_size']<1024*1024*1024) { %>
                        <%= (resourceList[num]['file_size']/1024/1024).toFixed(1) %>MB
                    <% } else { %>
                        <%= (resourceList[num]['file_size']/1024/1024/1024).toFixed(2) %>GB
                    <% } %>
                <% } %>
            <% } %>
            &emsp;
            <strong>上传时间</strong>：<%= toLocalTime(resourceList[num]['mtime']) %>
            &emsp;
            <strong>下载次数</strong>：<%= resourceList[num]['download_num'] %>
            &emsp;
            <strong>在线/总数</strong>：<%= resourceList[num]['online_owners_num'] %>/<%=
            resourceList[num]['total_owners_num'] %>
        </p>

        <div class="score" style="font-size: 14px;">
            评分：<%= parseFloat(resourceList[num]['avg_grade']).toFixed(1) %>
            <a class="cursors" id="text_view_comments<%= fileHash %><%= flag %>" onclick="handleComment(<%= fileHash %>,1,'<%= flag %>')">
            (查看<%=resourceList[num]['comments'].length %>人评论)</a>
        </div>

        <div class="pzx star container_score" id="star_rate<%= fileHash %><%= flag %>">
            <span class="pstar" id="text_rate<%= fileHash %><%= flag %>">我来评分：</span>
            <!--<div class="text_score_value" style="display: none">0<div>-->
        </div>

        <div class="pzx" style="width: 22%;text-align: left;font-size: 14px;">
            <a class="cursors" onclick="handleComment(<%= fileHash %>,2,'<%= flag %>')">评论|</a>
            <a class="cursors" onclick="handleComment(<%= fileHash %>,4,'<%= flag %>')">举报</a>
            <% if (!(resourceList[num]['finish'] || isMyInfo)) { %>
                <% if (resourceList[num]['isContinue']) { %>
                    <a class="cursors" data="0" id="download_file_hash<%= fileHash %><%= flag %>"
                   onclick="downloadFile('<%= flag %>',<%= fileHash %>, <%= isPrivateDownload %>,1,<%= resourceList[num]['progress'] %>)">| 继续下载</a>
                <% } else { %>
                    <a class="cursors" data="0" id="download_file_hash<%= fileHash %><%= flag %>"
                   onclick="downloadFile('<%= flag %>',<%= fileHash %>, <%= isPrivateDownload %>)">| 下载</a>
                <% } %>
            <% } %>
            <% if (resourceList[num]['finish']) { %>
                <a style="text-decoration:none;cursor:pointer" onclick="openDir('<%= fileHash %>','<%= flag %>')">|打开目录</a>
            <% } %>
        </div>
        <div class="row" id="comment<%= fileHash %><%= flag %>" style="font-size: 13px;">
            <div class="col-xs-12">                                 
                <strong><%= resourceList[num]['comments'][0]['who'] %></strong>(<%= toLocalTime(resourceList[num]['comments'][0]['ctime']) %>)： <%= resourceList[num]['comments'][0]['content'] %>            
            </div>
        </div>

        <div id="collapseAllComment<%= fileHash %><%= flag %>" class="hiden"  style="font-size: 13px;">
            <div class="row">
                <div style="word-break: break-all;overflow-y: auto;max-height: 200px;" class="col-xs-12" id="text_all_comments<%= fileHash %><%= flag %>">
                    <% function viewComment(comment) { %>
                    <strong><%= comment['who'] %></strong>(<%= toLocalTime(comment['ctime']) %>)： <%=
                    comment['content'] %>
                    <br/>
                    <% } %>
                    <% resourceList[num]['comments'].map(viewComment) %>
                </div>
            </div>
        </div>

        <div id="collapseMyComment<%= fileHash %><%= flag %>" class="hiden myCollapse"  style="font-size: 13px;">
            <div class="row">
                <div class="col-xs-10">
                    <textarea rows="2" id="editbox_comment_content<%= fileHash %><%= flag %>" class="myTextArea"
                              placeholder="发表观后感吧(200字最多)..." style="resize: none;font-size: 13px;" data-role="none" onkeypress="commentPress(event,'<%= flag %>',<%= fileHash %>,'<%= fileHash %>')"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-sm btn-success"
                            id="button_comment<%= fileHash %><%= flag %>"
                            onclick="commentResource('<%= flag %>',<%= fileHash %>,'<%= fileHash %>')">
                        完成评论
                    </button>
                </div>
            </div>
            <!--评论第二行-->

        </div>
        <!--collapseMyComment-->

        <div id="collapseMyDownload<%= fileHash %><%= flag %>" class="hiden"  style="font-size: 13px;">
            <br>

            <div class="row downloadingRow12">
                <div class="col-xs-5 downloadingDiv downloadCol" id="download_progress<%= fileHash %><%= flag %>">
                    <% if (resourceList[num]['file_size']<1024) { %>
                        0B/<%= (resourceList[num]['file_size']) %>B
                    <% } else { %>
                        <% if (resourceList[num]['file_size']<1024*1024) { %>
                            0KB/<%= (resourceList[num]['file_size']/1024).toFixed(0) %>KB
                        <% } else { %>
                            <% if (resourceList[num]['file_size']<1024*1024*1024) { %>
                                0MB/<%= (resourceList[num]['file_size']/1024/1024).toFixed(1) %>MB
                            <% } else { %>
                                0GB/<%= (resourceList[num]['file_size']/1024/1024/1024).toFixed(2) %>GB
                            <% } %>
                        <% } %>
                    <% } %>
                    &emsp;0%
                </div>
                <!-- TODO FIXME substitute with real file size-->
                <div class="col-xs-5 downloadingRow">

                    <div class="progress progress-striped" style="margin-bottom: 0px;">
                        <div id="download_progress_bar<%= fileHash %><%= flag %>" class="progress-bar progress-bar-success"
                             role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only"></span><!-- aria-valuenow="40" -->
                        </div>
                    </div>
                </div>


                <div class="col-xs-2 downloadingCancelDiv downloadCol" id="cancel<%= fileHash %><%= flag %>">
                    <div id="paused<%= fileHash %><%= flag %>" style="display:none">0</div>
          <span style="cursor:pointer" class="glyphicon glyphicon-pause"
                              id="button_pause_download<%= fileHash %><%= flag %>"
                              onclick="
                                if($('#paused<%= fileHash %><%= flag %>').text()=='0'){
                                    pauseFileDownload('<%= fileHash %>');
                                    $('#paused<%= fileHash %><%= flag %>').text('1');
                                }else{
                                   resumeFileDownload('<%= fileHash %>');
                                   $('#paused<%= fileHash %><%= flag %>').text('0');
                                }
                            pause(this);
                            "
                                ></span>
                    &emsp;


                    <a class="downloadingCancelA" href="javascript:void(0)"
                       id="button_cancel_download<%= fileHash %><%= flag %>"
                       onclick="cancelFileDownload(<%= fileHash %>,'<%= flag %>')">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <div id="open<%= fileHash %><%= flag %>" style="display:none">
                    <a style="text-decoration:none;cursor:pointer" onclick="openDir('<%= fileHash %>','<%= flag %>')">打开所在目录</a>
                </div>
            </div>

        </div>
    </div>
</div>
<% } %>
<% } else { %>
    <% if (!isHis) { %>
        <center><h3>列表资源为空！</h3></center>
    <% } %>
<% } %>
